.column_paragraph {
  .gato-gallery {
    list-style: none inside;
    font-size: 0px;
    margin: 0px;
    padding: 0px;
    width: calc(100% + 24px);
    box-sizing: border-box;

    .gato-gallery-image {
      @extend .grid-cell;
      padding: 12px 24px 12px 0;
      width: 100% * 1.0/8.0;
      a {
        display: block;
        padding: 0px;
        margin: 0px;
        opacity: 0.9;
        background: transparent;
        @include vendor-prefix(transition, opacity 0.3s ease-out);
        &:hover {
          background: transparent;
          opacity: 1;
        }

        img {
          display: block;
          width: 100%;
        }
      }
    }

    [data-eq~="1200px"] & {
      .gato-gallery-image {
        width: 100% * 1.0/6.0;
      }
    }

    [data-eq~="800px"] & {
      width: calc(100% + 16px);
      .gato-gallery-image {
        width: 100% * 1.0/5.0;
        padding: 8px 16px 8px 0;
      }
    }

    [data-eq~="600px"] & {
      .gato-gallery-image {
        width: 100% * 1.0/4.0;
      }
    }

    [data-eq~="500px"] & {
      width: calc(100% + 6px);
      .gato-gallery-image {
        width: 100% * 1.0/3.0;
        padding: 3px 6px 3px 0;
      }
    }

    [data-eq~="300px"] & {
      .gato-gallery-image {
        width: 50%;
      }
    }

    [data-eq~="200px"] & {
      .gato-gallery-image {
        width: 100%;
      }
    }
  }
}

/* Photoswipe overrides (Should these go in gato-lib? or gato-template-2015? */
.pswp__ui {
  .pswp__caption {background-color: transparent;}
  .pswp__caption__center {text-align: center; font-size: 1.4rem; color: $white;}
  .pswp__top-bar {background: $gold; border-bottom: 4px solid $gold-shadow;}
  .pswp__share-tooltip a {
    padding: 1rem; margin: 0;
    &:hover {color: $blue; text-decoration: underline;}
    &.pswp__share--facebook:hover:before {border-bottom-color: $sandstone;}
  }

  .pswp__button--arrow--left:before,
  .pswp__button--arrow--right:before {
    background: none;
    background-image: none;
    font-size: 5rem;
    color: $white;
  }
  .pswp__button--arrow--left:before {
    @include fa('angle-left');
  }
  .pswp__button--arrow--right:before {
    @include fa('angle-right');
  }

}
