.flexible {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 6rem 0;

    [data-eq~='800px'] & {
      max-height: none;
      padding: 4rem 0;
    }

    .flex-row {
        display: flex;
        width: 90%;
        min-height: 350px;
        margin: 0 auto;

        [data-eq~='800px'] & {
          flex-direction: column;
          padding: 0;
          width: 100%;
        }
    }
    .flex-row:not(:first-of-type):last-of-type {
      margin-top: 2rem;
      [data-eq~='800px'] & {
        margin-top: 0;
      }
    }

    .content-item {
      flex: 1 0 0;
      display: inline-block;
      padding-right: 2rem;
      &.text {
        padding: 0;
      }
      .text {
        margin-bottom: 3rem;
      }
      .item {
        border-radius: 2px;
        .a {position: relative;}
      }
      .text-link {
        padding: 2rem;
        height: 100%;
        width: 100%;
        justify-content: center;
      }
      .desktop, .mobile {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        .gato-card-image, .gato-card-video {
          transform: scale(1.1);
          transition: all 400ms ease;
        }

        .gato-card-image:hover, .gato-card-video:hover{
          transform: scale(1.0);
          transition: all 400ms ease;
        }

        .overlay {
          position: absolute;
          height: 100%;
          left: 0;
          right: 0;
          top: 0;
          opacity: .9;

          &.color1 { background-color: $mc1-bg; color: $mc1-text; }
          &.color2 { background-color: $mc2-bg; color: $mc2-text; }
          &.color3 { background-color: $mc3-bg; color: $mc3-text; }
          &.color4 { background-color: $mc4-bg; color: $mc4-text; }
          &.color5 { background-color: $mc5-bg; color: $mc5-text; }
          &.color6 { background-color: $mc6-bg; color: $mc6-text; }
          &.color7 { background-color: $mc7-bg; color: $mc7-text; }
        }

        .callout {
          position: absolute;
          display: flex;
          align-content: center;
          flex-wrap: wrap;
          width: 100%;
          height: 100%;
          top: 0;
          padding: 10%;
          text-align: center;

          .title {
            font-family: "Adobe Garamond W01",Garamond,"Goudy Old Style","Times New Roman",serif;
            font-weight: 400;
            font-size: 3.6rem;
            width: 100%;
            flex: 0 0 100%;
          }

          p {
            font-size: 1.6rem;
            font-weight: 500;
            width: 100%;
            flex: 0 0 100%;
          }

          &.color1 {
            .title, p {color: $mc1-text;}
          }
          &.color2 {
            .title, p {color: $mc2-text;}
          }
          &.color3 {
            .title, p {color: $mc3-text;}
          }
          &.color4 {
            .title, p {color: $mc4-text;}
          }
          &.color5 {
            .title, p {color: $mc5-text;}
          }
          &.color6 {
            .title, p {color: $mc6-text;}
          }
          &.color7 {
            .title, p {color: $mc7-text;}
          }
        }
        .caption {
          position: absolute;
          background-color: $darkest-charcoal;
          opacity: .9;
          bottom: 30px;
          left: 20px;
          margin-right: 20px;

          p {
            margin: 0 auto;
            color: $white;
            padding: 0 1rem;
            font-weight: 500;
          }
        }
      }
      .desktop {
        &.mobile-image{
          [data-eq~='800px'] & {
            display: none;
          }
        }
      }
      .mobile {
        display: none;
        [data-eq~='800px'] & {
          display: block;
        }
      }




      [data-eq~='800px'] & {
        flex-grow: 1 !important;
        margin-top: 1rem;
        padding: 0 2rem;
        min-height: 320px;
        &.text{
          padding: 0;
        }
      }
    }

    .card {
        position: relative;
        background-size: cover;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        min-height: 250px;
      }
}
