.mobilefirst-pattern.flexible-pattern {
  max-width: 1200px;
  margin: 0 auto;
}
.flexible {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 6rem 0;
    margin: 0rem 2rem;
    [data-eq~='800px'] & {
      max-height: none;
      padding: 4rem 0;
      margin: 0;
    }

    .flex-row {
        display: flex;
        width: 100%;
        min-height: 350px;
        margin: 0 auto;

        @media (max-width:$sm-breakpoint) {
          flex-direction: column;
          padding: 0;
          width: 100%;
        }
    }
    .flex-row:not(:first-of-type):last-of-type {
      margin-top: 2rem;
      @media (max-width:$sm-breakpoint) {
        margin-top: 0;
      }
    }

    .content-item {
      display: inline-block;
      width: 100%;
      max-width: calc((100% - 40px) / 3);
      @media (max-width:$sm-breakpoint) {
        max-width: none;
        margin-bottom: 2rem;
      }
      &.full {
        max-width: none;
      }
      &:not(:last-of-type) {
        margin-right: 2rem;
        @media (max-width:$sm-breakpoint) {
          margin-right: 0;
        }
      }
      &.text {
        max-width: none;
        @media (max-width:$sm-breakpoint) {
          max-width: none;
        }
        .pattern-content {
          border-radius: 2px;
        }
        &.image-left, &.image-right {
          display: flex;
          max-width: 100%;
          @media (max-width:$sm-breakpoint) {
            padding: 0 2rem;
          }
          .mobile-textlink-image {
            display: none;
            height: 100%;
            width: auto;
            min-height: 300px;
            [data-eq~='800px'] & {
              display: block;
              order: 1;
            }
          }
          
          .textlink-image, .mobile-textlink-image {
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
          }
          
          .textlink-image {
            flex-basis: calc(100% / 3);
            @media (max-width:$sm-breakpoint) {
              display: none;
            }
          }
          .text-link {
            flex-basis: calc((100% / 3) * 2);
            @media (max-width:$sm-breakpoint) {
              order: 2;
            }
          }
          &.wide {
            .textlink-image {
              flex-basis: 50%;
            }
            .text-link {
              flex-basis: 50%;
            }
          }
          @media (max-width:$sm-breakpoint) {
            flex-direction: column;
            min-height: unset;
          }
        }
        &.image-right {
          .pattern-content {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
          }
          .textlink-image {
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
          }
        }
        &.image-left {
          .pattern-content {
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
          }
          .textlink-image {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
          }
        }
        @media (max-width:$sm-breakpoint) {
          &.image-right, &.image-left {
            .pattern-content, .textlink-image {
              border-radius: 0;
            }
            .pattern-content {
              border-bottom-left-radius: 2px;
              border-bottom-right-radius: 2px;
            }
            .mobile-textlink-image {
              border-top-left-radius: 2px;
              border-top-right-radius: 2px;
            }
          }
        }
      }
      &.wide, &.half {
        max-width: none;
        @media (max-width:$sm-breakpoint) {
          max-width: none;
        }
      }
      .text {
        margin-bottom: 3rem;
      }
      .item {
        border-radius: 2px;
        .a {position: relative;}
      }
      .text-link {
        padding: 2rem;
        height: 100%;
        width: 100%;
        justify-content: center;
      }
      .desktop, .mobile {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        a {
          .gato-card-image, .gato-card-video {
            transform: scale(1.0);
            transition: all 400ms ease;
            &.hov {
              transform: scale(1.1);
            }
          }
        }

        .overlay {
          position: absolute;
          height: 100%;
          left: 0;
          right: 0;
          top: 0;
          opacity: .9;

          &.color1 { background-color: $mc1-bg; color: $mc1-text; }
          &.color2 { background-color: $mc2-bg; color: $mc2-text; }
          &.color3 { background-color: $mc3-bg; color: $mc3-text; }
          &.color4 { background-color: $mc4-bg; color: $mc4-text; }
          &.color5 { background-color: $mc5-bg; color: $mc5-text; }
          &.color6 { background-color: $mc6-bg; color: $mc6-text; }
          &.color7 { background-color: $mc7-bg; color: $mc7-text; }
        }

        .callout {
          position: absolute;
          display: flex;
          align-content: center;
          flex-wrap: wrap;
          width: 100%;
          height: 100%;
          top: 0;
          padding: 10%;
          text-align: center;

          .title {
            font-family: "Adobe Garamond W01",Garamond,"Goudy Old Style","Times New Roman",serif;
            font-weight: 400;
            font-size: 3.6rem;
            width: 100%;
            flex: 0 0 100%;
          }

          p {
            font-size: 1.6rem;
            font-weight: 500;
            width: 100%;
            flex: 0 0 100%;
          }

          &.color1 {
            .title, p {color: $mc1-text;}
          }
          &.color2 {
            .title, p {color: $mc2-text;}
          }
          &.color3 {
            .title, p {color: $mc3-text;}
          }
          &.color4 {
            .title, p {color: $mc4-text;}
          }
          &.color5 {
            .title, p {color: $mc5-text;}
          }
          &.color6 {
            .title, p {color: $mc6-text;}
          }
          &.color7 {
            .title, p {color: $mc7-text;}
          }
        }
        .caption {
          position: absolute;
          background-color: $darkest-charcoal;
          opacity: .9;
          bottom: 30px;
          left: 20px;
          margin-right: 20px;

          p {
            margin: 0 auto;
            color: $white;
            padding: 0 1rem;
            font-weight: 500;
          }
        }
      }
      .desktop {
        &.mobile-image{
          @media (max-width:$sm-breakpoint) {
            display: none;
          }
        }
      }
      .mobile {
        display: none;
        border-radius: 2px;
        @media (max-width:$sm-breakpoint) {
          display: block;
        }
        @media (max-width:$xs-breakpoint) {
          display: none;
        }
        &.phone {
          @media (max-width:$sm-breakpoint) {
            display: none;
          }
          @media (max-width:$xs-breakpoint) {
            display: block;
          }
        }
      }




      @media (max-width:$sm-breakpoint) {
        flex-grow: 1 !important;
        margin-top: 1rem;
        padding: 0 2rem;
        min-height: 320px;
      }
    }

    .card {
        position: relative;
        background-size: cover;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 50% 0%;
        min-height: 320px;
      }
}

.edit-textlink {
  position: absolute;
}

body.admin .flexible li.add {
  list-style: none;
}
