.flexible {
    background-color: $section-background-color;

    .flex-row {
        display: flex;
        width: 90%;
        margin: 0 auto;        
    }

    .content-item {
        flex: 1 0 28%;
        display: inline-block;
        a img {
            width: 100%
        }
    }



}