//Background Image with Overlay pattern

.mobilefirst-pattern {
  &.image-overlay {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 4rem 0rem;
    .overlay-block {
      width: 90%;
      max-width: 600px;
      margin: 0 auto;
      border-radius: 2px;
      opacity: 0.95;
      padding: 5rem 0rem;
      &.left {
        margin-left: 4rem;
      }
      &.right {
        margin-right: 4rem;
      }
      &.left, &.right {
        @media (max-width: $sm-breakpoint) {
          margin: 0 auto;
        }
      }
      &.color1 {
        background-color: $mc1-bg;
        color: $mc1-text;
      }
      &.color2 {
        background-color: $mc2-bg;
        color: $mc2-text;
      }
      &.color3 {
        background-color: $mc3-bg;
        color: $mc3-text;
      }
      &.color4 {
        background-color: $mc4-bg;
        color: $mc4-text;
      }
      &.color5 {
        background-color: $mc5-bg;
        color: $mc5-text;
      }
      &.color6 {
        background-color: $mc6-bg;
        color: $mc6-text;
      }
      &.color7 {
        background-color: $mc7-bg;
        color: $mc7-text;
      }
      .title, .text, .buttons {
        width: 85%;
        margin: 0 auto;
      }
      .text {
        max-width: none;
        a {
          color: inherit;
        }
        p {
          margin: 0;
        }
      }
      &.text-center {
        text-align: center;
      }
      &.text-left {
        text-align: left;
      }
    }
  }
}
