.mobilefirst-pattern {
    .pattern-content.importantdates {
      h2.title {
        max-width: 200px;
        text-align: left;
      }
      .flex {
          display: flex;
          justify-content: space-around;
      }
    }
  }
  