.mobilefirst-pattern {
  .pattern-content.importantdates {
    margin: 0 auto;

    h2.title {
      text-align: left;
      padding-bottom: 0;
      height: 100%;
      float: left;
      flex: 1 0 0;
      width: 33%;
      color: $maroon;
      margin: 0;

      [data-eq~="600px"] & {
          float: none;
          margin-bottom: 1rem;
          float: none;
          width: 100%;
          padding: 0;
      }
    }
    h2 {
      margin-bottom: 0;
    }
    .event {
        text-align: left;
        flex: 1 1 calc(33.33% - 20px);
        max-width: 180px;
        [data-eq~="600px"] & {
          max-width: none;
        }        
    }:only-child {
      max-width: none;
    }
    .day {
        font-weight: 900;
        font-size: 4rem;
    }
    .month {
        font-size: 1.5rem;
        color: $gold;
        margin-left: 1rem;
    }
    .links  {
        align-items: inherit;
        padding-top: 1rem;

    }
    .date {
      display: flex;
      align-items: center;
    }
    .events {
        flex: 2 0 0;
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        [data-eq~="600px"] & {
          flex-flow: column wrap;
        }
    //push wrapped componenets to the left so they are in line with those above
    .events::after {
      content: '';
      flex: 1 1 calc(33.33% - 20px);
    }
  }
}
}