$insetwidth:    4rem;

.textImagePatternWrapper.background {
  background-color: $section-background-color;
}
.mobilefirst-pattern {
  &.insettextimage {
    max-width: 1200px;
    margin: 0 auto;
    @media (max-width:$sm-breakpoint) {
      display: block;
      max-height: unset;
    }
    &.image-right {
      .pattern-image {
        padding: 4rem 2rem 4rem 0;
        order: 2;
        @media (max-width:$md-breakpoint) {
          padding: 4rem 4rem 4rem 0rem;
          img {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
          }
        }
        @media (max-width: $sm-breakpoint) {
          order: 1;
          padding: 4rem 2rem 0rem 2rem;
          img {
            border-top-left-radius: 2px;
            border-bottom-right-radius: 0px;
          }
        }
      }
      .pattern-content {
        order: 1;
        .inset {
          right: -4rem;
          z-index: 1;
        }
        @media (max-width:$md-breakpoint) {
          padding: 4rem 0rem 4rem 4rem;
          .inset {
            right: 0;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
          }
        }
        @media (max-width:$sm-breakpoint) {
          padding: 0rem 2rem 4rem 2rem;
          .inset {
            border-bottom-right-radius: 2px;
            border-top-left-radius: 0px;
          }
        }
      }
    }

    &.image-left {
      .pattern-image {
        padding: 4rem 0rem 4rem 2rem;
        @media (max-width:$md-breakpoint) {
          padding: 4rem 0rem 4rem 4rem;
          img {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
          }
        }
        @media (max-width: $sm-breakpoint) {
          padding: 4rem 2rem 0rem 2rem;
          img {
            border-top-right-radius: 2px;
            border-bottom-left-radius: 0px;
          }
        }
      }
      .pattern-content {
        .inset {
          left: -4rem;
        }
        @media (max-width:$md-breakpoint) {
          padding: 4rem 4rem 4rem 0;
          .inset {
            left: 0;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
          }
        }
        @media (max-width: $sm-breakpoint) {
          padding: 0rem 2rem 4rem 2rem;
          .inset {
            border-bottom-left-radius: 2px;
            border-top-right-radius: 0px;
          }
        }
      }
    }
    .pattern-image {
      img {
        min-height: 315px;
        border-radius: 2px;
        @media (max-width: $sm-breakpoint) {
          // height: 300px;
          // min-height: unset;
          min-height: 240px;
        }
      }
    }
    .pattern-content {
      position: relative;
      display: block;
      .inset {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 3.5rem 2.5rem;
        border-radius: 2px;
        width: calc(100% + #{$insetwidth}/2);
        @media (max-width:$md-breakpoint) {
          position: relative;
          min-height: 315px;
          width: 100%;
          transform: none;
          top: auto;
        }
        @media (max-width:$sm-breakpoint) {
          min-height: unset;
        }
        .text {
          margin: 0;
          p {
            margin: 0;
          }
        }
        .buttons {
          ul li {
            margin-right: 2.2rem;
          }
        }
        &.color1 {
          background-color: $mc1-bg;
          color: $mc1-text;
          a {
            color: $mc1-text;
          }
        }
        &.color2 {
          background-color: $mc2-bg;
          color: $mc2-text;
          a {
            color: $mc2-text;
          }
        }
        &.color3 {
          background-color: $mc3-bg;
          color: $mc3-text;
          a {
            color: $mc3-text;
          }
        }
        &.color4 {
          background-color: $mc4-bg;
          color: $mc4-text;
          a {
            color: $mc4-text;
          }
        }
        &.color5 {
          background-color: $mc5-bg;
          color: $mc5-text;
          a {
            color: $mc5-text;
          }
        }
        &.color6 {
          background-color: $mc6-bg;
          color: $mc6-text;
          a {
            color: $mc6-text;
          }
        }
        &.color7 {
          background-color: $mc7-bg;
          color: $mc7-text;
          a {
            color: $mc7-text;
          }
        }
        &.color8 {
          background-color: $mc8-bg;
          color: $mc8-text;
          a {
            color: $mc8-text;
          }
        }
      }
    }
  }
}
