.mobilefirst-pattern {
  max-height: 550px;
  display: flex;
  justify-content: space-between;
  position: relative;
  @media (max-width:$sm-breakpoint) {
    flex-direction: column;
    max-height: none;
  }
  &.has-image {
    min-height: 450px;
    @media (max-width:$sm-breakpoint) {
      min-height: auto;
    }
  }
  .centered {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 6rem 2rem;
    @media (max-width:$sm-breakpoint) {
      padding: 0rem 2rem;
    }
  }
  .pattern-content {
    width: 50%;
    &.single {
      width: 100%;
      padding: 0rem;
      @media (max-width:$sm-breakpoint) {
        padding: 4rem 0rem;
      }
      .centered {
        max-width: none;
      }
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width:$sm-breakpoint) {
      width: 100%;
    }
    &.text-left {
      text-align: left;
      .centered {
        @media (max-width:$sm-breakpoint) {
          max-width: unset;
        }
      }
    }
    &.text-center {
      text-align: center;
    }
    &.color1 {
      background-color: $mc1-bg;
      color: $mc1-text;
      a {
        border-color: $mc1-text;
        color: $mc1-link;
      }
      h2,h3,h4,h5,h6 {
        color: $mc1-text;
      }
      p {
        color: $mc1-text;
      }
    }
    &.color2 {
      background-color: $mc2-bg;
      color: $mc2-text;
      a {
        border-color: $mc2-text;
        color: $mc2-link;
      }
      h2,h3,h4,h5,h6 {
        color: $mc2-text;
      }
      p {
        color: $mc2-text;
      }
    }
    &.color3 {
      background-color: $mc3-bg;
      color: $mc3-text;
      a {
        border-color: $mc3-text;
        color: $mc3-link;
      }
      h2,h3,h4,h5,h6 {
        color: $mc3-text;
      }
      p {
        color: $mc3-text;
      }
    }
    &.color4 {
      background-color: $mc4-bg;
      color: $mc4-text;
      a {
        border-color: $mc4-text;
        color: $mc4-link;
      }
      h2,h3,h4,h5,h6 {
        color: $mc4-text;
      }
      p {
        color: $mc4-text;
      }
    }
    &.color5 {
      background-color: $mc5-bg;
      color: $mc5-text;
      a {
        border-color: $mc5-text;
        color: $mc5-link;
      }
      h2,h3,h4,h5,h6 {
        color: $mc5-text;
      }
      p {
        color: $mc5-text;
      }
    }
    &.color6 {
      background-color: $mc6-bg;
      color: $mc6-text;
      a {
        border-color: $mc6-text;
        color: $mc6-link;
      }
      h2,h3,h4,h5,h6 {
        color: $mc6-text;
      }
      p {
        color: $mc6-text;
      }
    }
    &.color7 {
      background-color: $mc7-bg;
      color: $mc7-text;
      a {
        border-color: $mc7-text;
        color: $mc7-link;
      }
      h2,h3,h4,h5,h6 {
        color: $mc7-text;
      }
      p {
        color: $mc7-text;
      }
    }
    &.color11 {
      background-color: $mc11-bg;
      color: $mc11-text;
      a {
        border-color: $mc11-text;
        color: $mc11-link;
      }
      h2,h3,h4,h5,h6 {
        color: $mc11-text;
      }
      p {
        color: $mc11-text;
      }
    }
    &.color12 {
      background-color: $mc12-bg;
      color: $mc12-text;
      a {
        border-color: $mc12-text;
        color: $mc12-link;
      }
      h2,h3,h4,h5,h6 {
        color: $mc12-text;
      }
      p {
        color: $mc12-text;
      }
    }
    //to fix text pasted in the rich editor in Edge
    font, span {
      color: inherit !important;
      font-size: inherit !important;
      font-family: inherit !important;
    }
    .buttons {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          text-align: center;
          padding: 1rem 0rem;
          @media (max-width:$sm-breakpoint) {
            padding: 0.7rem 0rem;
          }
          display: inline-block;
        }
      }
      .button {
        border-width: 1px;
        border-style: solid;
        padding: 1rem 2rem;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $halis;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 2.4rem;
        display: inline-block;
        transition: all 200ms ease;
        border-radius: 2px;
        &:hover {
          transform: translate(0px, -3px);
          box-shadow: inset 0 -2px 0 0;
        }
      }
    }
    &.text-center {
      .buttons ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        li {
          margin: 0 1.1rem;
        }
      }
    }
    &.text-left {
      .buttons ul li {
        margin-right: 2.2rem;
      }
    }
    .links {
      display: flex;
      flex-direction: column;
      @at-root .pattern-content.text-center .links{
        align-items: center;
      }
      ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
        li {
          margin-bottom: 1.4rem;
          a {
            text-decoration: none;
            font-family: $halis;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 2.4rem;
            padding-bottom: 3px;
            border-width: 0px 0px 1px 0px;
            border-style:  solid;
            transition: all 0.2s ease;
            display: inline-block;
            text-transform: uppercase;
            &:hover {
              box-shadow: inset 0 -1px 0 0;
              transform: translate(0px, -2px);
            }
          }
        }
      }

      //arrows
      i {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin: 0 .5rem;

        &.right {
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
        }

        &.left {
          transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
        }

        &.up {
          transform: rotate(-135deg);
          -webkit-transform: rotate(-135deg);
        }

        &.down {
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }
      }
    }
  }

  .pattern-image {
    width: 50%;
    position: relative;
    max-height: none;
    @media (max-width: $sm-breakpoint) {
      height: 300px;
    }
    @media (max-width:$sm-breakpoint) {
      width: 100%;
      order: 2;
    }

    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      min-height: 100%;
      display: block;
      object-fit: cover;
      object-position: 50% 50%;
      font-family: 'object-fit: cover; object-position: 50% 50%;';
      @media (max-width: $sm-breakpoint) {
        min-height: unset;
      }
    }
    .overlay-left {
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.47), rgba(255, 255, 255, 0));
      position: absolute;
      width: 95px;
      height: 100%;
      z-index: 1;
      @media (max-width: $sm-breakpoint) {
        width: 100%;
        height: 95px;
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, .47));
      }
    }
    .overlay-right {
      background-image: linear-gradient(-90deg, rgba(0, 0, 0, .47),rgba(255, 255, 255, 0));
      position: absolute;
      width: 95px;
      height: 100%;
      right: 0;
      z-index: 1;
      @media (max-width: $sm-breakpoint) {
        width: 100%;
        height: 95px;
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, .47));
      }
    }
  }
}

.title-type {
  @media (max-width:$sm-breakpoint) {
    padding: 4rem 0rem;
  }
  .title {
    font-family: $halis;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 3.4rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
  }
  .text {
    font-family: $univers;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 3.2rem;
    padding-bottom: 3rem;
    max-width: 500px;
    margin: 0 auto;
  }
  &.text-left {
    @media (max-width:$sm-breakpoint) {
      .text {
        max-width: unset;
      }
    }
  }
}

@import "gato-component-patterns/css/icontextmulti";
@import "gato-component-patterns/css/quoteimage";
@import "gato-component-patterns/css/imageoverlay";
@import "gato-component-patterns/css/textimage";
@import "gato-component-patterns/css/insettextimage";
@import "gato-component-patterns/css/callout";
@import "gato-component-patterns/css/arrows";
@import "gato-component-patterns/css/importantdates";
@import "gato-component-patterns/css/tabbed";
@import "gato-component-patterns/css/flexible";
@import "gato-component-patterns/css/about-intro";
@import "gato-component-patterns/css/explore";
@import "gato-component-patterns/css/styledlist";
@import "gato-component-patterns/css/announcementbanner";
