$pattern-max-height: 400px;

.mobilefirst-pattern {
  max-height: $pattern-max-height;
  display: flex;
  justify-content: space-between;
  position: relative;
  @media (max-width:$sm-breakpoint) {
    flex-direction: column;
    max-height: none;
  }
  &.has-image {
    min-height: 400px;
    @media (max-width:$sm-breakpoint) {
      min-height: auto;
    }
  }
  .centered {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .pattern-content {
    width: 50%;
    &.single {
      width: 100%;
      padding: 3rem 0rem;
      .centered {
        max-width: none;
      }
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width:$sm-breakpoint) {
      width: 100%;
    }
    &.text-left {
      text-align: left;
    }
    &.text-center {
      text-align: center;
    }
    &.color1 {
      background-color: $mc1-bg;
      color: $mc1-text;
      a {
        border-color: $mc1-text;
        color: $mc1-text;
      }
    }
    &.color2 {
      background-color: $mc2-bg;
      color: $mc2-text;
      a {
        border-color: $mc2-text;
        color: $mc2-text;
      }
    }
    &.color3 {
      background-color: $mc3-bg;
      color: $mc3-text;
      a {
        border-color: $mc3-text;
        color: $mc3-text;
      }
    }
    &.color4 {
      background-color: $mc4-bg;
      color: $mc4-text;
      a {
        border-color: $mc4-text;
        color: $mc4-text;
      }
    }
    &.color5 {
      background-color: $mc5-bg;
      color: $mc5-text;
      a {
        border-color: $mc5-text;
        color: $mc5-text;
      }
    }
    &.color6 {
      background-color: $mc6-bg;
      color: $mc6-text;
      a {
        border-color: $mc6-text;
        color: $mc6-text;
      }
    }
    &.color7 {
      background-color: $mc7-bg;
      color: $mc7-text;
      a {
        border-color: $mc7-text;
        color: $mc7-text;
      }
    }
    .buttons {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          text-align: center;
          padding: 1rem 0rem;
          @media (max-width:$sm-breakpoint) {
            padding: 0.7rem 0rem;
          }
          display: inline-block;
        }
      }
      .button {
        border-width: 1px;
        border-style: solid;
        padding: 1rem 2rem;
        text-decoration: none;
        font-family: $univers;
        font-weight: 700;
        line-height: 2.4rem;
        display: inline-block;
        transition: all 200ms ease;
        border-radius: 2px;
        &:hover {
          transform: translate(0px, -3px);
          box-shadow: inset 0 -2px 0 0;
        }
      }
    }
    &.text-center {
      .buttons ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        li {
          margin: 0 1.1rem;
        }
      }
    }
    &.text-left {
      .buttons ul li {
        margin-right: 2.2rem;
      }
    }
    .links {
      display: flex;
      flex-direction: column;
      @at-root .pattern-content.text-center .links{
        align-items: center;
      }
      ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
        li {
          margin-bottom: 1.4rem;
          a {
            text-decoration: none;
            font-family: $univers;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 2.4rem;
            padding-bottom: 3px;
            border-width: 0px 0px 1px 0px;
            border-style:  solid;
            transition: all 0.2s ease;
            display: inline-block;
            &:hover {
              box-shadow: inset 0 -1px 0 0;
              transform: translate(0px, -2px);
            }
          }
        }
      }
    }
    .icontextmulti {
      display: flex;
      justify-content: center;
      max-width: 700px;
      margin: 0 auto;
      width: 100%;
      .icontext-container{
        width: 25%;
        a {
          text-decoration: none;
          display: inline-block;
          transition: all 0.2s ease;
          .icontext-pattern-icon {
            font-size: 5.5rem;
            @media (max-width:$sm-breakpoint) {
              font-size: 5rem;
            }
            @media (max-width:$mn-breakpoint) {
              font-size: 5rem;
            }
          }
          .icontext-pattern-title {
            font-size: 1.6rem;
            line-height: 2.2rem;
            font-family: $univers;
            color: $maroon;
            padding-bottom: 0.3rem;
            margin-top: 0.8rem;
            @media (max-width:$sm-breakpoint) {
              font-size: 1.3rem;
              line-height: 1.8rem;
            }
          }
          &.color1 {
            color: $mc1-bg;
          }
          &.color2 {
            color: $mc2-bg;
          }
          &.color3 {
            color: $mc3-bg;
          }
          &.color4 {
            color: $mc4-bg;
          }
          &.color5 {
            color: $mc5-bg;
          }
          &.color6 {
            color: $mc6-bg;
          }
          &.color7 {
            color: $mc7-bg;
          }
          &:hover {
            box-shadow: inset 0 -1px 0 0 $maroon;
            transform: translate(0px, -3px);
          }
        }
      }
    }
  }


  .pattern-image {
    width: 50%;
    position: relative;
    max-height: $pattern-max-height;
    @media (max-width: $sm-breakpoint) {
      height: 300px;
    }
    @media (max-width:$sm-breakpoint) {
      width: 100%;
      order: 2;
    }
    &.with-quotation {
      @at-root .image-right#{&} {
        order: 2;
        @media (max-width: $sm-breakpoint) {
          order: 0;
        }
      }
      @at-root .image-left#{&} {
        @media (max-width: $sm-breakpoint) {
          order: 0;
        }
      }
      img {
        object-position: 50% 0;
        font-family: 'object-fit: cover; object-position: 50% 0;';
        max-height: 100%;
      }
    }
    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      display: block;
      //@include object-fit-poly(cover);
      object-fit: cover;
      object-position: 50% 50%;
      font-family: 'object-fit: cover; object-position: 50% 50%;';
    }
    .overlay-left {
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.47), rgba(255, 255, 255, 0));
      position: absolute;
      width: 95px;
      height: 100%;
      z-index: 1;
      @media (max-width: $sm-breakpoint) {
        width: 100%;
        min-height: 100px;
        height: inherit;
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, .47));
      }
    }
    .overlay-right {
      background-image: linear-gradient(-90deg, rgba(0, 0, 0, .47),rgba(255, 255, 255, 0));
      position: absolute;
      width: 95px;
      height: 100%;
      right: 0;
      z-index: 1;
      @media (max-width: $sm-breakpoint) {
        width: 100%;
        min-height: 100px;
        height: inherit;
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, .47));
      }
    }
    &.color1, &.color2, &.color3, &.color4 {
      .overlay-left {
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
        @media (max-width: $sm-breakpoint) {
          background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
        }
      }
      .overlay-right {
        background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
        @media (max-width: $sm-breakpoint) {
          background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
        }
      }
    }
  }
}

.callout {
  padding: 3rem 0rem;
  .stat {
    font-family: $garamond;
    font-weight: 400;
    font-size: 5rem;
    line-height: 5rem;
    padding-bottom: 0.4rem;
  }
  .title {
    font-family: $garamond;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.8rem;
    padding-bottom: 2.2rem;
  }
  .text {
    font-family: $univers;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding-bottom: 2.2rem;
  }
}

.mobilefirst-pattern {
  .centered {
    padding: 0rem 2rem;
  }
  .quotation {
    @media (max-width:$sm-breakpoint) {
      padding: 3rem 0rem;
    }
    .quotation-text {
      font-family: $garamond;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 3rem;
      padding-bottom: 2.2rem;
      position: relative;
      @media (max-width:$md-breakpoint) {
        margin-top: 4rem;
      }
      &:before {
        font-family: "FontAwesome";
        font-size: 3rem;
        position: absolute;
        content: "\f10d";
        top: -4rem;
      }
    }
    .quotation-source {
      padding-bottom: 2.2rem;
      .source-name, .source-title {
        font-family: $univers;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.4rem;
      }
    }
  }
}

.title-type {
  @media (max-width:$sm-breakpoint) {
    padding: 3rem 0rem;
  }
  .title {
    font-family: $garamond;
    font-size: 3.2rem;
    @media (max-width:$sm-breakpoint) {
      font-size: 2.9rem;
    }
    font-weight: 400;
    line-height: 3.8rem;
    padding-bottom: 1rem;
  }
  .text {
    font-family: $univers;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    padding-bottom: 2.2rem;
  }
}


//arrows

@mixin arrow($color, $position) {
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  border-color: transparent;
  border-width: 2.5rem;
  margin: 0;
  z-index: 2;
  @if $position == top {
    bottom: 100%;
    top: auto;
    left: 50%;
    border-bottom-color: $color;
    margin-left: -2.5rem;
  }
  @else if $position == right {
    left: 100%;
    top: 50%;
    border-left-color: $color;
    margin-top: -2.5rem;
  }
  @else if $position == bottom {
    top: 100%;
    left: 50%;
    border-top-color: $color;
    margin-left: -2.5rem;
  }
  @else if $position == left {
    right: 100%;
    top: 50%;
    border-right-color: $color;
    margin-top: -2.5rem;
  }
}

@mixin pattern-content-arrows($color) {
  @at-root .image-left#{&} {
    @include arrow($color, "left");
    @media (max-width: $sm-breakpoint) {
      @include arrow($color, "bottom");
    }
  }
  @at-root .image-right#{&} {
    @include arrow($color, "right");
    @media (max-width: $sm-breakpoint) {
      @include arrow($color, "bottom");
    }
  }
}

.mobilefirst-pattern {
  .arrow {
    position: relative;
  }
  .color1.arrow:after {
    @include pattern-content-arrows($mc1-bg);
  }
  .color2.arrow:after {
    @include pattern-content-arrows($mc2-bg);
  }
  .color3.arrow:after{
    @include pattern-content-arrows($mc3-bg);
  }
  .color4.arrow:after{
    @include pattern-content-arrows($mc4-bg);
  }
  .color5.arrow:after{
    @include pattern-content-arrows($mc5-bg);
  }
  .color6.arrow:after{
    @include pattern-content-arrows($mc6-bg);
  }
  .color7.arrow:after{
    @include pattern-content-arrows($mc7-bg);
  }
}

body.admin {
  .mobilefirst-pattern .pattern-content .icontextmulti {
    max-width: none;
    .icontext-container, .addIcon {
      width: 18%;
      margin: 0rem 0.2rem;
    }
  }
}
