.mobilefirst-pattern.styled-list {
  max-width: 1200px;
  margin: 0 auto;
  max-height: unset;
}

.styled-list-title {
  margin-bottom: 3.5rem;
  font-size: 3rem;
  line-height: 3.6rem;
}
.styled-list-content {
  display: flex;
  @media (max-width: $sm-breakpoint) {
    flex-direction: column;
  }
  .styled-list-image {
    flex: 0 1 45.5%;
    @media (max-width: $sm-breakpoint) {
      order: 1;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    &.left {
      margin-right: 4rem;
    }
    &.right {
      margin-left: 4rem;
    }
    @media (max-width: $sm-breakpoint) {
      &.left {
        margin-right: 0;
      }
      &.right {
        margin-left: 0;
      }
    }
  }
  .styled-list-flex-container {
    @media (max-width: $sm-breakpoint) {
      order: 2;
    }
    display: flex;
    justify-content: space-between;
    width: 100%;
    .gato-styled-list {
      border-bottom: 0px;
      &.columns-1 {
        flex: 1 0 100%;
      }
      &.columns-2 {
        width: calc(50% - (2rem));
      }
      &.columns-3 {
        width: calc(100%/3 - 2rem);
      }
      &.columns-4 {
        width: calc(25% - 2rem);
      }
    }
    li:last-child {
      border-bottom: 1px solid $almondmilk;
      @media (max-width: $sm-breakpoint) {
        border-bottom: 0px;
      }
    }

    //mobile
    @media (max-width: $sm-breakpoint) {
      display: block;
      margin-top: 2rem;
      .gato-styled-list {
        &.columns-1, &.columns-2, &.columns-3, &.columns-4 {
          width: 100%;
        }
        li:nth-child(2n) {
          background-color: transparent;
        }
        .styled-list-item.odd {
          background-color: $whitesmoke;
        }
      }
    }

  }
}

.styled-list-item-add {
  width: 200px;
}