.styled-list-flex-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .gato-styled-list {
    border-bottom: 0px;
    &.columns-1 {
      flex: 1 0 100%;
    }
    &.columns-2 {
      width: calc(50% - (2rem));
    }
    &.columns-3 {
      width: calc(100%/3 - 2rem);
    }
    &.columns-4 {
      width: calc(25% - 2rem);
    }
  }
  li:last-child {
    border-bottom: 1px solid $almondmilk;
  }
}
