
.tabbed { 
    width: 100%;
    .left {
        left: 0;
    }
    .right {
        right: 0;
    }


    .overlay-block {
        flex-flow: row;
        width: 100%;
        padding: 3rem !important;
        max-width: 650px;
        position: absolute;
        bottom: 6rem;
        margin: auto 8rem;
        border-radius: 2px;

        [data-eq~="1000px"] & {
            max-width: none;
            position: relative;
            margin: 0;
            flex-flow: column;
            padding: 3rem 2rem !important;
        }

        &.color1 .overlay-tabs .links ul {
            border-bottom-color: #85595b
        }

        &.color2 .overlay-tabs .links ul {
            border-bottom-color: #978974
        }

        &.color3 .overlay-tabs .links ul {
            border-bottom-color: #727271
        }

        &.color4 .overlay-tabs .links ul {
            border-bottom-color: #4d87a7
        }

        &.color5 .overlay-tabs .links ul {
            border-bottom-color: #222222
        }

        &.color6 .overlay-tabs .links ul {
            border-bottom-color: #bab6af
        } 
        &.color7 .overlay-tabs .links ul {
            border-bottom-color: #b49b35
        }                                                            

    }

    .overlay-tabs {
        display: inline-block;
        width: 30%;
        .links ul li {
            width: auto;
            padding: 0;                    
            a {
                cursor: pointer;
                display: inline;
                font-size: 1.4rem;
                border-width: 0;
            }
        }
        [data-eq~="1000px"] & {
            width: 100%;
            overflow-x: scroll;
            .links {
                flex-direction: row;
                margin-bottom: 2rem; 
                ul {
                    flex: 1 0 auto;
                    border-bottom: 1px solid rgb(216, 216, 216);
                    .tab {
                        padding-right: 2rem;
                    }
                    li {
                        margin-bottom: 0;
                        a {
                        margin-left: 0 !important;
                        }
                    }
                }
            }
        }        
        .tab {
            text-align: left;
            display: inline-block;
            white-space: nowrap;
    
            .selected-tab {
                font-weight: 700;
                border-bottom-width: 1px;
            }
        }
    }    

    .overlay-content {
        display: none;
        width: 70%;
        float: right;
        [data-eq~="1000px"] & {
            width: 100%;

        }
        .text {
            max-width: unset;
        }        

    }
    .image-overlay {
        width: 100%;
        height: 550px;
        background-size: cover;
        background-repeat: no-repeat;        
        padding: 4rem 0rem;
        background-position: center;

        &.mobile {display: none;}

        [data-eq~="1000px"] & {
            height:400px;

            &.desktop {display: none;}
            &.mobile {display: block;}
        }
    }

    .buttons li {
        width: auto;
    }


}
