.textImagePatternWrapper.background {
  background-color: $section-background-color;
}
.mobilefirst-pattern {
  &.textImageCTA {
    max-width: 1200px;
    margin: 0 auto;
    max-height: unset;
    .pattern-content {
      justify-content: flex-start;
      .text {
        margin: 0;
        @media (max-width:$sm-breakpoint) {
          max-width: unset;
        }
        p {
          margin-top: 0;
        }
        p:last-child {
          margin-bottom: 0;
        }
        a, a:active, a:visited {
          color: $blue;
          &:hover {
            background: $sandstone;
          }
        }
      }
      .buttons {
        a {
          color: $maroon;
        }
        ul li {
          margin-right: 2.2rem;
        }
      }
      .links {
        a {
          color: $maroon;
        }
      }
      @media (max-width:$sm-breakpoint) {
        order: 2;
      }
    }
    .pattern-image {
      @media (max-width:$sm-breakpoint) {
        order: 1;
        padding: 4rem 2rem 0 2rem !important;
        height: 280px;
        img {
          width: auto;
        }
      }
      @media (max-width: $mn-breakpoint) {
        img {
          width: 100%;
        }
      }
      .video-wrapper {
        //@media (max-width:$sm-breakpoint) {
          height: 100%;
          position: relative;
          float: left;
        //}
        img {
          border-radius: 2px;
          min-height: unset;
        }
        @media (max-width:$mn-breakpoint) {
          float: none;
        }
        .feature-play-button {
          display: block;
          position: absolute;
          top: 50%;
          &.video-left {
            left: 50%;
          }
          &.video-right {
            left: 50%;
          }
          @media (max-width:$sm-breakpoint) {
            left: 50% !important;
          }
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          margin:0;
          font-size: 2rem;
          color: white;
          border-radius: 100%;
          width:  5.5rem;
          height: 5.5rem;
          border: 2px solid white;
          opacity: 0.9;
          background-color: $maroon;
          @media (max-width:$mn-breakpoint) {
            width: 5rem;
            height: 5rem;
            font-size: 2.5rem;
          }
          i {
            position: absolute;
            top:50%;
            left: 55%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
          }
        }
      }
    }
    &.image-right {
      .pattern-image {
        padding: 4rem 2rem 4rem 0;
      }
      .pattern-content {
        padding: 4rem 2rem 4rem 2rem;
        @media (max-width:$sm-breakpoint) {
          padding-top: 2rem;
        }
      }
    }
    &.image-left {
      .pattern-image {
        padding: 4rem 0rem 4rem 2rem;
      }
      .pattern-content {
        padding: 4rem 2rem 4rem 4rem;
        @media (max-width:$sm-breakpoint) {
          padding: 2rem 2rem 4rem 2rem;
        }
      }
    }
  }
}
