.txst-mainsite-banner-links {
	position: absolute;
	top: 64px;
	right: 0px;
  a {
    display: block;
    float: left;
    width: auto;
    font-size: 11px;
    text-decoration: none;
    color: $darkest-maroon;
    text-align: center;
    padding: 0px 14px;
    border-left: 1px solid $darkest-maroon;
    &:hover { text-decoration: underline; }
    &:first-child { border-left: 0px !important; }
	  &:last-child { padding-right: 0px !important; }
  }
}
