body {
  .gato-accordion, .gato-rss-item.gato-accordion {
    box-shadow: none;

    .gato-accordion-header {
      box-shadow: none;
      padding: 1rem 2rem;
      background: transparent;
      &:hover, &:active, &.selected {
        background: transparent;
      }
      color: $maroon;
      font-weight: bold;
      .txst-eventdetail-dates {
        color: $almost-black;
      }

      &:before {
        @include fa('chevron-down');
        position: absolute;
        left: 0;
      }
      &.selected:before {
        @include fa('chevron-up');
      }
    }
    .txst-eventdetail-detailsbox dt {
      border: none;
    }
  }

  .txst-faqitem-question a {
    color: #501214;
  }

  .txst-faqitem-answer {
    overflow: hidden;

    p, ul, ol {
      overflow: hidden;
    }
  }

  h2.txst-faqitem-question {
    font-size: 1.2em;
    line-height: 1.2em;
    a .caret{
      display: none;
    }
  }

  .gato-faq-expand-collapse, .txst-faq-buttons {
    font-size: .8em;
    font-style: italic;
    margin-bottom: 10px;
  }

  .gato-slider {
    .slide .caption { position: relative; }
    .slick-arrow {
      background-color: rgba(128,128,128,0.05);
    }
  }

  .gato-textimage {
    .gato-textimage-caption {
      background-color: transparent;
      text-align: left;
      color: #666666;
      font-size: .8em;
      line-height: 1.1em;
      word-wrap: break-word;
    }
  }

//For those users who built tables in the rich editor using styles from the old
//table paragraph
table.data {
  border: 1px solid #A28F61;
  width: 100%;

  td {
    padding: 3px;
  }
  th {
    padding: 3px;
    background-color: #3D0D11;
    color: #FFFFFF;
    a{
      color: #FFFFFF;
    }
  }
  &.table-linesh td{
    border-top: 1px solid #A28F61;
    border-bottom: 1px solid #A28F61;
  }
  &.table-linesv td{
    border-left: 1px solid #A28F61;
    border-right: 1px solid #A28F61;
  } 
  &.table-alt tr.odd td{
    background-color: #d6c99d;
  }
  &.table-fontsm td{
    font-size: .8em;
  }
  &.table-alignright td,
  &.table-alignright th {
    text-align: right;
  }
}

  /* hide layouts from 2009 users */
  .mainContent_add { display: none; }
  .section-bar > .mgnlEditor.mgnlEditorBar { display: none !important; }

}
