body {
  .gato-accordion, .gato-rss-item.gato-accordion {
    box-shadow: none;

    .gato-accordion-header {
      box-shadow: none;
      padding: 1rem 2rem;
      background: transparent;
      &:hover, &:active, &.selected {
        background: transparent;
      }
      color: $maroon;
      font-weight: bold;
      .txst-eventdetail-dates {
        color: $almost-black;
      }

      &:before {
        @include fa('chevron-down');
        position: absolute;
        left: 0;
      }
      &.selected:before {
        @include fa('chevron-up');
      }
    }
    .txst-eventdetail-detailsbox dt {
      border: none;
    }
  }

  .txst-faqitem-question a {
    color: #501214;
  }

  .txst-faqitem-answer {
    overflow: hidden;

    p, ul, ol {
      overflow: hidden;
    }
  }

  h2.txst-faqitem-question {
    font-size: 1.2em;
    line-height: 1.2em;
  }

  .gato-faq-expand-collapse, .txst-faq-buttons {
    font-size: .8em;
    font-style: italic;
    margin-bottom: 10px;
  }
}
