.txst-khanbanner-ddmenu {
	position: absolute;
	left: -3px;
	bottom: 0px;
	height: 30px;
	width: 968px;
	background: url(../images/destroyer-menu-bg.jpg) no-repeat;
	padding: 0px 10px 0px 0px;
	z-index: 100;
}

.ddmenu-menubar {
	position: absolute;
	left: 30px;
	top: 1px;
}

div.ddmenu-menubaritem {
	position: relative;
	float: left;
	margin-right: 9px;
}

a.ddmenu-menubaritem {
	color: #501214;
	text-decoration: none;
	font-size: .90em;
}
a.ddmenu-menubaritem img {
	filter: none;
	visibility: visible;
}

a.ddmenu-menubaritem {
	display: block;
}

.ddmenu-menu-wrap {
	position: absolute;
	top: 26px;
	left: 0px;
	visibility: hidden;
}

.ddmenu-menu-wrap .png-bg {
	float: left;
	z-index: -1;
	background: url(../images/webtools-home-menubg.png) no-repeat;
}

.ddmenu-menu {
	position: relative;
	z-index: 1;
	padding: 10px 0px;
	width: 175px;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.5);
}

.ddmenu-visible .ddmenu-menu-wrap {
	visibility: visible;
}
.ddmenu-visible {
	margin-left: -9px;
}
.ddmenu-visible a.ddmenu-menubaritem img {
	visibility: hidden;
	margin-left: 9px;
}

.ddmenu-menu a {
	display: block;
	color: white;
	font-family: Arial;
	font-size: 12px;
	line-height: 16px;
	padding: 3px 10px;
	width: 155px;
}
.ddmenu-menu a:hover {
	text-decoration: none;
	background-color: #4a4333;
}
.ddmenu-menu img {
	display: block;
}
