@import "gato-template-txstate2009/css/variables";
@import "gato-template-txstate2009/css/includes";

li {
	list-style: none;
}

.tsus-home-content-bg {
	background: url(../images/home-content-bg.png) repeat-x bottom left;
}
.tsus-home-content {
	width: 958px;
	margin: 0px auto;
	height: 270px;
}

.tsus-home-contentbox {
	position: relative;
	float: left;
	margin-top: 27px;
	width: 290px;
	height: 160px;
	padding: 0px 20px;
	font-size: 14px;
	line-height: 20px;
}

.tsus-home-contentbox.left {
  width: 684px;
  height: 200px;
  padding-right: 0px;
  overflow: hidden;
  position: relative;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  padding-left: 15px;
}
.tsus-home-contentbox.left .bg {
  float: right;
  margin-left: 10px;
}
.tsus-home-contentbox.left h4 {
  color: #272530;
  font-size: 24px;
  padding-top: 10px;
}
.tsus-home-contentbox.left .dashboard-button {
  position: absolute;
  left: 15px;
  bottom: 10px;
}

.tsus-home-contentbox.right {
	border: 1px solid #d5d5d5;
	border-radius: 4px;
	width: 205px;
	height: 190px;
	padding: 5px 15px;
	margin-left: 20px;
}
.tsus-home-contentbox.right .follow-us {
	display: block;
	text-align: right;
	font-size: 11px;
	line-height: 13px;
}

.tsus-institution-logos {
	clear: both;
	position: relative;
	width: 958px;
	margin: 0px auto;
}
.tsus-institution-logos li {
	width: 60px;
	height: 96px;
}

.tsusred {
	color: #B92C26;
}

.tsus-home-contentbox h4 {
	color: #b92c26;
	font-family: georgia, serif;
	font-weight: normal;
  margin-top: 0px;
	margin-bottom: 8px;
	font-size: 18px;
}

.tsus-home-contentbox p {
	margin: 0px;
}

.gato-twitter-feed {
	display: table;
	width: 205px;
	padding-left: 0px;
	padding-top: 5px;
	border-top: 1px solid #d5d5d5;
}
.gato-twitter-feed .center-me {
	display: block;
}

.gato-twitter-feed .tweet {
	width: 199px;
	padding-left: 3px;
	padding-right: 3px;
	border-bottom: 1px solid #d5d5d5;
}
.gato-twitter-feed .tweet-logo-link {
	display: none;
}
.gato-twitter-feed .tweet div {
  margin-left: 0px;
  margin-bottom: 2px;
}
.gato-twitter-feed .tweet .text {
	display: inline;
	width: 205px;
	color: #383640;
}
.gato-twitter-feed .tweet .text a {
	color: #383640;
}
.gato-twitter-feed .tweet .text a:visited {
	color: #383640;
}
.gato-twitter-feed .tweet .screen-name {
	display: inline;
	margin-right: 5px;
}
.gato-twitter-feed .tweet .screen-name a {
	color: #b92c26;
	font-weight: normal;
	font-style: italic;
}
.gato-twitter-feed .tweet .created_at {
	display: inline;
	color: #293e6b;
	margin-left: 5px;
}

.gato-navcolumn {
	padding-right: 20px;
}

.mgnlEditorPlaceholder.component .mgnlEditorPlaceholderElements {
	display: none;
}
