.gato-webtools {
	position: absolute;
	top: 15px;
	right: 194px;
	z-index: 1;
	font-family: Arial;
	height: 24px;
	width: 106px;
	overflow: visible;
	&:hover .gato-webtools-items {
	  display: block;
	}
}

.gato-webtools-dropdown {
	display: block;
	width: 106px;
	height: 12px;
	padding: 6px 0px 6px 13px;
	font-size: 11px;
	font-weight: bold;
	color: white;
	text-decoration: none;
	line-height: 12px;
	background: url(../images/webtools-button.png) no-repeat;
	&:hover { text-decoration: none; }
}

.gato-webtools-items {
	margin-left: 3px;
	width: 106px;
	overflow: hidden;
	display: none;
	background: url(../images/webtools-home-menubg.png) no-repeat;
	padding: 12px 0px 4px 0px;
}

.gato-webtools-item {
	font-weight: bold;
	font-size: 12px;
	width: 100%;
	overflow: hidden;
  a {
    position: relative;
    display: block;
    color: white;
    line-height: 16px;
    padding: 3px 9px;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      background-color: #4a4333;
    }
  }
}
