.filterable-search {
  .filtered-results {
    padding-top: 3rem;
    ul {
      list-style: none;
      padding-left: 0;
      li {
        padding: 1.5rem;
        border-top: 1px solid $filterable-search-divider-color;
        &:last-child {
          border-bottom: 1px solid $filterable-search-divider-color;
        }
        a {
          text-decoration: underline;
          color: $filterable-search-result-title-color;
          &:active, &:visited {
            color: $filterable-search-result-title-color;
          }
        }
        .listitem-title {
          font-weight: 700;
          margin-bottom: 1rem;
        }
        .listitem-description {
          a {
            color: $content-link-text;
            &:hover {
              background-color: $content-link-hover;
            }
          }
        }
        &.listitem-hidden {
          display: none;
        }
        &.has-background {
          background-color: $filterable-search-results-bg-color;
        }
      }
    }
  }
  &.list-view {
    .filtered-results {
      ul {
        li {
          .listitem {
            .image-container {
              display: none;
            }
          }
        }
      }
    }
  }
}
