.listitem-alpha {
  display: none;
}

.listitem-position {
  margin-bottom: 1rem;
}

.filterable-search.grid-view {
  .filtered-results {
    ul {
      .result {
        .info-container {
          .listitem-email, .listitem-office, .listitem-phone, .listitem-description {
            display: none;
          }
        }
      }
    }
  }
}
