%active-filter {
  background-color: #501214;  //TODO: make a variable for this and define it for each template
  color: white;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  margin-right: 1rem;
  button.remove-filter {
    border: 0px;
    background-color: transparent;
    padding: 0;
    i {
      margin-left: 8px;
    }
  }
}

.filterable-search-container {
  .fs-button {
    border: 0px;
    background: transparent;
    font-weight: 600;
    i {
      margin-right: 10px;
    }
  }
  .controls {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    border-bottom: 1px solid $filterable-search-divider-color;
    @media (max-width:$sm-breakpoint) {
      display: block;
    }
    .btn-toggle-filters {
      color: #501214;  //TODO: make a variable for this and define it for each template
      padding: 1rem 1.5rem;
      font-weight: 600;
      background-color: transparent;
      border: 1px solid #501214;  //TODO: make a variable for this and define it for each template
      @media (max-width:$sm-breakpoint) {
        width: 100%;
      }
      i {
        @extend .fa-filter;
        margin-right: 5px;
      }
      .label:after {
        content: 'Filter/Search';
      }
    }
    .toggle-view {
      @media (max-width: $sm-breakpoint) {
        display :flex;
        justify-content: space-between;
      }
      .btn-list-view {
        margin-right: 1rem;
      }
    }
  }
  .search-separator {
    height: 0;
    border-bottom: 1px solid $filterable-search-divider-color;
    padding-top: 2rem;
  }
  .filterable-search {
     display: flex;
    .filter-container {
      display: none;
      width: 30%;
      .filter-by {
        font-size: 2.5rem;
      }
      ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        li {
          padding-bottom: 1.5rem;
        }
      }
      .select-filters {
        width: 100%;
        .header {
          padding: 1rem;
          display: flex;
          justify-content: space-between;
          border: 1px solid #c9c9c9;
          border-radius: 2px;
          background-color: $filterable-search-results-bg-color;
          i {
            font-weight: bold;
          }
        }
        .body {
          display: none;
          padding: 0.5rem;
          border: 1px solid $filterable-search-divider-color;
          border-radius: 2px;
          li {
            border: 1px solid $filterable-search-divider-color;
            padding: 0.6rem 0rem 0.6rem 1rem;
            border-radius: 2px;
            margin-bottom: 0.5rem;
            &:last-child {
              margin-bottom: 0;
            }
            &.selected {
              background-color: #501214;
              color: $white;
            }
          }
          span.filter-cbx {
            width: 25px;
            height: 25px;
            display: inline-block;
            border: 1px solid #cbcbcb;
            border-radius: 2px;
            vertical-align: middle;
            position: relative;
            &.is-checked {
              border-width: 2px;
              border-color: $white;
              &:before {
                font-family: FontAwesome;
                content: "\f00c";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
              }
            }
          }
          div.filter-label {
            display: inline-block;
            vertical-align: middle;
            margin-left: 0.5rem;
            font-weight: 500;
          }
        }
        .active-filters {
          display: flex;
          flex-wrap: wrap;
          margin-top: 1.5rem;
          .active-filter {
            @extend %active-filter;
          }
        }
      }
    }
    .filtered-results {
      width: 100%;
    }
  }
  &.filters-open {
    .controls {
      .btn-toggle-filters {
        i {
          @extend .fa-eye-slash;
        }
        .label:after {
          content: 'Hide Filter';
        }
      }
    }
    .filtered-results {
      width: 70%;
      .results-header {
        justify-content: flex-end;
        .btn-show-filters {
          display: none;
        }
      }
    }
    .filter-container {
      display: block;
      padding-right: 3rem;
    }
  }
}

@import "gato-area-filterable-search/css/basiclist";
