.header-bars {
  background-color: $white;
  @media (max-width: $sm-breakpoint) {
    display: none;
  }
  .top-bar {
    height: 4rem;
    background-color: $gold;
    margin-left: 187px;
    display: flex;
    justify-content: space-between;
    padding: 0rem 3rem;
    .left-links, .right-links {
      display: flex;
      padding: 0;
      list-style: none;
      li {
        padding-right: 3rem;
        a {
          color: $white;
          text-decoration: none;
          font-size: 1.3rem;
        }
      }
    }
  }
  .bottom-bar {
    background-color: #501214;
    height: 82.5px;
    margin-left: 187px;

    ul.simplemenu {
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0;
      height: 100%;
      li {
        a {
          text-decoration: none;
          color: $white;
          font-size: 1.8rem;
          line-height: 1.8rem;
          font-weight: 700;
        }
      }
    }
  }
}
