
.gato-section-full {
  &.has-background {
    margin: 0; 
  }

  .gato-section-centered {
    margin: 0 auto;
    max-width: 1200px;
  }

}

.page-container {
  background-color: $white;
  position: relative;
}

.mobilefirst-pattern {
  max-height: none;
}
