*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

//temporary until there is some content
main {
  min-height: 500px;
  padding-top: 123px;
  @media (max-width: $sm-breakpoint) {
    padding-top: 0;
  }
}

body {
  position: relative;
  margin: 0 auto;
  font-family: $univers;
  max-width: 2000px;
  overflow-x: hidden;
  box-shadow: 1px 1px 5px #cfcfcf;
}

.gato-section-full {
  .gato-section-centered {
    margin: 0 auto;
    max-width: 1200px;
  }
}

.page-container {
  background-color: $white;
}
