*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

//temporary until there is some content
main {
  min-height: 500px;
}

body {
  position: relative;
  margin: 0 auto;
  font-family: $univers;
  max-width: 1600px;
  overflow-x: hidden;
  box-shadow: 1px 1px 5px #cfcfcf;
}
