h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  h1 {
    font-family: $halis;
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 5rem;
    text-transform: uppercase;
  }

  h2 {
    font-family: $nunito;
    font-weight: 600;
    font-size: 3rem;
    line-height: 4.2rem;
    color: $verydark;
  }

  h3 {
    font-family: $nunito;
    font-weight: 600;
    font-size: 2.1rem;
    line-height: 2.8rem;
    color: $dark-gold;
  }

  h4 {
    font-family: $nunito;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: $verydark;
  }

  h5 {
    font-family: $nunito;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  h6 {
    font-family: $nunito;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  //adjustments for home page. landing page will use calico headers
  body.txstate-home {
    h2 {
      font-size: 3rem;
      line-height: 3.6rem;
    }
  }

  p {
    font-family: $nunito;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
    color: $verydark;
  }

  ol, ul {
    font-family: $nunito;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
    color: $verydark;
  }

  blockquote  {
    p {
      font-family: $garamond;
      font-size: 2rem;
      font-weight: 400;
      line-height: 2.8rem;
      color: $verydark;
    }
  }

  a[name]:not([href]), a[name][href=""] {
    &, &:hover {
      color: inherit;
      background: transparent;
      text-decoration: none;
    }
  }
