div#home-hero {
  position: relative;
  background: $charcoal;
  padding-top: 123px;
  @media (max-width: $sm-breakpoint) {
    padding-top: 6rem;
  }
  &.admin {
    padding-top: 60px;
  }
  .hero {
    p.hero-headline {
      &.color1 { background-color: rgba($mc1-bg, 0.8); color: $mc1-text; }
      &.color2 { background-color: rgba($mc2-bg, 0.8); color: $mc2-text; }
      &.color3 { background-color: rgba($mc3-bg, 0.8); color: $mc3-text; }
      &.color4 { background-color: rgba($mc4-bg, 0.8); color: $mc4-text; }
      &.color5 { background-color: rgba($mc5-bg, 0.8); color: $mc5-text; }
      &.color6 { background-color: rgba($mc6-bg, 0.8); color: $mc6-text; }
      &.color7 { background-color: rgba($mc7-bg, 0.8); color: $mc7-text; }
      &.color9 { background-color: rgba($mc9-bg, 0.8); color: $mc9-text; }
    }

    figure {
      position: relative;
      overflow: hidden;
      height: 650px;
      margin: 0;
      background: $maroon;

      &.hasVideo {
        @media (prefers-reduced-motion: no-preference) {
          height: unset;
        }
      }

      .hero-image-container {
        display: none;

        &.activated {
          display: inline;
          .mobile {
            display: none;
          }
        }
        &.preview {
          display: inline;
          .mobile {
            display: none;
          }
        }

        .hero-image {
          height: 100%;
          background-size: cover;
          background-position-x: 50%;
          background-position-y: top;
          &.reduced-motion {
            display: none;
          }
        }
        .hero-video {
          width: 100%;
        }
        .btnPauseVideo {
          position: absolute;
          top: 2rem;
          right: 2rem;
          color: $white;
          background-color: transparent;
          border: 0px;
          font-size: 2.5rem;
          text-shadow: 0px 0px 2px #363534;
          &.paused {
            i:before {
              font-family: FontAwesome;
              content: "\f04b";
            }
          }
        }
        @media (prefers-reduced-motion) {
          .hero-video, .btnPauseVideo {
            display: none;
          }
          .hero-image.reduced-motion {
            display: block;
          }
        }
      }

      img {
        width: 100%;
        height: 100%;
        @include object-fit-poly(cover);
      }

      p { margin: 0; }

      figcaption {
        width: 100%;
        height: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
        display: none;
        &.activated {
          display: flex;
        }
        &.preview {
          display: flex;
        }
        &.mobile, &.hasVideo {
          display: none;
        }

        .caption-wrap {
          position: absolute;
          bottom: 5.5rem;
          display: flex;
          max-width: 60%;
          width: 100%;
          margin: 0 auto;

          &.leftmiddle {bottom: 45%; text-align: left;}
          &.leftbottom {bottom: 20%; text-align: left;}
          &.middle {
            left: 0;
            right: 0;
            bottom: 45%;
            justify-content: center;
            text-align: center;
          }

          &.rightmiddle {right: 10%; bottom: 45%; text-align: right; justify-content: flex-end;}
        }

        .button-wrap {
          position: absolute;
          display: flex;

          &.leftmiddle {bottom: 35%;}
          &.leftbottom {bottom: 10%;}
          &.middle {
            left: 0;
            right: 0;
            bottom: 35%;
            justify-content: center;
          }
          &.rightmiddle {
            right: 10%;
            bottom: 35%;
            .button {
              margin-right: 0;
              margin-left: 2rem;
            }
          }

        }
        .mf-button-container {
          display: flex;
          position: relative;
          .button {
            min-width: 60px;
            display: flex;
            margin-right: 2rem;
            cursor: pointer;
            &.white {
              background-color: $white;
              color: $maroon;
            }
            &.video {
              padding-right: 4rem;
            }

            &.feature-play-button {
              position: relative;
              margin-left: 1rem;
              padding-right: 5rem;
              &.color1 a {
                color: $white;
                span {background-color: $white; &:after {border-left-color: $maroon}}
              }
              &.color2 a {
                color: $white;
                span {background-color: $white; &:after {border-left-color: $gold}}
              }
              &.color3 a {
                color: $white;
                span {background-color: $white; &:after {border-left-color: $charcoal}}
              }
              &.color4 a {
                color: $white;
                span {background-color: $white; &:after {border-left-color: $blue}}
              }
              &.color5 a {
                color: $very-dark;
                span {background-color: $very-dark; &:after {border-left-color: $river}}
              }
              &.color6 a {
                color: $maroon;
                span {background-color: $maroon; &:after {border-left-color: $sandstone}}
              }
              &.color7 a {
                color: $maroon;
                span {background-color: $maroon; &:after {border-left-color: $oldgold}}
              }
              &.white a {
                color: $maroon;
                span {background-color: $maroon; &:after {border-left-color: $white}}
              }

              a {
                text-decoration: none;
                span {
                  border-radius: 8rem;
                  position: absolute;
                  width: 2rem;
                  height: 2rem;
                  margin-left: 1rem;
                  &:after {
                    right: 0;
                    margin: 0 auto;
                    position: absolute;
                    border: solid transparent;
                    border-left-color: $white;
                    border-width: .4rem 0 .4rem .8rem;
                    content: "";
                    height: 0;
                    width: 0;
                    position: absolute;
                    top: 50%;
                    margin-top: -.4rem;
                    left: .2rem;
                  }
                }
              }
            }
          }
        }


        .hero-headline {
          font-family: $garamond;
          font-weight: 700;
          font-size: 4.2rem;
          display: inline;
          border-style: solid;
          border-width: 5px;
          border-color: rgba(80, 18, 20, 0);
          background-color: rgba(80, 18, 20, .8);
          color: #fff;
          line-height: 6.4rem;
          font-weight: 500;
          @media (max-width: $sm-breakpoint){
            font-size: 3.8rem;
            line-height: 5.8rem;
          }
        }
      }
    }

    @media (max-width: $xl-breakpoint){
      figure {
        figcaption {
          max-width: 1200px;
          display: none;
          padding: 0 2rem;


          .hero-headline {
            a {
              max-width: 600px;
            }
          }
        }
      }
    }

    @media (max-width: $sm-breakpoint){
      figure {
        height: 450px;
        @media (prefers-reduced-motion: no-preference) {
          height: 450px !important;
        }
        figcaption {
          padding: 0;

          .hero-headline a {
            font-size: 2.8rem;
            line-height: 3.6rem;
          }
          .caption-wrap {
            left: 5% !important;
            bottom: 20% !important;
            right: unset !important;

            .hero-headline a {
              max-width: 100%;
              font-size: 2.4rem;
              line-height: 3.4rem;
            }
            &.middle, &.rightmiddle {
              justify-content: flex-start;
              text-align: inherit;
            }
          }
          .button-wrap {
            left: 5% !important;
            justify-content: center;
            bottom: 10% !important;
            right: unset !important;
            .buttons .button{
              margin-left: 0;
              margin-right: 2rem;
            }
            &.rightmiddle {
              .mf-button-container:first-of-type .button {
                margin-left: 0;
              }
            }
          }
        }
      }
    }

    @media (max-width: $sm-breakpoint){
      .slide-nav-wrap { display: none; }
      figure {
        .hero-image-container {
          &.activated, &.preview {
            .desktop, .hero-video, .btnPauseVideo {
              display: none;
            }
            .mobile {
              display: block;
            }
          }
        }
      }
      .slide:first-child img, .slide-nav { opacity: 1; }
    }
  }
}