div#top-feature {
  position: relative;
  background: $charcoal;
  padding-top: 123px;
  @media (max-width: $sm-breakpoint) {
    padding-top: 6rem;
  }
  &.admin {
    padding-top: 60px;
  }
  .hero {
    p.feature-headline {
      &.color1, .feature-play-button a { background-color: rgba($mc1-bg, 0.8); color: $mc1-text; } 
      &.color2, .feature-play-button a { background-color: rgba($mc2-bg, 0.8); color: $mc2-text; }
      &.color3, .feature-play-button a { background-color: rgba($mc3-bg, 0.8); color: $mc3-text; }
      &.color4, .feature-play-button a { background-color: rgba($mc4-bg, 0.8); color: $mc4-text; }
      &.color5, .feature-play-button a { background-color: rgba($mc5-bg, 0.8); color: $mc5-text; }
      &.color6, .feature-play-button a { background-color: rgba($mc6-bg, 0.8); color: $mc6-text; }
      &.color7, .feature-play-button a { background-color: rgba($mc7-bg, 0.8); color: $mc7-text; }
      &.color9, .feature-play-button a { background-color: rgba($mc9-bg, 0.8); color: $mc9-text; }
    }
    .feature-play-button {
      &.color1 a:after { border-left-color: $mc1-text; }
      &.color2 a:after { border-left-color: $mc2-text; }
      &.color3 a:after { border-left-color: $mc3-text; }
      &.color4 a:after { border-left-color: $mc4-text; }
      &.color5 a:after { border-left-color: $mc5-text; }
      &.color6 a:after { border-left-color: $mc6-text; }
      &.color7 a:after { border-left-color: $mc7-text; }
      &.color9 a:after { border-left-color: $mc9-text; }
    }
    figure {
      position: relative;
      overflow: hidden;
      height: 650px;
      margin: 0;
      background: $maroon;


      .image-container {
        display: none;

        &.activated {
          display: inline;
          .mobile {
            display: none;
          }        
        }
        &.preview {
          display: inline;
          .mobile {
            display: none;
          }              
        }

        .slide-image {
          height: 100%;
          background-size: cover;
          background-position-x: 50%;
          background-position-y: top;
        }
      }

      img {
        width: 100%;
        height: 100%;
        @include object-fit-poly(cover);
      }

      p { margin: 0; }

      figcaption {
        width: 100%;
        height: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
        display: none;
        &.activated {
          display: flex;
        }
        &.preview {
          display: flex;
        }      
        &.mobile {
          display: none;
        }

        .caption-wrap {
          position: absolute;
          bottom: 5.5rem;
          display: flex;
          max-width: 60%;
          margin: 0 auto;

          &.leftmiddle {bottom: 45%; text-align: left;}
          &.leftbottom {bottom: 20%; text-align: left;}
          &.middle {
            left: 0; 
            right: 0;
            bottom: 45%;
            justify-content: center;
            text-align: center;
          }

          &.rightbottom {right: 10%; bottom: 20%; text-align: right;}
          &.rightmiddle {right: 10%; bottom: 45%; text-align: right;}
        }
        
        .button-wrap {
          position: absolute;
          display: flex;

          &.leftmiddle {bottom: 35%;}
          &.leftbottom {bottom: 10%;}
          &.middle {
            left: 0; 
            right: 0;
            bottom: 35%;
            justify-content: center;
          }
          &.rightbottom {
            right: 10%; 
            bottom: 10%;
            .button {
              margin-right: 0;
              margin-left: 2rem;
            }
          }
          &.rightmiddle {
            right: 10%; 
            bottom: 35%;
            .button {
              margin-right: 0;
              margin-left: 2rem;
            }
          }        

        }
        .mf-button-container {
          display: flex;
          position: relative;
          .button {
            min-width: 60px;
            display: flex;
            margin-right: 2rem;
            cursor: pointer;
            &.white {
              background-color: $white; 
              color: $maroon;
            }
            &.video {
              padding-right: 4rem;
            }
            
            &.color1 > .feature-play-button a {background-color: $white; &:after {border-left-color: $maroon}}
            &.color2 > .feature-play-button a {background-color: $white; &:after {border-left-color: $gold}}
            &.color3 > .feature-play-button a {background-color: $white; &:after {border-left-color: $charcoal}}
            &.color4 > .feature-play-button a {background-color: $white; &:after {border-left-color: $blue}}
            &.color5 > .feature-play-button a {background-color: $white; &:after {border-left-color: $river}}
            &.color7 > .feature-play-button a {background-color: $maroon; &:after {border-left-color: $oldgold}}
            &.white > .feature-play-button a {background-color: $maroon; &:after {border-left-color: $white}}

            .feature-play-button {
              position: relative;
              margin-left: 1rem;
              a {
                @include vendor-prefix(border-radius, 50%);
                border-radius: 8rem;
                position: absolute;
                width: 2rem;
                height: 2rem;
                &:after {
                  left: 0;
                  right: 0;
                  margin: 0 auto;
                  position: absolute;
                  border: solid transparent;
                  border-left-color: $white;
                  border-width: .4rem 0 .4rem .8rem;
                  content: "";
                  height: 0;
                  width: 0;
                  position: absolute;
                  top: 50%;
                  margin-top: -.4rem;
                  left: .2rem;
                }
                &:hover {
                  @include vendor-prefix(transform, scale(1.15));
                }
                @include vendor-prefix(transition, all 0.2s cubic-bezier(0, 0.5, 0.25, 1));
              }
            }  
          }        
        }


        .feature-headline {
          font-family: $garamond;
          font-weight: 700;
          font-size: 4.2rem;
          display: inline;
          border-style: solid;
          border-width: 5px;
          border-color: rgba(80, 18, 20, 0);
          background-color: rgba(80, 18, 20, .8);
          color: #fff;
          line-height: 6.4rem;
          font-weight: 500;
          @media (max-width: $sm-breakpoint){
            font-size: 3.8rem;
            line-height: 5.8rem;
          }
        }
      }
    }
    
    @media (max-width: $xl-breakpoint){
      figure {
        figcaption {
          max-width: 1200px;
          display: none;
          padding: 0 2rem;
          

          .feature-headline {
            a {
              max-width: 600px;
            }
          }
        }
      }
    }

    @media (max-width: $md-breakpoint){
      figure {
        height: 450px;
        figcaption {
          padding: 0;

          .feature-headline a {
            font-size: 2.8rem;
            line-height: 3.6rem;
          }
          .caption-wrap {
            left: 5% !important; 
            justify-content: center;
            bottom: 20% !important;
            right: unset !important;

            .feature-headline a {
              max-width: 100%;
              font-size: 2.4rem;
              line-height: 3.4rem;
            }
          }
          .button-wrap {
            left: 5% !important; 
            justify-content: center;
            bottom: 10% !important;
            right: unset !important;
            .buttons .button{
              margin-left: 0;
              margin-right: 2rem;
            }          
          }          
        }
      }
    }

    @media (max-width: $sm-breakpoint){
      .slide-nav-wrap { display: none; }
      figure {
        .image-container {
          &.activated {
            .desktop {
              display: none;
            }
            .mobile {
              display: block;
            }
          }
        }


      }
      .slide:first-child img, .slide-nav { opacity: 1; }
    }
  }

    .banner-announcement {
      position: absolute;
      display: flex;
      justify-content: center;
      right: 2%;
      bottom: 4%;
      z-index: 1;
      background-color: $white;
      max-width: 225px;   
      border-radius: 2px; 
      border: solid 1px $white;
      text-decoration: none;

      @media(max-width: 800px) {
        position: relative;
        width: 100%;
        text-align: center;   
        max-width: none;
        background-color: $sandstone;
        right: 0;
        border: none;
      }    

      p {
        flex: 1 0 60%;
        margin: 1rem 1.5rem;
        color: $maroon;
        font-size: 1.4rem;
        line-height: 2rem;
        margin: 2rem 1.5rem;        
      }
      .arrow-container {
        flex: 1 0 10%;
        background-color:$maroon;
        width: 100%;
        display: flex;
        min-width: 45px;
        max-width: 50px;

        @media (max-width: 800px) {
        }
        .circle {
          margin: auto;
          height: 2.3rem;
          width: 2.3rem;
          background-color: $white;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-content: center;

          svg {align-self: center;}
        }      
      }
    }  
}