.mobilefirst-pattern {
    max-height: none;
    .corner-image {
        position: relative;
        max-width: 85px;
        //min-height: 110px;
        height: 100%;
        float: left;
        padding: 0;
        width: 100%;
        img {
            width: 100%;
            &.color1 {
                background-color: $mc1-bg;
            }
            &.color2 {
                background-color: $mc2-bg;
            }
            &.color3 {
                background-color: $mc3-bg;
            }
            &.color4 {
                background-color: $mc4-bg;
            }
            &.color5 {
                background-color: $mc5-bg;
            }
            &.color6 {
                background-color: $mc6-bg;
            }
            &.color7 {
                background-color: $mc7-bg;
            }
            [data-eq~="800px"] & {
                max-width: 60px;
            }                     
        }
    } 
    .background-image {
        background-repeat: no-repeat;
        background-position-x: right;
        background-size: contain;
    }
    .button {
        margin-top: 22px;
        padding: 10px 20px 9px;
        border: 1px solid #501214;
        border-radius: 2px;
        background-color: transparent;
        -webkit-transition: all 200ms ease;
        transition: all 200ms ease;
        color: #501214;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }
    .pattern-content.about-intro {
        margin: 0 auto;
        width:100%;
    }
    .pattern-content {
        [data-eq~="800px"] & {
            padding-top: 0;
        }      
    }
    .content {
        position: relative;
        max-width: 500px;
        padding-top: 6rem;
        padding-left: 2rem;
        padding-bottom: 6rem;
        float: left;
        height: 100%;
        [data-eq~="800px"] & {
            padding-top: 100px;
            padding-left: 0;
            
        }
    }
    .subheading {
        margin-bottom: 20px;
        color: $gold;
    }


}