.sitemap {
  padding: 0 2rem;
  ul.topLevel, ul.topLevel > ul {
    padding-left: 0;
  }
  h2 {
    padding-bottom: 3rem;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 0;
  }
  ul {
    list-style: none;
    li {
      margin: -1px 0;
      div {
        padding: 1.2rem 0;
        a {
          text-decoration: underline;
          margin-left: 2rem;
          font-weight: 400;
          color: #501214;
        }
      }
    }
  }

  ul.topLevel>ul>ul {
  margin-bottom: 3rem;
  }
  
  ul.topLevel > li:not(:last-child) {
    margin-bottom: 7rem;
  }

  ul.nested li {
  border-top: 1px solid #d8d8d8;
  }
  
  ul.nested li:last-child {
    border-bottom: 1px solid #d8d8d8;
  }
  
  ul.nested li div.has-children {
    border-bottom: 1px solid #d8d8d8;
  }
  
  ul.nested li div.has-children + ul.nested li:last-child {
    border-bottom: none;
  }
  ul.nested li ul.nested li:first-child {
    border-top: none;
  }

}

