div#video-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.8);
  padding: 0;
  z-index: 65536;

  .video-modal-buttons {
    text-align: right;
    font-size: 3.5rem;
    a {
      padding: 1rem 2rem;
      display: inline-block;
      min-width: 50px;
      text-align: center;
      color: $light-gray;
      &:hover { color: $white; }
    }
  }

  .video-container {
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    @include vendor-prefix(transform, translate(-50%, -50%));
    width: 70%;
    max-width: 1080px;
    .gatoEmbedContainer {
      padding-bottom: 56.25%;
    }
  }

  .video-nav {
    font-size: 5rem;

    a {
      position: absolute;
      top: calc(50% - 3.2rem);
      &.video-nav-left { left: 0; }
      &.video-nav-right { right: 0; }
    }
  }
}
