.layout-column {
  padding: 0 $column-padding;
}

.column_paragraph {
  margin: 0px 0px 3rem 0px;
  word-wrap: break-word;
  @extend .clearfix;
}
.column_paragraph, .txst-form {
  a {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 1px 3px;
    margin: -1px -3px;
    color: $content-link-text;
    &:hover { background-color: $content-link-hover; }
  }
  ul, ol {
    li {
      margin-bottom: 0.5rem;
      ul, ol {
        margin-top: 0.5rem;
      }
    }
  }
  h2, h3, h4, h5, h6 {
    margin-bottom: 0.3em;
    margin-top: 0.6em;
    &:first-child {
      margin-top: 0rem;
    }
  }
  p { margin: 0 0 0.7em 0; }
  p, h2, h3, h4, h5, h6 {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

}
