$content-width-max: 1200px !default;
$content-width-xl: 1000px !default;
$content-width-lg: 1000px !default;
$sidebar-leftright: 'right' !default;

.page_content {
  position: relative;
}

.contentcolumn {
  @media (max-width: $sidebar-moves-below-point) {
    min-height: 0px !important;
  }
  .headline {
    margin-top: 0;
  }
}

.sidebar-container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: $content-width-max;
  @media (max-width: $xl-breakpoint) {
    max-width: $content-width-xl;
  }
  @media (max-width: $lg-breakpoint) {
    max-width: $content-width-lg;
  }
  @media (max-width: $sidebar-moves-below-point) {
    position: relative;
  }
  .sidebar {
    position: absolute;
    top: 0;
    #{$sidebar-leftright}: 0;
    width: 25%;
    @media (max-width: $md-breakpoint) {
      width: 29%;
    }
    @media (max-width: $sm-breakpoint) {
      width: 33%;
    }
    @media (max-width: $sidebar-moves-below-point) {
      position: relative;
      width: auto;
   }
  }
}

.gato-section-full {
  .gato-section-centered {
    margin: 0 auto;
    max-width: $content-width-max;
    @media (max-width: $xl-breakpoint) {
      max-width: $content-width-xl;
    }
    @media (max-width: $lg-breakpoint) {
      max-width: $content-width-lg;
    }
  }
  .gato-section {
    margin-#{$sidebar-leftright}: 25%;
    @media (max-width: $md-breakpoint) {
      margin-#{$sidebar-leftright}: 29%;
    }
    @media (max-width: $sm-breakpoint) {
      margin-#{$sidebar-leftright}: 33%;
    }
    @media (max-width: $sidebar-moves-below-point) {
      margin-#{$sidebar-leftright}: 0;
    }
  }
  &.has-background .gato-section {
    padding-top: 2rem;
  }
  &.full-width .gato-section {
    margin-#{$sidebar-leftright}: 0;
  }
}

#search-results {
  margin: 0 auto;
  max-width: $content-width-max;
  @media (max-width: $xl-breakpoint) {
    max-width: $content-width-xl;
  }
  @media (max-width: $lg-breakpoint) {
    max-width: $content-width-lg;
  }
}
