
.icontext-icon{
    font-size: 7.2rem;
    text-align: center;
    margin: 0;
    -webkit-transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
    backface-visibility: hidden;
    &.color1{
        color: $mc1-bg;
    }
    &.color2{
        color: $mc2-bg;
    }
    &.color3{
        color: $mc3-bg;
    }
    &.color4{
        color: $mc4-bg;
    }
    &.color5{
        color: $mc5-bg;
    }
    &.color6{
        color: $mc6-bg;
    }
    &.color7{
        color: $mc7-bg;
    }
}


.icontext{
    display: block;
    padding: 0;
    margin: 0;
    text-decoration: none;
    max-width: 30rem;
    text-align: center;
    margin: auto;
    padding: 2rem 0;

    .icontext-title{
        font-size: 1.7rem;
        text-transform: uppercase;
        font-weight: 400;
        display: inline-block;
        margin-bottom: 0.2rem;
        line-height: 2.6rem;
        margin-top: 2.2rem;
        color: $icontext-title-color;
    &:after{
            content: '';
            display: block;
            margin: auto;
            height: 2px;
            width: 0;
            background: transparent;
            -webkit-transition: width 0.2s ease-in-out, background-color 0.2s ease-in-out;
            -moz-transition: width 0.2s ease-in-out, background-color 0.2s ease-in-out;
            -o-transition: width 0.2s ease-in-out, background-color 0.2s ease-in-out;
            transition: width 0.2s ease-in-out, background-color 0.2s ease-in-out;
        }
    }

    &.center{
        float: none;
    }
    //These are the alignment options in case we want to use them at some point

    // &.left{
    //     float: left;
    // }


    // &.right{
    //     float: right;
    // }
}


//don't float left or right on in small areas

// [data-eq~="600px"] .icontext.left, [data-eq~="600px"] .icontext.right{
//     float: none;
// }

a.icontext{
    text-decoration: none !important;
    &:hover{
        background: transparent !important;
        .icontext-icon{
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);
            &.color1{
                color: mix($mc1-bg, $white, 90); //10% lighter
            }
            &.color2{
                color: $mc2-bg;
            }
            &.color3{
                color: mix($mc3-bg, $white, 90); //10% lighter
            }
            &.color4{
                color: mix($mc4-bg, $white, 90); //10% lighter
            }
            &.color5{
                color: mix($mc5-bg, $white, 90); //10% lighter
            }
            &.color6{
                color: mix($mc6-bg, $white, 90); //10% lighter
            }
            &.color7{
                color: mix($mc7-bg, $white, 90); //10% lighter
            }
        }


        .icontext-title:after{
            width: 100%;
            background: $icontext-title-underline-top-color;
        }

    }

    h3.icontext-title {
        border-bottom: 2px solid $icontext-title-underline-bottom-color;
    }

    .icontext-text{
        text-decoration: none;
        color: $icontext-text-color;
    }
}



