/* Styles for "Select New Icon" button */
#btnSelectIcon{
    color: white;
    background: #666;
    border-radius:0px;
    margin-left: 5px;
    border: 0px;
}

#btnSelectIcon:hover{
    background: #444;
}

/* Character counter for title and text fields */
.maxlength-indicator{
    color: black;
    font-size: 15px;
}

/* Styles for the icon picker dialog header */

.ui-widget-header{
    border-color: #eee;
    background: #eee;
}

.ui-dialog .ui-dialog-titlebar{
    padding: 5px 5px;
}

.ui-dialog-title{
    display: none;
}

#close-icon-picker{
    text-align: right;
}

#close-icon-picker i{
    font-size: 15px;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 3px;
    color: #999;
    cursor: pointer;
}

/* White background for icon picker */
#icon-modal{
    background: #FFF;
}

/* Styles for search field */

.search-wrapper{
    position: relative;
}

#search_for{
    width: 90%;
    border-radius: 10px;
    border: 1px solid #999;
    height: 30px;
    padding: 0px 0px 0px 30px;
}

#search_for + label{
    position: absolute;
    left: 7px;
    top: 7px;
    color: #999;
}

/* Styles for the icon picker grid */

.icon-picker-items{
    margin-top: 5px;
    max-width: 400px;
    max-height: 300px;
    padding: 5px;
}

.icon-picker-item {
    float: left;
    margin: 0px 12px 12px 0px;
    text-align: center;
    cursor: pointer;
    color: inherit;
    width: 10%;
}

label.icon-picker-item input[type=radio] + div span{
    font-size:30px;
    padding: 5px;
}


label.icon-picker-item input[type=radio]:checked + div {
    outline: 4px solid #93BBC4;
    background-color: #eee;
}

label.icon-picker-item input[type=radio]:hover + div{
    background-color: #eee;
}

.icon-picker-item > input{
    visibility: hidden;
    position: absolute;
}

/* Message when no icons are returned from search */
#no-icons{
    margin-top: 10px;
    font-size: 1.5rem;
    text-align: center;
    vertical-align: middle;
    line-height: 250px;
    color: #999;
}

/* Styles for the previews */
.ui-dialog-buttonpane .preview{
    margin-left: 10px;
    position: relative;
}

.preview{
    display: inline-block;
    position: fixed;
    text-align: center;
}

.preview-icon, .hover-icon{
    font-size: 2rem;
    padding: 3px;
}

.preview-name, .hover-icon-name{
    font-size: 0.8rem;
}