#btnSelectIcon{
    color: white;
    background: #666;
    border-radius:0px;
    margin-left: 5px;
    border: 0px;
}

#btnSelectIcon:hover{
    background: #444;
}

.ui-widget-header{
    border-color: #666;
    background: #666;
}

.ui-dialog-titlebar-close{
    display:none;
}

.icon-picker-items{
    margin-top: 5px;
    max-width: 400px;
    max-height: 300px;
    padding: 5px;
    width: 85%;
}

.icon-picker-item {
    float: left;
    margin: 0px 12px 12px 0px;
    text-align: center;
    cursor: pointer;
    color: inherit;
}

label.icon-picker-item input[type=radio] + span{
    width: 14px;
    height:14px;
    border: 1px solid black;
    padding: 12px;
}

label.icon-picker-item input[type=radio]:checked + span{
    outline: 5px solid #93BBC4;
}

.icon-picker-item > input{
    visibility: hidden;
    position: absolute;
}

.preview{
    display: inline-block;
    position: fixed;
    margin-left: 20px;
    text-align: center;
}

.preview-icon{
    font-size: 3rem;
    padding: 3px;
}

.preview-name{
    font-size: 0.5em;
}

.ui-dialog-buttonset .btnSaveIcon{
    color: white;
    background: #689600;
    border: 0px;
    border-radius: 0px;
}
 
.btnSaveIcon:hover{
    background: #3E5900;
}

.ui-dialog-buttonset .btnCancelIcon{
    color: white;
    border: 0px;
    border-radius: 0px;
    background: #666;
}

.btnCancelIcon:hover{
    background: #444;
}

#icon-select-button{
    font-size: 0.9rem; 
}

#icon-modal{
    background: #FFF;
}
