.mgnlEditor {
  &.mgnlEditorBar {
    &.area {
      display: none;
    }
    &.component {
      display: block !important;
    }
  } 
  &.mgnlPlaceholder {
    display: block !important;
  }
}


// These two rules remove the status indicator from the bars
.status-indicator{
  display: none;
}

body div.mgnlEditorBar.area.mgnlEditorBarStatusIndicator, 
body div.mgnlEditorBar.component.mgnlEditorBarStatusIndicator {
    margin-left: inherit !important;
}

