$magnolia-green: #6a9000;

$bar-color: #00BEA8;
$bar-text: #000000;
$move-target-bar: #00f2d6;

.mgnlEditor {
  &.mgnlEditorBar {
    &.area {
      display: none;
    }
    &.component {
      display: block !important;
    }
  }
  &.mgnlPlaceholder {
    display: block !important;
  }
  .mgnlEditorBarLabel {
    margin-left: 0px !important;
    padding-left: 8px !important;
  }
}

//make the bar for adding rows smaller so it isn't right up against the sidebar
.mainContent_add {
    width: 70% !important;
}

.plus-component{
  font-size:120%;
  font-weight: 500;
}

body.admin{
  div.layout-row{
    // border: 2px dashed #FFA500;
    // border-top: none;
    // margin-bottom: 40px;
  }
}


//COMMENTED OUT COLORS WERE FOR TESTING PURPOSES
body {
  // These two rules remove the status indicator from the bars
  .status-indicator{
    display: none;
  }
  div.mgnlEditorBar.area.mgnlEditorBarStatusIndicator,
  div.mgnlEditorBar.component.mgnlEditorBarStatusIndicator {
      margin-left: inherit !important;
  }

  //this one turns the bar with focus the focus color
  //when I click on a component bar, this style is applied
  div.mgnlEditorBar.area.childFocus ~ * div.mgnlEditorBar.component.focus,
  div.mgnlEditorBar.area.childFocus ~ div.mgnlEditorBar.component.focus,
   div.mgnlEditorBar.component.focus {
    background-color: $bar-color !important;
    color: $bar-text !important;
    display: block !important;
  }

  //when I click the row, the edit bars turn this color
  //when I click an item in a column, the siblings turn this color
  div.mgnlEditorBar.area.childFocus ~ div.mgnlEditorBar.component,
  div.mgnlEditorBar.area.childFocus ~ * div.mgnlEditorBar.component{
    background-color: white/*teal*/ !important;
    color: $bar-text !important;
    display: block !important;
    border: 2px solid $bar-color;
  }

  //this selects only the add content bars.  when their area has focus
  div.mgnlEditorBar.area.childFocus ~ * div.mgnlPlaceholder div.mgnlEditorBar.component,
  div.mgnlEditorBar.area.childFocus ~  div.mgnlPlaceholder div.mgnlEditorBar.component{
    //background-color: yellow !important;
    //color: black !important;
    border: 2px dotted $bar-color;
    background: white !important;;
    color: $bar-text !important;
    height: 50px !important;
    display: block !important;
  }

  //this is the style for the add component bars initially when nothing has been clicked.
  div.mgnlEditorBar.area.init ~ * div.mgnlPlaceholder div.mgnlEditorBar.component,
  div.mgnlEditorBar.area.init ~ div.mgnlPlaceholder div.mgnlEditorBar.component {
    //background-color: palevioletred !important;
    //color: white !important;
    border: 2px dotted $bar-color;
    background: white !important;
    color: $bar-text !important;
    height: 50px !important;
    display: block !important;
    margin-bottom: 30px !important;
  }

  div.mgnlEditorBar.area.childFocus ~ div.mgnlEditorBar.component.moveTarget, div.mgnlEditorBar.area.childFocus ~ * div.mgnlEditorBar.component.moveTarget {
    border: 1px solid $bar-color !important;
   
  }

  div.mgnlEditorBar.mgnlEditor.component.moveTarget.moveOver{
    background: $move-target-bar !important;
    border: none !important;
  }

  //when moving a component, this style is used for the target component on hover
  div.mgnlEditorBar.area.childFocus ~ div.mgnlEditorBar.component.moveOver, div.mgnlEditorBar.area.childFocus ~ * div.mgnlEditorBar.component.moveOver {
    background-color: $move-target-bar !important;
  }

  div.mgnlEditorBar.area.childFocus ~ div.mgnlPlaceholder div.mgnlPlaceholderBox, div.mgnlEditorBar.area.childFocus ~ * div.mgnlPlaceholder div.mgnlPlaceholderBox, div.mgnlEditorBar.area.init ~ * div.mgnlPlaceholder div.mgnlPlaceholderBox, div.mgnlEditorBar.area.init ~ div.mgnlPlaceholder div.mgnlPlaceholderBox {
    // border: 2px dotted #e1e8cc !important;
    // border-top: none !important;
    border: none !important;
  }

  //the add component bars use this style when I click on them.  They change to this style
  //as the dialog is loading and stay that way if the dialog is dismissed.
  //when an area bar has focus, all the component bars in that area have this style
  div.mgnlEditorBar.area.focus ~ div.mgnlEditorBar.component,
  div.mgnlEditorBar.area.focus ~ * div.mgnlEditorBar.component {
     background-color: white/*purple*/ !important;
     border: 2px solid $bar-color;
     color: $bar-text !important;
  }

  //Style for the add component bars when they 1)Are clicked on 2)The user clicks on them
  //and then cancels before adding a new component.
  div.mgnlEditorBar.area.focus ~ div.mgnlEditor.mgnlPlaceholder div.mgnlEditorBar.component,
  div.mgnlEditorBar.area.focus ~ * div.mgnlEditor.mgnlPlaceholder div.mgnlEditorBar.component{
     // background-color: hotpink !important;
     // color: #fff !important;
     background-color: white !important;
     color: $bar-text !important;
     border: 2px dotted $bar-color !important;
  }


  div.mgnlEditorBar.area.focus ~ * div.mgnlPlaceholder div.mgnlPlaceholderBox, div.mgnlEditorBar.area.focus ~ div.mgnlPlaceholder div.mgnlPlaceholderBox {
    // border: 2px dotted #a5bc66 !important;
    // border-top: none !important;
    border: none !important;
  }

  //this is the style for the component bars when they are inactive.
  //this is NOT the style for the "add content" bars when the area is focused
  //if I have component 1 and component 2 in a column and I click on
  //component 1, the container uses this style.
  div.mgnlEditorBar.component {
    background-color: white/*violet*/ !important;
    border: 2px solid $bar-color;
    color: $bar-text !important;
    display: none !important;
  }

  div.mgnlPlaceholder {
    margin: 0 0 2px 0 !important;
    clear: both !important;
  }

  //style for add content bars when their area does not have
  //focus
  div.mgnlPlaceholder div.mgnlEditorBar {
    margin: 0 !important;
    //background-color: red !important;
    //color: yellow !important;
    font-weight: 500;
    border: 2px dotted $bar-color;
    background: white !important;;
    color: $bar-text !important;
    height: 50px !important;
    margin-bottom: 30px !important;
  }

  //Remove style from placeholder box
  div.mgnlPlaceholder div.mgnlPlaceholderBox {
    height: 0px !important;
    background-color: white !important;
    border: none !important;
  }

  //make library emergency info bar smaller so it doesn't cover the hours section
  .genEmergency_add .mgnlEditor.mgnlPlaceholder{
    width: 33% !important;;
  }

}

