$edit-bar-bg:         rgba(235, 232, 232, 0.59);
$edit-bar-teal:       #72bdc0;
$edit-bar-move:       #95cdd0;
$edit-bar-gold:       #E1C242;
$edit-bar-gold-move:  #E9D172; 
$edit-bar-purple:     #BC8CBF;
$edit-bar-purple-move:#c9afcc;


%bar {
  background-color: $edit-bar-bg !important;
  border-width:  2px !important;
  border-color: $edit-bar-teal !important;
  color: $very-dark !important;
  border-style: solid;
}

%layoutbar {
  background-color: $edit-bar-bg !important;
  border-width: 2px !important;
  border-color:  $edit-bar-gold !important;
  color: $very-dark !important;
  border-style: solid;
}

div.mgnlEditorBar {
	background-color: $edit-bar-bg !important;
	color: $very-dark !important;
	clear: both !important;
}

.mgnlEditor {
  &.mgnlEditorBar {
    &.area {
      display: none;
    }
    &.component {
      display: flex !important;
      justify-content: space-between;
      align-items: center;
    }
    .mgnlEditorBarLabel {
      margin-left: 0px !important;
      padding-left: 8px !important;
      flex: 1 0 auto;
    }
    .mgnlEditorBarButtons {
      order: 2;
      display: flex !important;
      align-items: center;
      .icon-edit {
        order: 2;
      }
    }
  }
  &.mgnlPlaceholder {
    display: block !important;
    .mgnlEditorBar.component {
      display: block !important;
    }
  }
}

.status-indicator{
  display: none;
}
div.mgnlEditorBar.area.mgnlEditorBarStatusIndicator,
div.mgnlEditorBar.component.mgnlEditorBarStatusIndicator {
    margin-left: inherit !important;
}

//this one turns the bar with focus the focus color
div.mgnlEditorBar.area.childFocus ~ * div.mgnlEditorBar.component.focus, div.mgnlEditorBar.area.childFocus ~ div.mgnlEditorBar.component.focus, div.mgnlEditorBar.area.focus, div.mgnlEditorBar.component.focus {
	background-color: $edit-bar-teal !important;
  color: $very-dark !important;
  &.layout-edit-bar {
    background-color: $edit-bar-gold !important;
  }
  &.content-edit-bar {
    background-color: $edit-bar-purple !important;
  }
}

//when I click the row, the edit bars turn this color. when I click an item in a column, the siblings turn this color
div.mgnlEditorBar.area.childFocus ~ div.mgnlEditorBar.component, div.mgnlEditorBar.area.childFocus ~ * div.mgnlEditorBar.component, div.mgnlEditorBar.area.init ~ * div.mgnlPlaceholder div.mgnlEditorBar.component, div.mgnlEditorBar.area.init ~ div.mgnlPlaceholder div.mgnlEditorBar.component {
  @extend %bar;
  &.layout-edit-bar {
    border-color: $edit-bar-gold !important;
  }
  &.content-edit-bar {
    border-color: $edit-bar-purple !important;
  }
}

div.mgnlEditorBar.area.init ~ * div.mgnlPlaceholder div.mgnlEditorBar.component, div.mgnlEditorBar.area.init ~ div.mgnlPlaceholder div.mgnlEditorBar.component {
  @extend %bar;
  border-style: dashed !important;
  //NOT WORKING YET
  &.layout-edit-bar {
    border-color: $edit-bar-gold !important;
  }
  &.content-edit-bar {
    border-color: $edit-bar-purple !important;
  }
}

//this selects only the add content bars.  when their area has focus
div.mgnlEditorBar.area.childFocus ~ * div.mgnlPlaceholder div.mgnlEditorBar.component,
div.mgnlEditorBar.area.childFocus ~  div.mgnlPlaceholder div.mgnlEditorBar.component{
  @extend %bar;
  border-style: dashed !important;
  height: 50px !important;
  &.layout-edit-bar {
    border-color: $edit-bar-gold !important;
  }
  &.content-edit-bar {
    border-color: $edit-bar-purple !important;
  }
}

div.mgnlEditorBar.area.childFocus ~ div.mgnlEditorBar.component.moveTarget, div.mgnlEditorBar.area.childFocus ~ * div.mgnlEditorBar.component.moveTarget {
  border-width: 1px !important;
  border-color: $edit-bar-teal !important;
  &.layout-edit-bar {
    border-color: $edit-bar-gold !important;
  }
  &.content-edit-bar {
    border-color: $edit-bar-purple !important;
  }
}

div.mgnlEditorBar.area.childFocus ~ div.mgnlEditorBar.component.moveOver, div.mgnlEditorBar.area.childFocus ~ * div.mgnlEditorBar.component.moveOver {
  background-color: $edit-bar-move !important;
  &.layout-edit-bar {
    background-color: $edit-bar-gold-move !important;
  }
  &.content-edit-bar {
    background-color: $edit-bar-purple-move !important;
  }
  .mgnlEditorBarLabel {
    text-decoration: underline;
  }
}
div.mgnlEditorBar.area.childFocus {
  ~ div.mgnlEditorBar.component.moveOver,
  ~ * div.mgnlEditorBar.component.moveOver {
    @extend %bar;
    &.layout-edit-bar {
      border-color: $edit-bar-gold !important;
    }
    &.content-edit-bar {
      border-color: $edit-bar-purple !important;
    }
  }
}

div.mgnlEditorBar.component.moveOver {
  @extend %bar;
  background-color: $edit-bar-teal !important;
  &.layout-edit-bar {
    background-color: $edit-bar-gold-move !important;
  }
  &.content-edit-bar {
    background-color: $edit-bar-purple-move !important;
  }
}

div.mgnlEditorBar.area.childFocus ~ div.mgnlPlaceholder div.mgnlPlaceholderBox, div.mgnlEditorBar.area.childFocus ~ * div.mgnlPlaceholder div.mgnlPlaceholderBox, div.mgnlEditorBar.area.init ~ * div.mgnlPlaceholder div.mgnlPlaceholderBox, div.mgnlEditorBar.area.init ~ div.mgnlPlaceholder div.mgnlPlaceholderBox {
	border: none !important;
}

div.mgnlEditorBar.area.focus ~ div.mgnlEditorBar.component, div.mgnlEditorBar.area.focus ~ * div.mgnlEditorBar.component {
  @extend %bar;
  &.layout-edit-bar {
    border-color: $edit-bar-gold !important;
  }
  &.content-edit-bar {
    border-color: $edit-bar-purple !important;
  }
}

div.mgnlEditorBar.area.focus ~ * .mgnlPlaceholder div.mgnlEditorBar.component {
  @extend %bar;
  border-style: dashed !important;
  &.layout-edit-bar {
    border-color: $edit-bar-gold !important;
  }
  &.content-edit-bar {
    border-color: $edit-bar-purple !important;
  }
}

div.mgnlEditorBar.area.focus ~ * div.mgnlPlaceholder div.mgnlPlaceholderBox, div.mgnlEditorBar.area.focus ~ div.mgnlPlaceholder div.mgnlPlaceholderBox {
	border: none !important;
}

div.mgnlEditorBar.component {
  @extend %bar;
  &.layout-edit-bar {
    border-color: $edit-bar-gold !important;
  }
  &.content-edit-bar {
    border-color: $edit-bar-purple !important;
  }
}

//style for add content bars when their area does not have focus
div.mgnlPlaceholder div.mgnlEditorBar {
  @extend %bar;
  height: 50px !important;
  margin-bottom: 30px !important;
  padding: 1rem 0rem !important;
  border-style: dashed !important;
  &.layout-edit-bar {
    border-color: $edit-bar-gold !important;
  }
  &.content-edit-bar {
    border-color: $edit-bar-purple !important;
  }
}

//Remove style from placeholder box
body div.mgnlPlaceholder div.mgnlPlaceholderBox {
  height: 0px !important;
  background-color: white !important;
  border: none !important;
  padding: 0rem 0rem !important;
}
