/* it's important to set your desired font size on ddmenu-bg */
/* instead of a.ddmenu-menubaritem */
.ddmenu-menubar {
	position: relative;
	display: flex;
}

div.ddmenu-menubaritem {
  display: inline-block;
  display: flex;
	position: relative;
}

a.ddmenu-menubaritem {
	display: block;
	padding: 0.6rem 0.8rem;
	line-height: 1.8rem;
}

a.ddmenu-menubaritem:hover {
	text-decoration: none;
}

.ddmenu-menu {
	margin: 0px;
	padding: 0px;
	position: absolute;
	left: 0px;
	top: 100%;
	z-index: 70000;
	display: none;
	list-style: none;
}

.ddmenu-visible .ddmenu-menu {
	display: block;
}

.ddmenu-menu a {
	display: block;
	padding: 0.6rem 0.8rem;
	width: 20rem;
}
.ddmenu-menu a:hover {
	text-decoration: none;
}
.ddmenu-menu img {
	display: block;
}
