.ddmenu-menubar {
	position: relative;
	height: 35px;
}

div.ddmenu-menubaritem {
	position: relative;
	float: left;
}

a.ddmenu-menubaritem {
	display: block;
	padding: 10px 8px;
	line-height: 15px;
}

a.ddmenu-menubaritem:hover {
	text-decoration: none;
}

.ddmenu-menu {
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 35px;
	z-index: 1;
	visibility: hidden;
}

.ddmenu-visible .ddmenu-menu {
	visibility: visible;
}

.ddmenu-menu a {
	display: block;
	line-height: 16px;
	padding: 6px 10px;
	width: 200px;
}
.ddmenu-menu a:hover {
	text-decoration: none;
}
.ddmenu-menu img {
	display: block;
}
