.circle-progress{
    max-width: 200px;
    [data-eq~="300px"] & {
        max-width: 150px;
    }
    margin: auto;
    .svg-container{
        position: relative;
        margin: 0 auto 1.5rem;
        width: 100%;
        display: block;
        height: auto;
        padding-top: 100%;
        svg {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        .inner-circle{
            stroke: $progress-inner-circle-color;
        }
        .outer-circle{
            stroke: $progress-outer-circle-color;
        }
        path{
            stroke: $progress-outer-circle-fill-color;
        }
        .percent{
            position: absolute;
            font-size: 3.5rem;
            width: 100%;
            text-align: center;
            top: 40%;
            [data-eq~="300px"] & {
                font-size: 3rem;
            }
        }
    }
    .content{
        text-align: center;
        .progress-title{
            text-transform: uppercase;
            color: $progress-title-color;
            letter-spacing: 1px;
            margin: 0 0 0.5rem;
            [data-eq~="300px"] & {
                font-size: 1.7rem;
                line-height: 2.1rem;
            }
        }
        .progress-text{
            margin: 0;
        }
    }
}

[data-eq~="#{$column-breakpoint}"] .layout-column.eq-parent:not(.quarters) .circle-progress.horizontal,
[data-eq~="#{$column-breakpoint-late}"] .layout-column.eq-parent.quarters .circle-progress.horizontal,
 {
    max-width: none;
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding: 0 1rem 2rem;
    .svg-container {
        width: 25%;
        display: inline-block;
        max-width: 75px;
        margin: 0 1.6rem 1rem 0;
        padding-top: 0px;
        svg {
            width: auto;
            height: auto;
            position: relative;
        }
    }
    .percent {
        font-size: 1.5rem;
        top: calc(50% - 1rem);
    }
    .content{
        width: 100% * 2.0/3.0;
        display: inline-block;
        text-align: left;
        vertical-align: top;
        .progress-title{
            font-size: 1.3rem;
            line-height: 1.6rem;
        }
    }
}
