/*Charts section Starts*/


/*Background color for progress section*/
.color1{
    background-color: $mc1-bg;
}
.color2{
    background-color: $mc2-bg;
}
.color3{
    background-color: $mc3-bg;
}
.color4{
    background-color: $mc4-bg;
}
.color5{
    background-color: $mc5-bg;
}
.color6{
    background-color: $mc6-bg;
}
.color7{
    background-color: $mc7-bg;
}

.performance {
    padding: 54px 0 79px;
    text-align: center;
}

.performance .container{
	width: 100%;
	margin:0 auto;
}
.charts li {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    padding: 0 5rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
		margin-top: 2rem;
}
.charts {
    margin: 0 -8rem;
    padding: 0;
    list-style: none;
    font-size: 0;
    line-height: 0;
}
.performance h2 {
    font: 25px/29px 'ProximaNova-Bold', sans-serif;
    margin: 0 0 4.6rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #bf202f;
		text-align: center;
}

@media screen and (max-width: 767px), screen and (orientation: landscape) and (max-width: 767px), screen and (orientation: portrait ) and (max-width: 767px){
		.performance {padding: 2.4rem 0 0.2rem;}
		.performance h2 {
			font-size: 1.6rem;
			line-height: 2.2rem;
			letter-spacing: .05rem;
			margin: 0 0 2.6rem;
		}
		.charts li {
			width: 100%;
			overflow: hidden;
			font-size: 1.2rem;
			line-height: 1.8rem;
			padding: 0 1rem 2rem;
		}
		.charts h3 {
			font-size: 1.3rem;
			line-height: 1.6rem;
		}
}

/*Charts section ends*/


.circle-progress{
    max-width: 300px;
    margin: auto;
    .svg-container{
        position: relative;
        margin: 0 auto 3rem;
        .inner-circle{
            stroke: $progress-inner-circle-color;
        }
        .outer-circle{
            stroke: $progress-outer-circle-color;
        }
        path{
            stroke: $progress-outer-circle-fill-color;
        }
        .percent{

        }
    }
    .content{
        text-align: center;
        .progress-title{
            text-transform: uppercase;
            color: $progress-title-color;
            letter-spacing: 1px;
            margin: 0 0 0.5rem;
        }
        .progress-text{
            margin: 0;
        }
    }
    @media (max-width: 1200px){
        max-width: 235px;
        padding: 0 4rem;
        .svg-container{
            margin: 0 auto 3.4rem;
        }
    }
    &.horizontal{
        @media (max-width: 767px){ //ANOTHER PROBLEM: MEDIA QUERY BREAKPOINTS NOT DEFINED IN COMPONENTS...
            max-width: none;
            font-size: 1.2rem;
            line-height: 1.8rem;
            padding: 0 1rem 2rem;
            .svg-container{
                width: 100% * 1.0/3.0;
                display: inline-block;
                max-width: 75px;
                margin: 0 1.6rem 1rem 0;
            }
            .content{
                width: 100% * 2.0/3.0;
                display: inline-block;
                text-align: left;
                vertical-align: top;
                .progress-title{
                    font-size: 1.3rem;
                    line-height: 1.6rem;
                }
            }
        }

    }
}
