.circle-progress{
    max-width: 300px;
    margin: auto;
    .svg-container{
        position: relative;
        margin: 0 auto 3rem;
        .inner-circle{
            stroke: $maroon;
        }
        .outer-circle{
            stroke: mix($charcoal, $white, 70 );
        }
        path{
            stroke: $blue;
        }
        .percent{
            
        }
    }
    .content{
        text-align: center;
        .progress-title{
            text-transform: uppercase;
            color: $blue;
            letter-spacing: 1px;
            margin: 0 0 0.5rem;
        }
        .progress-text{
            margin: 0;
        }
    }
    @media (max-width: 1200px){
        max-width: 235px;
        padding: 0 4rem;
        .svg-container{
            margin: 0 auto 3.4rem;
        }
    }
    &.horizontal{
        @media (max-width: 767px){ //ANOTHER PROBLEM: MEDIA QUERY BREAKPOINTS NOT DEFINED IN COMPONENTS...
            max-width: none;
            font-size: 1.2rem;
            line-height: 1.8rem;
            padding: 0 1rem 2rem;
            .svg-container{
                width: 100% * 1.0/3.0;
                display: inline-block;
                max-width: 75px;
                margin: 0 1.6rem 1rem 0;
            }
            .content{
                width: 100% * 2.0/3.0;
                display: inline-block;
                text-align: left;
                vertical-align: top;
                .progress-title{
                    font-size: 1.3rem;
                    line-height: 1.6rem;
                }
            }
        }

    }
}