.column_paragraph, .txst-form-body{
    .rich-editor-table{
    width:100%;
    overflow-x:auto;
    table{
        td, th{
          padding: 0.5rem 1rem;
          border-color: $table-border;
        }
        th {
          background: $table-header-bg;
          color: $table-header-text;
        }
        a{
          color: $table-link;
          &:hover{
            text-decoration: none;
            background: transparent;
          }
        }
        border: none;
        &.header-color-gold th{
          background: $table-header-bg;
          color: $table-header-text;
          a{
            color: $table-header-text;
            &:hover{
              background: transparent;
              text-decoration: none;
            }
          }
        }
        &.header-color-maroon th{
          background: $maroon;
          color: $white;
          a{
            color: $white;
            &:hover{
              background: transparent;
              text-decoration: none;
            }
          }
        }
        &.header-color-sandstone th{
          background: $sandstone;
          color: $very-dark;
          a{
            color: $very-dark;
            &:hover{
              background: transparent;
              text-decoration: none;
            }
          }
        }
        &.header-color-charcoal th{
          background: $charcoal;
          color: $white;
          a{
            color: $white;
            &:hover{
              background: transparent;
              text-decoration: none;
            }
          }
        }
        &.header-color-blue th{
          background: $blue;
          color: $white;
          a{
            color: $white;
            &:hover{
              background: transparent;
              text-decoration: none;
            }
          }
        }
        &.header-color-river th{
          background: $river;
          color: $almost-black;
          a{
            color: $almost-black;
            &:hover{
              background: transparent;
              text-decoration: none;
            }
          }
        }
        &.header-color-oldgold th{
          background: $oldgold;
          color: $very-dark;
          a{
            color: $very-dark;
            &:hover{
              background: transparent;
              text-decoration: none;
            }
          }
        }
        &.header-color-none th{
          background: transparent;
          color: $very-dark;
          a{
            color: $very-dark;
            &:hover{
              background: transparent;
              text-decoration: none;
            }
          }
        }

    }
    table.alternate-row-color tbody tr:nth-child(odd) {
       background-color: $table-altrow-bg;
    }
    table.auto-width{
      width: auto;
    }
    table.full-width{
      width: 100%;
    }
  }
}
