.column_paragraph, .txst-form {
    .rich-editor-table{
    width:100%;
    overflow-x:auto;
    table{
        td, th{
          padding: 0.5rem 1rem;
          border-color: $table-border;
        }
        th {
          background: $table-header-bg;
          color: $table-header-text;
        }
        a{
          color: $table-link;
          &:hover{
            text-decoration: none;
            background: transparent;
          }
        }
        border: none;
        &.header-color-graphite th{
          background: $default-graphite;
          color: $white;
          a{
            color: $white;
          }
        }
        &.header-color-default-blue th{
          background: $default-blue;
          color: $white;
          a{
            color: $white;
          }
        }
        &.header-color-silver th{
          background: $default-silver;
          color: $black;
          a{
            color: $black;
          }
        }
        &.header-color-ice th{
          background: $default-ice;
          color: $black;
          a{
            color: $black;
          }
        }
        &.header-color-pink-sand th{
          background: $default-pink-sand;
          color: $black;
          a{
            color: $black;
          }
        }
        &.header-color-sand th{
          background: $default-sand;
          color: $black;
          a{
            color: $black;
          }
        }
        &.header-color-beige th{
          background: $default-beige;
          color: $black;
          a{
            color: $black;
          }
        }
        &.header-color-none th{
          background: transparent;
          color: $very-dark;
          a{
            color: $very-dark;
            &:hover{
              background: transparent;
              text-decoration: none;
            }
          }
        }

    }
    table.alternate-row-color tbody tr:nth-child(odd) {
       background-color: $table-altrow-bg;
    }
    table.alternate-row-color tbody tr:nth-child(even) {
       background-color: $body-background-color;
    }
    table.auto-width{
      width: auto;
    }
    table.full-width{
      width: 100%;
    }
  }
}
