.gato-sacscoc-warning {
	position: relative;
	background-color: #ddddff;
	border: 3px solid black;
	margin: 1em;
	padding-left: 1em;
	padding-right: 1em;
	// a{
	// 	color: $form-alert-link-color;
	// 	&:hover{
	// 	text-decoration: none;
	// 	background: transparent;
	// 	}
	// }
}
