/* Styles for Site Search */

/* drop down search bar */

.ui-dialog-titlebar{
    display:none;
}

.ui-widget-overlay{
    background-image: none !important;
    background: $search-dd-overlay-background-color !important;
    opacity: 0 !important;
    transition: 0.3s linear;
}

.ui-widget-overlay-fade{
    opacity: 0.9 !important;
    transition: 0.2s linear;
}

#search-modal-content{
    background: $search-dd-dropdown-background-color !important;
    min-height: initial !important;
    padding: 0px;
    &.hidden{
      display:none;
    }
}

.ui-dialog {
    z-index: 3;
    border: none !important;
    border-radius: 0px !important;
    padding: 0px !important;
    &.ui-widget{
        font-family: $search-dd-dialog-font-family;
    }
    .searchbar{
        max-width: 60rem;
        margin: auto;
        padding: 3rem 2rem 2.5rem 2rem;
        .searchbar-content {
            position: relative;
            border-bottom: 3px solid $search-dd-input-line-color;
            font-size: 2.4rem;
            padding-bottom: 0.5rem;
            @media screen and (max-width: $mc-breakpoint) {
                font-size: 2rem;
            }
            input.search {
                background: transparent;
                border: none;
                width: 100%;
                color: $search-dd-input-color;
                font-weight: 500;
                font-family: $search-dd-dialog-font-family;
                &::-webkit-input-placeholder {color: $search-dd-input-placeholder-color;}
                &::-moz-placeholder {color: $search-dd-input-placeholder-color;}
                &:-ms-input-placeholder {color: $search-dd-input-placeholder-color;}
                &:-moz-placeholder {color: $search-dd-input-placeholder-color; opacity: 1;}
                &:focus{
                    outline-width: 0;
                }
            }
            .icon {
                background: transparent;
                border: none;
                float: right;
                color: $search-dd-icon-color;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        .search-radios{
            text-align: right;
            font-size: 1.4rem;
            font-weight: 500;
            color: $search-dd-radio-label-color;
            top: 1.5rem;
            position: relative;
            margin-bottom: 0.8rem;
            fieldset {
              border: 0;
            }
            span{
                margin-left: 2rem;
                input[type="radio"] {
                    position: relative;
                    bottom: 2px;
                    margin-right: 0.5rem;
                }
            }
        }
        .btn-close-search-dialog {
          height: 5px;
          overflow: hidden;
          padding: 0;
          border: 0;
          line-height: 0;
          background-color: transparent;
          color: transparent;
          position: absolute;
        }
    }
}

/* site search results */
#search-results {
  a {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 1px 3px;
    margin: -1px -3px;
    color: $content-link-text;
    text-decoration: underline;
    &:hover {background: $content-link-hover;}
  }

  .layout-column {
      &.twothirds, &.onethird{
          @media screen and (max-width: $sm-breakpoint) {
              width: 100%;
          }
      }
  }

  .headline.search-headline{
      width: 100% * 2.0/3.0;
      @media screen and (max-width: $sm-breakpoint) {
          width: 100%;
      }
  }

  .sort-link{
    font-size: 1.6rem;
    &.active{
      color: black;
      font-weight: bold;
      text-decoration: none;
      &:hover{
        text-decoration: none;
        background-color: transparent;
      }
    }
    &:hover{
      text-decoration: underline;
    }
  }

  .results-list{
    .result{
      margin-top: 2.8rem;
      a.result-title{
        text-decoration: none;
        font-weight: 500;
        color: $search-result-title;
        &:hover{
          text-decoration: underline;
        }
        h3{
          margin: 0px;
          font-size: 1.8rem;
        }
      }
      .result-date {
        color: $search-result-date;
        margin-left: 1rem;
        font-size: 1.6rem;
      }
      .summary{
        margin: 0.5rem 0 0.5rem 0;
        line-height: 2.5rem;
      }
      .result-url-display{
        color: $search-result-url;
        font-size: 1.6rem;
      }
      &.featured{
        a.result-title{
            font-weight: bold;
        }
        .result-date{
            display: none;
        }
      }
    }
  }

  .pagination{
    margin: 4rem 0 2.8rem 0;
    list-style: none;
    overflow: hidden;
    padding: 0;
    .pagination-link, .nonlink{
      padding: .5rem 1rem .5rem 1rem;
      margin: 0 1rem 1rem 0;
      color: $search-pagination-link-color;
      text-decoration: none;
      float: left;
      &.active,&[aria-current="page"]{
        font-weight: 500;
        color: black;
        &, &:hover {
          background: $search-pagination-selected-background;
          color: black;
        }
      }
      &:hover{
        background: $search-pagination-hover-background;
      }
      &.previous, &.next{
        color: #757575;
        &:hover {
          background: transparent;
        }
        &.enabled{
          color: $search-pagination-link-color;
          &:hover {
            background: $search-pagination-hover-background;
          }
        }
      }
    }
    .nonlink{
      &:hover{
        background: transparent;
      }
    }
  }


    div.sort-results{
        margin-top: 1.5rem;
    }

    .global-search{
        margin-top: 4.4rem;
        @media screen and (max-width: $sm-breakpoint) {
            display: none;
        }
      &.global-search-mobile {
        display: none;
        @media screen and (max-width: $sm-breakpoint) {
          display: block;
          margin: 2rem 0rem 2.5rem 0rem;
        }
      }
    }

    .no-results{
        margin-top: 3rem;
        font-weight: bold;
    }

    h1.search-results-title{
        color: $sitesearch-results-page-title-color;
        font-weight: normal;
        font-size: 3.6rem;
        margin: 0px;
        padding: 0px;
    }

    .search-again{
        position: relative;
        border-bottom: 3px solid $sitesearch-result-search-input;
        font-size: 2.4rem;
        font-weight: bold;
        color: $sitesearch-result-search-color;
        padding-bottom: 0.5rem;
        width: 66%;
        @media screen and (max-width: $mn-breakpoint) {
          width: 100%;
        }
        margin-top: 2.8rem;
        label.hidden{
            position:absolute;
            left:-10000px;
            top:auto;
            width:1px;
            height:1px;
            overflow:hidden;
        }
        input{
            background: transparent;
            border: none;
            width: 100%;
            color: #222;
            font-weight: 500;
            font-family: $sitesearch-font-family;
            &:focus{
                outline-width: 0;
            }
        }
        .icon {
            background: transparent;
            border: none;
            float: right;
            color: $sitesearch-result-search-input;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    .results-count{
        margin-top: 1rem;
        font-size: 1.4rem;
    }

    .all-results-help-text{
        font-size: 1.2rem;
        color: $sitesearch-help-text-color;
        text-align: right;
        margin-bottom: 10px;
        @media screen and (max-width: $sm-breakpoint) {
            text-align: left;
        }
    }

    .all-results-button{
        a.button{
            font-size: 1.8rem;
            display: block;
            padding: 2rem 3rem;
            text-decoration: none;
            span{
                color: #222;
            }
        }
    }

}

//suggested results
ul.ui-autocomplete.gato-site-search {
    z-index: 1200;
    border: 1px solid $search-dd-suggested-results-border;
    background: $white;
    .ui-menu-item {
      padding: 0;
    }
    .ui-menu-item-wrapper {
      padding: 4px;
    }
    .suggestion-title{
        a{
            font-weight: bold;
            font-size: 1.5rem;
            color: $search-dd-suggested-result-title-color;
            text-decoration: underline;
        }
    }
    .display-link{
        a{
            text-decoration: underline;
            color: $search-dd-suggested-result-link-color;
            font-size: 1.3rem;
        }
    }
    .ui-state-active{
        background: $search-dd-suggested-result-hover-color;
        margin: 0px;
        border: none;
        .display-link{
            a{
                font-weight: normal;
            }
        }
    }
}
