
.masonry-section {
  overflow: hidden;
  * { box-sizing : border-box; }
  .masonry-sizer { width: 25%; }

  .gato-card-sm { width: 25%; }
  .gato-card-md { width: 25%; }
  .gato-card-lg { width: 50%; }

  [data-eq~="1200px"] & {
    .gato-card-sm { width: 25%; }
    .gato-card-md { width: 50%; }
    .gato-card-lg { width: 50%; }
  }
  [data-eq~="800px"] & {
    .gato-card-sm { width: 50%; }
    .gato-card-md { width: 50%; }
    .gato-card-lg { width: 100%; }
  }
  [data-eq~="600px"] & {
    .gato-card-sm { width: 50%; }
    .gato-card-md { width: 100%; }
    .gato-card-lg { width: 100%; }
  }
  [data-eq~="400px"] & {
    .gato-card-sm { width: 100%; }
    .gato-card-md { width: 100%; }
    .gato-card-lg { width: 100%; }
  }
}
