.gato-section-full {
  background-color: transparent;
  &.has-background {
    &.full-width {
      background-color: $section-background-color;
    }
    @media (max-width: $sidebar-moves-below-point) {
      background-color: $section-background-color;
    }
  }
}

.layout-column {
  @extend .grid-cell;
  &.full {
    width: 100%;
  }
  &.halves {
    width: 50%;
    [data-eq~="#{$column-breakpoint}"] & { width: 100%; }
  }
  &.thirds {
    width: 100% * 1.0/3.0;
    [data-eq~="#{$column-breakpoint}"] & { width: 100%; }
  }
  &.quarters {
    width: 25%;
    [data-eq~="#{$column-breakpoint-early}"] & { width: 50%; }
    [data-eq~="#{$column-breakpoint-late}"] & { width: 100%; }
  }
  &.onethird {
    width: 100% * 1.0/3.0;
    [data-eq~="#{$column-breakpoint}"] & { width: 100%; }
  }
  &.twothirds {
    width: 100% * 2.0/3.0;
    [data-eq~="#{$column-breakpoint}"] & { width: 100%; }
  }
  &.blank {
    display: none;
  }
}
