
.masonry-section {
  .moveEditor{margin-top: 20px;}
  .card-item-add{height:50px;margin:40px 0px;}
  overflow: hidden;
  * { box-sizing : border-box; }
  .masonry-sizer { width: 25%; }

  .card-item-sm { width: 25%; }
  .card-item-md { width: 25%; }
  .card-item-lg { width: 50%; }

  [data-eq~="1200px"] & {
    .card-item-sm { width: 25%; }
    .card-item-md { width: 50%; }
    .card-item-lg { width: 50%; }
  }
  [data-eq~="800px"] & {
    .card-item-sm { width: 50%; }
    .card-item-md { width: 50%; }
    .card-item-lg { width: 100%; }
    figcaption{position: absolute;}
  }
  [data-eq~="600px"] & {
    .card-item-sm { width: 50%; }
    .card-item-md { width: 100%; }
    .card-item-lg { width: 100%; }
  }
  [data-eq~="400px"] & {
    .card-item-sm { width: 100%; }
    .card-item-md { width: 100%; }
    .card-item-lg { width: 100%; }
  }
}
