.gato-section-full {
  background-color: transparent;
  &.full-width .gato-section {
    margin-#{$sidebar-leftright}: 0;
  }
  &.has-background {
    margin-bottom: 3rem;
    &.full-width {
      background-color: $section-background-color;
    }
    &:not(.full-width) .gato-section {
      .background-color-warning {
        display: inline;
        padding: 0.2rem;
      }
    }
    .gato-section {
      padding-top: 3rem;
    }
    @media (max-width: $sidebar-moves-below-point) {
      background-color: $section-background-color;
    }
  }

  .gato-section-centered {
    margin: 0 auto;
    max-width: $content-width-max;
    @media (max-width: $xl-breakpoint) {
      max-width: $content-width-xl;
    }
    @media (max-width: $lg-breakpoint) {
      max-width: $content-width-lg;
    }
  }

  .gato-section {
    overflow: hidden;
    .background-color-warning {
      display: none;
    }
    margin-#{$sidebar-leftright}: 25%;
    @media (max-width: $md-breakpoint) {
      margin-#{$sidebar-leftright}: 29%;
    }
    @media (max-width: $sm-breakpoint) {
      margin-#{$sidebar-leftright}: 33%;
    }
    @media (max-width: $sidebar-moves-below-point) {
      margin-#{$sidebar-leftright}: 0;
    }
  }

  .section-title {
    margin: 0 0 3rem 0;
    padding: 0 $column-padding;
    &.center { text-align: center; }
    &.has-text {
      margin-bottom: 1rem;
    }
  }

  .section-text {
    padding: 0 $column-padding;
    margin: 0 auto 3rem auto;
    &.center {
      text-align: center;
      max-width: 600px;
    }
  }

  .megasection-bar, .add-layout, .msection-title, .background-color-warning {
    margin-#{$sidebar-leftright}: 25%;
    @media (max-width: $md-breakpoint) {
      margin-#{$sidebar-leftright}: 29%;
    }
    @media (max-width: $sm-breakpoint) {
      margin-#{$sidebar-leftright}: 33%;
    }
    @media (max-width: $sidebar-moves-below-point) {
      margin-#{$sidebar-leftright}: 0;
    }
  }
  &.full-width {
    .megasection-bar, .add-layout, .msection-title, .background-color-warning {
      margin-#{$sidebar-leftright}: 0;
    }
  }
}

.section-bar > .mgnlEditorBar.component .mgnlEditorBarButtons .editorIcon.icon-edit:before {
  font-family: 'FontAwesome';
  content: "\f013";
}



.layout-column {
  @extend .grid-cell;
  &.full {
    width: 100%;
  }
  &.halves {
    width: 50%;
    [data-eq~="#{$column-breakpoint}"] & { width: 100%; }
  }
  &.thirds {
    width: 100% * 1.0/3.0;
    [data-eq~="#{$column-breakpoint}"] & { width: 100%; }
  }
  &.quarters {
    width: 25%;
    [data-eq~="#{$column-breakpoint-early}"] & { width: 50%; }
    [data-eq~="#{$column-breakpoint-late}"] & { width: 100%; }
  }
  &.onethird {
    width: 100% * 1.0/3.0;
    [data-eq~="#{$column-breakpoint}"] & { width: 100%; }
  }
  &.twothirds {
    width: 100% * 2.0/3.0;
    [data-eq~="#{$column-breakpoint}"] & { width: 100%; }
  }
  &.blank {
    display: none;
  }
}
