$share-link-bg: #333333 !default;
$share-link-color: white !default;

#gato-share-panel {
  z-index: 1000;
  position: absolute;
  background-color: $share-link-bg;
  a {
    font-size: 2.5rem;
    color: $share-link-color;
    display: inline-block;
    margin: 0 1rem;
  }
  &:after, &:before {
    top: 100%;
    left: 20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba($share-link-bg, 0);
    border-top-color: $share-link-bg;
  }

  &:after {
    border-width: 5px;
    margin-left: -5px;
  }
  &:before {
    border-width: 6px;
    margin-left: -6px;
  }
}
