.side_nav {
  a { display: block; }
  .inheritedalert {
    font-size: 1.0rem;
    background-color: $inheritance-blue;
    color: white;
    padding: 0.5rem;
    margin: 1rem;
    text-transform: uppercase;
    a{
      font-size: 1.4rem;
      letter-spacing: 0;
      color: white;
      &:hover{
        background: transparent;
      }
      line-height: 2rem;
    }
  }
  .side_nav_header {
    margin: 0;
  }
  .side_nav_list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    a {
      margin: 0;
    }
  }

  ul.quick-links {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1.2;
    li {
      display: inline-block;
      vertical-align: top;
      font-weight: 300;
      font-size: 1.2rem;
      margin: 0 0.5rem 0.5rem 0;
      body.admin & {
        display: block;
      }
      a {
        display: inline-block;
        text-decoration: none;
        vertical-align: top;
        color: $quick-links-color;
        border: 1px solid $quick-links-border;
        background-color: $quick-links-bg;
        padding: 0.5rem 1rem;
        transition: all .3s;
        &:hover {
          color: $quick-links-color-hover;;
          background-color: $quick-links-bg-hover;
          border-color: $quick-links-border-hover;
        }
      }
    }
    .listItems_add {
      display: block;
    }
  }
}

