.side_nav {
  a { display: block; }
  .inheritedalert {
    font-size: 1.0rem;
    background-color: $inheritance-blue;
    color: white;
    padding: 0.5rem;
    margin: 1rem;
    text-transform: uppercase;
    a{
      font-size: 1.4rem;
      letter-spacing: 0;
      color: white;
      &:hover{
        background: transparent;
      }
      line-height: 2rem;
    }
  }
  .side_nav_header {
    margin: 0;
  }
  .side_nav_list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    a {
      margin: 0;
    }
  }
}
