.gato-sociallink {
  display: block;
  position: relative;
  overflow: hidden;
  line-height: 1.7em;
	.fa {
		color: black;
		font-size: 1.7em;
	}
	img {
	  height: 1.6em;
	}
	img, .fa {
	  display: block;
	  float: right;
    vertical-align: middle;
	}
	.fa-facebook-square { color: #3b5998; }
	.fa-twitter-square { color: #55acee; }
	.fa-youtube-square { color: #cd201f; }
	.fa-github { color: #333333; }
	.fa-flickr { color: #ff0084; }
	.fa-vimeo-square { color: #1ab7ea; }
	.fa-pinterest-square { color: #cc2127; }
	.fa-tumblr-square { color: #35465c; }
	.fa-linkedin-square { color: #0077b5; }
	.fa-instagram { color: #000000; }
	.fa-spotify { color: #2ebd59; }
	.fa-rss-square { color: #f57d00; }
	.fa-snapchat-square { color: #000000;}
  .fa-star { color: #501214; }
  .fa-share-alt-square { color: #6a5638; }
	&.icononly {
	  img, .fa {
	    margin: 0;
	    float: none;
		}
	}
}

.optional-social .mgnlEditor.mgnlPlaceholder {
  display: none !important;
}
