.gato-styled-list {
  list-style: none;
  padding-left: 0;
  margin: 0;

  li:nth-child(even) {background-color: #F7F7F7};
  border-bottom: 1px solid #D8D8D8;



  .styled-list-item {
    font-weight: 500;
    padding: 1.2rem 1.2rem 1rem;
    margin: 0;
    border-top: 1px solid #D8D8D8;
    a.styled-link {
      position: relative;
      color: #501214; //DO WE NEED THIS CONTENT TYPE FOR OTHER TEMPLATES
      .external-link-icon {
        margin-left: 10px;
        margin-bottom: 1px;
        font-weight: bold;
        position: absolute;
        bottom: 0;
      }
    }
  }
}

.has-background .gato-styled-list li.styled-list-item {
  background-color: transparent !important;
}
