//change these color names later

.gato-table{
   
        border: 1px solid $gold;
        width: 100%;
        text-align: left;
        td{
            padding: 3px;
        }

        th{
            padding: 3px;
            background-color: $maroon;
            color: #FFFFFF;

            a { 
                color: #FFFFFF
            }
        }


    &.table-linesh{
        td{
            border-top: 1px solid $gold;
            border-bottom: 1px solid $gold;
        }
    }

    &.table-linesv{
        td{
            border-left: 1px solid $gold;
            border-right: 1px solid $gold;
        }
    }

    &.table-alt tr.even td {
        background-color: $sandstone;
    }

    &.table-fontsm td {
        font-size: .8em;
    }

    &.table-align-right td, &.table-align-right th {
        text-align: right;
    }
}

.tableScroll {
  min-height: .01%;
  overflow-x: auto;
}

.table-wrapper[max-width="600px"] {
    .gato-table.carded{
        border: 0px;
        thead {
            display: none; 
        }
        tr {
            margin-bottom: 10px;
            display: block;
            border-bottom: 2px solid $gold;
        }
        td {
            display: block;
            text-align: right;
            border: 0px;
            border-bottom: 1px dotted $gold;
        }
        td:last-child{
            border-bottom: 0;
        }

        td:before{
            content: attr(data-label);
            float: left;
            font-weight: 400;
        }
    }

    //from Bootstrap's table-responsive
    &.tableScroll {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
    &.tableScroll > .gato-table {
        margin-bottom: 0;
    }
    &.tableScroll > .gato-table > thead > tr > th,
    &.tableScroll > .gato-table > tbody > tr > th,
    &.tableScroll > .gato-table > tfoot > tr > th,
    &.tableScroll > .gato-table > thead > tr > td,
    &.tableScroll > .gato-table > tbody > tr > td,
    &.tableScroll > .gato-table > tfoot > tr > td {
        white-space: nowrap;
    }
}
