//change these color names later

.table-wrapper table.gato-table {

  border: none;
  width: 100%;
  text-align: left;
  caption {
    text-align: left;
  }
  td{
      padding: 0.7rem 1rem !important;
      a{
          color: $table-link;
          &:hover{
              background: transparent;
              text-decoration: none;
          }
      }
  }

  th{
      padding: 0.7rem 1rem !important;
      background-color: $table-header-bg;
      color: $table-header-text;

      a {
          color: $table-header-text;
          &:hover{
              text-decoration: none;
              background: transparent;
          }
      }
  }


    &.table-linesh{
        td{
            border-top: 1px solid $table-border;
            border-bottom: 1px solid $table-border;
        }
    }

    &.table-linesv{
        border-top: 1px solid $table-border;
        border-bottom: 1px solid $table-border;
        td{
            border-left: 1px solid $table-border;
            border-right: 1px solid $table-border;
        }
        th {border: 1px solid $table-header-border;}
    }

    &.table-alt tr.odd td {
        background-color: $table-altrow-bg;
    }

    &.table-fontsm {
      th { font-size: 0.9em; }
      td { font-size: 0.8em; }
    }

    &.table-align-right td, &.table-align-right th {
        text-align: right;
    }

    .tableSortArrow{
        font-size: 1.6rem;
        padding-left: 1rem;
    }
}

.table-wrapper {
  min-height: .01%;
  overflow-x: auto;
}

[data-eq~="600px"] .table-wrapper {
  .gato-table.carded {
    border: 0px;
    thead {
      display: none;
    }
    tr {
      margin-bottom: 0px !important;
      display: block;
      border-bottom: 2px solid $table-carded-border;
    }
    td {
      display: block;
      text-align: right;
      border: 0px;
      border-bottom: 1px dotted $table-carded-border;
    }
    td:last-child{
      border-bottom: 0;
    }
    td:before{
      white-space: pre-wrap;
      content: attr(data-label);
      float: left;
      font-weight: 400;
    }
  }

  /* from Bootstrap's table-responsive */
  &.tableScroll {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  &.tableScroll > .gato-table {
    margin-bottom: 0;
  }
  &.tableScroll > .gato-table > thead > tr > th,
  &.tableScroll > .gato-table > tbody > tr > th,
  &.tableScroll > .gato-table > tfoot > tr > th,
  &.tableScroll > .gato-table > thead > tr > td,
  &.tableScroll > .gato-table > tbody > tr > td,
  &.tableScroll > .gato-table > tfoot > tr > td {
    white-space: nowrap;
  }
}
