.gato-textimage {
  overflow: hidden;
	position: relative;
	.gato-textimage-imageblock {
	  display: block;
		&.left { float: left; margin: 0px $text-image-margin $text-image-margin 0px; }
		&.right { float: right; margin: 0px 0px $text-image-margin $text-image-margin; }
		&.top { margin: 0px auto $text-image-margin auto; }
		&.bottom { margin: $text-image-margin auto $text-image-margin auto; }
    &.hascaption { min-width: 100px; }
    a { padding: 0; margin: 0; display: block; }
		img { display: block; width: 100%; }
	}
	.gato-textimage-caption {
		background: $gemini-bg;
		color: $gemini-text;
		a { color: $gemini-link; }
	}
	&[max-width~="400px"] .gato-textimage-imageblock { float: none; margin: 0px auto $text-image-margin auto; }
}
