.gato-textimage {
  overflow: hidden;
	position: relative;
	.gato-textimage-imageblock {
	  width: 100%;
	  display: block;
		&.left { float: left; margin: $text-image-top $text-image-horiz $text-image-bottom 0px; }
		&.right { float: right; margin: $text-image-top 0px $text-image-bottom $text-image-horiz; }
		&.left, &.right {
      width: 100% * (1.0/3.0);
      [data-eq~="800px"] & { width: 50%; }
      [data-eq~="400px"] & {
        width: 100%;
        float: none;
        margin: $text-image-top auto $text-image-bottom auto;
      }
		}
		&.top { margin: $text-image-top auto $text-image-bottom auto; }
		&.bottom { margin: $text-image-top auto $text-image-bottom auto; }
    &.hascaption { min-width: 100px; }
    a { padding: 0; margin: 0; display: block; }
		img { display: block; width: 100%; }
	}
	.gato-textimage-caption {
		background: $gemini-bg;
		color: $gemini-text;
		a { color: $gemini-link; display: inline; }
	}
}
