/* should be first, to set up variables for other scss files to use */
@import "gato-lib/css/variables";

$column-breakpoint: "600px";
$column-breakpoint-early: "800px";
$column-breakpoint-late: "400px";

$font-path: $resource-root+"/gato-private/css/fonts/files";

$sidebar-leftright: 'right' !default;
