/* should be first, to set up variables for other scss files to use */
@import "gato-lib/css/variables";

/* Standard component colors */
$separator-color: $dark-gray;

$text-image-horiz: 10px;
$text-image-top: 10px;
$text-image-bottom: 10px;
