.main-content {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  @media (max-width:$sm-breakpoint) {
    flex-direction: column;
  }
  main {
    width: 80%;
    @media (max-width:$sm-breakpoint) {
      width: 100%;
    }
  }
  aside {
    width: 20%;
    @media (max-width:$sm-breakpoint) {
      width: 100%;
    }
    .sidebar {
      margin-top: 6rem;
      @media (max-width:$sm-breakpoint) {
        margin-top: 0;
      }
      padding: 0 2rem;
    }
  }
  #trumba\.spud\.1 {
    overflow-x: scroll !important;
  }
}

.side_nav {
  margin-bottom: 2rem;
}

.btn-submit-event {
  color: white;
  background: $maroon;
  border: 0;
  padding: 0.5rem 2rem;
  &:hover {
    background-color: $darkest-maroon;
  }
}
//
#submit-event-modal {
  display: inline-block;
  padding: 3rem;
  .btn-close-modal {
    position: absolute;
    top: 3rem;
    right: 3rem;
    color: white;
    background: $maroon;
    border: 0;
    padding: 0.5rem 2rem;
    &:hover {
      background-color: $darkest-maroon;
    }
  }
}

.calendar-util {
  list-style: none;
  padding-left: 0;
  padding-top: 0.4rem;
  border-top: 1px solid $light-gray;
  li {
    padding: 0;
  }
  a {
    color: $maroon;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
  }
}
