.sidebar {
  padding: 0 2rem;
}
.side_nav {
  margin-bottom: 2rem;
}
.standard-search.gato-search {
  display: none;
}
.btn-submit-event {
  color: white;
  background: $maroon;
  border: 0;
  padding: 0.5rem 2rem;
  &:hover {
    background-color: $darkest-maroon;
  }
}
