.sidebar {
  padding: 0 2rem;
}
.side_nav {
  margin-bottom: 2rem;
}
.standard-search.gato-search {
  display: none;
}
.btn-submit-event {
  color: white;
  background: $maroon;
  border: 0;
  padding: 0.5rem 2rem;
  &:hover {
    background-color: $darkest-maroon;
  }
}

#submit-event-modal {
  width: 75%;
  padding: 3rem;
  .btn-close-modal {
    position: absolute;
    top: 3rem;
    right: 3rem;
    color: white;
    background: $maroon;
    border: 0;
    padding: 0.5rem 2rem;
    &:hover {
      background-color: $darkest-maroon;
    }
  }
}

.calendar-util {
  list-style: none;
  padding-left: 0;
  padding-top: 0.4rem;
  border-top: 1px solid $light-gray;
  li {
    padding: 0.2rem 0;
  }
  a {
    color: $maroon;
    font-size: 1.4rem;
    font-weight: 500;
  }
}

footer {
  position: relative;
  overflow: hidden;
  background: $gold;
  .footer_content {
    padding: 2em 0em;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .footer_column {
    position: relative;
  }
  .txst_logo {
    margin: 0;
  }
  .social-icons {
    ul { list-style-type: none; margin: 0; padding: 0; }
    li {
      float: left;
    }
    a {
      border-radius: 0.5rem !important;
      font-size: 1.6rem !important;
      margin: -2px -4px !important;
      padding: 2px 4px !important;
      margin-right: 0.8rem !important;
      i.fa {
        color: white;
      }
    }
    a:hover { background: rgb(80, 18, 20) !important }
  }
  .about_txstate {
  }
}
