.txst-form-validicon {
	display: none;
	color: #000;
	line-height: 15px;
	min-height: 15px;
	font-size: 14px;
	padding: 10px;
	width: 250px;
	white-space: normal;
  vertical-align: middle;
  position: relative;
  margin-top: 8px;
  &.txst-form-pass, &.txst-form-fail {
    display: flex;
  }
}

.valid-icon-cont {
  display: block;
}

.txst-form[data-eq~="600px"] {
  .valid-icon-cont {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    height: auto;
    &[type=radio]{
      height: 20px;
      width: 20px;
    }
    &[type=checkbox]{
      width: auto;
    }
  }

  .txst-form-spinner {
    margin-top: 13px;
  }
}

.txst-form-pass {
	&:before {
    font-family: 'FontAwesome';
    content: "\f058";
    color: #55885a;
    font-size: 20px;
  }
}

.txst-form-fail {
  background-color: $form-error-background;
  &:before {
    font-family: 'FontAwesome';
    content: "\f05a";
    margin-right: 10px;
    color: #cb3744;
    font-size: 20px;
  }
}

.txst-form-prog {
}

.txst-form-calendar {
	margin-left: 3px;
	padding: 3px 7px;
	line-height: 16px;
	font-size: 11px;
	cursor: pointer;
	background: url(../../gato-template/images/calendar.png) no-repeat top left;
}

.txst-form-spinner {
	float: left;
	display: inline-block;
	margin-left: 12px;
	margin-right: -12px;
	margin-top: 8px;
	width: 0px;
}

.txst-form-text-label {
    font-weight: 500;
    display: block;
    margin-bottom: 0.8rem;
    white-space: normal;
}

.txst-form-text-subtitle {
    font-size: 0.9em;
    font-style: italic;
    display: block;
    line-height: 1.6em;
    white-space: normal;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.txst-form .formelement {
  input {
    &[type=text]{
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    &[type=radio]{
      height: 20px;
      width: 20px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 50%;
      border: 2px solid $form-textfield-border-color;
      margin-right: 15px;
      &:checked {
        border: 6px solid $white;
      }
    }
    &[type=checkbox]{
      position: absolute;
      left: -9999px;

      & + label {
        position: relative;
        padding-left: 3.8rem;
      }

      & + label:before {
        content: '';
        position: absolute;
        left: 0;
        width: 20px; 
        height: 20px;
        border: 2px solid $form-textfield-border-color;
        border-radius: 3px;
        background: #fff;
      }

      &:checked + label:before {
        border-color: $white;
      }

      &:checked + label:after {
        font-family: 'FontAwesome';
        content: '\f00c';
        position: absolute;
        top: 4px;
        left: 3px;
        font-size: 16px;
        line-height: 0.8;
        color: $form-checkbox-check-color;
        transition: all .2s;
      }
    }
  }
}

.txst-form-selection-label:hover {
    text-decoration: underline;
}

.txst-form-selectiongroup {
  display: flex;
  flex-direction: column;
}

.txst-form-selection-item {
  width: 100% !important;
  border: 2px solid $form-textfield-border-color;
  border-radius: 2px;
  padding: 10px;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  
  div.helptext {
    margin-bottom: 0 !important;
    margin-left: 40px;
    margin-top: 10px;
  }
  
  &.selected {
    background-color: $form-selection-background-color;
    border-color: $form-selection-background-color;
    color: $form-selection-text-color;
      div.helptext {
      color: $form-selection-text-color;
    }
  }
  &.focused {
    border-color: $ada-focus-color;
    input {
      outline: none;
    }
  }
}

.txst-form {
  background-color:$white;
  padding: 2rem;
  margin-bottom: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  word-wrap: break-word;
  .formelement {
    margin-bottom: 3rem;
    max-width: 60rem;
    white-space: normal !important;
    fieldset.selectiongroup {
      border: 0;
      padding: 0;
      legend {
        width: 100%;
        padding: 1px 0;
      }
    }
    >select{
      width: 100%;
    }
    .helptext {
      font-size: 1.4rem;
      color: $form-helptext-color;
      margin-bottom: 1rem;
    }
    .txst-select {
      display: block;
	    padding: 1rem;
      max-width: 100%; 
      box-sizing: border-box;
      margin: 0;
      border: 2px solid $form-textfield-border-color;
      border-radius: 3px;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: #fff;
      position: relative;
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
      background-repeat: no-repeat;
      background-position: right .7em top 50%;
      background-size: .65em auto;
      &:focus {
        outline: none;
        border-color: $ada-focus-color
      }
    }
  }
  .gato-textimage {
    margin-bottom: 3rem;
  }
  .txst-khan-alert {
    position: relative;
    border: 3px solid black;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
    a{
      color: $form-alert-link-color;
      &:hover{
        text-decoration: none;
        background: transparent;
      }
    }
  }
  input.text, textarea, picker__input {
    width: 100%;
    border: 2px solid $form-textfield-border-color;
    border-radius: 3px;
    padding: 1rem;
    &:focus {
      border-color: $ada-focus-color;
      outline: none;
    }
  }
  textarea{
    max-width: 60rem;
  }
  input[type=file]{
    line-height: 1rem;
    font-size: 1.6rem;
  }

  button.submit{
    padding: 1.8rem 4rem;
    margin-top: 1rem;
		&:disabled {
			cursor: not-allowed;
			opacity: 0.5;
		}
  }

	.picker__button--today[disabled] {
		color: #707070;
	}
  .picker__select--year,.picker__select--month{
    height: 2.2em;
		option[disabled=""] {
			color: #6b6b6b;
		}
  }
	.picker__weekday {
		font-weight: bold;
		color: $form-datepicker-weekday-color;
	}

	.picker__day.picker__day--infocus {
		font-weight: 500;
		&.picker__day--disabled {
			font-weight: 200;
		}
	}

	//current month, disabled
	.picker__day--disabled {
		color: #707070;
		background-color: #fff;
		border-color: transparent;
		font-weight: 200;
	}
	//not current month
	.picker__day.picker__day--outfocus {
		color: black;
		background-color: $form-datepicker-inactive-month;
		font-weight: 500;
		//not current month and also disabled
		&[aria-disabled=true] {
			color: #707070;
			font-weight: 200;
		}
	}
  a.link-with-children:hover{
    background-color: transparent;
  }
}

.txst-khan-privacypolicylink {
  font-size: 1.4rem;
  padding-top: 2rem;
}

.txst-khan-notice {
  margin-top: 5px;
  background-color: #ffffaa;
	color: #222;
}

.charcounter{
  text-align: right;
  font-size: 1.4rem;
  height: 1.5rem;
  position: relative;
  bottom: 1rem;
}

.gato-area-mail-important {
  display: none;
}

.formelement.conditional {
	.txst-khan-notice {
		display: none;
	}
	&.edit {
		.txst-khan-notice {
			padding: 1rem;
			display: block;
		}
  }
  .helptext.conditional, fieldset.conditional {
    margin-bottom: 3rem;
  }
  .dependent-question .txst-khan-notice.inactivealert {
    margin-bottom: 3rem;
  }
  .dependent-question.active .txst-khan-notice.inactivealert {
    display: none;
  }
}

.dependent-question {
  display: none;
  &.active {
    display: block;
  }
  .conditionalert {
    margin-bottom: 3rem;
    background-color: $form-error-background;
    display: flex;
    padding: 1rem;
    i {
      color: #cb3744;
      margin-right: 1rem;
      font-size: 25px;
    }
  }
}

.edit .dependent-question {
  display: block;
  background-color: #e0e0e0;
  input,textarea {
    filter: unquote("grayscale()");
  }
  &.active {
    background-color: transparent;
    input,textarea {
      filter: none;
    }
  }
}

.edit .dependentquestion-add, .edit .dependent-question {
	margin-left: 4rem;
}
