.txst-form-validicon {
	display: inline-block;
	color: #b30e1b;
	line-height: 12px;
	min-height: 12px;
	font-size: 11px;
	padding: 3px 0px 3px 20px;
	margin-left: 2px;
	width: 250px;
	white-space: normal;
	vertical-align: middle;
}

.valid-icon-cont {
  display: inline-block;
}

.txst-form[data-eq~="600px"] {
  .valid-icon-cont {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    height: auto;
    &[type=radio]{
      width: auto;
    }
    &[type=checkbox]{
      width: auto;
    }
  }

  .txst-form-spinner {
    margin-top: 13px;
  }
}

.txst-form-pass {
	color: black;
	background: url(../../gato-template/images/validpass.png) no-repeat center left;
}

.txst-form-fail {
	background: url(../../gato-template/images/validfail.png) no-repeat center left;
}

.txst-form-prog {
}

.txst-form-calendar {
	margin-left: 3px;
	padding: 3px 7px;
	line-height: 16px;
	font-size: 11px;
	cursor: pointer;
	background: url(../../gato-template/images/calendar.png) no-repeat top left;
}

.txst-form-spinner {
	float: left;
	display: inline-block;
	margin-left: 12px;
	margin-right: -12px;
	margin-top: 8px;
	width: 0px;
}

.txst-form-text-label {
    font-weight: 500;
    display: block;
    margin-bottom: 0.8rem;
    white-space: normal;
}

.txst-form-text-subtitle {
    font-size: 0.9em;
    font-style: italic;
    display: block;
    line-height: 1.6em;
    white-space: normal;
}

.txst-form-selection-label {
    margin-left: 0.5em;
}

.txst-form-selection-label:hover {
    text-decoration: underline;
}

.txst-form-selection-item {
  display: block;
  width: 100% !important;
}

.txst-form {
  background-color:$white;
  padding: 2rem;
  margin-bottom: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  word-wrap: break-word;
  .formelement {
    margin-bottom: 3rem;
    max-width: 60rem;
    white-space: normal !important;
    fieldset.selectiongroup {
      border: 0;
      legend {
        width: 100%;
      }
    }
    >select{
      width: 100%;
    }
  }
  .txst-khan-alert {
    position: relative;
    border: 3px solid black;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
    a{
      color: $form-alert-link-color;
      &:hover{
        text-decoration: none;
        background: transparent;
      }
    }
  }
  input.text, textarea, picker__input{
    width: 100%;
    border: 3px solid $form-textfield-border-color;
    border-radius: 3px;
    background-color: $form-textfield-background-color;
    padding: 0.5rem 1rem;
  }
  textarea{
    max-width: 60rem;
  }
  input[type=file]{
    line-height: 1rem;
    font-size: 1.6rem;
  }
  button.submit{
    padding: 1.8rem 4rem;
    margin-top: 1rem;
  }

	.picker__button--today[disabled] {
		color: #707070;
	}
  .picker__select--year,.picker__select--month{
    height: 2.2em;
		option[disabled=""] {
			color: #6b6b6b;
		}
  }
	.picker__weekday {
		font-weight: bold;
		color: $form-datepicker-weekday-color;
	}

	//current month, disabled
	.picker__day--disabled {
		color: #707070;
		background-color: $form-datepicker-inactive-month;
		font-weight: 200;
	}
	//not current month
	.picker__day.picker__day--outfocus {
		color: black;
		//not current month and also disabled
		&[aria-disabled=true] {
			color: #707070;
		}
	}
  a.link-with-children:hover{
    background-color: transparent;
  }
}

.txst-khan-privacypolicylink {
  font-size: 1.4rem;
  padding-top: 2rem;
}

.txst-khan-notice {
  margin-top: 5px;
  background-color: #ffffaa;
	color: #222;
}

.charcounter{
  text-align: right;
  font-size: 1.4rem;
  height: 1.5rem;
  position: relative;
  bottom: 1rem;
}

.gato-area-mail-important {
  display: none;
}
