.txst-form-validicon {
	display: inline-block;
	color: #b30e1b;
	line-height: 12px;
	min-height: 12px;
	font-size: 11px;
	padding: 3px 0px 3px 20px;
	margin-left: 2px;
	width: 250px;
	white-space: normal;
	vertical-align: middle;
}

.valid-icon-cont {
  display: inline-block;
}

[data-eq~="600px"] .txst-form-body {
  .valid-icon-cont {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    height: auto;
    &[type=radio]{
      width: auto;
    }
    &[type=checkbox]{
      width: auto;
    }
  }

  .txst-form-spinner {
    margin-top: 13px;
  }
}

.txst-form-pass {
	color: black;
	background: url(../../gato-template/images/validpass.png) no-repeat center left;
}

.txst-form-fail {
	background: url(../../gato-template/images/validfail.png) no-repeat center left;
}

.txst-form-prog {
}

.txst-form-calendar {
	margin-left: 3px;
	padding: 3px 7px;
	line-height: 16px;
	font-size: 11px;
	cursor: pointer;
	background: url(../../gato-template/images/calendar.png) no-repeat top left;
}

.txst-form-spinner {
	float: left;
	display: inline-block;
	margin-left: 12px;
	margin-right: -12px;
	margin-top: 8px;
	width: 0px;
}

.txst-form-text-label {
    font-weight: 500;
    display: block;
    margin-bottom: 0.8rem;
}

.txst-form-text-subtitle {
    font-size: 0.9em;
    font-style: italic;
    display: block;
    line-height: 1.6em;
    white-space: normal;
}

.txst-form-selection-label {
    margin-left: 0.5em;
}

.txst-form-selection-label:hover {
    text-decoration: underline;
}

.txst-form-selection-item {
  display: block;
  width: 100% !important;
}

.txst-form-body {
  background-color:$white;
  padding: 2rem;
  margin-bottom: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  .formelement {
    margin-bottom: 3rem;
    max-width: 60rem;
    white-space: normal !important;
    fieldset.selectiongroup {
      border: 0;
    }
    >select{
      width: 100%;
    }
  }
  .txst-khan-alert {
    position: relative;
    border: 3px solid black;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
    a{
      color: $form-alert-link-color;
      &:hover{
        text-decoration: none;
        background: transparent;
      }
    }
  }
  input.text, textarea, picker__input{
    width: 100%;
    border: 3px solid $form-textfield-border-color;
    border-radius: 3px;
    background-color: $form-textfield-background-color;
    padding: 0.5rem 1rem;
  }
  textarea{
    max-width: 60rem;
  }
  input[type=file]{
    line-height: 1rem;
    font-size: 1.6rem;
  }
  input.submit{
    font-weight: 500;
    color: $form-submit-text-color;
    box-shadow: 0 4px $form-submit-box-shadow-color;
    background: $form-submit-background-color;
    padding: 1.8rem 4rem;
    margin-top: 1rem;
    text-transform: uppercase;
    border-radius: 3px;
    @include vendor-prefix(transition, background 0.2s ease-in-out);
    position: relative;
    border: none;
    &:hover{
      background: $form-submit-hover-background-color;
    }
    &:active{
      box-shadow: 0 0 $form-submit-box-shadow-color;
      top: 4px;
    }
  }
  .picker__select--year,.picker__select--month{
    height: 2.2em;
  }
  a.link-with-children:hover{
    background-color: transparent;
  }
}

.txst-khan-privacypolicylink {
  font-size: 1.4rem;
  padding-top: 2rem;
}

.txst-khan-notice {
  margin-top: 5px;
  background-color: #ffffaa;
}

.charcounter{
  text-align: right;
  font-size: 1.4rem;
  height: 1.5rem;
  position: relative;
  bottom: 1rem;
}
