*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Target Directories #
*target/

# Eclipse metadata #
*.project
*.classpath
*.settings/

# Apache tomcat #
tomcat
*tomcat*/

# direnv configuration #
*.envrc

# Junk Files #
*.DS_Store
*derby.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# sass cache and result files
*.sass-cache
*.css.map
*.compiled.css

# ignore non-directories (and symlinks) under resources/
resources/*
!resources/*/

# set up an ignored file to store global variables for the rebuild script
rebuild_vars.pl

# ignore vscode workspace
.vscode
.factorypath