/* styles for buttons */
a.button{
  &.small{
    padding: 0.6rem 1rem;
    font-size: 60%; //also a starting point
    font-weight: 400;
  }

  &.rollover.small{
    padding:0px;
    span{padding: 0.6rem 1rem;}
  }

  &.large{
    padding: 2rem 3rem;
    font-size: 110%; //also a starting point
    font-weight: 700;
  }

  &.rollover.large{
    padding:0px;
    span{padding: 2rem 3rem;} 
  }

  &.block {
    display: block;
    width: 100%;
  }
}





