
/* Calendar */
$event-box-shadow-color: $sandstone;
$event-header-background: $maroon;
$event-header-color: $white;
$event-header-background-hover: $light-maroon;
$event-header-title-color: $white;
$event-header-box-shadow-color: $lightest-maroon;
$event-detail-link-color: $maroon;
$event-detail-detailsbox-background: $sandstone;
$event-detail-detailsbox-color: $very-dark;

/* RSS */
$rss-box-shadow-color: $sandstone;
$rss-header-background: $gold;
$rss-header-color: $white;
$rss-header-background-hover: $light-gold;
$rss-header-box-shadow-color:  $lightest-gold;

/* Text and Image */
$text-image-caption-background: $sandstone;
$text-image-caption-color: $very-dark;
$text-image-caption-link-color: $maroon;
$text-image-horiz: 3rem;
$text-image-top: 2rem;
$text-image-bottom: 1.5rem;

/* FAQ */
$faq-item-background-color: $sandstone;
$faq-item-text-color: $very-dark;
$faq-item-background-hover-color: $dark-sandstone;
$faq-item-text-hover-color: $very-dark;
$faq-item-box-shadow-color: $sandstone;
$faq-group-title-text-color: $very-dark;
$faq-group-box-shadow-color: $sandstone;
$faq-question-box-shadow-color: $khaki;

/* Rich Editor Tables */
$table-header-bg: $gold;
$table-header-text: $white;
$table-header-border: $lightest-gold;
$table-border: $khaki;
$table-carded-border: $gold;
$table-link: $maroon;
$table-altrow-bg: $light-sandstone;
$table-caption-background: $gold;
$table-caption-color: $white;

/* Article Link */
$articlelink-more-text: $blue;

/* Icon and Text */
$icontext-title-underline-top-color: $khaki;
$icontext-title-underline-bottom-color: $sandstone;
$icontext-text-color: $very-dark;
$icontext-title-color: $gold;

/* Percent Display */
$progress-inner-circle-color: #e4e4e4;
$progress-outer-circle-color: #e4e4e4;
$progress-outer-circle-fill-color: $oldgold;
$progress-title-color: $charcoal;
$progress-percent-color: $charcoal;

/* Documents */
$document-icon-color: $charcoal;
$document-details-text-color: $gold;

/* Gallery */
$gallery-caption-text-color: $white;
$gallery-top-bar-background-color: $gold;
$gallery-top-bar-border-color: $gold-shadow;
$gallery-tooltip-link-color: $blue;
$gallery-facebook-border-color: $sandstone;
$gallery-arrow-color: $white;

/* Feature */
$feature-arrow-text-shadow-color: $charcoal;
$feature-play-button-default-background: $maroon;
$feature-play-button-default-color: $white;
$feature-play-button-hover-background: $light-maroon;

/* Forms */
$form-alert-link-color: $maroon;
$form-textfield-border-color: $gold;
$form-textfield-background-color: $sandstone;
$form-submit-text-color: $white;
$form-submit-box-shadow-color: $gold-shadow;
$form-submit-background-color: $gold;
$form-submit-hover-background-color: $light-gold;

/* Department Directory */
$directory-name-color: $maroon;
$directory-email-color: $blue;
$directory-icon-color: $charcoal;
$directory-title-color: $gold;
$directory-address-color: $gold;

/* Video embed */
$streaming-wrapper-link-color: $blue;

/* Separator */
$separator-color: $khaki;

/* Sidebar Quick Links */
$quick-links-color: $almost-black;
$quick-links-border: $light-gray;
$quick-links-bg: transparent;
$quick-links-color-hover: $mc1-text;
$quick-links-border-hover: $mc1-border;
$quick-links-bg-hover: $mc1-bg;

/* Masonry / Mosaic */
$rss-card-readmore-color: $blue;
$rss-card-stripe-color: $gold;
$rss-card-background-color: #efefef;
$rss-card-title-color: $gold;
$rss-card-entry-title-color: $charcoal;
$rss-card-summary-color: $black;
$rss-card-date-color: $charcoal;
$masonry-card-box-shadow-color: $charcoal;

/* Filterable Search */
$filterable-search-divider-color: $light-gray;
$filterable-search-results-bg-color: $whitesmoke;
$filterable-search-result-title-color: $black;
$filterable-search-active-filter-bg-color: $maroon;
$filterable-search-active-filter-color: $white;
$filterable-search-toggle-filters-button-color: $maroon;
$filterable-search-selected-filter-bg-color: $maroon;
$filterable-search-selected-filter-color: $white;
