.footer {
  background: $footer-background;
  width: 100%;
  color: $footer-text;
  position: relative;
  font-size: 1.2rem;
  line-height: 2.4rem;
  @media (min-width: $xs-breakpoint) { font-size: 1.1rem; line-height: 1.9rem; }
  a {
    padding: 5px;
    margin: -5px;
    &:hover {background: $footer-link-hover-background;}
  }
  h3.contact_us a, .image_link {
    &:hover {background: transparent; opacity: 1;}
  }
}

.footer_content {
  margin: auto;
  text-align: left;
  padding: 2.8rem 0;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  max-width: 1000px;
  a {
    text-decoration: none;
    color: $footer-text;
    &:hover {text-decoration: none;}
  }
  a.btt {
    display: block;
    position: absolute;
    top: 13px;
    left: 50%;
    margin-left: -2.5rem;
    padding: 0px;
    width: 5rem;
    text-align: center;
    font-size: 1.1rem;
    line-height: normal;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    @include vendor-prefix(transition, all 0.2s ease-in-out);
    i {
      font-size: 1.5rem;
    }
    &:hover{
      color: #fff !important;
      background: transparent !important;
    }
    @media (min-width: $xs-breakpoint) {
      font-size: 1.2rem;
    }
  }
}


.footer_column {
  padding: 0 18px;
  @media (min-width: $xs-breakpoint) {
    width: 33.33%;
    float: left;
  }
}

.footer_column_1 {
    margin-top: 48px;
    text-align: center;
}
.foot_linkage {
  text-align: center;
  margin-bottom: 32px;
  list-style: none;
  padding-left: 0px;
  line-height: 2.4rem;
  @media (min-width: $xs-breakpoint) { text-align: right; }
}
.apply_now {
    display: block;
    text-align: center;
    background: transparent;
    text-decoration: none !important;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 3px;
    @include vendor-prefix(transition, all 0.2s ease-in-out);
    border: 2px solid $footer-button-border;
    padding: 1.8rem 0 !important;
    font-size: 1.6rem;
    &:hover{
        border-color: $footer-button-hover-border;
    }
    @media (min-width: $xs-breakpoint) {
      max-width: 200px;
      float: right;
      padding: 12px 40px !important;
      font-size: 1.3rem;
    }
}

h3.contact_us {
  margin: 0 0 18px 0;
  font-family: 'Adobe Garamond W01', Garamond, 'Goudy Old Style', 'Times New Roman', serif;
  font-size: 2.4rem;
  font-weight: normal;
  a {
    padding: 0px;
  }
  @media (min-width: $xs-breakpoint) {
    font-size: 2.3rem;
  }
}

.txst_logo {
    margin: 4rem auto;
    max-width: 250px;
}
.txst_logo img {width: 100%; height: auto;}

@media screen and (min-width: $xs-breakpoint) {
    .footer_column_1 {margin-top: auto; text-align: left;}
}

@media screen and (min-width: $xl-breakpoint) {
    .footer_content {max-width: 1200px;}
    .txst_logo {max-width: 280px;}
}
