.footer {
    background: $footer-background; 
    width: 100%; 
    color: $footer-text; 
    position: relative;
    a {
        padding: 5px; 
        margin: -5px;
        &:hover {background: $footer-link-hover-background;}
    }
    h3 a:hover {background: transparent; opacity: 1;}
}

a.image_link:hover{background: transparent; opacity: 1;}

.footer_content {
    margin: auto; 
    text-align: left; 
    padding: 1.75rem 0; 
    letter-spacing: 1px; 
    position: relative; 
    overflow: hidden;
    max-width: 1000px;
    a {
        text-decoration: none; 
        color: $footer-text;
        &:hover {text-decoration: none;}
    }
}

.dept_info {position: relative; line-height: 1.2rem; margin-left: 0; padding-left: 0;}

.footer_column {padding: 0 1rem;}
.footer_column_1 {
    margin-top: 3rem; 
    text-align: center;
}
.foot_linkage {
    text-align: center; 
    margin-bottom: 2rem;
    list-style: none;
    padding-left: 0px;
}
.apply_now {
    display: block; 
    text-align: center; 
    margin: 3rem 0 1rem 0 !important; 
    background: transparent; 
    text-decoration: none !important; 
    text-transform: uppercase; 
    font-weight: 400; 
    border-radius: 3px; 
    @include vendor-prefix(transition, all 0.2s ease-in-out);
    border: 2px solid #FFFFFF;
    max-width: 100%; 
    padding: 1.2rem 0 !important; 
    font-size: 1rem;
}

.contact_us {
    font-size: 1.5rem; 
    margin: .5rem auto 0 auto;
    font-family: 'Adobe Garamond W01', Garamond, 'Goudy Old Style', 'Times New Roman', serif; 
    font-weight: 500; 
    line-height: 1.6rem;
}

.txst_logo {
    margin: 4rem auto;
    max-width: 250px;
}
.txst_logo img {width: 100%; height: auto;}


.office_contact, .foot_linkage, .office_contact_2 p {font-size: .8rem; line-height: 1.5rem;}

.footer_content {max-width: 1000px;}

.footer_btt {
    height: 0px;
}

.btt {
    text-align: center;
    display: block;
    color: #FFF !important;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.7rem;
    padding: 0px !important;
    margin: 0px auto !important;
    text-decoration: none !important;
    position: relative;
    top: -15px;
    transition: all 0.2s ease-in-out 0s;
    max-width: 5rem;
    i {
        font-size: 130%;
    }
}

.footer_content[min-width~="#{$xs-breakpoint}"] > .footer_column{
    width: 33.33%;
    float: left;
}


@media screen and (min-width: $xs-breakpoint) {
    .footer_column_1 {margin-top: auto; text-align: left;}
    //.dept_info {margin-left: 1.2rem; padding-left: 0.6rem;}
    .foot_linkage {text-align: right; margin-bottom: 0.7rem;;}
    .contact_us {font-size: 1.2rem; margin: .5rem auto 1rem auto;}
    .office_contact, .foot_linkage {font-size: .65rem; line-height: 1.4rem;}
    .office_contact p {font-size: .65rem; line-height: 1.1rem;}
    .apply_now {display: inline; max-width: 200px; float: right; padding: 0.7rem 2.4rem !important; font-size: .75rem; margin: 1rem 0 !important;}
}

@media screen and (min-width: $xl-breakpoint) {
    .footer_content {max-width: 1200px;}
    .txst_logo {max-width: 280px;}
}