.footer {
  background: $footer-background;
  width: 100%;
  color: $footer-text;
  position: relative;
  font-size: 1.3rem;
  line-height: 2.2rem;
  @media (max-width: $xs-breakpoint) { font-size: 1.5rem; line-height: 2.8rem; }
  a {
    padding: 5px;
    margin: -5px;
    &:hover {background: $footer-link-hover-background;}
  }
  h3.contact_us a, .image_link {
    margin: 0; padding: 0;
    &:hover {background: transparent; opacity: 1;}
  }
}

.footer_content {
  margin: auto;
  text-align: left;
  padding: 5.0rem 0 6.0rem 0;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  max-width: 1200px;
  @media  (max-width: $xl-breakpoint) {max-width: 1000px;}
  a {
    text-decoration: none;
    color: $footer-text;
    &:hover {text-decoration: none;}
  }
  a.btt {
    display: block;
    position: absolute;
    top: 18px;
    left: 50%;
    margin-left: -2.5rem;
    padding: 0px;
    width: 5rem;
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: normal;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    @include vendor-prefix(transition, all 0.2s ease-in-out);
    @media (max-width: $xs-breakpoint) { font-size: 1.5rem; }
    i {
      display: block;
      font-size: 1.8rem;
      padding-bottom: 0.4rem;
    }
    &:hover{
      color: #fff !important;
      background: transparent !important;
    }
  }
}


.footer_column {
  padding: 0 2rem;
  width: 33.33%;
  float: left;
  @media (max-width: $xs-breakpoint) {
    width: 100%;
    float: none;
  }
}

.footer_column_1 {
  margin-top: 0rem;
  text-align: left;
  @media (max-width: $xs-breakpoint) {
    margin-top: 4rem; text-align: center;
  }
}



.foot_linkage {
  text-align: right;
  margin: 0px 0px 3.2rem 0px;
  list-style: none;
  padding-left: 0px;
  line-height: 3.2rem;
  @media (max-width: $xs-breakpoint) { text-align: center; margin: 0px 0px 4.5rem 0px; }
}
.apply_now {
    display: block;
    margin: 0;
    text-align: center;
    background: transparent;
    text-decoration: none !important;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 3px;
    @include vendor-prefix(transition, all 0.2s ease-in-out);
    border: 3px solid $footer-button-border;
    padding: 1.5rem 6rem !important;
    font-size: 1.5rem;
    float: right;
    line-height: normal;
    &:hover {
        border-color: $footer-button-hover-border;
    }
    @media (max-width: $sm-breakpoint) {
      padding: 1.5rem 5rem !important;
    }
    @media (max-width: $xs-breakpoint) {
      float: none;
      font-size: 1.8rem;
      padding: 2.2rem 0 !important;
      
    }
}

h3.contact_us {
  margin: .5rem 0 2.5rem 0;
  font-family: $garamond;
  font-size: 2.4rem;
  font-weight: normal;
  line-height: normal;
  @media (max-width: $sm-breakpoint) { font-size: 2.8rem; }
  a {
    padding: 0px;
  }
}

.txst_logo {
    margin: 7rem auto 0 auto;
    @media (max-width: $sm-breakpoint) { margin: 7rem auto; }
    max-width: 280px;
    @media (max-width: $xl-breakpoint) {max-width: 250px;}
}
.txst_logo img {width: 100%; height: auto;}




