//General Styles that apply to the whole page
/* _default.scss */
body {
    font-family: 'Univers W01',Helvetica,Calibri,Arial,sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizelegibility;
    background-color: $gold;
}

a, a:link, a:visited {
    color: $maroon;
    text-decoration: none;
}

a:hover, a:active {text-decoration: none;}

input{
    font-family: inherit;
    line-height: inherit;
}

button{
    font-weight: inherit;
}

h1 {
  font-size: 2.9rem;
  padding: 0.5em;
  @media (min-width: $xs-breakpoint) {
    font-size: 3.8rem;
  }
  @media (min-width: $md-breakpoint) {
    font-size: 4.2rem;
  }
}
h2 {
    margin: 0 auto .5em auto;
    font-size: 1.8em;
    font-weight: 700;
}

hr {margin-bottom: 2em;}

img {max-width: 100%;}

*, *:before, *:after {
    @include vendor-prefix(box-sizing, border-box);
}

.float_left {float: left;}
.float_right {float: right;}

.clearfix:before, .clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}


@media (min-width: $xs-breakpoint) {
    body {font-size: 1.7rem;}
}

@media (min-width: $md-breakpoint) {
    body {font-size: 1.8rem;}
}

