//General Styles that apply to the whole page
/* _default.scss */
html {
  @media (max-width: $xl-breakpoint) { font-size: 59.5%; }
  @media (max-width: $md-breakpoint) { font-size: 56.5%; }
  @media (max-width: $mc-breakpoint) { font-size: 53.5%; }
}


body {
    font-family: $univers;
    text-rendering: optimizelegibility;
    color: $main-text;
}

body, table { /* in IE 8 apparently tables need a special invitation to use the body font size */
  font-size: 1.8rem;
}

a, a:link, a:visited {
    color: $maroon;
    text-decoration: none;
}

a:hover, a:active {text-decoration: none;}

input{
    font-family: inherit;
    line-height: inherit;
}

button{
    font-weight: inherit;
}

h1 {
  font-size: 2.9rem;
  padding: 0.5em;
}
h2 {
    margin: 0 auto .5em auto;
    font-size: 1.8em;
    font-weight: 700;
}

hr {margin-bottom: 2em;}

*, *:before, *:after {
    @include vendor-prefix(box-sizing, border-box);
}

.float_left {float: left;}
.float_right {float: right;}

::-moz-selection {background: #d0dfd9; text-shadow: none;}
::selection {background: #d0dfd9; text-shadow: none;}

