#search-results {
  &.web {
    .search-people {
      display: none;
    }
  }
  &.people {
    .search-web, .search-side-people {
      display: none;
    }
  }

  a {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 1px 3px;
    margin: -1px -3px;
    color: $content-link-text;
    text-decoration: underline;
    &:hover {background: $content-link-hover;}
  }

  .search-tabs {
    width: 100%;
    margin: 0 0 2rem 0;
    list-style: none;
    border-bottom: 1px solid $dark-sandstone;
    overflow: hidden;
    padding: 0;
    li {
      float: left;
      text-transform: uppercase;
      cursor: pointer;
      padding: 1rem;
      width: 10rem;
      font-family: $garamond;
      text-align: center;
      color: $dark-gray;
      &[aria-selected="true"] {
        background-color: $sandstone;
        color: $maroon;
      }
    }
  }

  .search-form {
    position: relative;
    border-bottom: 3px solid $gold;
    padding-bottom: 0.5rem;
    margin-bottom: 4rem;
    width: 50rem;
    font-size: 2.4rem;
    @media screen and (max-width: $mc-breakpoint) {
        font-size: 2rem;
    }
    input.search {
        background: transparent;
        border: none;
        width: 100%;
        color: #222;
        font-weight: 500;
        font-family: $univers;
        &::-webkit-input-placeholder {color: $gold;}
        &::-moz-placeholder {color: $gold;}
        &:-ms-input-placeholder {color: $gold;}
        &:-moz-placeholder {color: $gold; opacity: 1;}
        &:focus{
            outline-width: 0;
        }
    }
    .icon {
        background: transparent;
        border: none;
        float: right;
        color: $gold;
        position: absolute;
        right: 0;
        top: 0;
    }
  }

	.search-container.global {
    padding: 0 2rem;
	}

  .search-column-main {
    width: 100% * 2.0/3.0;
    min-height: 40rem;
    float: left;
    padding: 0 2rem;
    @media screen and (max-width: $sm-breakpoint) {
      width: 100%;
    }
    .person {
      position: relative;
      overflow: hidden;
      margin: 1rem 0;
      padding: 1rem;
      border: 1px solid $sandstone;
      .person-name {
        border-bottom: 1px dotted $dark-sandstone;
        margin-bottom: 0.5rem;
        font-weight: 500;
        color: $maroon;
      }
      .person-category {
        position: absolute;
        top: 1rem;
        right: 1rem;
      }
      dl {
        overflow: hidden;
        margin: 0;
        width: 50%;
        float: left;
      }
      &[data-eq~="600px"] dl {
        width: 100%;
      }
      dt {
        width: 14rem;
        font-weight: 500;
        float: left;
        text-align: right;
        padding-right: 2rem;
      }
      dd {
        margin-left: 14rem;
      }
      dt, dd {
        font-size: 1.7rem;
      }
    }
  }
  .search-column-side {
    width: 100% * 1.0/3.0;
    float: left;
    padding: 0 2rem;
    @media screen and (max-width: $sm-breakpoint) {
      width: 100%;
    }

    .search-side-box {
      border: 1px solid $sandstone;
      margin-bottom: 3rem;
      h4 {
        margin: 0;
        padding: 1rem;
        background-color: $sandstone;
        color: $maroon;
        font-weight: 500;
      }
      .search-side-results {
        padding: 1rem;
        .person {
          margin-bottom: 1.5rem;
          .person-name {
            font-weight: 500;
            color: $dark-gold;
          }
        }
      }
    }
  }

}
