//Styles for the top of the page.  This includes the 'super user' menu,
//the banner area with the Texas State logo and search bar, the header
//image, the parent organization, and the title

/* _header.scss */
.bg_overlay, .bg_image, .bg_image_none {
    display: block;
    @media (max-width: $xs-breakpoint){
      display: none;
    }
}

.banner {
    @include vertical-gradient($banner-top, $banner-bottom);
    border-bottom: 2px solid $banner-bottom-border;
    padding: 0px 20px;
    padding: 0px 2.0rem;
    height: 70px;
    @media (max-width: $sm-breakpoint){
      height: 60px;
    }
    @media (max-width: $mc-breakpoint){
      padding: 0 1.5rem;
    }
}
.banner_content {margin: auto;}
.banner_logo {
    width: 225px;
    float: left;
    img {max-width: 100%; margin-top: 15px;}
    @media (max-width: $sm-breakpoint){
      width: 195px;
      img {margin-top: 11px;}
    }
    @media (max-width: $mc-breakpoint){
      width: 165px;
      img{margin-top: 15px;}
    }
}

.standard-search{
  button.search-link {
    padding: 0.5rem; 
    background: none;
  }
  &.txst_search {
    margin-top: 1.6rem;
    float: right;
    position: relative;
    display: block;
    @media (max-width: $xl-breakpoint) {
      margin-top: 1.8rem;
    }
    @media (max-width: $md-breakpoint) {
      margin-top: 2rem;
    }
    @media (max-width: $sm-breakpoint){
      display: none;
    }
    .icon {
      margin-left: 1.5rem; 
      font-size: 2.4rem; 
      top: 0.2rem;
      background: transparent;
      border: none;
      height: auto;
      width: auto;
      position: relative;
      color: $darkest-gold;
    }
  }
  span{
    font-size: 2rem;
  }
}

input[type="search"]:focus {outline: none;}

.header_with_image, .header_no_image {
    position: relative;
    overflow: hidden !important;
    background:$maroon;
}

.header_no_image{
  min-height: 120px; padding: 0;
  @media (max-width: $sm-breakpoint){
    min-height: 100px; padding: 0;
  }
  @media (max-width: $xs-breakpoint){
    min-height: 70px; padding: 0;
  }
}

.header_with_image{
  min-height: 220px; padding: 0;
  @media (max-width: $xl-breakpoint){
    min-height: 180px; padding: 0;
  }
  @media (max-width: $xs-breakpoint){
    min-height: 70px; padding: 0;
  }
}

.headerImage_admin {
  margin: 0px auto 0px auto;
  width: 60%;
}

.parentOrg_add{
  width: 50%;
}

body.admin .header_no_image {
  .title{
    position: relative;
  }
}

.bg_container {
  background: $header-background;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  width: 100%;
  height: 100%;
  #headerImage {
    position: absolute;
    top: -25%;
    top: calc(-65px);
    left: 0px;
    height: 150%;
    height: calc(100% + 130px);
    width: 100%;
    overflow: hidden;
    &.bg_image { opacity: 0; }
    &.bg_image_none { display: none; }
    img {
      display: block;
      position: absolute;
      left: 0px;
      top: 0px;
    }
  }
}

.dept_name, .title {position: relative;}


.overlay {position: absolute; height: 100%; width: 100%;}
.bg_overlay {background: $header-background; position: absolute; width: 100%; height: 100%; opacity: 0;}

.title {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  @media (max-width: $xs-breakpoint) {
    position: relative;
  }
  .dept_name {
    margin: auto;
    a { color: $white }
    .parent_org {
      display: block;
      position: relative;
      font-size: 1.2rem;
      letter-spacing: 1px;
      color: $header-text;
      background: $header-background;
      background: rgba($header-background, .98);
      padding: 0.7rem 2rem;
      line-height: 2rem;
      float: left;
      margin: 1rem 0 1rem 0;
      @media (max-width: $xs-breakpoint) { margin-bottom: -1.8rem; }
    }
    .office_name {
      clear: both;
      display: block;
      margin: 0;
      padding: 2rem 2rem 1.5rem 2rem;
      font-family: $garamond;
      font-size: 4.2rem;
      line-height: 4rem;
      font-weight: normal;
      letter-spacing: 1px;
      color: $header-text;
      min-height: 60px;
      background: $header-background;
      background: rgba($header-background, .98);
      white-space: nowrap;
      @media (max-width: $md-breakpoint) {
        font-size: 3.6rem;
        white-space: normal;
      }
      @media (max-width: $xs-breakpoint) {
        font-size: 2.9rem;
      }
    }
  }
}
.header_no_image .title .dept_name .parent_org {
  margin-bottom: -18px;
}

.banner_content, .dept_name {
    max-width: 1200px;
    margin: auto;
    @media (max-width: $xl-breakpoint){
      max-width: 1000px;
    }
}
