//Styles for the top of the page.  This includes the 'super user' menu,
//the banner area with the Texas State logo and search bar, the header
//image, the parent organization, and the title

/* _header.scss */
.bg_overlay, .bg_image, .bg_image_secondary, .bg_image_none, .txst_search {
    display: none;
}

.banner {
    @include vertical-gradient($banner-top, $banner-bottom);
    border-bottom: 2px solid $banner-bottom-border;
    padding: 0 2rem;
    height: 60px;
}
.banner_content {margin: auto;}
.banner_logo {
    width: 195px;
    float: left;
    img {max-width: 100%; margin-top: 11px;}
}


.txst_search {
    float: right;
    margin-top: 18px;
    position: relative;
    input.search {
        width: 250px;
        background: transparent none repeat scroll 0% 0%;
        border: medium none;
        font-size: 1.5rem;
        border-radius: 0px;
        color: $charcoal;
        position: absolute;
        right: 0px;
        height: 30px;
        &::-webkit-input-placeholder { color: $gold; opacity: 1; font-weight: normal; }
        &:-moz-placeholder { color: $gold; opacity: 1; font-weight: normal; }
        &::-moz-placeholder { color: $gold; opacity: 1; font-weight: normal; }
        &:-ms-input-placeholder { color: $gold; opacity: 1; font-weight: normal; }
    }
    .icon{
        background: transparent;
        -webkit-border-top-right-radius: $default-border-radius;
        -webkit-border-bottom-right-radius: $default-border-radius;
        -moz-border-radius-topright: $default-border-radius;
        -moz-border-radius-bottomright: $default-border-radius;
        border-top-right-radius: $default-border-radius;
        border-bottom-right-radius: $default-border-radius;
        border: none;
        height: 32px;
        width: 38px;
        font-size: 1.8rem;
        position: absolute;
        right: -10px;
        color: $search-icon;
        &:hover{background: transparent; color: $search-icon-hover;}
    }
}

input[type="search"]:focus {outline: none;}

.header_with_image_secondary, .header_with_image, .header_no_image {
    min-height: 70px; padding: 0;
    position: relative;
    overflow: hidden !important;
    background:$maroon;
}

.headerImage_admin {
  margin: 0px auto 0px auto;
  width: 60%;
}

.parentOrg_add{
  width: 50%;
}

body.admin .header_no_image {
  .title{
    position: relative;
  }
}

.bg_container {
  background: $header-background;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  width: 100%;
  height: 100%;
  #headerImage {
    position: absolute;
    top: -25%;
    top: calc(-65px);
    left: 0px;
    height: 150%;
    height: calc(100% + 130px);
    width: 100%;
    overflow: hidden;
    &.bg_image { opacity: 0; }
    &.bg_image_secondary { opacity: 0; }
    &.bg_image_none { display: none; }
    img {
      display: block;
      position: absolute;
      left: 0px;
      top: 0px;
    }
  }
}

.dept_name, .title {position: relative;}


.overlay {position: absolute; height: 100%; width: 100%;}
.bg_overlay {background: $header-background; position: absolute; width: 100%; height: 100%; opacity: 0;}

.title {
  position: relative;
  @media (min-width: $xs-breakpoint) {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
  }
  .dept_name {
    margin: auto;
    a { color: $white }
    .parent_org {
      display: block;
      position: relative;
      font-size: 1.2rem;
      letter-spacing: 1px;
      color: $header-text;
      background: $header-background;
      background: rgba($header-background, .98);
      padding: 0.7rem 2rem;
      line-height: 2rem;
      float: left;
      margin: 1rem 0 -1.8rem 0;
      @media (min-width: $xs-breakpoint) { margin-bottom: 10px; }
    }
    .office_name {
      clear: both;
      margin: 0;
      padding: 2rem 2rem 1.5rem 2rem;
      font-family: $garamond;
      font-size: 2.9rem;
      line-height: 4rem;
      font-weight: normal;
      letter-spacing: 1px;
      color: $header-text;
      min-height: 60px;
      background: $header-background;
      background: rgba($header-background, .98);
      @media (min-width: $xs-breakpoint) {
        font-size: 3.8rem;
      }
      @media (min-width: $md-breakpoint) {
        font-size: 4.2rem;
      }
    }
  }
}
.header_no_image .title .dept_name .parent_org {
  margin-bottom: -18px;
}

@media (min-width: $xs-breakpoint){
    .header {min-height: 350px; padding: 0;}
    .header_with_image_secondary {min-height: 180px; padding: 0;}
    .header_with_image {min-height: 280px; padding: 0;}
    .header_no_image {min-height: 100px; padding: 0;}
    .bg_overlay, .bg_image, .bg_image_secondary, .bg_image_none {display: block;}
    .parent_org a {bottom: .7rem;}
}


@media (min-width: $sm-breakpoint) {
    .txst_search{display: block}
    .banner {height: 70px;}
    .banner_logo {
        width: 225px;
        img {max-width: 100%; margin-top: 15px;}
    }
    .txst_search {
        input.search {
          padding-left: 0; font-weight: 500; box-shadow: inset 0 -2px $gold;
        }
        .icon {right: -10px; color: $search-icon;}
    }
    .header_no_image {min-height: 120px; padding: 0;}
}
@media (min-width: $md-breakpoint){
    .header, .header_with_image {min-height: 320px;}

}

.super-user-content, .banner_content, .dept_name {
    max-width: 1000px;
    margin: auto;
}
@media (min-width: $xl-breakpoint) {
    .banner_content, .dept_name {max-width: 1200px;}
    .header, .header_with_image {min-height: 360px;}
    .header_with_image_secondary {min-height: 220px; padding: 0;}
}




