body.homepage {
  img { max-width: 100%; }

  div.content-row-content {
    .eq-parent {
      letter-spacing: -1rem;
      & > * { letter-spacing: normal; }
    }
  }

  div.main-content {

    h2 {
      font-size: 2.4rem;
      margin-bottom: 2.5rem;
      margin-top: 0.1rem;
      font-weight: 500;
    }
    h3 {
      font-size: 1.6rem;
    }

    @media (min-width: $sm-breakpoint){
      h2 {
        font-size: 2.8rem;
        margin-bottom: 4rem;
      }
    }
  }

  div.content-row {
    padding: 4rem 0;
    @media (min-width: $sm-breakpoint){
      padding-top: 6rem;
    }

    .content-row-content {
      margin: auto;
      max-width: 1000px;

      @media (min-width: $xl-breakpoint){
        max-width: 1200px;
      }

      .solo-bailout {
        text-align: right;
        padding-top: 2.6rem;
        font-size: 1.6rem;
        
        p { margin: 0; }
        
        a {
          text-transform: uppercase;
          text-decoration: none;
          font-weight: bold;
          padding: 3px 5px;
          margin: -3px -5px;

          @extend .slidey-icon;
        }
      }

      @include eq-max-width('ml') {
        .solo-bailout {
          text-align: center;
          padding-top: 0rem;
          
          a.solo-bailout-button {
            display: block;
            padding: 2rem 0;
            margin: 0;
            border-radius: $default-border-radius;
            color: $white;
            background: $gold; 
            @include hover-bg($light-gold);
          }
        }
      } 
    } 

    .col-left, .col-middle, .col-right, .solo-title, .solo-bailout {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    @include eq-max-width('ml') {
      .col-left, .col-middle, .col-right {
        padding-bottom: 4rem;
      }
    }
    @include eq-min-width('ml') {
      .col-middle { padding-left: 0; padding-right: 0; }
    }
    @include eq-min-width('lg') {
      .col-left {
        padding-right: 2.5rem;
      }
      .col-right {
        padding-left: 2.5rem;
      }
    }
    .eq-parent[min-width~="1000px"] > * {
      .col-left, .col-middle, .col-right, .solo-title, .solo-bailout {
        padding-left: 0;
        padding-right: 0;
      }
    }
    &.two-col {
      @include eq-min-width('lg') {
        .col-left {
          padding-right: 4rem;
        }
        .col-right {
          padding-left: 4rem;
        }
      }
      @include eq-min-width('xl') {
        .col-left {
          padding-right: 6rem;
        }
        .col-right {
          padding-left: 6rem;
        }
      }
    }

    figure.feature {
      margin: 0;
      a { margin: 0; padding: 0; }
      img { display: block; }
      figcaption {
        padding: 2rem;
        background: $sandstone;
        a { 
          color: $maroon;
          text-decoration: underline; 
          &:hover { text-decoration: none; background: none; }
        }
        p { margin: 0; }
        .feature-headline {
          font-size: 2rem;
          font-weight: bold;
          line-height: 2.6rem;
          margin-bottom: 1rem;
        }
        .feature-date {
          font-size: 1.4rem;
          font-style: italic;
          padding-bottom: 1.2rem;
        }
        .feature-text {
          font-size: 1.6rem;
        }
      }
    }

    &.main {
      a{
        padding: 1px 3px;
        margin: -1px -3px;
        color: $content-link-text;
        text-decoration: underline;
        &:hover {background: $content-link-hover;}
      }
    }
    &.comp {
      background: $sandstone;
      .feature figcaption { background: $khaki; }
      .solo-bailout a {
        color: $maroon;
        &:hover { 
          background: $khaki; 
        }
      }
      @include eq-max-width('ml') {
        .solo-bailout a.solo-bailout-button {
          background: $maroon; 
          @include hover-bg($light-maroon);
        }
      }
    }
  }
}

@import "gato-template-txstate2015/css/homepage/news";
@import "gato-template-txstate2015/css/homepage/spotlight";
@import "gato-template-txstate2015/css/homepage/social";
@import "gato-template-txstate2015/css/homepage/president";
@import "gato-template-txstate2015/css/homepage/legalfooter";
