div.content-row-content {
  .eq-parent {
    letter-spacing: -1rem;
    & > * { letter-spacing: normal; }
  }
}

div.main-content {
  font-size: 1.4rem;
  line-height: 1.8rem;

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 0.1rem;
    font-weight: 500;
  }
  h3 {
    font-size: 1.4rem;
  }

  @media (min-width: $sm-breakpoint){
    h2 {
      font-size: 2.4rem;
      margin-bottom: 3rem;
    }
  }
}

div.content-row {
  padding: 4rem 0 3rem 0;
  
  .content-row-content {
    // padding: 0 2rem;
    margin: auto;
    max-width: 1000px;

    .solo-title {
      padding: 0 2rem;
    }

    @include eq-mn {
      & > * {
        padding: 0 2rem;
        margin: 1rem 0;
      }
    }
    @include eq-min-width('ml') {
      .col-left, .col-middle, .col-right {
        margin: 0;
      }
      .col-left, .col-middle {
        padding-right: 1rem;
      }
      .col-middle, .col-right {
        padding-left: 1rem;
      }
    }

    @media (min-width: $lg-breakpoint){
      & {
        padding: 0;
      }
    }
    
    .solo-bailout {
      text-align: right;
      padding-top: 2.6rem;
      
      a {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        padding: 3px 5px;
        margin: -3px -5px;

        i { 
          margin-left: 1.6rem; 
          position: relative;
        }
        &:hover i {
          animation: chevron 1.2s ease-in-out infinite alternate;
          @keyframes chevron { from {right: 0;} to {right: .5rem;} }
        }
      }
    }

    @include eq-max-width('ml') {
      .solo-bailout {
        text-align: center;
        padding-top: 0.6rem;
        
        a {
          display: block;
          padding: 2rem 0;
          border-radius: $default-border-radius;
          color: $white;
          background: $gold; 
          @include hover-bg($light-gold);
        }
      }
    }  
  }

  @media (min-width: $sm-breakpoint){
    & {
      padding: 6rem 0 4rem 0;
    }
  }

  &.main {
    a{
      padding: 1px 3px;
      margin: -1px -3px;
      color: $content-link-text;
      text-decoration: underline;
      &:hover {background: $content-link-hover;}
    }
  }
  &.comp {
    background: $sandstone;
    .solo-bailout a {
      color: $maroon;
      &:hover { 
        background: $khaki; 
      }
    }
    @include eq-max-width('ml') {
      .solo-bailout a {
        background: $maroon; 
        @include hover-bg($light-maroon);
      }
    }
  }
}

@import "gato-template-txstate2015/css/homepage/spotlight";
@import "gato-template-txstate2015/css/homepage/social";
@import "gato-template-txstate2015/css/homepage/president";
@import "gato-template-txstate2015/css/homepage/legalfooter";
