body.homepage {
  img { max-width: 100%; }

  a {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }

  div.content-row-content {
    letter-spacing: -1rem;
    .content-row-column, .solo-column {
      @extend .grid-cell;
      width: 100%;
      letter-spacing: normal;
    }
  }

  div.main-content {

    h2 {
      font-size: 2.8rem;
      margin-bottom: 3.5rem;
      @media (max-width: $sm-breakpoint){margin-bottom: 2.5rem;}
      margin-top: 0.1rem;
      font-weight: 500;
    }
    h3 {
      font-size: 1.6rem;
    }

    @media (max-width: $sm-breakpoint){
      h2 {
        font-size: 2.4rem;
        margin-bottom: 2.5rem;
      }
    }
  }

  div.content-row {

    .content-row-content {
      margin: auto;
      max-width: 1200px;
      padding: 4.2rem 0 6rem;
      @media (max-width: $sm-breakpoint){
        padding-top: 3.2rem;
      }

      @media (max-width: $xl-breakpoint){
        max-width: 1000px;
      }

      .solo-bailout {
        text-align: right;
        padding-top: 2rem;
        @media (max-width: $xl-breakpoint){
          a .fa { margin-left: 1.5rem; }
        }
        @media (max-width: $md-breakpoint){
          padding-top: 2.5rem;
          a .fa { margin-left: 1.8rem; }
        }
        font-size: 1.6rem;
        
        p { margin: 0; }
        
        a {
          text-transform: uppercase;
          text-decoration: none;
          font-weight: bold;
          padding: 3px 5px;
          margin: -3px -5px;

          @extend .slidey-icon;
        }
      }

      @media (max-width: $sm-breakpoint){
        .solo-bailout {
          text-align: center;
          padding-top: 1rem;
          
          a.solo-bailout-button {
            display: block;
            padding: 2rem 0;
            margin: 0;
            border-radius: $default-border-radius;
            color: $white;
            background: $gold; 
            @include hover-bg($light-gold);
          }
        }
      } 
    } 

    .solo-title, .solo-bailout {
      padding-left: 0;
      padding-right: 0;
    }
    .col-left {
      padding-left: 0;
      padding-right: 2.5rem;
    }
    .col-right {
      padding-left: 2.5rem;
      padding-right: 0;
    }
    .col-middle {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
    @media (max-width: $xl-breakpoint){
      .col-left { padding-right: 2rem; }
      .col-right { padding-left: 2rem; }
      .col-middle {
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
    @media (max-width: $md-breakpoint){
      .col-left, .col-right, .solo-title, .solo-bailout {
        padding-left: 2rem;
        padding-right: 2rem;
      }
      .col-left { padding-right: 1.2rem; }
      .col-right { padding-left: 1.2rem; }
      .col-middle {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
      }
    }
    @media (max-width: $sm-breakpoint){
      .col-left, .col-middle, .col-right {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 4rem;
      }
    }
    
    &.three-col {
      .content-row-column {
        width: 100% * 1 / 3;
      }
    }
    &.two-col {
      .content-row-column {
        width: 100% * 1 / 2;
      }
      .col-left {
        padding-right: 6rem;
      }
      .col-right {
        padding-left: 6rem;
      }
      @media (max-width: $xl-breakpoint){
        .col-left {
          padding-right: 4rem;
        }
        .col-right {
          padding-left: 4rem;
        }
      }
      @media (max-width: $md-breakpoint){
        .col-left {
          padding-right: 1.5rem;
        }
        .col-right {
          padding-left: 1.5rem;
        }
      }
      @media (max-width: $sm-breakpoint){
        .col-left {
          padding-right: 2rem;
        }
        .col-right {
          padding-left: 2rem;
        }
      }
    }
    @media (max-width: $sm-breakpoint){
       &.three-col,  &.two-col {
        .content-row-column {
          width: 100%;
        }
      }
    }

    &.main {
      a{
        padding: 1px 3px;
        margin: -1px -3px;
        color: $content-link-text;
        text-decoration: underline;
        &:hover {background: $content-link-hover;}
      }
    }
    &.comp {
      background: $sandstone;
      .slides, figure.feature { background: $khaki; }
      .solo-bailout a {
        color: $maroon;
        &:hover { 
          background: $khaki; 
        }
      }
      @media (max-width: $sm-breakpoint){
        .solo-bailout a.solo-bailout-button {
          background: $maroon; 
          @include hover-bg($light-maroon);
        }
      }
    }
  }

  figure.feature {
    background: $sandstone;
    margin: 0;
    a.image-link { 
      display: block;
      margin: 0; 
      padding: 0; 
      @extend .hover-blur; 
    }
    img { display: block; }
    figcaption {
      padding: 2.1rem;
      @media (max-width: $md-breakpoint){ padding: 1.8rem; }

      p { 
        margin: 0; 
        &.feature-headline {
          font-size: 2rem;
          font-weight: bold;
          line-height: 2.6rem;
          margin-bottom: 1.2rem;
          a { 
            color: $maroon;
            text-decoration: underline; 
            &:hover { text-decoration: none; background: none; }
          }
        }
        &.feature-date {
          font-size: 1.4rem;
          font-style: italic;
          padding-bottom: 1.2rem;
        }
        &.feature-text {
          font-size: 1.6rem;
          line-height: 2.2rem;
        }
      }
    }

    .feature-img-wrap { position: relative; }

    .feature-play-button {
      position: absolute;
      top: 0;
      margin: 0;
      a {
        @include vendor-prefix(border-radius, 50%);
        border-radius: 8rem;
        background: $maroon;
        position: absolute;
        width: 6.5rem;
        height: 6.5rem;
        &:after {
          left: 0;
          right: 0;
          margin: 0 auto;
          position: absolute;
          border: solid transparent;
          border-left-color: $white;
          border-width: 1rem 0 1rem 1.6rem;
          content: "";
          height: 0;
          width: 0;
          position: absolute;
          top: 50%;
          margin-top: -1rem;
          left: .4rem;
          @media (max-width: $sm-breakpoint) {
            border-width: 0.8rem 0 0.8rem 1.4rem;
            margin-top: -0.8rem;
          }
        }
        &:hover {
          @include vendor-prefix(transform, scale(1.15));
          background: $light-maroon;
        }
        @include vendor-prefix(transition, all 0.2s cubic-bezier(0, 0.5, 0.25, 1));
      }
    }
  }

  @media (max-width: $md-breakpoint){
    .slides {
      figure.feature {    
        .feature-play-button {
          a {
            width: 5.5rem;
            height: 5.5rem;
          }
        }
      }
    }
  }

  .slide-nav { 
    a {
      display: inline-block;
      padding: 1rem 1.5rem;
      margin-left: 0.3rem;
      background: $khaki;
      color: $charcoal;
      @include hover-bg($gold, $white);
      font-size: 1.8rem;
    }
  }
  .slide-nav-dots { 
    text-align: center;
    margin: 0.5rem 0;
    a {
      color: $khaki;
      &.active-dot { color: $maroon; }
      font-size: 1.1rem;
      margin: 0px 0.3rem;
    }
  }
  .footer{
    .footer_column{
      padding: 0px;
    }
    .apply_now{
      margin: 0px;
    }
  }
  @media (max-width: $md-breakpoint){
    .footer{
      .footer_column{
        padding: 0 2rem;
      }
      .apply_now{
        margin: -5px;
      }
    }
  }
  .hp-u-social {
    margin-top: 1rem;
    display: block;
    a{
      border-radius: 0.5rem;
      font-size: 2.4rem;
      margin: -2px -6px;
      padding: 2px 6px;
      margin-right: 0.8rem;
    }
    .fa-snapchat {
      font-size: 2rem;
    }
  }
  
  @media (max-width: 64em) {
    .hp-u-social a {margin-right: .2rem;}
  }

  @media (max-width: 48em) {
    .hp-u-social a {margin-right: .1rem; margin-left: .1rem;}
  }
}

@import "gato-template-txstate2015/css/homepage/emergency";
@import "gato-template-txstate2015/css/homepage/mobile";
@import "gato-template-txstate2015/css/homepage/top-banner";
@import "gato-template-txstate2015/css/homepage/top-feature";
@import "gato-template-txstate2015/css/homepage/top-links";
@import "gato-template-txstate2015/css/homepage/news";
@import "gato-template-txstate2015/css/homepage/spotlight";
@import "gato-template-txstate2015/css/homepage/social";
@import "gato-template-txstate2015/css/homepage/president";
@import "gato-template-txstate2015/css/homepage/legalfooter";
@import "gato-template-txstate2015/css/homepage/video-modal";
