#panel {background-color: $content-background;}

.trail {
  margin: auto;
  padding: 1.8rem 0 0 0;
  @media screen and (max-width: $sm-breakpoint) { display: none; }
  .breadcrumbs {
    margin-left: 100% * 1.0/3.0;
    text-align: right;
    padding-right: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    a {
      margin: 0 auto;
      text-decoration: none;
      color: $blue;
      &:hover{
        text-decoration: underline;
      }
    }
    .separator {margin: auto 2px auto 4px;}
  }
}

.page_content {
  overflow: hidden;
  margin: 0 auto;
  padding: 2.9rem 0 1rem 0;
  min-height: 32rem;
  position: relative;
  .headline {
    font-size: 1.5rem;
    padding: 2rem;
    padding-top: 0px;
    width: 75%;
    @media screen and (max-width: $sm-breakpoint) {
      width: 100%;
    }
    h2 {
      padding: 0;
      color: $very-dark;
    }
  }
  .layout-column {
    padding: 0px 2rem;
  }
  .column_paragraph {
    margin: 0px 0px 4rem 0px;
  }
}

.page_content, .trail, .headline {max-width: 1200px;}
@media (max-width: $xl-breakpoint) {
  .page_content, .trail, .headline {max-width: 1000px;}
}
