.container {background-color: $white;}

.page_content {
    margin-top: 0.5rem;
    padding-bottom: 1rem;
    overflow: hidden;
    min-height: 32rem;
    background-color: $content-background;
    max-width: 1000px;
    position: relative;
    .row {margin-bottom: 1.5rem;}
    a{
        padding: 1px 3px;
        margin: -1px -3px;
        color: $content-link-text;
        text-decoration: underline;
        &:hover {background: $content-link-hover;}
    }
}

.page_content > .gato-component {

}

.layout-column{
  padding: 0px 1rem;
}

.trail {
    display: none;
    margin: auto;
    max-width: 1000px;
    padding: 1rem 0;
}

.headline{
    margin: auto;
    max-width: 1000px;
    font-size: 1.5rem;
    padding: 1rem;
}

#breadcrumbs {
  text-align: right;
  padding-right: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  a {
    margin: 0 auto;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  .separator {margin: auto 5px auto 7px;}
}

@media (min-width: 40rem) {
    .column {float: left; padding: 0 1rem 2rem 1rem;}
}

@media (min-width: $sm-breakpoint){
    .page_content {
        padding-bottom: 1rem;

        margin: auto;
        .row {margin-bottom: 1.5rem;}

    }
    .trail {display: block;}
}

@media (min-width: $xl-breakpoint) {
    .page_content, .trail, .headline {max-width: 1200px;}

}
