// Styles for the main menu bar

/* _menu.scss */

.ddmenu-bg {
  font-size: 1.3rem;
  font-weight: 500;
  display: block;
  @media screen and (max-width: $sm-breakpoint) {
    display: none;
  }
}

.ddmenu-menubar {
  margin: 0px auto;
  max-width: 1200px;
  @include vertical-gradient($primary-nav-gradient-top, $primary-nav-gradient-bottom);
  border-bottom: 1px solid $primary-nav-bottom-border;
  box-shadow: 1px 0px $primary-nav-box-shadow inset, -1px 0px $primary-nav-box-shadow inset;
  @media screen and (max-width: $xl-breakpoint) {
    max-width: 1000px;
  }
}

a.ddmenu-menubaritem{
  color: $primary-nav-item-text;
  border-left: 1px solid $primary-nav-item-left-border;
  padding: 0.8rem 1rem;
  &:visited { color: $primary-nav-item-text; }
  div.ddmenu-menubaritem:first-child & {
    border-left: none;
  }
  .ddmenu-visible & {
    background: $primary-nav-item-background-hover;
    color: $primary-nav-item-text-hover;
  }
}

.ddmenu-menu {
  left: 0px;
	top: calc(100% + 1px);
  border-left: 1px solid $secondary-nav-border;
  border-right: 1px solid $secondary-nav-border;
  border-bottom: 1px solid $secondary-nav-border;
  background-color: $secondary-nav-background;
  li {
    border-bottom: 1px solid $secondary-nav-border-bottom;
    border-top: 1px solid $secondary-nav-border-top;

    &:first-child {
      border-top: none;
    }
  }
  a {
    color: $secondary-nav-item-text;
    font-size: 1.3rem;
    &:visited{
      color: $secondary-nav-item-text;
    }
    &:hover, &:focus {
      background-color: $secondary-nav-hover-background;
      color: $secondary-nav-item-text;
      text-decoration: underline;
    }
  }
}

/* adjustments when using fixed placement */
.top_nav {
  /* this transform solves an ios9 problem but top_nav loses its z-index which is
     a pretty big deal. turning it off until we find another way */
  /* -webkit-transform: translate3d(0,0,0); /* iOS9 hack: http://stackoverflow.com/a/32891079 */
  &.scroll-to-fixed-fixed {
    @include vertical-gradient($primary-nav-gradient-top, $primary-nav-gradient-bottom);
    border-bottom: 2px solid $secondary-nav-fixed-border;
    @media screen and (max-width: $sm-breakpoint){
      border-bottom-width: 0px;
    }
    .ddmenu-menubar{
      box-shadow: none;
      border: 0 solid $primary-nav-bottom-border;
    }
    .ddmenu-menu {
      top: 100%;
      border: 2px solid $secondary-nav-fixed-border;
    }
    .secondary_nav a {
        padding-left: .45rem;
    }
  }
}

