.hamburger{
    float: right;
    a{
        color: $hamburger-button;
        font-size: 13px;
        position: relative;
        padding: 6px 10px;
        display: block;
        top: 12px;
        right: -2px;
        text-transform: uppercase;
        border: 1px solid $hamburger-button-border;
        border-radius: 4px;
        font-weight: 400;
        background-color: $hamburger-button-background;
        box-shadow: 0px 2px 1px -2px #6A5638;
    }
}

.slideout-menu {
    position: fixed;
    left: auto;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 300px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
}
.slideout-panel {position:relative; z-index: 1;}
.slideout-open, .slideout-open body, .slideout-open .slideout-panel {overflow: hidden;}
.slideout-open .slideout-menu {display: block;}
.mobile_nav {
    background: $mobile-nav-background;
    ul {list-style: none; padding: 0; margin: 0;}
}
.mobile_nav_container {padding: 1rem; letter-spacing: 1px;}
.txst_mobile_search {height: 60px; width: 300px;}
.search.mobile_search {
    width: 100%;
    border-radius: 0;
    border: 10px solid $mobile-search-border;
    background: $mobile-search-background;
    box-sizing: border-box;
    height: 60px;
    font-size: 90%;
}
.search_bar.mobile_search_bar {width: 100%; height: 60px;}
.icon.mobile_icon, .icon.mobile_icon:hover  {
    border-radius: 0;
    background: $mobile-search-icon;
    color: $hamburger-menu-color;
    height: 60px;
    font-size: 1rem;
    right: 10px;
}

.search_bar {
    .search.mobile_search::-webkit-input-placeholder {color: $search-placeholder;}
    .search.mobile_search:-moz-placeholder {color: $search-placeholder;}
    .search.mobile_search::-moz-placeholder {color: $search-placeholder;}
    .search.mobile_search:-ms-input-placeholder {color: $search-placeholder;}
}


.mobile-page-title {
    color: $hamburger-menu-color; 
    line-height: 1.8rem;
    font-family: $garamond;
}
.mobile_primary_nav {
    a{
        text-transform: uppercase;
        font-weight: 400;
        color: $hamburger-menu-color;
        display: block;
        font-size: 100%;
        border-bottom: 1px solid $dark-charcoal;
        margin: 1.5rem -1rem 0 -1rem;
        padding: 0.7rem 1rem .5rem 1rem;

        &:hover{color: $white; background: $dark-charcoal;}
    }
}

.side_nav_mobile {
    text-transform: uppercase;
    font-weight: 400;
    color: $hamburger-menu-color;
    display: block;
    font-size: 100%;
    border-bottom: 1px solid $dark-charcoal;
    margin: 1.5rem -1rem 0 -1rem;
    padding: 0.7rem 1rem .5rem 1rem;
}
.mobile_secondary_nav {
    a {text-transform: none; font-weight: 100; margin: 0 -1rem; padding: 0.25rem 1rem; font-size: 85%;}
    li {margin-bottom: 0;}
}

.mobile-super-user {background-color: $mobile-super-user;}
.mobile-super-list {text-align: left; padding: 1.3rem 1rem 1rem 1rem;}
.mobile-super-list {
    li {display: block;}
    a, .gato-accordion a {
        color: $hamburger-menu-color;
        padding: .5rem 1rem;
        font-size: 75%;
        border: none;
        margin: 0 -1rem;
        text-transform: uppercase;
        /*&:hover {background: transparent; color: $hamburger-menu-text; background: $mobile-nav-background;}*/
    }
}


.mobile-super-list .gato-accordion{
    box-shadow: none;
    .gato-accordion-header{
        box-shadow: none;
        background: inherit;
        padding: 0px;
        margin: 0px;
    }
    .gato-accordion-content{
        padding: 0px;
    }
}

.mobile-super-user.lower{
    .mobile-super-list{
         background: $mobile-super-user-lower;
    }
}

.solo_nav {border-bottom: none !important; }

.mobile_trail .breadcrumbs{
    margin-bottom: 1.5rem;
    text-align: left;
    color: $hamburger-menu-color;
    a, .separator {color: $hamburger-menu-color !important;}
}

.terminal_page {color: $hamburger-menu-color;}

@media screen and (min-width: $sm-breakpoint) {
    .hamburger, .mobile_nav {display: none;}
}
