.hamburger{
  float: right;
  display: none;
  a {
    display: block;
    top: 13px;
    right: 0px;
    position: relative;
    color: $hamburger-button;
    font-size: 13px;
    font-weight: 500;
    padding: 6px 10px;
    text-transform: uppercase;
    border: 1px solid $hamburger-button-border;
    border-radius: 4px;
    background-color: $hamburger-button-background;
    box-shadow: 0px 2px 1px -2px #6A5638;
  }
}
.slideout-menu {
    position: fixed;
    left: auto;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 300px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
    @media screen and (max-width: 350px) {
      width: 275px;
    }
}
.slideout-panel {
  position:relative; z-index: 1;
}
.slideout-open, .slideout-open body, .slideout-open .slideout-panel {overflow: hidden;}
.slideout-open .slideout-menu {display: block;}

.mobile_nav {
  background: $mobile-nav-background;
  font-size: 1.8rem;
  ul {list-style: none; padding: 0; margin: 0;}
  .txst_mobile_search {

    .search_bar{
      width: 100%;
      &.mobile_search_bar{
        border:none;
      }
    }

    input.search {
      width: 82%;
      border: 10px solid $mobile-search-border;
      border-right: 0px;
      border-radius: 0px;
      background: $mobile-search-background;
      height: 60px;
      font-size: 14px;
      box-sizing: border-box;
      vertical-align: middle;
      padding-left: 8px;
      &::-webkit-input-placeholder {color: $search-placeholder;}
      &:-moz-placeholder {color: $search-placeholder;}
      &::-moz-placeholder {color: $search-placeholder;}
      &:-ms-input-placeholder {color: $search-placeholder;}
      -webkit-appearance: none;
    }
    .icon {
      width: 18%;
      border: 0;
      background: $mobile-search-icon;
      color: $hamburger-menu-color;
      height: 60px;
      font-size: 2rem;
      vertical-align: middle;
      text-align: center;
    }
  }
  .mobile_nav_container {
    padding: 1.8rem;
    letter-spacing: 1px;
    line-height: 2.4rem;
    .mobile_trail .breadcrumbs {
      font-size: 1.2rem;
      line-height: 1.8rem;
      margin-bottom: 1.8rem;
      text-align: left;
      color: $hamburger-menu-color;
      a { color: $hamburger-menu-color; }
    }
    .mobile-page-title {
      a { color: $hamburger-menu-color; }
      font-family: $garamond;
      font-weight: normal;
      font-size: 2.8rem;
      line-height: 3.2rem;
      margin-top: 3.2rem;
    }
    .mobile_primary_nav {
      margin: 0 -1.8rem;
      > li {
        padding-bottom: 2.8rem;
        a:last-child { border-bottom: 0px; }
      }
      a {
        text-transform: uppercase;
        font-weight: 500;
        color: $hamburger-menu-color;
        display: block;
        border-bottom: 1px solid $darkest-charcoal;
        padding: 1.5rem 1.8rem;
        &:hover {
          color: $white;
          background: $darkest-charcoal;
        }
      }
      .mobile_secondary_nav {
        li {
          a {
            padding: 0.9rem 1.8rem;
            text-transform: none;
            font-size: 1.6rem;
            font-weight: normal;
            border-top: 1px solid $light-charcoal;
            border-bottom: 1px solid $darkest-charcoal;
          }
        }
        border-bottom: 1px solid $light-charcoal;
      }
    }
  }
  //social media
  .nav-with-title{
    background-color: transparent;
    border-color: transparent;
    border-width: 0px;
    padding-bottom: 2.8rem;
    letter-spacing: 1px;
    margin-top: -1.8rem;
    h3{
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.8rem;
      color: $hamburger-menu-color;
      display: block;
      border-bottom: 1px solid $darkest-charcoal;
      padding: 1.5rem 1.8rem;
    }
    .social-links{
      border-bottom: 1px solid $light-charcoal;
      padding-bottom: 0px;
    }
    .gato-sociallink{
      color: $hamburger-menu-color;
      border-top: 1px solid $light-charcoal;
      border-bottom: 1px solid $darkest-charcoal;
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: normal;
      padding: 0.9rem 1.8rem;
      &:hover, &:focus {
        color: $hamburger-menu-text;
        background: $darkest-charcoal;
      }
    }
  }
  .mobile-super-list {
    letter-spacing: 1px;
    padding: 1rem 0;
    line-height: 2.4rem;
    &.upper {
      background-color: $mobile-super-user;
    }
    &.lower {
      background: $mobile-super-user-lower;
    }
    a {
      display: block;
      font-size: 1.5rem;
      font-weight: 500;
      color: $hamburger-menu-color;
      padding:0.9rem 1.8rem;
      text-transform: uppercase;
      &:hover, &:focus {
        color: $hamburger-menu-text;
        background: $mobile-nav-background;
      }
    }
    .gato-accordion-header i {
      margin-left: 6px;
    }
    .gato-accordion-content a {
      padding: 0.7rem 3rem;
      font-size: 1.4rem;
    }
  }

}

/* undo several gato-accordion styles */
.mobile-super-list .gato-accordion {
  box-shadow: none;
  .gato-accordion-header{
    box-shadow: none;
    background: inherit;
    padding: 0px;
    margin: 0px;
  }
  .gato-accordion-content{
    padding: 0px;
  }
}

@media screen and (max-width: $sm-breakpoint) {
    .hamburger {display: block;}
}
