.gato-textimage-caption {
  font-size: 1.4rem;
  padding: 1.2rem 1.4rem;
  line-height: 2.2rem;
  text-align: center;
  a:hover{
    text-decoration: none;
  }
}

.gato-slider .slide.color2 .caption {
  /* gold needs to be a little darker when transparent to ensure contrast with text */
  background-color: rgba(100, 81, 53, 0.9);
}

.pswp__caption__center {
  max-width: 60rem;
}

.column_paragraph .gato-gallery-image.txst-gallery-image {
  margin-bottom: 0;
}
