.gato-textimage-caption {
  font-size: 1.4rem;
  padding: 1.2rem 1.4rem;
  line-height: 2.2rem;
  text-align: center;
  a:hover{
    text-decoration: none;
  }
}

.pswp__caption__center {
  max-width: 60rem;
}

.column_paragraph .gato-gallery-image.txst-gallery-image {
  margin-bottom: 0;
}
