.gato-textimage-caption {
  font-size: 1.4rem;
  padding: 1.2rem 1.4rem;
  line-height: 2.2rem;
  text-align: center;
  a:hover{
    text-decoration: none;
  }
}

.gato-slider{
  .slide.color2 .caption{
    h3, p{
      [data-eq~="500px"] & { background-color: $mc2-bg }
      /* gold needs to be a little darker when transparent to ensure contrast with text */
      background-color: rgba(100, 81, 53, 0.9);
    }
  }
  //these multicolors used the light version of the colors instead of the usual $mc-comp-bg colors for some reason
  .slide.color5>a:hover{
    .caption h3, .caption p{
      background: rgba($light-river, 0.9);
    }
  }
  .slide.color6>a:hover{
    .caption h3, .caption p{
      background: rgba($light-sandstone, 0.9);
    }
  }
  .slide.color7>a:hover{
    .caption h3, .caption p{
      background: rgba($light-oldgold, 0.9);
    }
  }
  .video-slide{
    &.color5 caption{
      a h3:hover{
        background: rgba($light-river, 0.9);
      }
      .feature-play-button a:hover{
        background: rgba($light-river, 0.9);
      }
    }
    &.color6 caption{
      a h3:hover{
        background: rgba($light-sandstone, 0.9);
      }
      .feature-play-button a:hover{
        background: rgba($light-sandstone, 0.9);
      }
    }
    &.color7 caption{
      a h3:hover{
        background: rgba($light-oldgold, 0.9);
      }
      .feature-play-button a:hover{
        background: rgba($light-oldgold, 0.9);
      }
    }
  }
  [data-eq~="500px"] & {
    .slide{
      &.color5 { a:hover, a:focus { .caption { background-color: $light-river; } } }
      &.color6 { a:hover, a:focus { .caption { background-color: $light-sandstone; } } }
      &.color7 { a:hover, a:focus { .caption { background-color: $light-oldgold; } } }
    }
  }
}

.pswp__caption__center {
  max-width: 60rem;
}

.column_paragraph .gato-gallery-image.txst-gallery-image {
  margin-bottom: 0;
}

/* Rich Editor Tables */
.rich-editor-table{
  table{
    &.header-color-gold th{
      background: $table-header-bg;
      color: $table-header-text;
      a{
        color: $table-header-text;
        &:hover{
          background: transparent;
          text-decoration: none;
        }
      }
    }
    &.header-color-maroon th{
      background: $maroon;
      color: $white;
      a{
        color: $white;
        &:hover{
          background: transparent;
          text-decoration: none;
        }
      }
    }
    &.header-color-sandstone th{
      background: $sandstone;
      color: $very-dark;
      a{
        color: $very-dark;
        &:hover{
          background: transparent;
          text-decoration: none;
        }
      }
    }
    &.header-color-charcoal th{
      background: $charcoal;
      color: $white;
      a{
        color: $white;
        &:hover{
          background: transparent;
          text-decoration: none;
        }
      }
    }
    &.header-color-blue th{
      background: $blue;
      color: $white;
      a{
        color: $white;
        &:hover{
          background: transparent;
          text-decoration: none;
        }
      }
    }
    &.header-color-river th{
      background: $river;
      color: $almost-black;
      a{
        color: $almost-black;
        &:hover{
          background: transparent;
          text-decoration: none;
        }
      }
    }
    &.header-color-oldgold th{
      background: $oldgold;
      color: $very-dark;
      a{
        color: $very-dark;
        &:hover{
          background: transparent;
          text-decoration: none;
        }
      }
    }
  }
}

/* Percent Display */
.circle-progress {
  .svg-container {
    .outer-circle {
      stroke-width: 9;
    }
    .inner-circle {
      stroke-width: 1;
      transform: scale(1.07);
      transform-origin: center;
    }
    path {
      stroke-width: 9;
    }
    .percent {
      font-weight: 500;
    }
  }
  .content {
    .progress-title {
      letter-spacing: 3px;
    }
  }
}

/* RSS Card */
.gato-card-rss-container {
  .gato-rss-feedinformation {
    .gato-rss-title {
      padding: 0;
    }
  }
  .gato-rss-item {
    .gato-rss-item-header {
      margin-top: 1rem;
      a {
        font-weight: bold;
      }
    }
    .rss-item-content {
      .gato-rss-itemdescription {
        line-height: 2rem;
        .gato-rss-more-link {
          margin: 0;
        }
      }
      .gato-rss-published {
        line-height: 2rem;
        .gato-rss-date, .gato-rss-time {
          font-weight: 500;
        }
      }
    }
  }
}

.txst-form {
  button.submit{
    font-weight: 500;
    color: $form-submit-text-color;
    box-shadow: 0 4px $form-submit-box-shadow-color;
    background: $form-submit-background-color;
    padding: 1.8rem 4rem;
    margin-top: 1rem;
    text-transform: uppercase;
    border-radius: 3px;
    @include vendor-prefix(transition, background 0.2s ease-in-out);
    position: relative;
    border: none;
    &:hover{
      background: $form-submit-hover-background-color;
    }
    &:active{
      box-shadow: 0 0 $form-submit-box-shadow-color;
      top: 4px;
    }
    &:disabled{
      background: $form-submit-background-color;
    }
  }
}

//site search
.global-search-mobile {
  width: 50%;
  @media screen and (max-width: $mn-breakpoint) {
    width: 100%;
  }
}

// FAQ
.column_paragraph .gato-faqitem-answer {
  //force faq headers to look like they start at h3
  .h3styles {
    color: $gold;
    a{
      color: $gold;
    }
  }
}

//filterable search
.alpha-header {
  color: #222;
}
.filterable-search.directory {
  .results .listitem .info-container, #more-content-popup .popup-content {
    .listitem-title {
      font-weight: 600;
      font-size: 2.2rem;
      line-height: 1.8;
      color: $gold;
    }
    .listitem-heading {
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 1.8;
      color: $charcoal;
    }
    .linktofp {
      color: $blue;
    }
    .listitem-biography, .listitem-teaching, .listitem-research, .listitem-description {
      font-size: 1.7rem;
      line-height: 3.1rem;
    }
  }
}
