body.print {
  background-color: white;
  width: 535pt;
  .sidebar-container,
  .super-user-menu,
  .top_nav,
  .footer,
  .banner,
  .header_no_image,
  .header_with_image,
  .ui-helper-hidden-accessible,
  .trail {
    display: none !important;
  }

  @-moz-document url-prefix() {
    .layout-column {
      width: 100% !important;
      display: block !important;
    }
  }

  .column_paragraph {
    font-family: Arial;
  }

  .column_paragraph h1,
  .column_paragraph h2,
  .column_paragraph h3,
  .column_paragraph h4 {
    font-family: Tahoma;
  }
}
