/* drop down search bar */

.ui-dialog-titlebar{
    display:none;
}

.ui-widget-overlay{
    background-image: none !important;
    background: $gold !important;
    opacity: 0 !important;
    transition: 0.3s linear;
}

.ui-widget-overlay-fade{
    opacity: 0.9 !important;
    transition: 0.2s linear;
}

#search-modal-content{
    background: $sandstone !important;
    min-height: initial !important;
    padding: 0px;
    &.hidden{
      display:none;
    }
}

.ui-dialog {
    z-index: 3;
    border: none !important;
    border-radius: 0px !important;
    padding: 0px !important;
    &.ui-widget{
        font-family: $univers;
    }
    .searchbar{
        max-width: 60rem;
        margin: auto;
        padding: 3rem 2rem 2.5rem 2rem;
        .searchbar-content {
            position: relative;
            border-bottom: 3px solid $gold;
            font-size: 2.4rem;
            padding-bottom: 0.5rem;
            @media screen and (max-width: $mc-breakpoint) {
                font-size: 2rem;
            }
            input.search {
                background: transparent;
                border: none;
                width: 100%;
                color: #222;
                font-weight: 500;
                font-family: $univers;
                &::-webkit-input-placeholder {color: $gold;}
                &::-moz-placeholder {color: $gold;}
                &:-ms-input-placeholder {color: $gold;}
                &:-moz-placeholder {color: $gold; opacity: 1;}
                &:focus{
                    outline-width: 0;
                }
            }
            .icon {
                background: transparent;
                border: none;
                float: right;
                color: $gold;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        .search-radios{
            text-align: right;
            font-size: 1.4rem;
            font-weight: 500;
            color: $darkest-gold;
            top: 1.5rem;
            position: relative;
            margin-bottom: 0.8rem;
            fieldset {
              border: 0;
            }
            span{
                margin-left: 2rem;
                input[type="radio"] {
                    position: relative;
                    bottom: 2px;
                    margin-right: 0.5rem;
                }
            }
        }
    }
}

/* site search results */
#search-results{

    .layout-column{
        &.twothirds, &.onethird{
            @media screen and (max-width: $sm-breakpoint) {
                width: 100%;
            }
        }
    }

    .headline.search-headline{
        width: 100% * 2.0/3.0;
        @media screen and (max-width: $sm-breakpoint) {
            width: 100%;
        }
    }

    div.sort-results{
        margin-top: 1.5rem;
    }
    
    .global-search{
        margin-top: 4.4rem;
        @media screen and (max-width: $sm-breakpoint) {
            margin: 2rem 0rem 2.5rem 0rem;
        }

    }

    .no-results{
        margin-top: 3rem;
        font-weight: bold;
    }

    h1.search-results-title{
        color: $maroon;
        font-weight: normal;
        font-size: 3.6rem;
        margin: 0px;
        padding: 0px;
    }

    .search-again{
        position: relative;
        border-bottom: 3px solid $gold;
        font-size: 2.4rem;
        font-weight: bold;
        color: $gold;
        padding-bottom: 0.5rem;
        width: 66%;
        margin-top: 2.8rem;
        label.hidden{
            position:absolute;
            left:-10000px;
            top:auto;
            width:1px;
            height:1px;
            overflow:hidden;
        }
        input{
            background: transparent;
            border: none;
            width: 100%;
            color: #222;
            font-weight: 500;
            font-family: $univers;
            &:focus{
                outline-width: 0;
            }
        }
        .icon {
            background: transparent;
            border: none;
            float: right;
            color: $gold;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    .results-count{
        margin-top: 1rem;
        font-size: 1.4rem;
    }

    .all-results-help-text{
        font-size: 1.2rem;
        color: $gold;
        text-align: right;
        margin-bottom: 10px;
        @media screen and (max-width: $sm-breakpoint) {
            text-align: left;
        }
    }

    .all-results-button{
        a.button{
            font-size: 1.8rem;
            display: block;
            padding: 2rem 3rem;
            text-decoration: none;
            span{
                color: #222;
            }
        }
    }

}

//suggested results
ul.ui-autocomplete {
    z-index: 1200;
    border: 1px solid $gold;
    background: $white;
    .suggestion-title{
        a{
            font-weight: bold;
            font-size: 1.5rem;
            color: $gold;
            text-decoration: underline;
        }
    }
    .display-link{
        a{
            color: $blue;
            font-size: 1.3rem;
        }
    }
    .ui-state-focus{
        background: $light-sandstone;
        margin: 0px;
        border: none;
        .display-link{
            a{
                font-weight: normal;
            }
        }
    }
}
