.sidebar {
    padding: 0 20px;
    position: absolute;
    top: 2.9rem;
    right: 0px;
    margin-bottom: -1rem;
}
.sidebar_active {padding-left: 0;}
.sidebar_active_reverse {padding-right: 1rem;}

.side_nav {
  padding: .5rem 0 1rem 0;
  border-bottom: 1px solid $lightdarker;
  border-top: 1px solid $white;
  background-color: $side-nav-background;
  .side_nav_header {
    color: $side-nav-header-text;
    font-weight: 700;
    padding: 0.3rem 1.6rem;
    font-size: 0.9em;
    a { color: $side-nav-link-text; }
  }
  .side_nav_list {
    a {
      line-height: 1.5em;
      padding: 4px 20px;
      color: $side-nav-link-text;
      text-decoration: underline;
      font-size: 0.80em;
    }
    i, img {
      display: inline-block;
      margin-right: 10px;
      font-size: 1.4em;
      float: none;
    }
    img {
      height: 0.9em;
    }
    .gato-sociallink {
      line-height: 1.4em;
    }
  }
}

.eq-parent[max-width="800px"] .sidebar {
    position: inherit;
    top: 0px;
    padding: 0;
}

@media screen and (min-width: $xs-breakpoint){
    .sidebar_active {padding-left: 2rem;}
    .sidebar_active_reverse {padding-right: 3rem;}
}

@media screen and (min-width: $md-breakpoint) {
    .side_nav {margin-left: 0;}
}
