.sidebar-container {
  .sidebar {
    padding: 0 2rem;
    @media screen and (max-width: $sidebar-moves-below-point) {
      padding: 0;
    }
  }
}

/* link blocks inside the sidebar */
.side_nav {
  padding: 1.5rem 0 0 0;
  border-bottom: 1px solid $lightdarker;
  border-top: 1px solid $white;
  background-color: $side-nav-background;
  .side_nav_header {
    color: $side-nav-header-text;
    font-weight: 700;
    padding: 0.6rem 1.8rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    &.solo { margin-bottom: 2rem; }
    a {
      color: $side-nav-link-text;
      text-decoration: none;
      margin: -0.6rem -1.8rem;
      padding: 0.6rem 1.8rem;
      &:hover { background: $sandstone; }
    }
  }
  .side_nav_list {
    padding-bottom: 2rem;
    li:hover {
      background-color: $sandstone;
    }
    a {
      line-height: 1.5em;
      padding: 0.6rem 1.8rem;
      color: $side-nav-link-text;
      text-decoration: underline;
      font-size: 1.5rem;
    }
    i, img {
      display: inline-block;
      margin-right: 1rem;
      font-size: 1.8rem;
      float: none;
    }
    img {
      height: 1.5rem;
    }
  }
  .social-links {
    .social-media-icons {
      padding: 0;
      list-style: none;
    }
  }
}

