.page_content {
  line-height: 3rem;
  word-wrap: break-word;
  a{
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 1px 3px;
    margin: -1px -3px;
    color: $content-link-text;
    text-decoration: underline;
    &:hover {background: $content-link-hover;}
  }
  h1, h2{
    font-size: 2.7rem;
    font-weight: 600;
    color: $very-dark;
    padding: 1.6rem 0;
    margin: 0;
    line-height: 3.5rem;
    a{
      color: $maroon;
    }
  }
  h3{
    font-size: 2.2rem;
    color: $gold;
    line-height: 3.6rem;
    a{
      color: $gold; /*may need to be important */
    }
  }
  h4, h5, h6{
    font-size: 1.8rem;
    color: $charcoal;
    margin: 1em 0;
    a{
      color: $charcoal; /*may need to be important */
    }
  }
  h1, h2, h3, h4, h5, h6{
    a:hover{
      text-decoration: none; /*may need to be important */
      background: transparent ; /*may need to be important */
    }
  }
}

.column_paragraph {
  img { max-width: 100%; height: auto; }
  table img { max-width: none; }
  figure {
    margin: 0;
    max-width: 100%;
    a{
      margin: 0;
      padding: 0;
      &:hover{
        background: transparent;  /*may need to be important*/
      }
    }
  }
  figcaption{
    margin-top: -1rem;
    font-size: 1.4rem;
    background: $sandstone;
    padding: 1.2rem 1.4rem;
    line-height: 2.2rem;
    text-align: center;
    a{
      color: $maroon; /* may need to be important */
      &:hover{
        background: transparent;
        text-decoration: none;
      }
    }
  }
  a img {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    /* This kills weird opacity image hover effects in Webkit browsers */
    -webkit-backface-visibility: hidden;
    &:hover{
      opacity: 0.9;
    }
  }
  a:not([href]), a[href=""] {
    &, &:hover {
      color: inherit;
      background: transparent;
      text-decoration: none;
    }
  }

  blockquote{
    font-family: 'Adobe Garamond W01', Garamond, 'Goudy Old Style', 'Times New Roman';
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: 400;
    padding: 1rem 2rem;
    border-top: 4px solid $charcoal;
    border-bottom: 4px solid $charcoal;
    margin: 5rem 0;
  }



  hr {
    position: initial;
    margin: 2rem 0;
    height: 1px;
    border: 0px solid #fff;
    background: $khaki;
  }
  ul, ol {
    list-style-position: inside;
    margin: 2rem 0 2rem 3rem;
    padding: 0;
  }

  .rich-editor-table{
    width:100%;
    overflow-x:scroll;
    table{
      border: none;
    }
  }

  table{
    caption {
      background: $gold;
      font-weight: 500;
      color: $white;
      p {
        margin: 1.2rem;
      }
    }
    td, th{
      padding: 0.5rem 1rem;
      border-color: $khaki;
    }
    th {background: #f4f1ed;}
  }
}
