.column_paragraph {
  line-height: 1.8;
  a{
    text-decoration: underline;
  }
  h2 {
    font-size: 2.7rem;
    line-height: 3.5rem;
    font-weight: 600;
    color: $very-dark;
    a{
      color: $maroon;
    }
  }
  h3 {
    font-size: 2.2rem;
    color: $gold;
    a{
      color: $gold; /*may need to be important */
    }
  }
  h4, h5, h6{
    font-size: 1.8rem;
    color: $charcoal;
    a{
      color: $charcoal; /*may need to be important */
    }
  }
  h2, h3, h4, h5, h6{
    a:hover{
      text-decoration: none; /*may need to be important */
      background: transparent ; /*may need to be important */
    }
  }

  img { max-width: 100%; height: auto; }
  table img, .pswp img { max-width: none; }
  a span {
    color: inherit !important;
  }
  a img {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    /* This kills weird opacity image hover effects in Webkit browsers */
    -webkit-backface-visibility: hidden;
    &:hover{
      opacity: 0.9;
    }
  }
  a[name]:not([href]), a[name][href=""] {
    padding-top: 45px;
    @media (max-width: $sm-breakpoint) {
      padding-top: 0px;
    }
    &, &:hover {
      color: inherit;
      background: transparent;
      text-decoration: none;
    }
  }

  a.link-with-children:hover{
    background-color: transparent;
  }

  blockquote{
    font-family: 'Adobe Garamond W01', Garamond, 'Goudy Old Style', 'Times New Roman';
    font-size: 1.5em;
    font-weight: 400;
    padding: 1rem 2rem;
    border-top: 4px solid $charcoal;
    border-bottom: 4px solid $charcoal;
    margin: 5rem 0;
    p { line-height: 1.5; }
  }

  hr {
    position: initial;
    margin: 2rem 0;
    height: 1px;
    border: 0px solid #fff;
    background: $khaki;
  }
  ul, ol {
    li{
      margin-bottom: 0.75rem;
    }
  }

  table{
    caption {
      font-weight: 500;
      p {
        margin: 1.2rem;
      }
    }
    td, th {
      word-wrap: normal;
      padding: 0.5rem 1rem;
      border-color: $table-border;
    }
    th {
      background: $table-header-bg;
      color: $table-header-text;
    }
  }
}

.masonry-section {
  a.link-with-children:hover{
    background-color: transparent;
  }
}
