/* GATO-TEMPLATE OVERRIDES */

/* TXSTATE2015 VARIABLES */
//Colors
 $default-background:               $gold;
 $container-background:             $white;

 $banner-top:                       $khaki;
 $banner-bottom:                    $darkest-sandstone;
 $banner-bottom-border:             $gold;
 $hamburger-button:                 $very-dark;
 $hamburger-button-border:          $lightest-gold;
 $hamburger-button-background:      $dark-sandstone;
 $hamburger-menu-color:             $light-gray;
 $hamburger-menu-text:              $white;

 $mobile-nav-background:            $charcoal;
 $mobile-search-border:             $darkest-charcoal;
 $mobile-search-background:         $almost-white;
 $mobile-search-icon:               $darkest-charcoal;
 $mobile-super-user:                $darkest-charcoal;
 $mobile-super-user-lower:          $almost-black;

 $header-background:                $maroon;
 $header-text:                      $white;

 $search-placeholder:               $dark-gray;
 $search-box-shadow:                $gold;
 $search-icon:                      $gold;
 $search-icon-hover:                $lightest-gold;
 $search-text:                      $charcoal;

 $super-user-background:            $gold;
 $super-user-border:                transparent;
 $super-user-text:                  $white;
 $super-user-hover:                 $light-gold;

 $nav-border-bottom:                $gold;


 $primary-nav-gradient-top:         $sandstone;
 $primary-nav-gradient-bottom:      $khaki;
 $primary-nav-box-shadow:           $darkest-sandstone;
 $primary-nav-item-left-border:     $darkest-sandstone;
 $primary-nav-bottom-border:        $darkest-sandstone;
 $primary-nav-item-text:            $very-dark;
 $primary-nav-item-text-hover:      $white;
 $primary-nav-item-background-hover: $gold;


 $secondary-nav-border:             $darkest-sandstone;
 $secondary-nav-background:         $sandstone;
 $secondary-nav-border-top:         $light-sandstone;
 $secondary-nav-border-bottom:      $dark-sandstone;
 $secondary-nav-hover-background:   $khaki;
 $secondary-nav-item-text:          $very-dark;
 $secondary-nav-fixed-border:       $gold;

 $side-nav-background:              $light-sandstone;
 $side-nav-border-bottom:           $dark-sandstone;
 $side-nav-border-top:              $white;
 $side-nav-header-text:             $charcoal;
 $side-nav-link-text:               $maroon;

 $content-background:               $white;
 $content-link-text:                $blue;
 $content-link-hover:               $sandstone;

 $figure-caption-background:        $sandstone;
 $figure-caption-link-hover:        $light-sandstone;

 $department-name-text:             $white;

 $breadcrumbs-text:                 $blue;

 $icon-color:                       $maroon;

 $events-tab-unselected:            #B9A0A1;

 $footer-background:                $gold;
 $footer-text:                      $white;
 $footer-link-hover-background:     $maroon;
 $footer-button-border:             $lightest-gold;
 $footer-button-hover-border:       $darkest-sandstone;

 $legalfooter-background:           $maroon;
 $legalfooter-text:                 $light-gray;
 $quicklinks-text:                  $white;

/* Overrides for component colors */
$separator-color: $khaki;


@import "gato-template-txstate2015/css/colors";

//fonts
$univers: 'Univers W01', Helvetica, Calibri, Arial, sans-serif;
$garamond: 'Adobe Garamond W01', Garamond, 'Goudy Old Style', 'Times New Roman', serif;

//media query breakpoints
$xs-breakpoint: 40rem; //~640px
$sm-breakpoint: 50rem; //~800px
$md-breakpoint: 64rem; //~1024px
$lg-breakpoint: 80rem; //~1280px
$xl-breakpoint: 90rem; //~1440px

