@media print {

	body {
		background: none;
	}
	
	.tsus-topbanner-bg {
		display: none;
	}
		
	.ddmenu-menubar {
		display: none;
	}
	
	.tsus-link-footer {
		display: none;
	}
	
	.txst-footer {
		display: none;
	}
		
	.gato-navcolumn {
		display: none;
	}
	
	.tsus-contentcolumn {
		width: 710px !important;
	}
		
	.tsus-crumb-container {
		display: none;
	}
	
	.mgnlMainbarPreview {
		display: none;
	}

}