.hours-modal {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#hours-container {
  position: fixed;
  overflow: auto;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  min-width: 320px;
  width: 500px;
  max-width: 95vw;
  height: 95vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h2 {
    display: inline-block;
    margin-right: 1rem;
  }
  button {
    background: transparent;
    border: none;
    -webkit-appearance: none;
    padding: 0;
  }
  .hours-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    padding: 1rem;
  }
  .hours-header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2rem 2rem 0;
    * {
      margin: 0;
    }
    .hours-pdf {
      margin-left: auto;
      margin-right: 1rem;
      background-color: $white;
      color: $black;
      padding: 0.7rem;
      &:hover {
        color: $white;
      }
    }

  }
  .hours-header {
    border-bottom: 1px solid $light-gray;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
    &.hours-shown i:before {
      content: $fa-var-angle-up;
    }
    button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      text-align: left;
      i {
        margin-right: 0.6rem;
      }
    }
  }
  .hours-month {
    display: none;
    padding: 0;
    margin: 0 0 2rem 0;
    transition: height 0.3s;
    overflow: hidden;
    &.hours-shown {
      display: block;
    }
  }
  .hours-day {
    display: flex;
    align-items: stretch;
    border-top: 1px solid $table-border;
    border-left: 1px solid $table-border;
    border-right: 1px solid $table-border;
    &:last-child {
      border-bottom: 1px solid $table-border;
    }
    &:nth-child(2n) {
      background-color: $table-altrow-bg;
    }
    .hours-date-container {
      display: block;
      position: relative;
      border-right: 1px solid $table-border;
      background-color: $mc1-bg;
      color: $mc1-text;
      margin-right: 0.5rem;
      width: 5rem;
      min-height: 5rem;
    }
    .hours-date {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .hours-dow, .hours-number {
      display: block;
      line-height: 1.1;
      text-align: center;
    }
    .hours-number {
      font-size: 2.2rem;
    }
    .hours-dow {
      font-size: 1.4rem;
    }
    .hours-description {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 1.4;
      padding-left: 1rem;
    }
    .hours-interval {
      display: block;
    }
  }
}

.gato-component-hours a.full, #hours-container .hours-pdf {
  font-size: 90%;
  text-decoration: none;
  color: $hours-button-text;
  background-color: $hours-button-bg;
  border: 1px solid $hours-button-border;
  border-radius: 3px;
  padding: 0.2rem 0.8rem;
  font-weight: 500;
  &:hover {
    background-color: $hours-button-hover;
  }
}

.gato-component-hours {
  .words, a.full {display: inline-block;}
  .words {margin-right: 1.2rem;}
}
