.msection-title {
  &.center {
    text-align: center;
  }
}

.megasection-bar > .mgnlEditorBar.component .mgnlEditorBarButtons .editorIcon.icon-edit:before {
  font-family: 'FontAwesome';
  content: "\f013";
}