.gato-faq-expand-collapse {
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.gato-faq-spacer {
  padding:1em;
}

body ul.gato-faq-hierarchy {
  list-style: none;
  margin: 0;
  padding: 0;

  .gato-faq-header {
    margin: 0;
  }
  .gato-faq-header a {
    display: block;
    font-weight: bold;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.8rem;
    color: $faq-item-text-color;
    &:hover, &:active {
      color: $faq-item-text-hover-color;
    }
    i {
      display: none;
    }
  }
  .gato-faq-group-children .gato-faq-header i {
    display: inline;
  }
  .gato-faqitem-answer {
    display: none;
    overflow: hidden;
    padding: 0.5rem;
    p {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
    blockquote {
      margin: 1rem 0 2rem 0;
      font-size: 1.3em;
    }
  }

  .gato-faq-group-children {
    list-style: none;
    margin: 0;
    padding: 0 0 0 2rem;
    overflow: hidden;
    li { margin: 0; }
  }

  > li > .gato-faq-header a { // top level folder or question title
    margin: 1px;
    box-shadow: 0px 0px 0px 1px $faq-question-box-shadow-color;
    padding: 1.2rem 2rem;
    font-weight: 500;
    background-color: $faq-item-background-color;
    &:hover, &:active {
      background-color: $faq-item-background-hover-color;
    }
  }
  > .gato-faqitem {
    box-shadow: inset 0px 0px 0px 1px $faq-item-box-shadow-color;
    .gato-faqitem-answer {
      padding: 1.5rem 3rem;
    }
  }
  > .gato-faq-group {
    box-shadow: inset 0px 0px 0px 1px $faq-group-box-shadow-color;
    > .gato-faq-group-children {
      padding: 1.5rem 3rem;
    }
  }
  li.shown > .gato-faq-header i:before {
    content: $fa-var-caret-down;
  }
}
