.gato-faq-expand-collapse {
  margin-bottom: 10px;
}

.txst-faqitem .txst-faqitem-question, .faq-hierarchy > .txst-faq-group-title {
  margin: 0;
  padding: 0;
  a {
    display: block;
    margin: 0;
    padding: 14px 25px 12px 25px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    line-height: 20px;
    border-bottom: 1px solid $gemini-border;
    border-top: 1px solid $lightlighter; //need to define this for each color group?
    background-color: $gemini-bg;
    color: $gemini-text;
    &:hover, &.active {
      background-color: $gemini-comp-bg;
      color: $gemini-comp-text;
    }
  }
}

.txst-faqitem {
  .txst-faqitem-answer {
    overflow: hidden;
    padding: 18px 40px;
    border-left: 1px solid $gemini-bg;
    border-right: 1px solid $gemini-bg;
    p, ul, ol {
      overflow: hidden;
    }
  }
}

body {
  .faq-hierarchy > .txst-faqitem{
    border-bottom: 1px solid #e8e3db;
  }
  .faq-hierarchy .txst-faq-group .txst-faqitem {
    .txst-faqitem-question a{
      background: none;
      border-top: none;
      border-bottom: none;
      font-weight: bold;
      font-size: 1.8rem;
      padding: 5px 0px 5px 5px;
    }
    .txst-faqitem-answer{
      border-left: none;
      border-right: none;
      padding: 5px 0px 5px 5px;

    }
  }

  .txst-faq-group-title {
    margin: 0px;
    a {
      color:$gemini-text;
      text-decoration: none;
      font-size: 2rem;
      padding: 5px 0px 5px 5px;
      
      &:hover{
        background: inherit;
      }
    }
  }

  .faq-hierarchy > .txst-faq-group{
    border-left: 1px solid $gemini-bg;
    border-right: 1px solid $gemini-bg;
  }
}
