.gato-faq-expand-collapse {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.txst-faqitem .txst-faqitem-question, .faq-hierarchy > .txst-faq-group-title {
  margin: 0;
  padding: 0;
  box-shadow: 0px 0px 0px 1px $faq-question-box-shadow-color; 
  
  a {
    display: block;
    margin: 0;
    padding: 1.2rem 2rem;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    line-height: 2.8rem;
    border-bottom: none;
    border-top: none;
    background-color: $faq-item-background-color;
    color: $faq-item-text-color;
    &:hover, &.active {
      background-color: $faq-item-background-hover-color;
      color: $faq-item-text-hover-color;
    }
  }
}
.txst-faqitem .txst-faqitem-question{
  margin: 1px;
}

.faq-hierarchy > .txst-faq-group-title{
  margin: 1px !important;
}

.txst-faqitem {
  .txst-faqitem-answer {
    overflow: hidden;
    padding: 1.5rem 3rem;
  }
}

body {
  .faq-hierarchy{
    margin-top: 2rem;
  }
  .faq-hierarchy > .txst-faqitem{
    box-shadow: inset 0px 0px 0px 1px $faq-item-box-shadow-color;
  }
  .faq-hierarchy .txst-faq-group .txst-faqitem {
    .txst-faqitem-question {
      box-shadow: none;
      a{
        background: none;
        border-top: none;
        border-bottom: none;
        font-weight: bold;
        font-size: 1.8rem;
        padding: 5px 0px 5px 5px;
      }
    }
    .txst-faqitem-answer{
      border-left: none;
      border-right: none;
      padding: 5px 0px 5px 5px;

    }
  }

  .txst-faq-group-title {
    margin: 0px;
    a {
      color: $faq-group-title-text-color;
      text-decoration: none;
      font-size: 2rem;
      padding: 5px 0px 5px 5px;
      
      &:hover{
        background: inherit;
      }
    }
  }

  .faq-hierarchy > .txst-faq-group{
    box-shadow: inset 0px 0px 0px 1px $faq-group-box-shadow-color;
  }
}
