.txst-faqitem-question a {
  color: #501214;
}

.txst-faqitem-answer {
  overflow: hidden;
}

.txst-faqitem-answer p, .txst-faqitem-answer ul, .txst-faqitem-answer ol {
  overflow: hidden;
}

h2.txst-faqitem-question {
  font-size: 1.2em;
  line-height: 1.2em;
}
