.gato-faq-expand-collapse {
  margin-bottom: 10px;
}

.txst-faqitem {
  .txst-faqitem-question {
    margin: 0;
    padding: 0;
    a {
      display: block;
      margin: 0;
      padding: 14px 25px 12px 25px;
      font-size: 18px;
      font-weight: normal;
      text-decoration: none;
      line-height: 20px;
      border-bottom: 1px solid $gemini-border;
      border-top: 1px solid $lightlighter; //need to define this for each color group?
      background-color: $gemini-bg;
      color: $gemini-text;
      &:hover, &.active {
        background-color: $gemini-comp-bg;
        color: $gemini-comp-text;
      }
    }
  }

  .txst-faqitem-answer {
    overflow: hidden;
    padding: 18px 40px;
    border-left: 1px solid $gemini-bg;
    border-right: 1px solid $gemini-bg;
    p, ul, ol {
      overflow: hidden;
    }
  }
}


body .txst-faq-group-title a {
  color:$gemini-text;
  text-decoration: none;
  font-size: 2rem;
  &:hover{
    background: inherit;
  }
}
