label.colorsel {
  display: inline-block;
  padding: 0 1rem;
  margin: 0.25rem; 
  width: 15%;

  &.color1 > span { background-color: $mc1-bg; color: $mc1-text; &:before { content: $mc1-name; } }
  &.color2 > span { background-color: $mc2-bg; color: $mc2-text; &:before { content: $mc2-name; } }
  &.color3 > span { background-color: $mc3-bg; color: $mc3-text; &:before { content: $mc3-name; } }
  &.color4 > span { background-color: $mc4-bg; color: $mc4-text; &:before { content: $mc4-name; } }
  &.color5 > span { background-color: $mc5-bg; color: $mc5-text; &:before { content: $mc5-name; } }
  &.color6 > span { background-color: $mc6-bg; color: $mc6-text; &:before { content: $mc6-name; } }
  &.color7 > span { background-color: $mc7-bg; color: $mc7-text; &:before { content: $mc7-name; } }
  
  input[type=radio] {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    width: 1px;
    
    & + span {
      display: inline-block;
      font-weight: bold;
      padding: 1rem;
      width: 100%;
      text-align: center;
      white-space: nowrap;
      border: 1px solid $mgnl-fld-border;
    }
    
    &:checked + span {
      outline: 5px solid $mgnl-outline;
    }
  }

  $gradients: (
    linear-gradient(to right, $mc1-bg, $mc1-bg),
    linear-gradient(to right, $mc2-bg, $mc2-bg),
    linear-gradient(to right, $mc3-bg, $mc3-bg),
    linear-gradient(to right, $mc4-bg, $mc4-bg),
    linear-gradient(to right, $mc5-bg, $mc5-bg),
    linear-gradient(to right, $mc6-bg, $mc6-bg),
    linear-gradient(to right, $mc7-bg, $mc7-bg)
  );

  @function getAlternatingBackgroundImage($numColors){
    $backgroundImage: nth($gradients, 1);
    @for $i from 2 through $numColors {
      $backgroundImage: $backgroundImage + ",";
      $backgroundImage: $backgroundImage + nth($gradients, $i);
    }
    @return $backgroundImage;
  }

  @function getBackgroundPosition($numColors){
    $backgroundPosition: 0 0;
    $x: 100 / ($numColors - 1);
    @for $i from 1 through $numColors - 1 {
      $backgroundPosition: $backgroundPosition + ",";
      $backgroundPosition: $backgroundPosition + ($i * $x);
      $backgroundPosition: $backgroundPosition + "% 0";
    }
    @return $backgroundPosition;
  }

  @function getBackgroundSize($numColors){
    $x: 100 / ($numColors);
    $backgroundSize: $x + "% " + "100%";
    @for $i from 2 through $numColors - 1 {
      $backgroundSize: $backgroundSize + ",";
      $backgroundSize: $backgroundSize + $x + "% " + "100%";
    }
    @return $backgroundSize;
  }

  &.alternating > span {
    color: white;
    text-shadow: 1px 1px 0 $almost-black, 1px -1px 0 $almost-black, -1px 1px 0 $almost-black, -1px -1px 0 $almost-black;

    background-image: getAlternatingBackgroundImage($template-color-count);

    background-repeat:no-repeat;
    background-position: unquote(getBackgroundPosition($template-color-count));
    
    background-size: unquote(getBackgroundSize($template-color-count));
  }

}
