/* NAMES FOR COLORS */

/* Default colors */
$default-graphite:    #444444;
$default-blue:        #2c5271;
$default-silver:      #afafaf;
$default-ice:         #c9dbea;
$default-pink-sand:   #e8dbdb;
$default-sand:        #edd4b2;
$default-beige:       #c4a77d;

$darkest-graphite:    #303030;
$dark-graphite:       #3d3d3d;
$light-graphite:      #575757;
$lightest-graphite:   #696969;
$graphite-shadow:     #222222;

$darkest-default-blue: #23425A; //20% darker
$dark-default-blue:   #284A66;
$light-default-blue:  #41637f;
$lightest-default-blue: #56758d;
$default-blue-shadow: #1F394F;

$darkest-silver:      #7a7a7a;
$dark-silver:         #9e9e9e;
$light-silver:        #bfbfbf;
$lightest-silver:     #c7c7c7;
$silver-shadow:       #696969;

$darkest-ice:         #A1AFBB;
$dark-ice:            #B5C5D3;
$light-ice:           #D4E2EE;
$lightest-ice:        #DFE9F2;
$ice-shadow:          #8D99A4;

$darkest-pink-sand:   #BAAFAF;
$dark-pink-sand:      #D1C5C5;
$light-pink-sand:     #EADFDF;
$lightest-pink-sand:  #EFE6E6;
$pink-sand-shadow:    #A29999;

$darkest-sand:        #BEAA8E;
$dark-sand:           #D5BFA0;
$light-sand:          #F1DDC1;
$lightest-sand:       #F4E5D1;
$sand-shadow:         #8E7F6B;

$darkest-beige:       #9D8664;
$dark-beige:          #B09671;
$light-beige:         #D0B997;
$lightest-beige:      #DCCAB1;
$beige-shadow:        #76644B;

$white:               #FFFFFF;
$black:               #000000;
$very-dark:           #222;    //light black?  almost black but not quite as black as #111?
$almost-black:        #111;
$almost-white:        #EBEBEB;

$barely-gray:          #f5f5f5;
$very-light-gray:      #ededed;
$light-gray:           #D7D7D7; //80% lighter than charcoal
$medium-light-gray:    #767676;
$medium-gray:          #595959;
$dark-gray:            #484848; //unrelated to charcoal?
$grey:                 #444;  //this came from TSUS 2017, for masonry

//Colors used in the editing environment
$inheritance-blue:    #000080;
$mgnl-outline:        #93BBC4;
$mgnl-fld-border:     #D1D1D1;
$editor-notice-bg:    #ffffaa;
$editor-notice-text:  #222;
$editor-warning-bg:   #ffaaaa;
$editor-warning-text: #222;

$transparent:         rgba(0, 0, 0, 0);

// Emergency colors
$emergency-color: $white;
$emergency-bg: #B30E1B;
$emergency-bg-highlight: #8F0B16;
$emergency-background-gradient: repeating-linear-gradient(-135deg, #6B0810, #6B0810 1.25rem, #8F0B16 1.25rem, #8F0B16 2.5rem);

$template-color-count:      8;

$mc1-name:                  'Graphite';
$mc1-bg:                    $default-graphite;
$mc1-text:                  $white;
$mc1-link:                  $white;
$mc1-header:                $white;
$mc1-border:                $darkest-graphite;
$mc1-comp-bg:               $light-graphite;
$mc1-comp-text:             $mc1-text;
$mc1-comp-link:             $mc1-link;
$mc1-comp-header:           $mc1-header;
$mc1-comp-border:           $mc1-border;
$mc1-hilite-bg:             $white;
$mc1-hilite-text:           $default-graphite;
$mc1-grad-top:              $light-graphite;
$mc1-grad-bottom:           $dark-graphite;
$mc1-comp-grad-top:         $lightest-graphite;
$mc1-comp-grad-bottom:      $default-graphite;
$mc1-shadow:                $graphite-shadow;

$mc2-name:                  'Blue';
$mc2-bg:                    $default-blue;
$mc2-text:                  $white;
$mc2-link:                  $white;
$mc2-header:                $white;
$mc2-border:                $darkest-default-blue;
$mc2-comp-bg:               $light-default-blue;
$mc2-comp-text:             $white;
$mc2-comp-link:             $mc2-link;
$mc2-comp-header:           $mc2-header;
$mc2-comp-border:           $mc2-border;
$mc2-hilite-bg:             $light-default-blue;
$mc2-hilite-text:           $white;
$mc2-grad-top:              $light-default-blue;
$mc2-grad-bottom:           $dark-default-blue;
$mc2-comp-grad-top:         $lightest-default-blue;
$mc2-comp-grad-bottom:      $mc2-bg;
$mc2-shadow:                $default-blue-shadow;


$mc3-name:                  'Silver';
$mc3-bg:                    $default-silver;
$mc3-text:                  $black;
$mc3-link:                  $black;
$mc3-header:                $black;
$mc3-border:                $darkest-silver;
$mc3-comp-bg:               $light-silver;
$mc3-comp-text:             $mc3-text;
$mc3-comp-link:             $mc3-link;
$mc3-comp-header:           $mc3-header;
$mc3-comp-border:           $mc3-border;
$mc3-hilite-bg:             $white;
$mc3-hilite-text:           $darkest-silver;
$mc3-grad-top:              $light-silver;
$mc3-grad-bottom:           $dark-silver;
$mc3-comp-grad-top:         $lightest-silver;
$mc3-comp-grad-bottom:      $mc3-bg;
$mc3-shadow:                $silver-shadow;

$mc4-name:                  'Ice';
$mc4-bg:                    $default-ice;
$mc4-text:                  $black;
$mc4-link:                  $black;
$mc4-header:                $black;
$mc4-border:                $darkest-ice;
$mc4-comp-bg:               $light-ice;
$mc4-comp-text:             $mc4-text;
$mc4-comp-link:             $mc4-link;
$mc4-comp-header:           $mc4-header;
$mc4-comp-border:           $mc4-border;
$mc4-hilite-bg:             $white;
$mc4-hilite-text:           $darkest-ice;
$mc4-grad-top:              $light-ice;
$mc4-grad-bottom:           $dark-ice;
$mc4-comp-grad-top:         $lightest-ice;
$mc4-comp-grad-bottom:      $mc4-bg;
$mc4-shadow:                $ice-shadow;

$mc5-name:                  'Pink Sand';
$mc5-bg:                    $default-pink-sand;
$mc5-text:                  $black;
$mc5-link:                  $black;
$mc5-header:                $black;
$mc5-border:                $darkest-pink-sand;
$mc5-comp-bg:               $lightest-pink-sand;
$mc5-comp-text:             $mc5-text;
$mc5-comp-link:             $mc5-link;
$mc5-comp-header:           $mc5-header;
$mc5-comp-border:           $mc5-border;
$mc5-hilite-bg:             $lightest-pink-sand;
$mc5-hilite-text:           $black;
$mc5-grad-top:              $light-pink-sand;
$mc5-grad-bottom:           $dark-pink-sand;
$mc5-comp-grad-top:         $lightest-pink-sand;
$mc5-comp-grad-bottom:      $mc5-bg;
$mc5-shadow:                $pink-sand-shadow;

$mc6-name:                  'Sand';
$mc6-bg:                    $default-sand;
$mc6-text:                  $black;
$mc6-link:                  $black;
$mc6-header:                $black;
$mc6-border:                $darkest-sand;
$mc6-comp-bg:               $dark-sand;
$mc6-comp-text:             $mc6-text;
$mc6-comp-link:             $mc6-link;
$mc6-comp-header:           $mc6-header;
$mc6-comp-border:           $mc6-border;
$mc6-hilite-bg:             $lightest-sand;
$mc6-hilite-text:           $black;
$mc6-grad-top:              $light-sand;
$mc6-grad-bottom:           $dark-sand;
$mc6-comp-grad-top:         $lightest-sand;
$mc6-comp-grad-bottom:      $default-sand;
$mc6-shadow:                $sand-shadow;

$mc7-name:                  'Beige';
$mc7-bg:                    $default-beige;
$mc7-text:                  $black;
$mc7-link:                  $black;
$mc7-header:                $black;
$mc7-border:                $darkest-beige;
$mc7-comp-bg:               $lightest-beige;
$mc7-comp-text:             $mc7-text;
$mc7-comp-link:             $mc7-link;
$mc7-comp-header:           $mc7-header;
$mc7-comp-border:           $mc7-border;
$mc7-hilite-bg:             $white;
$mc7-hilite-text:           $black;
$mc7-grad-top:              $light-beige;
$mc7-grad-bottom:           $dark-beige;
$mc7-comp-grad-top:         $lightest-beige;
$mc7-comp-grad-bottom:      $mc7-bg;
$mc7-shadow:                $beige-shadow;

$mc8-name:                  'White';
$mc8-bg:                    $white;
$mc8-text:                  $black;
$mc8-link:                  $black;
$mc8-header:                $black;
$mc8-border:                #999999;
$mc8-comp-bg:               $white;
$mc8-comp-text:             $mc8-text;
$mc8-comp-link:             $mc8-link;
$mc8-comp-header:           $mc8-header;
$mc8-comp-border:           $mc8-border;
$mc8-hilite-bg:             #e6e6e6;
$mc8-hilite-text:           $black;
$mc8-grad-top:              #cccccc;
$mc8-grad-bottom:           #b3b3b3;
$mc8-comp-grad-top:         #e6e6e6;
$mc8-comp-grad-bottom:      $mc8-bg;
$mc8-shadow:                #808080;

$mc9-name:                  'Transparent';
$mc9-bg:                    $transparent;
$mc9-text:                  $white;
$mc9-link:                  $white;
$mc9-header:                $white;
$mc9-border:                $transparent;
$mc9-comp-bg:               $transparent;
$mc9-comp-text:             $mc9-text;
$mc9-comp-link:             $mc9-link;
$mc9-comp-header:           $mc9-header;
$mc9-comp-border:           $mc9-border;
$mc9-hilite-bg:             $transparent;
$mc9-hilite-text:           $white;
$mc9-grad-top:              $transparent;
$mc9-grad-bottom:           $transparent;
$mc9-comp-grad-top:         $transparent;
$mc9-comp-grad-bottom:      $mc9-bg;
$mc9-shadow:                $transparent;

$mc10-name:                 'Red';
$mc10-bg:                   $emergency-bg;
$mc10-text:                 $emergency-color;
$mc10-link:                 $emergency-color;
$mc10-header:               $emergency-color;
$mc10-border:               $transparent;
$mc10-comp-bg:              $emergency-bg-highlight;
$mc10-comp-text:            $mc9-text;
$mc10-comp-link:            $mc9-link;
$mc10-comp-header:          $mc9-header;
$mc10-comp-border:          $mc9-border;
$mc10-hilite-bg:            $emergency-color;
$mc10-hilite-text:          $emergency-bg-highlight;
$mc10-grad-top:             #b9232f;
$mc10-grad-bottom:          #a30d19;
$mc10-comp-grad-top:        #c03944;
$mc10-comp-grad-bottom:     $mc10-bg;
$mc10-shadow:               #720912;