.gato-editor-notice {
  padding: 3px;
  background-color: $editor-notice-bg;
  color: $editor-notice-text;
}
.gato-editor-warning {
  padding: 3px;
  background-color: $editor-warning-bg;
  color: $editor-warning-text;
}
