/* Simple Grid Using Element Queries */
$collist : 2 3 4 5 6 8 12;
@mixin eq-base($name) {
  $ret : '.eq-'+$name+'-1-1';
  @each $i in $collist {
    $max : $i - 1;
    @for $j from 1 through $max {
      $ret : $ret + ', .eq-'+$name+'-' + $j + '-' + $i;
    }
  }
  #{$ret} {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    width: 100%;
  }
}

@mixin eq-cols($name) {
  @each $i in $collist {
    $max : $i - 1;
    @for $j from 1 through $max {
      &.eq-#{$name}-#{$j}-#{$i} {
        width: 100% * $j / $i;
      }
      &.eq-#{$name}-off-#{$j}-#{$i} {
        margin-left: 100% * $j / $i;
      }
    }
  }
}

@include eq-base('mn');
.eq-parent > * {
  @include eq-cols('mn');
}

@include eq-base('xs');
.eq-parent[min-width~="100px"] > * {
  @include eq-cols('xs');
}

@include eq-base('sm');
.eq-parent[min-width~="200px"] > * {
  @include eq-cols('sm');
}

@include eq-base('md');
.eq-parent[min-width~="401px"] > * {
  @include eq-cols('md');
}

@include eq-base('lg');
.eq-parent[min-width~="800px"] > * {
  @include eq-cols('lg');
}

@include eq-base('xl');
.eq-parent[min-width~="1200px"] > * {
  @include eq-cols('xl');
}

.eq-parent {
  letter-spacing: -1rem;
}
.eq-parent > * {
  letter-spacing: normal;
}
