@import "gato-lib/css/fontawesome/variables";
$resource-root:         "../..";
$fa-font-path:          $resource-root+"/gato-lib/css/fontawesome/webfonts";
$fa-snapchat-font-path: $resource-root+"/gato-lib/css/fa-snapchat/webfonts";

@import "gato-lib/css/colors";

// Social colors
$instagram: #000;
$twitter: #55acee;
$facebook: #3b5998;

$lightbg : $default-pink-sand;
$lighttext : black;
$lightlighter: $light-pink-sand;
$lightdarker: $dark-pink-sand;

$mediumbg : $dark-pink-sand;
$mediumtext: black;

$body-background-color:   $white;

//section background (temporary)
$section-background-color: $very-light-gray;

//Search Drop Down
$search-dd-overlay-background-color:  $default-beige;
$search-dd-dropdown-background-color: $default-pink-sand;
$search-dd-dialog-font-family:        sans-serif;
$search-dd-input-line-color:          $default-graphite;
$search-dd-input-color:               $default-graphite;
$search-dd-input-placeholder-color:   $default-graphite;
$search-dd-icon-color:                $default-graphite;
$search-dd-radio-label-color:         $default-graphite;
$search-dd-suggested-results-border:  $default-graphite;
$search-dd-suggested-result-title-color: $default-graphite;
$search-dd-suggested-result-link-color: $default-blue;
$search-dd-suggested-result-hover-color: $light-pink-sand;

// Global Search page variables
$search-tabs-border-bottom-color:           $dark-beige;
$search-tab-background:                     $default-pink-sand;
$search-tab-color:                          $default-graphite;
$search-selected-tab-background:            $default-ice;
$search-selected-tab-color:                 $dark-default-blue;
$search-person-name-border:                 $dark-sand;
$search-person-name-color:                  $darkest-beige;
$search-side-box-border:                    $light-pink-sand;
$search-side-box-header-background:         $light-pink-sand;
$search-side-box-header-color:              $default-graphite;
$search-form-input-line-color:              $darkest-beige;
$search-form-input-font-family:             sans-serif;
$search-form-input-placeholder-color:       $darkest-beige;
$search-form-icon-color:                    $darkest-beige;

// Search Results (both global and site search)
$search-result-title:                       $default-graphite;
$search-result-date:                        $light-graphite;
$search-result-url:                         $light-graphite;
$search-pagination-selected-background:     $default-pink-sand;
$search-pagination-hover-background:        $default-pink-sand;
$search-pagination-link-color:              $lightest-graphite;

// Site Search variables
$sitesearch-results-page-title-color:  $default-graphite;
$sitesearch-result-search-input:       $default-graphite;
$sitesearch-result-search-color:       $default-graphite;
$sitesearch-help-text-color:           $default-graphite;
$sitesearch-font-family:                sans-serif;

//Other variables
$content-link-text: $default-blue;
$content-link-hover: $lightest-sand;
$default-border-radius: 3px;
$page-indicator-active: $default-graphite; //was maroon
$page-indicator-inactive: $light-gray;
$page-indicator-hover: rgba($almost-black, 1);

// breakpoints.  These are from the 2015 template but can be overridden in other templates
$mc-breakpoint: 23em;   //~368px
$mn-breakpoint: 31.25em; //~500px
$xs-breakpoint: 40em; //~640px
$sm-breakpoint: 50em; //~800px
$md-breakpoint: 64em; //~1024px
$lg-breakpoint: 80em; //~1280px
$xl-breakpoint: 90em; //~1440px

//the point at which the sidebar moves below the content column instead of next to it
$sidebar-moves-below-point: $sm-breakpoint;

@import "gato-lib/css/mixins";
@import "gato-lib/css/contenttypes";
