@import "gato-lib/css/fontawesome/variables";
$resource-root:         "../..";
$fa-font-path:          $resource-root+"/gato-lib/css/fontawesome/fonts";
$fa-snapchat-font-path: $resource-root+"/gato-lib/css/fa-snapchat/fonts";

/* NAMES FOR COLORS */
$maroon:              #501214; // (106,86,56)
$gold:                #6A5638; // (80, 18, 20)

$charcoal:            #363534; // (54, 53, 52)
$blue:                #005481; // (0, 84, 129)
$river:               #8BAEA1; // (140, 175, 161)
$sandstone:           #E8E3DB; // (232, 227, 219)
$oldgold:             #DEB407; // (222, 180, 7)

$white:                #FFFFFF;

$darkest-maroon:       #400E10; //20% darker than maroon
$dark-maroon:          #481012; //10% darker than maroon
$light-maroon:         #622a2b; //10% lighter than maroon
$lightest-maroon:      #734143; //20% lighter than maroon
$maroon-shadow:        #380D0E;  //30% darker than maroon

$lightest-gold:        #887860;
$light-gold:           #79674C; //10% lighter than gold
$dark-gold:            #5F4D32;
$darkest-gold:         #55452D;    //40% darker than gold
$gold-shadow:          #4A3C27; //30 % darker than gold

$lightest-blue:        #33769A; //20% lighter than blue
$light-blue:           #19658E; //10% lighter than blue
$dark-blue:            #004B74; //10% darker than blue
$darker-blue:          #004367; //20% darker than blue
$blue-shadow:          #003B5A; //30% darker than blue

$lightest-charcoal:    #5E5D5D; //20% lighter than charcoal
$light-charcoal:       #4A4948; //10% lighter than charcoal
$dark-charcoal:        #31302F; //10% darker than charcoal
$darker-charcoal:      #2B2A2A; //20% darker than charcoal
$darkest-charcoal:     #262524; //30% darker than charcoal

$lightest-river:       #A2BEB4; //20% lighter than river
$light-river:          #97B6AA; //10% lighter than river
$dark-river:           #7D9D91; //10% darker than river
$darker-river:         #6F8B81; //20% darker than river
$river-shadow:         #617A71; //30% darker than river

$light-sandstone:      #F4F1ED; //50% lighter than sandstone
$khaki:                #D1C7B7; //50% darker than sandstone
$darkest-sandstone:    #BBAB92; //40% darker than sandstone
$dark-sandstone:       #DDD5C9; //10% darker than sandstone

$lightest-oldgold:     #E5C339; //20% lighter than oldgold
$light-oldgold:        #E1BC20; //10% lighter than oldgold
$dark-oldgold:         #C8A106; //10% darker than oldgold
$darker-oldgold:       #B29006; //20% darker than oldgold
$oldgold-shadow:       #9B7E05; //30% darker than oldgold

$light-gray:           #D7D7D7; //80% lighter than charcoal
$medium-gray:          #767676; 
$dark-gray:            #484848; //unrelated to charcoal?

$very-dark:            #222;    //light black?  almost black but not quite as black as #111?
$almost-black:         #111;
$almost-white:         #EBEBEB;
$inheritance-blue:     #000080;
$mgnl-outline:         #93BBC4;
$mgnl-fld-border:      #D1D1D1;

// Emergency colors
$emergency-color: $white;
$emergency-bg: #B30E1B;
$emergency-bg-highlight: #8F0B16;
$emergency-background-gradient: repeating-linear-gradient(-135deg, #6B0810, #6B0810 1.25rem, #8F0B16 1.25rem, #8F0B16 2.5rem);

@import "gato-lib/css/colors";

// Social colors 
$instagram: #3f729b;
$twitter: #55acee;
$facebook: #3b5998;

/* COLORS ACCORDING TO USAGE */
$primarybg : $maroon;
$primarytext : white;

$lightbg : $sandstone;
$lighttext : black;
$lightlighter: $light-sandstone;
$lightdarker: $dark-sandstone;

$mediumbg : $dark-sandstone;
$mediumtext: black;

//Other variables
$default-border-radius: 3px;
$page-indicator-active: $maroon;
$page-indicator-inactive: rgba($almost-black, 0.25);
$page-indicator-hover: rgba($almost-black, 1);

@import "gato-lib/css/mixins";
