@import "gato-lib/css/fontawesome/variables";
$resource-root:         "../..";
$fa-font-path:          $resource-root+"/gato-lib/css/fontawesome/fonts";
$fa-snapchat-font-path: $resource-root+"/gato-lib/css/fa-snapchat/fonts";

@import "gato-lib/css/colors";

// Social colors
$instagram: #000;
$twitter: #55acee;
$facebook: #3b5998;

/* COLORS ACCORDING TO USAGE */
$primarybg : $default-graphite;  //was maroon
$primaryhover : $light-graphite; //was light-maroon
$primarytext : white;

// $lightbg : $sandstone;
// $lighttext : black;
// $lightlighter: $light-sandstone;
// $lightdarker: $dark-sandstone;
$lightbg : $default-pink-sand;
$lighttext : black;
$lightlighter: $light-pink-sand;
$lightdarker: $dark-pink-sand;

$mediumbg : $dark-pink-sand;
$mediumtext: black;

//Other variables
$default-border-radius: 3px;
$page-indicator-active: $default-graphite; //was maroon
$page-indicator-inactive: $light-gray;
$page-indicator-hover: rgba($almost-black, 1);

@import "gato-lib/css/mixins";
@import "gato-lib/css/contenttypes";
