/*txst-departmentdirectory*/

div.txst-departmentdirectory {
    font-size: 90%;
    margin-left: 0px;
}

.txst-departmentdirectory div {
    list-style-position: outside;
    list-style-type: none;
    /*padding-bottom: 5px;
    margin-bottom: 5px;*/
}

.txst-departmentdirectory-entry{
    border-bottom: 1px dotted #B29F71;
}

.txst-departmentdirectory-name {
    font-weight: 500;
    float: left;
    padding-right: 20px;
    overflow: hidden;
}

.txst-departmentdirectory-email {
    float: left;
    padding-right: 20px;
    overflow: hidden;
}

.txst-departmentdirectory-phone {
    float: left;
    overflow: hidden;
}

.txst-departmentdirectory-title {
    float: left;
    padding-right: 20px;
    overflow: hidden;
}

.txst-departmentdirectory-address {
    float: left;
    padding-right: 20px;
    overflow: hidden;
}

.txst-departmentdirectory-category {
    float: left;
    overflow: hidden;
}

.txst-departmentdirectory-extra2 {
    clear: both;
    margin-bottom: 3px;
}

.txst-departmentdirectory-extra1 {
    clear: both;
}
