/* Footer */
.footer {
    background: $footer-background; 
    width: 100%; 
    color: $footer-text; 
    position: relative;
    a {
        padding: 5px; 
        margin: -5px;
        &:hover {background: $footer-link-hover-background;}
    }
    h3 a:hover {background: transparent; opacity: 1;}
}
.footer_content {
    margin: auto; 
    text-align: left; 
    padding: 1.75rem 0; 
    letter-spacing: 1px; 
    position: relative; 
    overflow: hidden;
    a {
        text-decoration: none; 
        color: $footer-text;
        &:hover {text-decoration: none;}
    }
}
 
.dept_info {position: relative; line-height: 1.2rem; margin-left: 0; padding-left: 0;}
.office_contact_2 i {display: none;}

//possibly not used
ul.font_icons a:hover {background: #501214;}

a.image_link:hover {background: transparent; opacity: 1;}
.txst_logo {
    margin: 4rem auto;
    img {width: 100%; height: auto;}
}
.contact_us {
    font-family: 'Adobe Garamond W01', Garamond, 'Goudy Old Style', 'Times New Roman', serif; 
    font-weight: 500; 
    line-height: 1.6rem;
}
.foot_linkage {padding: 0; list-style: none;}

//this might just be a button class.  none of the defined buttons act like this.
.apply_now {
    background: transparent; 
    text-decoration: none !important; 
    text-transform: uppercase; 
    font-weight: 400; 
    border-radius: 3px; 
    @include vendor-prefix(transition, all 0.2s ease-in-out);
    border: 2px solid #FFFFFF;
}
//this might just be a button class
.apply_now:hover {background-color: #501214 !important;}
.footer_btt {height: 0;}
.btt {
    text-align: center; 
    display: block; 
    color: $footer-text !important; 
    text-transform: uppercase; 
    font-weight: 400; 
    font-size: .7rem; 
    padding: 0 !important; 
    margin: 0 auto !important; 
    text-decoration: none !important; 
    position: relative; 
    top: -15px; 
    @include vendor-prefix(transition, all 0.2s ease-in-out);
    max-width: 5rem;
    &:hover {color: $footer-text !important; background: transparent !important;}
    i {font-size: 130%;}
}