/* General- not affected by changes in screen size */

*, *:before, *:after{
    @include vendor-prefix(box-sizing, border-box);
}
.clearfix:before, .clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}
figure {margin: 0;}
figcaption {padding: 12px 15px; background-color: $figure-caption-background;
    a:hover {background-color: $figure-caption-link-hover !important; background: rgba(255, 255, 255, 0.4) !important;}
}

.container {background-color: $container-background;}

a, a:link, a:visited {
  color: #501214;
  text-decoration: none; }

a:hover, a:active {
  text-decoration: none; }

//top_services might be used only for buttons
.top_services a {
    @include vendor-prefix(transition, all 0.1s ease-in-out);
}
/* a, li, .std_transition, .fast_transition, a:after, a:before {transition: all 0.1s ease-in-out; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out;} */
.no_transition {
    @include vendor-prefix(transition, none);
}
hr {margin-bottom: 2em;}
img {max-width: 100%;}
h1, .office_name {font-family: 'Adobe Garamond W01', Garamond, 'Goudy Old Style', 'Times New Roman', serif; font-weight: 400; letter-spacing: 1px;}
h1 a {color: $department-name-text !important; padding: 5px 0;}
h2 {font-weight: 700;}
.tight_header {margin-bottom: 0;}
p, ul, ol, table {line-height: 1.5rem;}
.medium_em {font-weight: 400;}
.bold_em {font-weight: 700;}
.slant_em {font-style: italic;}
.caps {text-transform: uppercase;}
.kern_1 {margin-right: -2px;}