/* grid based on Pure grid */

//default
.col-1,
.col-1-1,
.col-1-2,
.col-1-3,
.col-2-3,
.col-1-4,
.col-3-4,
.col-1-5,
.col-2-5,
.col-3-5,
.col-4-5,
.col-5-5,
.col-1-6,
.col-5-6,
.col-1-8,
.col-3-8,
.col-5-8,
.col-7-8,
.col-1-12,
.col-5-12,
.col-7-12,
.col-11-12,
.col-1-24,
.col-2-24,
.col-3-24,
.col-4-24,
.col-5-24,
.col-6-24,
.col-7-24,
.col-8-24,
.col-9-24,
.col-10-24,
.col-11-24,
.col-12-24,
.col-13-24,
.col-14-24,
.col-15-24,
.col-16-24,
.col-17-24,
.col-18-24,
.col-19-24,
.col-20-24,
.col-21-24,
.col-22-24,
.col-23-24,
.col-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    word-spacing: normal;
    vertical-align: top;
}

.col-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
}

.col-1-12,
.col-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
}

.col-1-8,
.col-3-24 {
    width: 12.5000%;
    *width: 12.4690%;
}

.col-1-6,
.col-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
}

.col-1-5 {
    width: 20%;
    *width: 19.9690%;
}

.col-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
}

.col-1-4,
.col-6-24 {
    width: 25%;
    *width: 24.9690%;
}

.col-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
}

.col-1-3,
.col-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
}

.col-3-8,
.col-9-24 {
    width: 37.5000%;
    *width: 37.4690%;
}

.col-2-5 {
    width: 40%;
    *width: 39.9690%;
}

.col-5-12,
.col-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
}

.col-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
}

.col-1-2,
.col-12-24 {
    width: 50%;
    *width: 49.9690%;
}

.col-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
}

.col-7-12,
.col-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
}

.col-3-5 {
    width: 60%;
    *width: 59.9690%;
}

.col-5-8,
.col-15-24 {
    width: 62.5000%;
    *width: 62.4690%;
}

.col-2-3,
.col-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
}

.col-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
}

.col-3-4,
.col-18-24 {
    width: 75%;
    *width: 74.9690%;
}

.col-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
}

.col-4-5 {
    width: 80%;
    *width: 79.9690%;
}

.col-5-6,
.col-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
}

.col-7-8,
.col-21-24 {
    width: 87.5000%;
    *width: 87.4690%;
}

.col-11-12,
.col-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
}

.col-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
}

.col-1,
.col-1-1,
.col-5-5,
.col-24-24 {
    width: 100%;
}

/* change these to element queries.  fix breakpoints to be more like default pure */


//40rem = ~640px
[min-width='40rem'] {
    .col-xs-1,
    .col-xs-1-1,
    .col-xs-1-2,
    .col-xs-1-3,
    .col-xs-2-3,
    .col-xs-1-4,
    .col-xs-3-4,
    .col-xs-1-5,
    .col-xs-2-5,
    .col-xs-3-5,
    .col-xs-4-5,
    .col-xs-5-5,
    .col-xs-1-6,
    .col-xs-5-6,
    .col-xs-1-8,
    .col-xs-3-8,
    .col-xs-5-8,
    .col-xs-7-8,
    .col-xs-1-12,
    .col-xs-5-12,
    .col-xs-7-12,
    .col-xs-11-12,
    .col-xs-1-24,
    .col-xs-2-24,
    .col-xs-3-24,
    .col-xs-4-24,
    .col-xs-5-24,
    .col-xs-6-24,
    .col-xs-7-24,
    .col-xs-8-24,
    .col-xs-9-24,
    .col-xs-10-24,
    .col-xs-11-24,
    .col-xs-12-24,
    .col-xs-13-24,
    .col-xs-14-24,
    .col-xs-15-24,
    .col-xs-16-24,
    .col-xs-17-24,
    .col-xs-18-24,
    .col-xs-19-24,
    .col-xs-20-24,
    .col-xs-21-24,
    .col-xs-22-24,
    .col-xs-23-24,
    .col-xs-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        word-spacing: normal;
        vertical-align: top;
    }

    .col-xs-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .col-xs-1-12,
    .col-xs-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .col-xs-1-8,
    .col-xs-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .col-xs-1-6,
    .col-xs-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .col-xs-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .col-xs-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .col-xs-1-4,
    .col-xs-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .col-xs-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .col-xs-1-3,
    .col-xs-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .col-xs-3-8,
    .col-xs-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .col-xs-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .col-xs-5-12,
    .col-xs-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .col-xs-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .col-xs-1-2,
    .col-xs-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .col-xs-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .col-xs-7-12,
    .col-xs-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .col-xs-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .col-xs-5-8,
    .col-xs-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .col-xs-2-3,
    .col-xs-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .col-xs-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .col-xs-3-4,
    .col-xs-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .col-xs-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .col-xs-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .col-xs-5-6,
    .col-xs-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .col-xs-7-8,
    .col-xs-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .col-xs-11-12,
    .col-xs-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .col-xs-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .col-xs-1,
    .col-xs-1-1,
    .col-xs-5-5,
    .col-xs-24-24 {
        width: 100%;
    }

}

//48rem = ~768px
@media screen and (min-width: 48rem) {
    .col-sm-1,
    .col-sm-1-1,
    .col-sm-1-2,
    .col-sm-1-3,
    .col-sm-2-3,
    .col-sm-1-4,
    .col-sm-3-4,
    .col-sm-1-5,
    .col-sm-2-5,
    .col-sm-3-5,
    .col-sm-4-5,
    .col-sm-5-5,
    .col-sm-1-6,
    .col-sm-5-6,
    .col-sm-1-8,
    .col-sm-3-8,
    .col-sm-5-8,
    .col-sm-7-8,
    .col-sm-1-12,
    .col-sm-5-12,
    .col-sm-7-12,
    .col-sm-11-12,
    .col-sm-1-24,
    .col-sm-2-24,
    .col-sm-3-24,
    .col-sm-4-24,
    .col-sm-5-24,
    .col-sm-6-24,
    .col-sm-7-24,
    .col-sm-8-24,
    .col-sm-9-24,
    .col-sm-10-24,
    .col-sm-11-24,
    .col-sm-12-24,
    .col-sm-13-24,
    .col-sm-14-24,
    .col-sm-15-24,
    .col-sm-16-24,
    .col-sm-17-24,
    .col-sm-18-24,
    .col-sm-19-24,
    .col-sm-20-24,
    .col-sm-21-24,
    .col-sm-22-24,
    .col-sm-23-24,
    .col-sm-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        word-spacing: normal;
        vertical-align: top;
    }

    .col-sm-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .col-sm-1-12,
    .col-sm-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .col-sm-1-8,
    .col-sm-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .col-sm-1-6,
    .col-sm-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .col-sm-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .col-sm-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .col-sm-1-4,
    .col-sm-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .col-sm-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .col-sm-1-3,
    .col-sm-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .col-sm-3-8,
    .col-sm-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .col-sm-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .col-sm-5-12,
    .col-sm-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .col-sm-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .col-sm-1-2,
    .col-sm-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .col-sm-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .col-sm-7-12,
    .col-sm-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .col-sm-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .col-sm-5-8,
    .col-sm-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .col-sm-2-3,
    .col-sm-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .col-sm-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .col-sm-3-4,
    .col-sm-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .col-sm-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .col-sm-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .col-sm-5-6,
    .col-sm-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .col-sm-7-8,
    .col-sm-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .col-sm-11-12,
    .col-sm-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .col-sm-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .col-sm-1,
    .col-sm-1-1,
    .col-sm-5-5,
    .col-sm-24-24 {
        width: 100%;
    }

} 
//64rem = ~1024px
@media screen and (min-width: 64rem) {
    .col-md-1,
    .col-md-1-1,
    .col-md-1-2,
    .col-md-1-3,
    .col-md-2-3,
    .col-md-1-4,
    .col-md-3-4,
    .col-md-1-5,
    .col-md-2-5,
    .col-md-3-5,
    .col-md-4-5,
    .col-md-5-5,
    .col-md-1-6,
    .col-md-5-6,
    .col-md-1-8,
    .col-md-3-8,
    .col-md-5-8,
    .col-md-7-8,
    .col-md-1-12,
    .col-md-5-12,
    .col-md-7-12,
    .col-md-11-12,
    .col-md-1-24,
    .col-md-2-24,
    .col-md-3-24,
    .col-md-4-24,
    .col-md-5-24,
    .col-md-6-24,
    .col-md-7-24,
    .col-md-8-24,
    .col-md-9-24,
    .col-md-10-24,
    .col-md-11-24,
    .col-md-12-24,
    .col-md-13-24,
    .col-md-14-24,
    .col-md-15-24,
    .col-md-16-24,
    .col-md-17-24,
    .col-md-18-24,
    .col-md-19-24,
    .col-md-20-24,
    .col-md-21-24,
    .col-md-22-24,
    .col-md-23-24,
    .col-md-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        word-spacing: normal;
        vertical-align: top;
    }

    .col-md-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .col-md-1-12,
    .col-md-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .col-md-1-8,
    .col-md-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .col-md-1-6,
    .col-md-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .col-md-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .col-md-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .col-md-1-4,
    .col-md-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .col-md-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .col-md-1-3,
    .col-md-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .col-md-3-8,
    .col-md-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .col-md-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .col-md-5-12,
    .col-md-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .col-md-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .col-md-1-2,
    .col-md-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .col-md-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .col-md-7-12,
    .col-md-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .col-md-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .col-md-5-8,
    .col-md-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .col-md-2-3,
    .col-md-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .col-md-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .col-md-3-4,
    .col-md-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .col-md-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .col-md-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .col-md-5-6,
    .col-md-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .col-md-7-8,
    .col-md-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .col-md-11-12,
    .col-md-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .col-md-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .col-md-1,
    .col-md-1-1,
    .col-md-5-5,
    .col-md-24-24 {
        width: 100%;
    }
}

//80rem = ~1280px
@media screen and (min-width: 80rem) {
    .col-lg-1,
    .col-lg-1-1,
    .col-lg-1-2,
    .col-lg-1-3,
    .col-lg-2-3,
    .col-lg-1-4,
    .col-lg-3-4,
    .col-lg-1-5,
    .col-lg-2-5,
    .col-lg-3-5,
    .col-lg-4-5,
    .col-lg-5-5,
    .col-lg-1-6,
    .col-lg-5-6,
    .col-lg-1-8,
    .col-lg-3-8,
    .col-lg-5-8,
    .col-lg-7-8,
    .col-lg-1-12,
    .col-lg-5-12,
    .col-lg-7-12,
    .col-lg-11-12,
    .col-lg-1-24,
    .col-lg-2-24,
    .col-lg-3-24,
    .col-lg-4-24,
    .col-lg-5-24,
    .col-lg-6-24,
    .col-lg-7-24,
    .col-lg-8-24,
    .col-lg-9-24,
    .col-lg-10-24,
    .col-lg-11-24,
    .col-lg-12-24,
    .col-lg-13-24,
    .col-lg-14-24,
    .col-lg-15-24,
    .col-lg-16-24,
    .col-lg-17-24,
    .col-lg-18-24,
    .col-lg-19-24,
    .col-lg-20-24,
    .col-lg-21-24,
    .col-lg-22-24,
    .col-lg-23-24,
    .col-lg-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        word-spacing: normal;
        vertical-align: top;
    }

    .col-lg-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .col-lg-1-12,
    .col-lg-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .col-lg-1-8,
    .col-lg-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .col-lg-1-6,
    .col-lg-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .col-lg-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .col-lg-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .col-lg-1-4,
    .col-lg-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .col-lg-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .col-lg-1-3,
    .col-lg-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .col-lg-3-8,
    .col-lg-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .col-lg-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .col-lg-5-12,
    .col-lg-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .col-lg-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .col-lg-1-2,
    .col-lg-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .col-lg-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .col-lg-7-12,
    .col-lg-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .col-lg-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .col-lg-5-8,
    .col-lg-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .col-lg-2-3,
    .col-lg-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .col-lg-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .col-lg-3-4,
    .col-lg-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .col-lg-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .col-lg-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .col-lg-5-6,
    .col-lg-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .col-lg-7-8,
    .col-lg-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .col-lg-11-12,
    .col-lg-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .col-lg-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .col-lg-1,
    .col-lg-1-1,
    .col-lg-5-5,
    .col-lg-24-24 {
        width: 100%;
    }
}

//90rem = ~1440px
@media screen and (min-width: 90rem) {
    .col-xl-1,
    .col-xl-1-1,
    .col-xl-1-2,
    .col-xl-1-3,
    .col-xl-2-3,
    .col-xl-1-4,
    .col-xl-3-4,
    .col-xl-1-5,
    .col-xl-2-5,
    .col-xl-3-5,
    .col-xl-4-5,
    .col-xl-5-5,
    .col-xl-1-6,
    .col-xl-5-6,
    .col-xl-1-8,
    .col-xl-3-8,
    .col-xl-5-8,
    .col-xl-7-8,
    .col-xl-1-12,
    .col-xl-5-12,
    .col-xl-7-12,
    .col-xl-11-12,
    .col-xl-1-24,
    .col-xl-2-24,
    .col-xl-3-24,
    .col-xl-4-24,
    .col-xl-5-24,
    .col-xl-6-24,
    .col-xl-7-24,
    .col-xl-8-24,
    .col-xl-9-24,
    .col-xl-10-24,
    .col-xl-11-24,
    .col-xl-12-24,
    .col-xl-13-24,
    .col-xl-14-24,
    .col-xl-15-24,
    .col-xl-16-24,
    .col-xl-17-24,
    .col-xl-18-24,
    .col-xl-19-24,
    .col-xl-20-24,
    .col-xl-21-24,
    .col-xl-22-24,
    .col-xl-23-24,
    .col-xl-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        vertical-align: top;
    }

    .col-xl-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .col-xl-1-12,
    .col-xl-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .col-xl-1-8,
    .col-xl-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .col-xl-1-6,
    .col-xl-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .col-xl-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .col-xl-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .col-xl-1-4,
    .col-xl-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .col-xl-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .col-xl-1-3,
    .col-xl-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .col-xl-3-8,
    .col-xl-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .col-xl-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .col-xl-5-12,
    .col-xl-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .col-xl-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .col-xl-1-2,
    .col-xl-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .col-xl-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .col-xl-7-12,
    .col-xl-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .col-xl-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .col-xl-5-8,
    .col-xl-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .col-xl-2-3,
    .col-xl-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .col-xl-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .col-xl-3-4,
    .col-xl-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .col-xl-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .col-xl-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .col-xl-5-6,
    .col-xl-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .col-xl-7-8,
    .col-xl-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .col-xl-11-12,
    .col-xl-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .col-xl-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .col-xl-1,
    .col-xl-1-1,
    .col-xl-5-5,
    .col-xl-24-24 {
        width: 100%;
    }

}