//Styles for the top of the page.  This includes the 'super user' menu, 
//the banner area with the Texas State logo and search bar, the header
//image, the parent organization, and the title

/* _header.scss */


.bg_overlay, .bg_image, .bg_image_secondary, .bg_image_none, .super_user, .txst_search {
    display: none;
}

.super_list, .banner_content, .parent_org, h1{
    max-width: 1000px;
}

.super_user{
    background: $super-user-background none repeat scroll 0% 0%;
}

.super_list {
    font-size: 0px;
    margin: 0px auto;
    padding: 0px;
    text-align: right;

    li{
        display: inline-block;
        font-size: 1rem;
    }

    a{
        border-right: 1px solid $super-user-border;
        color: $super-user-text;
        text-transform: uppercase;
        font-size: 55%;
        font-weight: 400;
        letter-spacing: 1px;
        display: block;
        padding: 4px 12px 3px;

        &:hover {background: $super-user-hover;}
    }
}

.banner {
    @include vertical-gradient($banner-top, $banner-bottom);
    border-bottom: 2px solid $banner-bottom-border;
    padding: 0 1rem; width: 100% !important; 
    height: 60px;
}
.banner_content {margin: auto;}
.banner_logo {
    width: 195px;
    float: left;
    img {max-width: 100%; margin-top: 11px;}
}


.txst_search {
    float: right;
    margin-top: 18px;
    position: relative;
}

.search_bar {
    .search {
        width: 250px;
        background: transparent none repeat scroll 0% 0%;
        border: medium none;
        font-size: 0.8rem;
        border-radius: 0px;
        color: $search-text;
        position: absolute;
        right: 0px;
        height: 30px;
    }   
    .icon{
        background: transparent;
        -webkit-border-top-right-radius: $default-border-radius; 
        -webkit-border-bottom-right-radius: $default-border-radius; 
        -moz-border-radius-topright: $default-border-radius; 
        -moz-border-radius-bottomright: $default-border-radius; 
        border-top-right-radius: $default-border-radius; 
        border-bottom-right-radius: $default-border-radius; 
        border: none; 
        height: 32px; 
        width: 38px; 
        font-size: .9rem; 
        position: absolute;
        right: -10px;
        color: $search-icon;
        &:hover{background: transparent; color: $search-icon-hover;}
    }
}

input[type="search"]:focus {outline: none;}

header, .header_with_image_secondary, .header_with_image, .header_no_image {
    min-height: 70px; padding: 0;
    position: relative;
    overflow: hidden !important;
    background:$maroon;
}

.bg_container {
    background: $header-background; 
    position: absolute; 
    z-index: 0; 
    width: 100%; 
    height: 100%;
}
.bg_image{
    opacity: 0; 
    position: absolute; 
    margin-top: -70px; 
    height: 150%; 
    width: 100%; 
    background: $header-background  no-repeat 50% 65%; 
    background-size: cover;
}

.bg_image_secondary{
    opacity: 1;
    position: absolute; 
    margin-top: -70px; 
    height: 150%; 
    width: 100%;
    background-color: $header-background;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_image_none{
    opacity: 0;
    display: none;
}

.dept_name, .title {position: relative;}


.overlay {position: absolute; height: 100%; width: 100%;}
.bg_overlay {background: $header-background; position: absolute; width: 100%; height: 100%; opacity: 0;}

.title {
    min-height: 70px; 
    width: 100%; 
    bottom: 0; 
    margin: auto;
}
.dept_name {left: 0; bottom: 0; right: 0;}


.office_name {
    font-family: 'Adobe Garamond W01', Garamond, 'Goudy Old Style', 'Times New Roman', serif; 
    font-weight: 400; 
    letter-spacing: 1px;
    margin: auto;
    color: $header-text;
    min-height: 60px; 
    background: $header-background;
    background: rgba($header-background, .98);
}

.parent_org {
    margin: auto;
    a {
        bottom: -.7rem;
        position: relative; 
        font-size: 65%; 
        letter-spacing: 1px; 
        color: $header-text; 
        background: $header-background; 
        background: rgba($header-background, .98); 
        padding: 0.4rem 1rem; 
        line-height: 20px;}
}

@media (min-width: 40rem){
    .header {min-height: 350px; padding: 0;}
    .header_with_image_secondary {min-height: 180px; padding: 0;}
    .header_with_image {min-height: 280px; padding: 0;}
    .header_no_image {min-height: 100px; padding: 0;}
    .bg_overlay, .bg_image, .bg_image_secondary, .bg_image_none {display: block;}
    .dept_name, .title {position: absolute;}
    //.parent_org a {bottom: .7rem;}
}


@media (min-width: $sm-breakpoint) {
    .super_user, .txst_search{display: block}
    .banner {height: 70px;}
    .banner_logo {
        width: 225px;
        img {max-width: 100%; margin-top: 15px;}
    }
    .search_bar {
        .search {padding-left: 0; font-weight: 400; box-shadow: inset 0 -2px $gold;}
        .icon {right: -10px; color: $search-icon;}
    }
    .header_no_image {min-height: 120px; padding: 0;}
}
@media (min-width: $md-breakpoint){
    .header, .header_with_image {min-height: 320px;}

}

@media (min-width: $xl-breakpoint) {
    .super_list, .banner_content, .parent_org, .office_name{max-width: 1200px;}
    .header, .header_with_image {min-height: 360px;}
    .header_with_image_secondary {min-height: 220px; padding: 0;}
}




