.emergency {
  width: 100%;
  background: $emergency-bg;
  background: $emergency-background-gradient;
  text-align: center;
  padding: 0;
  color: $emergency-color;
  line-height: 2.8rem;

  .emergency-link {
    display: block;
    background: $emergency-bg;
    background: fade-out($emergency-bg, .4);
    &:hover { 
      background: $emergency-bg-highlight;
      background: fade-out($emergency-bg, .2);
    }
    color: inherit;
    margin: 0;
  }

  .emergency-wrap {
    max-width: 450px;
    margin: auto;
    padding: 1rem 2rem;
  }

  .alert-top {
    font-size: 3.2rem;
    font-weight: 500;
    i { margin-right: 1rem; }
    p {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  .alert-message {
    font-size: 2rem;
    text-decoration: underline;
  }

  .alert-timestamp {
    font-size: 1.3rem;
  }

  @media (max-width: $sm-breakpoint){
    .alert-top {
      font-size: 2.8rem;
    }
    .alert-message {
      font-size: 1.8rem;
    }
  }

}
