div#legal-footer {
  background: $legalfooter-background;
  color: $legalfooter-text;
  font-size: 1.1rem;
  
  p { margin: 0; }
  a { 
    color: inherit; 
    &:hover { text-decoration: underline; }
  }
  #quick-links { a { color: $quicklinks-text; } }

  .member-statement {
    max-width: 32rem;
    margin: 4rem auto 1rem auto;
    a {
      display: block;
    }
  }

  @media (min-width: $sm-breakpoint){
    .member-statement {
      margin: 5rem auto 0 auto;
    }
  }
  
  @include eq-max-width('ml') {
    text-align: center;

    p {
      display: inline;
      &:after { content: "\a0\2013";} // nbsp + en-dash
      &:last-child:after {content: none;}
    }
    #quick-links {
      margin-bottom: 3rem;
      p:after { color: $quicklinks-text; }
    }
  }

}
