div#legal-footer {
  background: $legalfooter-background;
  color: $legalfooter-text;
  
  p { margin: 0; 
      line-height: 1.8rem;
  }
  a { 
    color: inherit; 
    &:hover { text-decoration: underline; }
    font-size: 1.2rem;
  }

  .content-row-content {
    padding: 6rem 0 4rem 0;
    @media (max-width: $md-breakpoint){
        padding-left: 2rem;
        padding-right: 2rem;
    }
    @media (max-width: $sm-breakpoint){
      padding: 4rem 2rem 3rem;
    }
  }

  .content-row-column {
    width: 25%;
  }

  .legal-links {
    padding: 0 2rem;
    color: #bbb;
  }

  #quick-links { 
    padding-left: 0;
    a { color: $quicklinks-text; } 
  }


  .member-statement {
    max-width: 32rem;
    margin: 5rem auto 0rem auto;
    a {
      display: block;
    }
  }

  @media (max-width: $sm-breakpoint){
    text-align: center;

    p {
      display: inline;
      &:after { content: "\a0\2010";} // nbsp + en-dash
      &:last-child:after {content: none;}
    }
    
    .content-row-column {
      width: 100%;
    }
    
    #quick-links {
      margin-bottom: 3rem;
      p:after { color: $quicklinks-text; }
    }

    .legal-links {
      padding: 0;
    }

    .member-statement {
      margin: 4rem auto 1rem auto;
    }
  }

}
