div#news {
  p.feature-headline {
    margin-bottom: 0;
  }

  #news-links {
    padding: 2rem;
    @media (max-width: $md-breakpoint){ padding: 1.5rem; }
    font-size: 1.6rem;
    line-height: 2.4rem;
    a {
      padding: 3px 5px;
      margin: -3px -5px;
    }
  }
  #news-jump {
    letter-spacing: -1rem;
    padding: 0 2rem;
    margin-top: -1.5rem;
    @media (max-width: $sm-breakpoint){ 
      padding: 0; 
      margin-top: 0.5rem;
    }
    direction: rtl;

   .solo-bailout {
      direction: ltr;
      display: inline-block;
      width: 50%;
      letter-spacing: normal;
      padding: 0;
      &:last-child { 
        margin-top: 2rem;
        text-align: left; 
      }
      @media (max-width: $md-breakpoint) { 
        width: 100%;
        &:last-child { text-align: right; }
      }
      @media (max-width: $sm-breakpoint) { 
        &:last-child { text-align: center; }
      }
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  div.events {
    a {
      margin: 0;
      padding: 0;
      text-decoration: none;
      &:hover { background: none; }
    }
  }

  ul[role=tablist] {
    li {
      display: inline-block;
      &:not(:last-child) { 
        margin-right: 5rem; 
        @media (max-width: $sm-breakpoint){ margin-right: 3rem; }
      }
      a[role=tab] { 
        color: $medium-light-gray;
        &:hover { color: inherit; }
        &[aria-selected=true] {
          color: inherit;
          text-decoration: underline;
        }
      }
    }
  }

  .tab-contents {
    background: $maroon;
    color: $white;
    a { color: inherit; }
    div[role=tabpanel] {
      padding: 4rem;
      @media (max-width: $md-breakpoint) { padding: 2.5rem; }
    }

    li.event {
      display: block;
      position: relative;
      min-height: 9rem;
      margin-bottom: 3.8rem;
    
      .event-title {
        position: relative;
        top: -1rem;
        padding-left: 11rem;
        margin: 1.5rem 0;
        font-size: 2rem;
        font-weight: bold;
        line-height: 2.8rem;
        a { text-decoration: underline; }
        a:hover { text-decoration: none; }
      }
      .event-date {
        margin: -0.75rem 0 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 8rem;
        background: $light-maroon;
        text-align: center;
        a { display: block; }
        
        .month {
          display: block;
          text-transform: uppercase;
          font-size: 1.3rem;
          font-weight: 500;
          letter-spacing: 1px;
          padding-top: 0.8rem;
        }
        .day {
          display: block;
          font-family: $garamond;
          font-size: 4.2rem;
          font-weight: normal;
        }

        .range-start, .range-to, .range-end {
          display: block;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 2.3rem;
        }
        .range-start {
          padding-top: 0.5rem;
        }
        .range-end {
          padding-bottom: 0.7rem;
        }
        .range-to {
          font-size: 1.3rem;
        }
      }
      .event-time {
        padding-left: 11rem;
        margin: -1.5rem 0 0;
        font-size: 1.5rem;
      }
    }

    #tabpanel-dates {
      .event-title {
        position: relative;
        top: 1rem; 
      }
    }

    .more-events {
      display: block;
      padding: 1.6rem;
      margin-top: -1rem;
      font-size: 1.6rem;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      background: $light-maroon;
      color: $white;
      border-radius: $default-border-radius;
      border: 3px solid $light-maroon;
      @extend .slidey-icon;
      @include hover-bg($maroon);
    }

    .cal-jumps {
      text-align: center;
      font-size: 1.4rem;
      padding: 0 2.5rem 4rem;
      margin-top: -0.7rem;
      @media (max-width: $md-breakpoint) { 
        padding-top: 1.5rem; 
        padding-bottom: 3.5rem; 
      }

      h3 { 
        display: inline-block;
        margin: 0;
        font-size: 1.4rem;
        &:after { content: ": "; }
      }
      ul {
        display: inline-block;
        li {
          display: inline-block;
          margin: 0 0 0 2rem;
          a { text-decoration: underline; }
          a:hover { text-decoration: none; }
        }
      }
    }
  }

  @media (max-width: $sm-breakpoint) {
    .content-row-content { padding-bottom: 0; }
    .events-wrap { background: $maroon; }

    .events {
      padding: 4rem 2rem;
      h2 { margin-bottom: 3.5rem; }
      div[role=tabpanel] {
        padding: 0;
      }
      ul[role=tablist] {
        li a[role=tab] {
          color: $events-tab-unselected;
          &:hover { color: $white; }
          &[aria-selected=true] {
            color: $white;
          }
        }
      }
      li.event { .event-title, .event-time { padding-left: 10rem; } }
      .cal-jumps {
        margin-top: 2.5rem;
        padding: 0;
        line-height: 3rem;
      }
    }
  }
}
