div#president {

  .content-row-content {
    padding-bottom: 5rem;
    
    @media (max-width: $sm-breakpoint){
      padding-bottom: 4rem;
      .col-left { padding-bottom: 2rem; }
      .col-middle, .col-right {
        padding-bottom: 3rem;
      }
    }

    .pres-photo {
      a {
        @extend .hover-blur;
        display: block;
      }
      img { display: block; }
    }

    .pres-message p {
      margin: 0;
      font-size: 1.6rem;
      line-height: 2.8rem;
      @media (max-width: $xl-breakpoint){
        line-height: 2.5rem;
      }
      @media (max-width: $md-breakpoint){
        line-height: 2.4rem;
      }
    }

    .pres-message, .pres-updates {
      a { 
        text-decoration: underline; 
        &:hover { text-decoration: none; }
      }
    }

    .pres-updates {
      .pres-updates-content {
        background: $khaki;
        padding: 2rem 3rem;
        @media (max-width: $xl-breakpoint){
          padding: 1.5rem 3rem;
        }
        @media (max-width: $md-breakpoint){
          padding: 0.5rem 0.5rem 0.5rem 2rem;
        }
        line-height: 2.2rem;
        ul { 
          padding: 0 1.8rem; 
          font-size: 1.4rem;
          li {
            margin-bottom: 1rem;
          }
        }
      }
    }
    

  }
}
