div#president {

  .content-row-content {
    padding-bottom: 4rem;
    
    @media (max-width: $sm-breakpoint){
      .col-left { padding-bottom: 0; }
      .col-middle, .col-right { padding-bottom: 3rem; }
      .col-right { margin-bottom: -1rem; }
    }

    .pres-photo {
      a {
        @extend .hover-blur;
        display: block;
      }
      img { display: block; }
      .gato-textimage .gato-textimage-imageblock {
        margin: 0 auto 3rem auto;
      }
    }

    .pres-message {
      position: relative;
      top: 3rem;
      @media (max-width: $xl-breakpoint){ top: 0; }
      
      p {
        margin: 0;
        font-size: 1.6rem;
        line-height: 2.8rem;
        // @media (max-width: $xl-breakpoint){
        //   line-height: 2.5rem;
        // }
        // @media (max-width: $md-breakpoint){
        //   line-height: 2.4rem;
        // }
      }
    }

    .pres-message, .pres-updates {
      a { 
        text-decoration: underline; 
        &:hover { text-decoration: none; }
      }
    }

    .pres-updates {
      .pres-updates-content {
        background: $khaki;
        padding: 2rem 3rem 3rem;
        @media (max-width: $xl-breakpoint){
          padding: 0.5rem 2rem 1.5rem 2rem;
        }
        @media (max-width: $md-breakpoint){
          padding: 0 0.5rem 0.5rem 2rem;
        }
        line-height: 2.2rem;
        h4 {
          font-size: 1.6rem;
          margin: 1.5rem 0;
        }
        ul { 
          padding: 0 1.8rem; 
          font-size: 1.4rem;
          li {
            margin-bottom: 1rem;
          }
        }
      }
    }
    

  }
}
