div#social {

  .content-row-content {
    figure { margin: 0; }
    
    .social-upper {
      height: 38rem;

      .image > a {
        @extend .hover-blur;
        &, img {
          display: block;
          margin: 0;
          padding: 0;
          width: 100%;
        }
      }
    }
    .social-lower {
      position: relative;
      border-bottom: 3px solid $gold;
      color: $medium-gray;   
      text-transform: uppercase;
      font-size: 1.3rem;      
      font-weight: 500;      
      p { margin: 4rem 0 0; }      
      span.social-area-icon {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 3rem;
        a { 
          display: block;
          color: $gold; 
          &:hover { background: none; }
        }
      }
    }

    .instagram {
      .image {
        position: relative;
        overflow: hidden;
        max-height: 100%;
        &:hover {
          .caption {
            bottom: 0;
            opacity: 1;
          }
        }
      }
      
      .caption {
        padding: 1rem 2rem;
        position: absolute;
        bottom: -30%;
        opacity: 0;
        width: 100%;
        @include vendor-prefix(transition, all 0.3s ease);
        background: fade-out($gold, 0.1);
        color: $white;
        font-size: 1.2rem;
        a { 
          color: inherit;
          text-decoration: underline;
          &:hover { background: none; text-decoration: none; }
        }
      }

      .social-area-icon a:hover { color: $instagram; }
    }
    .twitter {
      .social-upper { 
        text-align: center; 

        .twitter-handle {
          font-size: 3.2rem;
          font-weight: bold;
          padding-top: 2.8rem;
          margin: 0;
          a {
            text-decoration: none;
            padding: 0.1rem 0.5rem 0.1rem 0;
          }
        }
        .twitter-name {
          font-size: 1.3rem;
          font-weight: 500;
          color: $medium-gray;
          text-transform: uppercase;
          margin-top: -0.2rem;
        }

        .tweet {
          font-size: 2.2rem;
          line-height: 3.6rem;
          margin-top: 4rem;
        }

        .twitter-timestamp { display: none; }
      }

      .social-area-icon a:hover { color: $twitter; }
    }
    .facebook {
      font-size: 1.6rem;
      padding-bottom: 2.5rem;

      .image > a {
        position: relative;
        overflow: hidden;
        height: 19rem;
        
        img {
          position: absolute;
          margin: auto;
          top: -9999px;
          bottom: -9999px;
        }

      }

      .fb-content {
        padding: 1rem 1rem 0;
      }

      .social-area-icon a:hover { color: $facebook; }
    }

    @media (max-width: $xl-breakpoint){
      .social-upper { height: 32rem; }
      .facebook .image > a { height: 16rem; }
    }

    @media (max-width: $sm-breakpoint){
      .social-upper { height: auto; }
      .social-lower { border: none; }
      .instagram {
        .caption {
          font-size: 1.6rem;
        }
        .social-lower p {
          margin-top: 3rem;
        }
      }
      .twitter-wrap { background: $sandstone; }
      .twitter {
        padding: 2rem;
        a { color: $maroon; }
        .social-upper { min-height: 32rem; }
        .tweet { padding: 0 2rem; }
      }
      .facebook {
        .image > a { height: 32rem; }
        padding-top: 3rem;
        .fb-content {
          padding: 0;
        }
      }
    }

  }
}
