div#social {

  .content-row-content {
    padding-bottom: 5rem;

    figure { margin: 0; }

    .social-upper {
      height: 38rem;
      overflow: hidden;

      .image > a {
        @extend .hover-blur;
        &, img {
          display: block;
          margin: 0;
          padding: 0;
          width: 100%;
        }
      }
    }
    .social-lower {
      position: relative;
      border-bottom: 3px solid $gold;
      color: $medium-gray;
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 500;
      p { margin: 4rem 0 0; }
      span.timestamp.relative {
        position: relative;
        bottom: 0.5rem;
      }
      span.social-area-icon {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 3rem;
        a {
          display: block;
          color: $gold;
        }
      }
    }

    .instagram {
      .image {
        position: relative;
        overflow: hidden;
        max-height: 100%;
        @at-root html.no-touch &:hover {
          .caption {
            bottom: 0;
            opacity: 1;
          }
        }
      }

      .caption {
        padding: 0.5rem 2rem;
        position: absolute;
        bottom: -30%;
        opacity: 0;
        width: 100%;
        @include vendor-prefix(transition, all 0.3s ease);
        background: fade-out($gold, 0.1);
        color: $white;
        font-size: 1.4rem;
        line-height: 2rem;
        a {
          color: inherit;
          text-decoration: underline;
          &:hover { background: none; text-decoration: none; }
        }
      }

      .social-area-icon a {
        @include hover-bg(none, $instagram);
      }
    }
    .twitter {
      .social-upper {
        text-align: center;

        .twitter-handle {
          font-size: 2.8rem;
          font-weight: bold;
          text-transform: lowercase;
          padding-top: 2rem;
          margin: 0;
          a {
            text-decoration: none;
            padding: 0.1rem 0.5rem 0.1rem 0;
          }
        }
        .twitter-name {
          font-size: 1.3rem;
          font-weight: 500;
          color: $medium-gray;
          text-transform: uppercase;
          margin-top: 0;
        }

        .tweet {
          @extend .dont-break-out;
          font-size: 2.2rem;
          line-height: 3.6rem;
          margin-top: 4rem;
          a {
            padding: 3px 5px;
            margin: -3px -5px;
          }
        }

        .twitter-timestamp { display: none; }
      }

      .social-area-icon a {
        @include hover-bg(none, $twitter);
      }
    }
    .facebook {
      font-size: 1.6rem;
      padding-bottom: 2.5rem;

      .image > a {
        position: relative;
        overflow: hidden;

      }

      .fb-content {
        padding: 0 1rem;
        p {
          line-height: 2.2rem;
          &.desc {
            max-height: 17rem;
            overflow: hidden;
          }
        }
        a {
          padding: 3px 5px;
          margin: -3px -5px;
        }
      }

      .social-area-icon a {
        @include hover-bg(none, $facebook);
      }
    }

    @media (max-width: $xl-breakpoint){
      .social-upper { height: 35rem; }
    }

    @media (max-width: $sm-breakpoint){
      padding-bottom: 4rem;
      .social-upper { height: auto; }
      .social-lower { border: none; }
      .instagram {
        .caption {
          font-size: 1.6rem;
        }
        .social-lower p {
          margin-top: 3rem;
        }
      }
      .twitter-wrap { background: $sandstone; }
      .twitter {
        padding: 2rem;
        a { color: $maroon; }
        .social-upper { min-height: 32rem; }
        .tweet { padding: 0 2rem; }
      }
      .facebook {
        padding-top: 3rem;
        .fb-content {
          padding: 0;
        }
      }
    }

  }
}
