div#spotlight {
  .gato-slider {
    padding-bottom: 0;
    .slick-dots {
      display: none !important;
    }
  }
  [data-eq~="1200px"] {
    @include sliderdropbelow();
  }

  .gato-textimage .gato-textimage-caption {
    background: $maroon;
    color: white;
  }
}

.column_paragraph {
  h3 { color: $very-dark; }
}
