div#spotlight {
  // padding-bottom: 1rem;
  
  .content-row-content {
    padding-bottom: 4rem;
  }

  .research {
    // figure { margin-bottom: 3rem; }
    .research-slider-wrap {
      position: relative;
      .slide {
        min-height: 42rem;
        .feature-play-button {
          left: calc(50% - 3.25rem);
          top: calc(50% - 3.25rem);
        }
      }
      .slide-nav { 
        position: absolute;
        bottom: 100%;
        right: 0;
      }  
    }
  }

  // @media (max-width: $sm-breakpoint){
  //   .research {
  //     figure { margin-bottom: 0; }
  //   }
  // }
  @media (max-width: $md-breakpoint){
    .slide {
      min-height: 37rem;
      .feature-play-button {
        left: calc(50% - 2.75rem);
        top: calc(50% - 2.75rem);
      }
    }
  }

  .pride {
    padding-bottom: 0;
    .bab { margin-bottom: 3rem; }
    figure {
      position: relative;
      margin: 0;
      img { display: block; }
      figcaption {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        a {
          color: $white;
          background: fade-out($gold, 0.15);
          &:hover { background: fade-out($gold, 0.4); }
          @include vendor-prefix(transition, all 0.8s ease);
          font-size: 3.6rem;
          font-family: $garamond;
          text-align: center;
          display: block;
          height: 100%;
          width: 100%;
          padding: 17% 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

}
