div#spotlight {
  
  .content-row-content {
    padding-bottom: 7rem;
    @media (max-width: $sm-breakpoint){ padding-bottom: 4rem; }
  }

  .research {
    .research-slider-wrap {
      position: relative;
      .slide {
        .feature-play-button {
          left: calc(50% - 3.25rem);
          top: calc(50% - 3.25rem);
        }
      }
      .slide-nav { 
        position: absolute;
        bottom: 100%;
        right: 0;
      }  
    }
  }

  @media (max-width: $md-breakpoint){
    .research {
      .research-slider-wrap {    
        .slide {
          .feature-play-button {
            left: calc(50% - 2.75rem);
            top: calc(50% - 2.75rem);
          }
        }
      }
    }
  }

  .pride {
    padding-bottom: 0;
    .bab { margin-bottom: 3rem; }
    figure {
      position: relative;
      margin: 0;
      img { display: block; }
      figcaption {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        a {
          color: $white;
          background: fade-out($gold, 0.15);
          &:hover { background: fade-out($gold, 0.4); }
          @include vendor-prefix(transition, all 0.8s ease);
          font-size: 4.2rem;
          @media (max-width: $mn-breakpoint){
            font-size: 3.6rem;
          }
          font-family: $garamond;
          font-weight: normal;
          text-align: center;
          display: block;
          height: 100%;
          width: 100%;
          padding: 17% 0;
          display: flex;
          align-items: center;
          justify-content: center;
          text-shadow: 0 0 1.5rem $gold;
        }
      }
    }
  }

  .slick-prev, .slick-next {
    text-decoration: none;
    padding: 1.2rem 1.4rem;
    margin-left: 0.1rem;
    font-size: 0px;
    &:before { font-size: 1.9rem; }
    cursor: pointer;
    border: none;
    outline: none;
    background: $khaki;
    color: $charcoal;
    @include hover-bg($gold, $white);
  }
  .slick-prev {
     @include fa(chevron-left);
  }
  .slick-next {
     @include fa(chevron-right);
  }

  .slick-dots {
    position: absolute;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0.5rem 0 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 0.25rem;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: 1;
                    color: $page-indicator-hover;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: "•";
                width: 20px;
                height: 20px;
                font-size: 24px;
                line-height: 20px;
                text-align: center;
                color: $page-indicator-inactive;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                @include vendor-prefix(transition, all 0.2s ease);
            }
        }
        &.slick-active button:before {
            color: $page-indicator-active;
            @include vendor-prefix(transform, scale(1.2));
        }
    }
  }
}
