div#top-feature {
  position: relative;
  background: $charcoal;

  figure {
    position: relative;
    overflow: hidden;
    height: 600px;
    margin: 0;
    background: $maroon;

    img {
      width: 100%;
      height: 100%;
      @include object-fit-poly(cover);
    }

    p { margin: 0; }

    figcaption {
      width: 100%;
      height: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0;

      .caption-wrap {
        position: absolute;
        bottom: 5.5rem;
        opacity: 0;
      }

      .feature-headline {
        a {
          display: block;
          background: $maroon;
          color: $white;
          @include hover-bg($light-maroon);
          text-decoration: none;
          font-weight: 500;
          font-size: 3.2rem;
          line-height: 4.5rem;
          padding: 1.4rem 2.5rem 1.4rem 2rem;
          max-width: 700px;
        }
      }
      .feature-play-button {
        top: -7.5rem;
      }
    }
  }

  .slide {
    &.color1 { .feature-headline a, .feature-play-button a { background-color: $mc1-bg; color: $mc1-text; @include hover-bg($mc1-comp-bg); } }
    &.color2 { .feature-headline a, .feature-play-button a { background-color: $mc2-bg; color: $mc2-text; @include hover-bg($mc2-comp-bg); } }
    &.color3 { .feature-headline a, .feature-play-button a { background-color: $mc3-bg; color: $mc3-text; @include hover-bg($mc3-comp-bg); } }
    &.color4 { .feature-headline a, .feature-play-button a { background-color: $mc4-bg; color: $mc4-text; @include hover-bg($mc4-comp-bg); } }
    &.color5 { .feature-headline a, .feature-play-button a { background-color: $mc5-bg; color: $mc5-text; @include hover-bg($mc5-comp-bg); } }
    &.color6 { .feature-headline a, .feature-play-button a { background-color: $mc6-bg; color: $mc6-text; @include hover-bg($mc6-comp-bg); } }
    &.color7 { .feature-headline a, .feature-play-button a { background-color: $mc7-bg; color: $mc7-text; @include hover-bg($mc7-comp-bg); } }

    &.color1 .feature-play-button a:after { border-left-color: $mc1-text; }
    &.color2 .feature-play-button a:after { border-left-color: $mc2-text; }
    &.color3 .feature-play-button a:after { border-left-color: $mc3-text; }
    &.color4 .feature-play-button a:after { border-left-color: $mc4-text; }
    &.color5 .feature-play-button a:after { border-left-color: $mc5-text; }
    &.color6 .feature-play-button a:after { border-left-color: $mc6-text; }
    &.color7 .feature-play-button a:after { border-left-color: $mc7-text; }

  }

  .slide-nav-wrap {
    @include absolutecenter(-5%);
    width: 1200px;
  }

  .slide-nav {
    .slick-prev, .slick-next {
      @include verticalcenter();
      text-decoration: none;
      font-size: 0px;
      &:before { font-size: 10rem; }
      cursor: pointer;
      border: none;
      outline: none;
      background: none;
      color: $white;
    }
    .slick-prev {
      left: 0;
      @include fa(angle-left);
    }
    .slick-next {
      right: 0;
      @include fa(angle-right);
    }
  }

  .slide:first-child img, .slide-nav { opacity: 0; }

  @media (max-width: $xl-breakpoint){
    figure {
      height: 500px;

      figcaption {
        max-width: 1000px;

        .caption-wrap {
          bottom: 4.5rem;
        }
        .feature-headline {
          a {
            max-width: 600px;
          }
        }
      }
    }

    .slide-nav-wrap {
      width: 1000px;
      .slide-nav {
        bottom: 4.5rem;
      }
    }
  }

  @media (max-width: $md-breakpoint){
    figure {
      height: 375px;

      figcaption {
        padding: 0 2rem;

        .caption-wrap {
          bottom: 3.5rem;
        }

        .feature-headline a {
          font-size: 2.8rem;
          line-height: 3.6rem;
        }
        .feature-play-button {
          top: -6.2rem;
        }
      }
    }
    .slide-nav-wrap {
      width: 100%;
      .slide-nav {
        bottom: 3.5rem;
        right: 2rem;
      }
    }
  }

  @media (max-width: $sm-breakpoint){
    .slide-nav-wrap { display: none; }
    figure {
      height: auto;
      img { height: 250px; }
      figcaption {
        padding: 0;
        .caption-wrap {
          position: relative;
          bottom: 0;
          opacity: 1;
          left: 0;
          .feature-headline a {
            max-width: 100%;
            font-size: 2.4rem;
            line-height: 3.4rem;
          }
          .feature-play-button {
            top: -7rem;
            left: 2rem;
          }
        }
      }
    }
    .slide:first-child img, .slide-nav { opacity: 1; }
  }

  @media (max-width: $mn-breakpoint){
    figure {
      img { height: 185px; }
    }
  }
}
