.homepage-banner-background {
  background: $sandstone;
  border-bottom: 1px solid $gold;
  @include vertical-gradient($sandstone, $khaki);
}

div#homepage-banner {
  @extend .homepage-banner-background;

  .homepage-banner-content {
    letter-spacing: -1rem;
    & > * { letter-spacing: normal; }
    @media (max-width: $sm-breakpoint) {
      padding: 2.2rem 2.2rem 2.6rem;
    }
    @media (max-width: $mc-breakpoint) {
      padding: 2rem 2rem 2.2rem;
    }
  }

  .homepage-banner-toprow {
    letter-spacing: -1rem;
    & > * { letter-spacing: normal; }
    max-width: 1200px;
    margin: auto;
    padding: 3.4rem 0 3.8rem 0;
    @media (max-width: $xl-breakpoint) {
      max-width: 1000px;
    }
    @media (max-width: $md-breakpoint) {
      padding: 2.8rem 0;
    }
    @media (max-width: $sm-breakpoint) {
      padding: 0;
    }
  }

  .homepage-banner-logo, .homepage-banner-searchwrap {
    @extend .grid-cell;
    letter-spacing: normal; 
    width: 50%;
  }
  
  .homepage-banner-logo {
    padding-left: 0;
    & > a {
      display: block;
      margin: 0;
      padding: 0;
      max-width: 250px;
      img {
        max-width: 27rem;
        display: block;
      }
    }
    @media (max-width: $xl-breakpoint) {
      & > a img { max-width: 24rem; }
    }
    @media (max-width: $md-breakpoint) {
      padding-left: 5rem;
    }
    @media (max-width: $sm-breakpoint) {
      padding-left: 0;
      & > a img { max-width: 23rem; }
    }
    @media (max-width: $mc-breakpoint) {
      & > a img { max-width: 18rem; }
    }
  }

  .homepage-banner-searchwrap {
    display: inline-block;
    padding-right: 0;

    .txst_search {
      .search_bar{
        border-bottom: none;
      }
      margin-top: 0.8rem;
      @media (max-width: $md-breakpoint) {
        margin-top: 2.5rem;
      }
      @media (max-width: $xs-breakpoint) {
        margin-top: 0.5rem;
      }
    }

    @media (max-width: $xl-breakpoint) {
      .txst_search {
        margin-top: 3px;
      }
    }
    @media (max-width: $md-breakpoint) {
      padding-right: 5rem;
      .txst_search {
        margin-top: 25px;
      }
    }
    @media (max-width: $sm-breakpoint) {
      display: none;
    }

  }

  .hamburger {
    position: relative;
    top: 2.5rem;
    @media (max-width: $mc-breakpoint) {
      top: 1.5rem;
    }
    .toggle-button {
      background: #d1c7b7;
      font-weight: 500;
      top: 8px;
    }
    a{
      top: 0 !important;
    }
  }

  .homepage-banner-nav-wrap {
    display: block;
    @media (max-width: $sm-breakpoint) {
      display: none;
    }
  }

  .homepage-banner-nav {
    // -webkit-transform: translate3d(0,0,0);
    letter-spacing: -1rem;
    @media (max-width: $md-breakpoint) {
      margin-bottom: 0;
      background: $khaki;
    }

    .homepage-banner-nav-content {
      max-width: 1200px; 
      @media (max-width: $xl-breakpoint) {
        max-width: 1000px;
      }
      margin: auto;

      .homepage-banner-nav-logo {
        letter-spacing: normal; 
        position: absolute;
        z-index: 9;
        display: inline-block;
        visibility: hidden;
        opacity: 0;
        padding: 1rem 0;
        @media (max-width: $md-breakpoint) {
          padding-left: 2rem;
        }
        @media (max-width: $sm-breakpoint) {
          padding-left: 0;
        }
        @include vendor-prefix(transition, visibility 0s, opacity .2s linear);

        & > a {
          display: block;
          margin: 0;
          padding: 0;
          img {
            display: block;
            width: 18rem;
          }
          @media (max-width: $md-breakpoint) {
            background-image: url('../images/txst-star.png');
            background-size: contain;
            background-repeat: no-repeat;
            img { visibility: hidden;}
          }
        }
      }

      .audience-link-tabs {
        position: relative;
        width: 100%;
        letter-spacing: normal; 
        text-align: right;
        @media (max-width: $md-breakpoint) {
          text-align: center;
        }

        ul {
          position: absolute;
          bottom: 0;
          right: 0;
          @media (max-width: $md-breakpoint) {
            position: static;
          }

          list-style: none;
          margin: 0;
          padding: 0;
          letter-spacing: -1rem;
          li {
            display: inline-block;
            letter-spacing: normal; 
            margin: 0;
            font-size: 2rem;
            @media (max-width: $xl-breakpoint) {
              font-size: 1.9rem;
            }
            @media (max-width: $md-breakpoint) {
              font-size: 1.8rem;
            }
            font-weight: bold;
            @include vendor-prefix(transition, font-size .1s ease);
            a {
              display: block;
              &[aria-selected=true] { text-decoration: underline; }
              padding: 2.2rem 2.6rem 3.5rem 2.6rem;
              @media (max-width: $xl-breakpoint) {
                padding: 2.2rem 2rem 3.5rem 2rem;
              }
              @media (max-width: $md-breakpoint) {
                padding: 1.8rem 2.8rem;  
              }
            }
            &:first-child a { padding-left: 0; }
            &:last-child a { padding-right: 0; }
          }
        }
      }
    
    }

    &.scroll-to-fixed-fixed {
      @extend .homepage-banner-background;
      border-width: 2px;
      @media (max-width: $sm-breakpoint) {
        border-bottom: none;
      }

      .homepage-banner-nav-logo {
        visibility: visible;
        opacity: 1;
      }
      
      .audience-links {
        margin-top: 0;
        .audience-link-section { margin: 0; }
      }
      
      .audience-link-tabs {
        text-align: right;

        ul {
          position: static;
          li {
            font-size: 1.6rem;
            a {
              padding: 1.6rem 2.6rem;
              @media (max-width: $xl-breakpoint) {
                padding: 1.6rem 2.4rem;
              }
            }
            &:last-child a { 
              @media (max-width: $md-breakpoint) {
                padding-right: 2rem; 
              }
            }
          }
        }
      }
    }
  
    .audience-links {

      .audience-link-section {
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        padding: 5rem 0;
        margin: -1.4rem 0;
        @media (max-width: $md-breakpoint) {
          padding: 4rem 0;
          margin: 0;
        }
        z-index: 9;
        background: $gold;
        @include vendor-prefix(box-shadow, 0 50px 60px -50px #000);

        .audience-link-content {
          max-width: 1200px;
          @media (max-width: $xl-breakpoint) {
            max-width: 1000px;
          }
          @media (max-width: $md-breakpoint) {
            max-width: 768px;
          }
          margin: auto;
          font-size: 1.4rem;
          color: $white;
          a { color: inherit; }
          
          ul { 
            list-style: none; 
            margin: 0;
            padding: 0;

            li {
              margin: 0; 
              &:not(:last-child) {
                margin-bottom: 1.2rem; 
                @media (max-width: $md-breakpoint) {
                  margin-bottom: 1rem; 
                }
              }
            }
          }

          & > div {
            @extend .grid-cell;
            letter-spacing: normal; 
            width: 25%;
            @media (max-width: $md-breakpoint) {
              width: 33%;
            }
          }

          .image-block {
            padding-right: 3.5rem;
            
            .image-block-bg {
              background: $white;
              & > a {
                display: block;
                @extend .hover-blur;
              }
              img {
                display: block;
              }
            }

            p {
              font-family: $garamond;
              font-size: 1.5rem;
              font-weight: normal;
              margin: 1.2rem 0 0;

              a {
                text-decoration: underline;
                &:hover { text-decoration: none; }
              }
            }

            display: inline-block;
            @media (max-width: $md-breakpoint) {
              display: none;
            }
          }

          .featured-links {
            padding: 0 2rem;
            font-weight: 500;

            &.future-students {            

              h3 {
                margin: 0;
                font-size: 1.4rem;
                font-weight: 500;
                text-transform: uppercase;
              }

              ul { 
                margin: 1rem 0 1.5rem; 
                &:first-of-type { 
                  margin-bottom: 3rem; 
                }
                @media (max-width: $md-breakpoint) {
                  margin-top: 0.5rem;
                  &:first-of-type { 
                    margin-bottom: 3rem; 
                  }
                }

                li {
                  display: inline;
                  padding: 0;
                  &:not(:last-child) {
                    padding-right: 0.7rem;
                    &:after { 
                      content: "|"; 
                      padding-left: 1.1rem;
                    }
                  }
                }
              }
              
              .featured-links-button {
                margin: 2rem 0 0;
              }

            }

            &.alumni-visitors {  
              .featured-links-button {
                padding: 1.2rem 3rem
              }
            }
            
            .featured-links-button {
              display: inline-block;
              border-radius: $default-border-radius;
              text-align: center;
              text-transform: uppercase;
              -webkit-box-decoration-break: initial;
              box-decoration-break: initial;
              
              margin: 3rem 0 0;
              padding: 1.5rem 3rem;
              border: 3px solid $lightest-gold;
              @media (max-width: $md-breakpoint) {
                margin-top: 2rem;
                padding: 1.2rem 2.4rem;
                border-width: 2px;
              }

              @include hover-bg($maroon) {
                border-color: $darkest-sandstone;  
              }

              i {
                font-size: 2.5rem;
                margin-left: 1.5rem;
                vertical-align: sub;
              }
            }

          }

          .links-column {
            padding-left: 3rem;

            &:nth-child(3) {
              border-left: 2px solid $lightest-gold;
            }
          }

          .featured-links, .links-column {
            a {
              display: inline-block;
              padding: 5px;
              margin: 0 -5px;
              @include hover-bg($maroon, null, false);
            }
          }

        }
      }
    }

  }

}

a.search-link{
    display: block;
    font-weight:500;
    font-size: 1.8rem; 
    float: right; 
    padding: 1rem 1.8rem 1.2rem 2rem; 
    border-radius: 4px; 
    background: $khaki; 
    color: $darkest-gold; 
    position: relative;
    @media screen and (max-width: $sm-breakpoint) {
        
    }
    &.search-link-mobile{
      float: left; 
      margin-left: 0.8rem; 
      font-size: 2.4rem; 
      padding: 0.5rem 1.3rem 0.8rem 1.3rem; 
      border: none; 
      border-bottom: 2px solid #bbab92; 
      box-shadow: none;
      span{
        display:none;
      }
    }
    
    .icon{
        right: initial; 
        position: relative; 
        font-size: 2rem; 
        height: auto; 
        width: auto; 
        margin-left: 2rem; 
        color: $darkest-gold;
        &:hover{
          color: inherit;
        }
      }
  }
