div#homepage-banner {
  background: $sandstone;
  border-bottom: 1px solid $gold;
  @include vertical-gradient($sandstone, $khaki);

  .homepage-banner-content {
    letter-spacing: -1rem;
    & > * { letter-spacing: normal; }
    padding: 2.5rem 0 0;
  }

  .homepage-banner-toprow {
    letter-spacing: -1rem;
    & > * { letter-spacing: normal; }
    max-width: 1024px;
    margin: auto;
    padding-bottom: 3rem;
  }

  .homepage-banner-logo, .homepage-banner-searchwrap {
    @extend .grid-cell;
    width: 50%;
  }
  
  .homepage-banner-logo {
    padding-left: 5rem;
    & > a {
      display: block;
      margin: 0;
      padding: 0;
      max-width: 250px;
      img {
        max-width: 24rem;
        display: block;
      }
    }
  }

  .homepage-banner-searchwrap {
    padding-right: 5rem;
    .txst_search {
      margin-top: 25px;
    }
  }

  .homepage-banner-nav {
    letter-spacing: -1rem;
    background: $khaki;
    
    .homepage-banner-nav-logo {
      letter-spacing: normal; 
      position: absolute;
      display: inline-block;
      visibility: hidden;
      opacity: 0;
      padding: 1rem 0 1rem 2rem;
      @include vendor-prefix(transition, visibility 0s, opacity .2s linear);

      & > a {
        display: block;
        margin: 0;
        padding: 0;
        img {
          display: block;
          width: 3rem;
        }
      }
    }

    .audience-link-tabs {
      @extend .grid-cell;
      text-align: center;

      ul {
        list-style: none;
        max-width: 1024px;
        margin: auto;
        padding: 0;
        letter-spacing: -1rem;
        li {
          display: inline-block;
          letter-spacing: normal; 
          margin: 0;
          font-size: 1.8rem;
          font-weight: bold;
          @include vendor-prefix(transition, font-size .1s ease);
          a {
            display: block;
            padding: 1.6rem 3.2rem;  // lower left/right padding at 1024 breakpoint?
          }
        }
      }
    }
    
    &.scroll-to-fixed-fixed {
      .homepage-banner-nav-logo {
        // display: inline-block;
        visibility: visible;
        opacity: 1;
      }

      .audience-link-tabs {
        text-align: right;
        // width: calc(100% - 8.5rem);

        li {
          font-size: 1.6rem;
        }
      }
    }
  }
}
