div#top-feature {
  position: relative;
  background: $darkest-charcoal;
  
  figure {
    position: relative;
    overflow: hidden;
    height: 500px;
    margin: 0;
    p { margin: 0; }

    img { 
      display: block; 
      width: 100vw;
      height: 100%;
      object-fit: cover;
    }
    
    figcaption {
      width: 100%;
      height: 100%;
      max-width: 1200px;
      padding: 0 2rem;
      margin: 0 auto;
      
      .caption-wrap {
        position: absolute;
        bottom: 3.5rem;
        max-width: 50%;
      
        .feature-headline {
          a {
            display: block;
            background: $maroon;
            color: $white;
            @include hover-bg($light-maroon);
            text-decoration: none;
            font-weight: 500;
            font-size: 3.2rem;
            line-height: 4.2rem;
            padding: 1.6rem 3rem 1.4rem 2rem;
          }
        }
        .feature-play-button {
          top: -7.5rem;
        }
      }
    }    
  }

  .slide-nav { 
    position: absolute;
    bottom: 3.5rem;
    right: 4rem;

    a {
      background: fade-out($almost-black, 0.3);
      @include hover-bg($almost-black);
      color: $white;
    }
  }

  @media (max-width: $lg-breakpoint){
   figure {
      height: 415px;
  
      figcaption {
        max-width: 1000px;
        
        .feature-headline a {
          font-size: 2.8rem;
          line-height: 3.8rem;
          padding-bottom: 1rem;
          padding-top: 0.8rem;
        }
      }
    }
  }

  @media (max-width: $md-breakpoint){
    figure {
      height: 375px;
    }
  }

  @media (max-width: $sm-breakpoint){
    .slide-nav { display: none; }
    figure {
      height: auto;
      img { max-height: 250px; }
      figcaption {
        padding: 0;
        .caption-wrap {
          max-width: 100%;
          position: relative;
          bottom: 0;
          .feature-play-button {
            left: 2rem;
          }
        }
      }
    }
  }

}
