div#top-links {
  background: $charcoal;
  
  .content-row-content {
    position: relative;
    padding: 0;
  }

  a {
    position: relative;
    display: block;
    color: $white;
    &:hover { background: $darkest-charcoal; }
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 500;
    padding: 1.5rem 2rem;
    border-top: 1px solid $light-charcoal;
    border-bottom: 1px solid $darkest-charcoal;
    i {
      position: absolute;
      right: 2rem;
    }
  }
  @media (min-width: $sm-breakpoint) {
    text-align: center;
    a {
      font-size: 2rem;
      line-height: inherit;
      font-weight: bold;
      padding: 1.5rem 2rem;
      border: none;
      i { display: none; }
    }
  }
}
