div#top-feature {
  position: relative;
  background: $charcoal;
  
  figure {
    position: relative;
    overflow: hidden;
    height: 600px;
    margin: 0;
    background: $maroon;
    
    .img-wrap {
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
    }

    p { margin: 0; }
    
    figcaption {
      width: 100%;
      height: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0;

      .caption-wrap {
        position: absolute;
        bottom: 5.5rem;
        max-width: 50%;
        opacity: 0;
      }

      .feature-headline {
        a {
          display: block;
          background: $maroon;
          color: $white;
          @include hover-bg($light-maroon);
          text-decoration: none;
          font-weight: 500;
          font-size: 3.2rem;
          line-height: 4.5rem;
          padding: 1.4rem 2.5rem 1.4rem 2rem;
          max-width: 600px;
        }
      }
      .feature-play-button {
        top: -7.5rem;
      }
    }    
  }
  
  .slide {  
    &.color1 { .feature-headline a, .feature-play-button a { background-color: $mc1-bg; color: $mc1-text; @include hover-bg($mc1-comp-bg); } }
    &.color2 { .feature-headline a, .feature-play-button a { background-color: $mc2-bg; color: $mc2-text; @include hover-bg($mc2-comp-bg); } }
    &.color3 { .feature-headline a, .feature-play-button a { background-color: $mc3-bg; color: $mc3-text; @include hover-bg($mc3-comp-bg); } }
    &.color4 { .feature-headline a, .feature-play-button a { background-color: $mc4-bg; color: $mc4-text; @include hover-bg($mc4-comp-bg); } }
    &.color5 { .feature-headline a, .feature-play-button a { background-color: $mc5-bg; color: $mc5-text; @include hover-bg($mc5-comp-bg); } }
    &.color6 { .feature-headline a, .feature-play-button a { background-color: $mc6-bg; color: $mc6-text; @include hover-bg($mc6-comp-bg); } }
    &.color7 { .feature-headline a, .feature-play-button a { background-color: $mc7-bg; color: $mc7-text; @include hover-bg($mc7-comp-bg); } }

    &.color1 .feature-play-button a:after { border-left-color: $mc1-text; }
    &.color2 .feature-play-button a:after { border-left-color: $mc2-text; }
    &.color3 .feature-play-button a:after { border-left-color: $mc3-text; }
    &.color4 .feature-play-button a:after { border-left-color: $mc4-text; }
    &.color5 .feature-play-button a:after { border-left-color: $mc5-text; }
    &.color6 .feature-play-button a:after { border-left-color: $mc6-text; }
    &.color7 .feature-play-button a:after { border-left-color: $mc7-text; }

  }
  
  .slide-nav-wrap {
    position: relative;
    width: 1200px;
    margin: auto;
  }

  .slide-nav { 
    position: absolute;
    bottom: 5.5rem;
    right: 0;

    .slick-prev, .slick-next {
      text-decoration: none;
      padding: 1.2rem 1.4rem;
      margin-left: 0.7rem;
      font-size: 0px;
      &:before { font-size: 1.9rem; }
      cursor: pointer;
      border: none;
      outline: none;
      background: fade-out($almost-black, 0.4);
      @include hover-bg($almost-black);
      color: $white;
    }
    .slick-prev {
       @include fa(chevron-left);
    }
    .slick-next {
       @include fa(chevron-right);
    }
  }

  .slide:first-child .img-wrap, .slide-nav { opacity: 0; }

  @media (max-width: $xl-breakpoint){
    figure {
      height: 500px;
  
      figcaption {
        max-width: 1000px;
        
        .caption-wrap {
          bottom: 4.5rem;
        }
      }
    }

    .slide-nav-wrap {
      width: 1000px;
      .slide-nav {
        bottom: 4.5rem;
      }
    }
  }

  @media (max-width: $md-breakpoint){
    figure {
      height: 375px;

      figcaption {
        padding: 0 2rem;

        .caption-wrap {
          bottom: 3.5rem;
        }

        .feature-headline a {
          font-size: 2.8rem;
          line-height: 2.8rem;
        }
        .feature-play-button {
          top: -6.2rem;
        }
      }
    }
    .slide-nav-wrap {
      width: 100%;
      .slide-nav {
        bottom: 3.5rem;
        right: 2rem;
      }
    }
  }

  @media (max-width: $sm-breakpoint){
    .slide-nav-wrap { display: none; }
    figure {
      height: auto;
      .img-wrap { height: 250px; }
      figcaption {
        padding: 0;
        .caption-wrap {
          max-width: 100%;
          position: relative;
          bottom: 0;
          opacity: 1;
          left: 0;
          .feature-headline a {
            max-width: 100%;
            font-size: 2.4rem;
            line-height: 3.4rem;
          }
          .feature-play-button {
            top: -7rem;
            left: 2rem;
          }
        }
      }
    }
    .slide:first-child .img-wrap, .slide-nav { opacity: 1; }
  }

  @media (max-width: $mn-breakpoint){
    figure {
      .img-wrap { height: 185px; }
    }
  }
}
