div#top-links {
  background: $charcoal;
  text-align: center;
  
  .content-row-content {
    position: relative;
    padding: 0;
  }

  a {
    position: relative;
    display: block;
    color: $white;
    &:hover { background: $darkest-charcoal; }
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    padding: 1.5rem 2rem;
    i {
      display: none;
    }
  }
  @media (max-width: $sm-breakpoint) {
    text-align: left;
    a {
      font-size: 1.8rem;
      line-height: 1.8rem;
      font-weight: 500;
      border-top: 1px solid $light-charcoal;
      border-bottom: 1px solid $darkest-charcoal;
      i {
        display: inline;
        position: absolute;
        right: 2rem;
      }
    }
  }
}
