$mc6-name:                  'Sandstone';
$mc6-bg:                    $khaki;
$mc6-text:                  $very-dark;
$mc6-link:                  $very-dark;
$mc6-header:                $very-dark;
$mc6-border:                $darkest-sandstone;
$mc6-comp-bg:               $darkest-sandstone;
$mc6-comp-text:             black;
$mc6-comp-link:             black;
$mc6-comp-header:           black;
$mc6-comp-border:           $mc6-border;
$mc6-hilite-bg:             $white;
$mc6-hilite-text:           $very-dark;
$mc6-grad-top:              $light-sandstone;
$mc6-grad-bottom:           $dark-sandstone;
$mc6-comp-grad-top:         $mc6-bg;
$mc6-comp-grad-bottom:      $khaki;
$mc6-shadow:                $darkest-sandstone;
