div#video-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.8);
  padding: 0;
  z-index: 65535;

  a {
    display: inline-block;
    min-width: 50px;
    text-align: center;
    color: $light-gray;
    &:hover { color: $white; }
  }

  .video-modal-buttons {
    text-align: right;
    font-size: 2.5rem;
  }

  .video-container {
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    @include vendor-prefix(transform, translate(-50%, -50%));
    width: 70%;    
  }

  .video-nav {
    font-size: 5rem;

    a {
      position: absolute;
      top: 50%;
      &.video-nav-left { left: 0; }
      &.video-nav-right { right: 0; }
    }
  }
}
