body {
	font-family: "Nimbus Sans L", Arial, Helvetica, sans-serif;
}
a {
	text-decoration: none;
}

.search-box a, .quick-links a {
	color: #6c5521;
}

.search-box a:hover, .quick-links a:hover {
	color: #4b0f15;
}

.txst-khan-frame {
	position: relative;
	margin: 0px auto;
	padding-top: 66px;
	width: 962px;
	text-align: left;
}

.txst-khanbanner-ddmenu {
	background: url(#{$resource-root}/gato-template-library/images/alkek-menu-bg.jpg) no-repeat 3px 0px;
}

.slideshow-bg {
	position: relative;
	border-bottom: 3px solid black;
	background: url(#{$resource-root}/gato-template-library/images/slideshow-bg.jpg) repeat-x;
	margin-bottom: 20px;
	margin-top: -3px;
}

.gato-slideshow{
	position: relative;

	.slide{
		position: absolute;
		width: 100%;
		height: 100%;
		background-position: right center !important;
		display: none;
	    &.active {
	    	display: block;
	    }

		.slidecontent{
			position: absolute;
			font-size: 13px;
			line-height: 20px;
			left: 0px;
			top: 0px;
			width: 237px;
			height: 100%;
			color: white;

			h3{
				font-family: 'Ubuntu Condensed',Arial, Helvetica, sans-serif;
				color: #fbfbfb;
				letter-spacing: -1px;
				text-align: left;
			  	font-size: 28px;
			  	line-height: 32px;
			  	padding: 12px 5px 5px 10px;
			}

			h4{
				font-family: 'Ubuntu Condensed',Arial, Helvetica, sans-serif;
				font-size: 18px;
				color: #d2d2d2;
				text-align: right;
			  	padding: 5px 20px 5px 10px;
				margin: 0;
			}

			p{
				color: #fbfbfb;
				font-size: 12px;
				padding: 5px 10px 5px 12px;
				font-weight: bold;
				line-height: 1.5em;
				letter-spacing: 1px;
			}

			a{
				color: #fbfbfb;
				text-decoration: underline;
			}
		}
	}

	.pages{
		position: absolute;
		z-index: 2;
		bottom: 2px;
		left: 5px;
		right: auto;
		max-width: 227px;
		list-style:none;

		li{
			position: relative;
			float: left;
			padding: 0px 2px;

			a{
				display: block;
				color: #FFFFFF;
				font-weight: bold;
				font-size: 14px;
				background-color: none;
				border-radius: 0;
				padding: 0;
				box-shadow: none;
				text-decoration: none;
				overflow: hidden;
				width: 14px;
				text-indent: -100px;
				text-transform: uppercase;
				background: url(#{$resource-root}/gato-template-library/images/slideshow-dot.png) no-repeat center center;
			}

			&.active a{
				background-color: transparent;
				background-image: url(#{$resource-root}/gato-template-library/images/slideshow-dot-active.png);
			}

			&.prev a{
				background: url(../../gato-template-tsus/images/leftArrow.gif) no-repeat center center; 
			}

			&.next a{
				background: url(../../gato-template-tsus/images/rightArrow.gif) no-repeat center center; 
			}
		}
	}

}

.library-hours {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 315px;
	width: 155px;
	background-color: #dfded4;
	padding: 15px 30px;
}
body.public .library-hours .hours-links {
	position: absolute;
	left: 30px;
	bottom: 10px;
}
.library-hours .hours-links {
	color: #6c5521;
	font-size: 11px;
}
.library-hours .hours-links a {
	color: #6c5521;
}
.library-hours h3 {
	color: #323332;
}
.library-hours .hours {
  padding: 5px 3px 1px 3px;
	font-size: 12px;
	line-height: 16px;
}
.library-hours .hours h5 {
	color: #4b0f15;
	font-weight: bold;
}
.library-hours .hours .times {
	text-transform: lowercase;
	color: #323332;
}
.library-hours .hours .all-hours {
	padding-top: 2px;
}
body.admin .all-hours, body.admin .hours-links {
	overflow-y: auto;
	height: 75px;
}

.quick-links {
	position: relative;
	float: left;
	width: 316px;
	margin-left: 18px;
	a{
		display: block;
		font-size: 12px;
		line-height: 18px;
	}
	.header{
		background-color: #4b0f15;
		padding: 10px 15px;
		font-size: 16px;
		color: white;
		margin-left: -10px;
		min-height: inherit;
	}

	.left, .right{
		width: 148px;
		float: left;
		padding-left: 10px;
		padding-bottom: 15px;
	}

	.left .header{
		border-top-left-radius: 12px;
	}

	.right{
		background: url(#{$resource-root}/gato-template-library/images/border-dot.png) repeat-y top left;
		.header{
			border-top-right-radius: 12px;
			border-left: 1px solid white;
		}
	}
}

.search-box, .quick-links {
	border-radius: 12px;
	box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.5);
}

.ie6 .search-box, .ie6 .quick-links,
.ie7 .search-box, .ie7 .quick-links,
.ie8 .search-box, .ie8 .quick-links 
{
	border-left: 1px solid #dfded4;
	border-right: 2px solid #dfded4;
	border-bottom: 2px solid #dfded4;
}

/* Search Box */
.search-box {
	position: relative;
	float: left;
	width: 592px; 
	height: 182px;
	margin-left: 18px;
}
.search-box-tabs { 
	width: 100%;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	background-color: #4b0f15;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}
.search-box-tabs li { 
	list-style: none; 
	float: left; 
	text-align: center; 
	overflow: hidden;
	padding-left: 9px;
}
.search-box-tabs li a {
	display: block;
	color: white;
	font-size: 12px;
	line-height: 13px;
	text-decoration: none;
	white-space: nowrap;
	padding: 12px 3px;
}
.search-box-tabs li.selected a {
	background-color: #DDDCD2;
	color: black;
	border-radius: 4px;
	padding: 5px 3px;
	margin-top: 6px;
	/* background: url(library-2012/images/search-box-arrow.png)  no-repeat center bottom; */
}
.search-box-tabs li a:hover {
	color: #cecaaf;
}
.search-box-tabs li.selected a:hover {
	color: black;
}
.search-box-content {
	float: left;
	width: 360px;
	padding: 15px;
	font-size: 0.9em;
}
.search-box-content > div {
	display: none;
}
.search-box-content > div.selected {
	display: block;
}
.search-box-content form {
}
.search-box-content .extra-options { 
	padding: 5px 10px; 
	font-size: 11px; 
}
.search-box-content .extra-options label { 
	padding-left: 5px; 
}
.search-box-content .shortdesc { 
	padding: 2px 2px 0 11px; 
	font-size: 12px; 
	line-height: 14px; 
}
.search-box-content form input { 
	vertical-align: middle; 
}
.search-box-content input.query { 
	width: 200px;
	color: #CCCCCC;
	padding-left: 5px;
}
.search-box-content input.focused {
	color: #000000;
}
.search-box-content .searchimg {
	margin-left: 7px;
}
.search-box-content .query_label {
	font-size: 12px;
}

.search-box-content .search-type-fields label {
	display: none;
}

.chatlink {
	float: left;
	width: 202px;
}

.button {
	position: relative;
	display: block;
	border: 1px solid #6c6d69;
	border-radius: 10px;
	background: #d5ceb3 url(#{$resource-root}/gato-template-library/images/buttontile.jpg);
	line-height: 30px;
	font-size: 16px;
	color: #4b0f15;
	width: 150px;
	text-align: center;
}

.button .mgnlEditorBar.component {
	position: absolute;
	top: -24px;
}

.button a, a.button {
	text-decoration: none;
	color: #4b0f15;
}

.content-boxes {
	overflow: hidden;
	background: #f1f1f1 url(#{$resource-root}/gato-template-library/images/dottedtile.png);
	border-top: 3px solid #4b0f15;
	padding: 25px 0px;
	clear: both;
}
.content-box {
	float: left;
	width: 275px;
	background-color: white;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
	margin-left: 20px;
	padding: 0px 10px 10px 10px;
	min-height: 190px;
	color: #3a3a3a;
	font-size: 14px;
}
.content-box .button {
	margin-top: -15px;
	height: 30px;
	margin-left: 62px;
	background: #42171b url(#{$resource-root}/gato-template-library/images/redtitletile.jpg);
	color: #fbfbfb;
}
.content-box a.khan-eventsbox-addcalendar {
	display: none;
}
.content-box h3 {
	margin: 10px 0px 0px 0px;
	font-size: 16px;
	color: #4b0f15;
}
.content-box.left a, .content-box.right a {
	text-decoration: none;
	color: #6c5521;
	font-size: 13px;
}
.content-box.left a:hover, .content-box.right a:hover {
	color: #4b0f15;
}

/* social media links */
.social {
	clear: both;
	padding: 18px;
	overflow: hidden;
}
.social .button {
	margin-top: 6px;
	font-size: 14px;
}
ul.social-media-container {
	list-style-type: none;
}
.social-media-icons {
	float: right;
  max-width: 600px;
}
.social-media-link {
	float: left;
	padding: 0px 4px 0px 4px;
	height: auto;
}
.social-media-link a {
	display: block !important;
}
.social-media-link a .social-media-icon {
	height: auto;
	position: relative;
	top: auto;
	width: auto;
}
.social-media-link a .social-media-icon img {
	width: auto;
	height: auto;
}

.txst-rss-item h3 {
  font-size: 0.9em;
}

/* emergency notices */
.general_emergency {
	margin-bottom: 20px;
}
.hours_emergency {
	text-align: center;
	margin-bottom: 10px;
}
.general_emergency, .library-hours .hours_emergency {
	color: #983222;
}

.library-footer {
	clear: both;
	background: #4b0f15 url(#{$resource-root}/gato-template-library/images/footertile.jpg) repeat-x;
	height: 32px;
	padding: 28px 20px;
}
.library-footer a {
	display: block;
	float: left;
	border-radius: 10px;
	background-color: #dfded4;
	border: 1px solid #6c6d69;
	line-height: 30px;
	width: 144px;
	text-align: center;
	color: #323332;
	text-decoration: none;
	margin-right: 7px;
  white-space: nowrap;
  font-size: 13px;
}
.more-footer .txst-footer {
	background: none;
	margin: 0;
	text-align: center;
	color: #AAA;
	font-size: 14px;
	padding: 8px 0px;
}

/* For image replacement */
.ir { border: 0; font: 0/0 a; text-shadow: none; color: transparent; background-color: transparent; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

//hide the hamburger that is used in the 2015 template
.hamburger{
	display: none;
}

