@import "gato-template-library/css/variables";
@import "gato-template-library/css/includes";

@import "gato-template-txstate2015/css/superuser";
@import "gato-template-txstate2015/css/header";
@import "gato-template-txstate2015/css/menu";

@import "gato-template-library/css/library-home";
@import "gato-template-library/css/library-searchbox";
@import "gato-template-library/css/library-slideshow";
