body {
	//font-family: "Nimbus Sans L", Arial, Helvetica, sans-serif;  //changed for 2015
	font-family: $univers;
}
a {
	text-decoration: none;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
	margin:0;
	padding:0;
}

ul{
	list-style:none;
}

h1 {
  font-size: 2.9rem;
  padding: 0.5em;
  @media (min-width: $xs-breakpoint) {
    font-size: 3.8rem;
  }
  @media (min-width: $md-breakpoint) {
    font-size: 4.2rem;
  }
}

// .banner{
// 	padding: 0px;
// }

.quick-links a {
	color: #6c5521;
	&:hover{
		color: #4b0f15;
	}
}

.txst-khan-frame {
	position: relative;
	margin: 0px auto;
	//padding-top: 66px; //changed for 2015
	padding-top: 30px;
	//width: 962px;  //changed for 2015
	max-width: 1000px;
	text-align: left;
}

.txst-khanbanner-ddmenu {
	background: url(#{$resource-root}/gato-template-library/images/alkek-menu-bg.jpg) no-repeat 3px 0px;
}

.library-hours {
	position: absolute;
	//top: 0px;
	top: 30px; //for 2015
	right: 0px;
	height: 315px;
	//width: 155px;
	width: 208px; //new for 2015
	//background-color: #dfded4;  //2012 color
	background-color: $sandstone;
	padding: 15px 30px;
	.hours-links{
		color: #6c5521;
		font-size: 11px;
		clear: both;
		a{
			color: #6c5521;
		}
	}
	h3{
		color: #323332;
	}
	.hours{
		padding: 5px 3px 1px 3px;
		font-size: 1.5rem;
		line-height: 1.5rem;
		h5{
			color: #4b0f15;
		font-weight: bold;
		}
		.times{
			text-transform: lowercase;
			color: #323332;
		}
		.all-hours{
			padding-top: 2px;
			img{
			  max-width: 48px;
			  float: left;
			}
		}
	}
}
body.public .library-hours .hours-links {
	position: absolute;
	left: 30px;
	bottom: 10px;
}

body.admin .all-hours, body.admin .hours-links {
	overflow-y: auto;
	height: 75px;
}

.quick-links {
	position: relative;
	float: left;
	width: 316px;
	margin-left: 18px;
	a{
		display: block;
		font-size: 12px;
		line-height: 18px;
	}
	.header{
		background-color: #4b0f15;
		padding: 10px 15px;
		font-size: 16px;
		color: white;
		margin-left: -10px;
		min-height: inherit;
	}

	.left, .right{
		width: 148px;
		float: left;
		padding-left: 10px;
		padding-bottom: 15px;
	}

	.left .header{
		border-top-left-radius: 12px;
	}

	.right{
		background: url(#{$resource-root}/gato-template-library/images/border-dot.png) repeat-y top left;
		.header{
			border-top-right-radius: 12px;
			border-left: 1px solid white;
		}
	}
}

.quick-links {
	border-radius: 12px;
	box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.5);
}

.ie6 .quick-links,
.ie7 .quick-links,
.ie8 .quick-links 
{
	border-left: 1px solid #dfded4;
	border-right: 2px solid #dfded4;
	border-bottom: 2px solid #dfded4;
}


.button {
	position: relative;
	display: block;
	border: 1px solid #6c6d69;
	border-radius: 10px;
	background: #d5ceb3 url(#{$resource-root}/gato-template-library/images/buttontile.jpg);
	line-height: 30px;
	font-size: 16px;
	color: #4b0f15;
	width: 150px;
	text-align: center;
}

.button .mgnlEditorBar.component {
	position: absolute;
	top: -24px;
}

.button a, a.button {
	text-decoration: none;
	color: #4b0f15;
}

.content-boxes {
	overflow: hidden;
	background: #f1f1f1 url(#{$resource-root}/gato-template-library/images/dottedtile.png);
	border-top: 3px solid #4b0f15;
	padding: 25px 0px;
	clear: both;
}
.content-box {
	float: left;
	width: 275px;
	background-color: white;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
	margin-left: 20px;
	padding: 0px 10px 10px 10px;
	min-height: 190px;
	color: #3a3a3a;
	font-size: 14px;
}
.content-box .button {
	margin-top: -15px;
	height: 30px;
	margin-left: 62px;
	background: #42171b url(#{$resource-root}/gato-template-library/images/redtitletile.jpg);
	color: #fbfbfb;
}
.content-box a.khan-eventsbox-addcalendar {
	display: none;
}
.content-box h3 {
	margin: 10px 0px 0px 0px;
	font-size: 16px;
	color: #4b0f15;
}
.content-box.left a, .content-box.right a {
	text-decoration: none;
	color: #6c5521;
	font-size: 13px;
}
.content-box.left a:hover, .content-box.right a:hover {
	color: #4b0f15;
}

/* hide rss expand/collapse in left content box */
.content-box.left{
	.gato-accordion-expand-collapse{
		display: none;
	}
}

/* social media links */
.social {
	clear: both;
	padding: 18px;
	overflow: hidden;
}
.social .button {
	margin-top: 6px;
	font-size: 14px;
	float: left;
}
ul.social-media-container {
	list-style-type: none;
}
.social-media-icons {
	float: right;
  max-width: 600px;
}
.social-media-link {
	float: left;
	padding: 0px 4px 0px 4px;
	height: auto;
}

body.admin li.social-media-link{
	max-width: 70px;
}

.social-media-link a {
	display: block !important;
}
.social-media-link a .social-media-icon {
	height: auto;
	position: relative;
	top: auto;
	width: auto;
}
.social-media-link a .social-media-icon img {
	width: auto;
	height: auto;
}

body.admin {
	#modal_outer{
		.gato-navcolumn{
			.social-media-icons{
				float: none;
				.social-media-link{
					display: block;
					float: none;
				}
			}
		}
	}
}




.txst-rss-item h3 {
  font-size: 0.9em;
}

/* emergency notices */
.general_emergency {
	margin-bottom: 20px;
}
.hours_emergency {
	text-align: center;
	margin-bottom: 10px;
}
.general_emergency, .library-hours .hours_emergency {
	color: #983222;
}

.txst-eventsbox-content {
	overflow: hidden;
	width: 270px;
	height: 202px;
	margin: 20px 15px;
	position: relative;
}

.txst-eventsbox-entry {
	position: relative;
	height: 80px;
	margin-top: 14px;
	margin-bottom: 14px;
	overflow: hidden;
}

.txst-eventsbox-headline {
	display: block;
	color: #000;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	line-height: 15px;
	white-space: nowrap;
	overflow: hidden;
}
.txst-eventsbox-headline .summary {
	font-size: 12px;
}
.txst-eventsbox-headline abbr {
	border: 0px;
}

a.txst-eventsbox-image {
	float: left;
	margin-right: 10px;
}
.txst-eventsbox-image img {
	width: 64px;
	height: 64px;
}

.txst-eventsbox-tease {
	padding-top: 5px;
	font-size: 10px;
	line-height: 14px;
	height: 42px;
	overflow: hidden;
}

.library-footer {
	clear: both;
	background: #4b0f15 url(#{$resource-root}/gato-template-library/images/footertile.jpg) repeat-x;
	height: 32px;
	padding: 28px 20px;
}
.library-footer a {
	display: block;
	float: left;
	border-radius: 10px;
	background-color: #dfded4;
	border: 1px solid #6c6d69;
	line-height: 30px;
	width: 144px;
	text-align: center;
	color: #323332;
	text-decoration: none;
	margin-right: 7px;
  white-space: nowrap;
  font-size: 13px;
}
.more-footer .txst-footer {
	background: none;
	margin: 0;
	text-align: center;
	color: #AAA;
	font-size: 14px;
	padding: 8px 0px;
}

/* For image replacement */
.ir { border: 0; font: 0/0 a; text-shadow: none; color: transparent; background-color: transparent; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

//hide the hamburger that is used in the 2015 template
.hamburger{
	display: none;
}

	// push hours below slider when smaller than 925px (determined by experimentation)
@media (max-width: 940px) {
	body.public .library-hours {
		position: static;
		height: auto;
		width: auto;
		h3 { padding-top: 15px; }
		.hours{
			display: inline-block;
			padding-top: 15px;
			padding-right: 30px;
			padding-left: 0;
			vertical-align: top;
			width: 97px;
		}
		.hours-links {
			position: static;
			padding-top: 15px;
		}
	}
	.search-box{
		margin-left: 18px;
		margin-bottom: 18px;
	}
	.content-boxes {
		padding-bottom: 0;
	}
	.content-box {
		margin-bottom: 36px;
	}
}
@media (max-width: 1024px) {
	.library-footer {
		height: auto;
		background: #4b0f15;
		a {
			float: none;
			display: inline-block;
			margin-bottom: 18px;
		}
	}
}

@media (min-width: $xs-breakpoint){
	.header_no_image {
	    min-height: 120px;
	}
}
