/* css for banner, search box, and super-user menu */

.banner {
    @include vertical-gradient($banner-top, $banner-bottom);
    border-bottom: 2px solid $banner-bottom-border;
}
.banner_content {margin: auto;}
.banner_logo {float: left;}
.txst_search {
    float: right; 
    margin-top: 18px; 
    position: relative;
}
.search_bar {
    .search {
        position: absolute; 
        right: 0; 
        width: 250px; 
        height: 30px; 
        background: $search-background; 
        border: 0px solid $search-border; 
        font-size: .75rem; 
        padding-left: 10px; 
        -webkit-border-radius: $default-border-radius; 
        -moz-border-radius: $default-border-radius; 
        border-radius: $default-border-radius;

        &::-webkit-input-placeholder {color: $search-placeholder;}
        &:-moz-placeholder {color: $search-placeholder;}
        &::-moz-placeholder {color: $search-placeholder;}
        &:-ms-input-placeholder {color: $search-placeholder;}

    }

    .icon{
        -webkit-border-top-right-radius: $default-border-radius; 
         -webkit-border-bottom-right-radius: $default-border-radius; 
         -moz-border-radius-topright: $default-border-radius; 
         -moz-border-radius-bottomright: $default-border-radius; 
         border-top-right-radius: $default-border-radius; 
         border-bottom-right-radius: $default-border-radius; 
         border: none; 
         background: $search-button-background; 
         height: 32px; 
         width: 38px; 
         color: #FFFFFF; 
         font-size: .9rem; 
         position: absolute; 
         right: 0;
        
        &:hover{background: $search-button-hover;} 

    }
}

.super_user {background: $super-user-background;}
.super_list {
    font-size: 0; 
    margin: 0 auto; 
    padding: 0; text-align: right;

    li{
        display: inline-block; 
        font-size: 1rem;
    }

    a{
        border-right: 1px solid $super-user-border; 
        color: $super-user-text; 
        text-transform: uppercase; 
        font-size: 55%; 
        font-weight: 400; 
        letter-spacing: 1px; 
        display: block; 
        padding: 4px 12px 3px 12px;

        &:hover{
            background: $super-user-hover;
        }
    }
}