

//button colors
 $default-button-background:        $maroon;
 $default-button-border:            $darkest-maroon;
 $default-button-background-hover:  $lightest-maroon;
 $button-text:                      $white;
 $button-reverse-text:              $almost-black;
 $button-reverse-text-weight:       400;

 //gradient buttons

$grad-btn-border-maroon:        $darkest-maroon;
$grad-btn-top-maroon:           $light-maroon;
$grad-btn-bot-maroon:           $dark-maroon;
$grad-btn-top-maroon-hover:     $lightest-maroon;
$grad-btn-bot-maroon-hover:     $maroon;

$grad-btn-border-gold:          $darkest-gold;
$grad-btn-top-gold:             $light-gold;
$grad-btn-bot-gold:             $dark-gold;
$grad-btn-top-gold-hover:       $lightest-gold;
$grad-btn-bot-gold-hover:       $dark-gold;

$grad-btn-border-blue:          $darker-blue;
$grad-btn-top-blue:             $light-blue;
$grad-btn-bot-blue:             $dark-blue;
$grad-btn-top-blue-hover:       $lightest-blue;
$grad-btn-bot-blue-hover:       $blue;

$grad-btn-border-charcoal:      $darker-charcoal;
$grad-btn-top-charcoal:         $light-charcoal;
$grad-btn-bot-charcoal:         $dark-charcoal;
$grad-btn-top-charcoal-hover:   $lightest-charcoal;
$grad-btn-bot-charcoal-hover:   $charcoal;

$grad-btn-border-river:          $darker-river;
$grad-btn-top-river:             $light-river;
$grad-btn-bot-river:             $dark-river;
$grad-btn-top-river-hover:       $lightest-river;
$grad-btn-bot-river-hover:       $river;

$grad-btn-border-sandstone:      $darkest-sandstone;
$grad-btn-top-sandstone:         $light-sandstone;
$grad-btn-bot-sandstone:         $tan;
$grad-btn-top-sandstone-hover:   $sandstone;
$grad-btn-bot-sandstone-hover:   $dark-sandstone;

$grad-btn-border-oldgold:        $darker-oldgold;
$grad-btn-top-oldgold:           $light-oldgold;
$grad-btn-bot-oldgold:           $dark-oldgold;
$grad-btn-top-oldgold-hover:     $lightest-oldgold;
$grad-btn-bot-oldgold-hover:     $oldgold;

//reverse buttons
$reverse-btn-background:        $white;

//3D buttons
$three-d-btn-box-shdw-maroon:           $maroon-shadow;
$three-d-btn-hover-background-maroon:   $light-maroon;

$three-d-btn-box-shdw-gold:             $gold-shadow;
$three-d-btn-hover-background-gold:     $light-gold;

$three-d-btn-box-shdw-blue:             $blue-shadow;
$three-d-btn-hover-background-blue:     $light-blue;

$three-d-btn-box-shdw-charcoal:         $darkest-charcoal;
$three-d-btn-hover-background-charcoal: $light-charcoal;

$three-d-btn-box-shdw-river:            $river-shadow;
$three-d-btn-hover-background-river:    $light-river;

$three-d-btn-box-shdw-sandstone:        $darkest-sandstone;
$three-d-btn-hover-background-sandstone: $tan;

$three-d-btn-box-shdw-oldgold:          $oldgold-shadow;
$three-d-btn-hover-background-oldgold:  $light-oldgold;

//image rollover buttons
$image-btn-background-gold:             $gold;
$image-btn-background-hover-gold:       $light-gold;  

$image-btn-background-maroon:           $maroon;
$image-btn-background-hover-maroon:     $light-maroon;  

$image-btn-background-blue:             $blue;
$image-btn-background-hover-blue:       $light-blue;

$image-btn-background-charcoal:         $charcoal;
$image-btn-background-hover-charcoal:   $light-charcoal;

$image-btn-background-river:            $river;
$image-btn-background-hover-river:      $light-river;

$image-btn-background-sandstone:        $sandstone;
$image-btn-background-hover-sandstone:  $tan;

$image-btn-background-oldgold:          $oldgold;
$image-btn-background-hover-oldgold:    $light-oldgold; 


