.gato-customjs-modal {
	display: none;
}

.gato-customjs-column {
	width: 400px;
	float: left;
	background-color: #ffffff;
	padding: 20px;
	font-size: 12px;
}

.gato-customjs-block {
	padding: 10px 0px 10px 0px;
	margin-bottom: 10px;
	overflow: hidden;
}

.gato-customjs-block p {
	font-size: 14px;
}

.gato-customjs-column .mgnlEditorBar.area, .mgnlEditorPlaceholder.area {
  display: none;
}

.gato-customjs-column .mgnlEditorBar.component, .mgnlEditorPlaceholder.component {
  display: block !important;
}
