/* default styles applied before any styles in media queries */
html {font-size: 100%; position: relative; min-height: 100%;}
body {
    height: auto; 
    min-height: 100%;
    font-family: 'Univers W01', Helvetica, Calibri, Arial, sans-serif; 
    font-weight: 100; 
    text-rendering: optimizeLegibility; 
    background-color: $default-background;
}
input {-webkit-appearance: none !important;}
h1 {
    font-size: 1.8rem; 
    line-height: 38px; 
    padding: 1rem;
}
h2 {
    margin: 0 auto .5rem auto; 
    font-size: 1.5rem;
}
figcaption {font-size: 85%;}
.column {padding-left: 1rem; padding-right: 1rem;}
.main_section {padding-bottom: 1rem;}
.float_left {float: left;}
.float_right {float: right;}
.header, .header_with_image_secondary, .header_with_image, .header_no_image {min-height: 70px; padding: 0;}
.dept_name, .title {position: relative;}
.hide, .bg_overlay, .bg_video, .bg_image, .bg_image_secondary, .bg_image_none, .messaging, .nav, .gallery_link, .top_nav, .super_user, .txst_search {display: none;}
.nav {
    a {padding: .4rem .5rem;}
}
.menu_title {
    margin: auto 8px; 
    text-transform: uppercase; 
    vertical-align: middle;
}
.footer_2:after {background: url('../images/old-main-footer-2.jpg');}
.banner {padding: 0 1rem; width: 100% !important; height: 60px;}
.banner_logo {
    width: 195px;
    img {max-width: 100%; margin-top: 11px;}
}
#breadcrumbs {
    text-align: left; 
    font-weight: 400; 
    font-size: 65%; 
    margin: -5px auto 0 auto; 
    line-height: 16px;
}
.back_to_top a, .back_to_top a:hover {bottom: -6px; padding-bottom: 10px;}
.list_header {margin-bottom: .8rem; font-size: .9rem;}
.txst_address p {margin-top: 20px;}
.mobile_nav {display: block;}
.footer_column_1 {margin-top: 3rem; text-align: center;}
.foot_linkage {text-align: center; margin-bottom: 2rem;}
.apply_now {display: block; text-align: center; margin: 3rem 0 1rem 0 !important; border: none; max-width: 100%; padding: 1.2rem 0 !important; font-size: 1rem;}
.contact_us {font-size: 1.5rem; margin: .5rem auto 0 auto;}
.office_contact_2, .foot_linkage, .office_contact_2 p {font-size: .8rem; line-height: 1.5rem;}
.page_content {font-size: 100%;}
.sidebar {padding: 0;}
.sidebar_active {padding-left: 0;}
.sidebar_active_reverse {padding-right: 1rem;}
.parent_org a {bottom: -.7rem;}
.slide_caption {font-size: 85%; bottom: auto; position: initial;}

//We don't really need these.  Leaving them in so we know later what colors go in the carousel
.caption_color_1 {background: $dark-charcoal;}
.caption_color_2 {background: $blue;}
.caption_color_3 {background: $maroon;}
.caption_color_4 {background: $gold;}
.caption_color_5 {background: $oldgold;}
.caption_color_6 {background: $river;}
.caption_color_7 {background: $dark-sandstone;}

.slick-prev {left: 1rem;}
.slick-next {right: 1rem;}
.slider_3 .slide_caption {min-height: 200px;}
.side_nav_list a {font-size: 85%;}
.side_nav_header {font-size: 95%;}
.trail {display: none;}
.page_content {margin-top: .5rem;}
.super_list, .banner_content, .parent_org, h1, .nav, .page_content, .footer_content {max-width: 1000px;}
.txst_logo {max-width: 250px;}