/* Primary */

.nav {
    font-size: .9rem; 
    @include vertical-gradient($primary-nav-gradient-top, $primary-nav-gradient-bottom);
}

.top_nav.scroll-to-fixed-fixed {
    @include vertical-gradient($primary-nav-gradient-top, $primary-nav-gradient-bottom);
    border-bottom: 2px solid $nav-border-bottom;
}
.primary_nav {
    margin: 0; 
    padding: 0; 
    display: flex; 
    border-bottom: 1px solid $primary-nav-box-shadow; 
    @include box-shadow(inset 1px 0 $primary-nav-box-shadow, inset -1px 0 $primary-nav-box-shadow);

    li{
        position: relative; 
        list-style-type: none; 
        border-left: 1px solid $primary-nav-item-left-border; /* border-right: 1px solid #DDD5C9; border-left: 1px solid #F4F1ED; */

        &:first-child {border-left: none;}
        &:hover{
            color: $primary-nav-item-text-hover; 
            background: $primary-nav-item-background-hover;
            a{
                color: $primary-nav-item-text-hover;
            }
            .secondary_nav {display: block; opacity: 1; visibility: visible;}
        }
    }

    a{
       color: $primary-nav-item-text; 
       display: flex; 
       font-weight: 400; 
       line-height: 1.2rem; 
    }
}
.scroll-to-fixed-fixed .primary_nav {
    border: 0 solid $primary-nav-box-shadow; 
    @include box-shadow(none);
}

.nav-home-container {position: relative; display: none;}
.nav-home-logo {margin: 0; padding: 0; width: 25px; position: absolute; left: -45px; top: 2px;}
.scroll-to-fixed-fixed .nav-home-container {display: block;}

/* Secondary */

.scroll-to-fixed-fixed .secondary_nav {
    border: 2px solid $gold;
    a {padding-left: .45rem;}
}

.secondary_nav {
    border: 1px solid $secondary-nav-border; 
    padding: 0; 
    position: absolute; 
    top: 100%; 
    left: 0; 
    width: 100%; 
    width: 11rem; 
    display: none; 
    opacity: 0; 
    visibility: hidden; 
    background: $secondary-nav-background; 
    z-index: 9999;

    li{
       border: none; 
       &:first-child a {border-top: none;}
       &:last-child a {border-bottom: none;}
       &:hover{
            background: none; 
            @include box-shadow(none);
            a{color: $secondary-nav-item-text;}
        }
    }

    a{
        display: flex; 
        font-weight: 400; 
        line-height: 1.2rem;
        padding: .35rem .5rem; 
        color: $secondary-nav-item-text !important; 
        border-bottom: 1px solid $secondary-nav-border-bottom; 
        border-top: 1px solid $secondary-nav-border-top;
        &:hover {background: $secondary-nav-hover-background; text-decoration: underline;}
    }
}

.selected-internal {background: none;}

/* Sidebar */

.side_nav {
    background-color: $side-nav-background; 
    padding: .5rem 0 1rem 0; 
    border-bottom: 1px solid $side-nav-border-bottom; 
    border-top: 1px solid $side-nav-border-top;
}
.side_nav_list {
    list-style-type: none; 
    padding-left: 0; 
    margin: 0;
    a {
        display: block; 
        padding: 0.3rem 0.7rem; 
        color: $side-nav-link-text !important;
        margin: 0 !important; 
        padding: .2rem 1rem !important; //Is it necessary to have the padding twice?
        text-decoration: underline !important; 
        line-height: 22px;
    }
    i{
        margin-right: 10px; 
        font-size: 120%; 
        vertical-align: middle;
    }
}
.side_nav_header {
    color: $side-nav-header-text; 
    margin: 0; 
    font-weight: 700; 
    line-height: 1.5rem; 
    padding: .2rem 1rem;}

.mobile_secondary_nav i {margin-right: 10px; font-size: 120%; vertical-align: middle;}