.txst-filedownload {
	margin-bottom: 10px;
    .txst-filedownload-link {
        text-decoration: none;
        font-weight: 400;
    }
}

.txst-filedownload-details {
	color: $gold;
	font-size: .8em;
	margin-left: 10px;
}

.txst-filedownload-description {
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: .8em;
}

.doc-icon{
    color: $charcoal;
    margin-right: 5px;
}

