.txst-filedownload {
	margin-bottom: 18px;
    .txst-filedownload-link {
        text-decoration: none;
    }
}

.txst-filedownload-details {
	color: $gold;
	font-size: .8em;
	margin-left: 10px;
}

.txst-filedownload-description {
	margin-left: 25px;
	margin-bottom: 20px;
	font-size: .8em;
}

