.txst-filedownload {
	margin-bottom: 0.3rem;
    .txst-filedownload-link {
        text-decoration: none;
        font-weight: 400;
    }
    .doc-icon{
        color: $document-icon-color !important;
        margin-right: 5px;
        font-size: 110%;
    }
}

.txst-filedownload-details {
	color: $document-details-text-color;
	font-size: 75%;
	margin-left: 10px;
}

.txst-filedownload-description {
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: .8em;
}
