
/* Calendar */

/* Department Directory */

/* Documents */

/* FAQ Hierarchy */

/* Icon and Text */

/* Table */
$table-header-bg: $midnight;
$table-header-text: $white;
$table-header-border: $platinum;
$table-border: $platinum;

/* Progress */
$progress-inner-circle-color: $red;
$progress-outer-circle-color: $taupe;
$progress-outer-circle-fill-color: $navy;
$progress-title-color: $navy;
