
/* Calendar */

/* Department Directory */

/* Documents */

/* FAQ Hierarchy */

/* Icon and Text */

/* Table */
$table-header-bg: $midnight;
$table-header-text: $white;
$table-header-border: $platinum;
$table-border: $platinum;
