
.ui-dialog {
    .searchbar{
        .search-radios {
            display: none;
        }
    }
}

#search-results {
    max-width: 1250px;
    padding-top: 6.7rem;
    padding-bottom: 7.7rem;
    position: relative;
    min-height: 32rem;

    .global-search {
        display: none;
    }
}