@font-face {
    font-family:'ProximaNova-Regular';
    src: url('./fonts/ProximaNova-Regular.woff2') format('woff2'),
         url('./fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
@font-face {
    font-family:'ProximaNova-Bold';
    src: url('./fonts/ProximaNova-Bold.woff2') format('woff2'),
         url('./fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
@font-face {
    font-family:'ProximaNova-Semibold';
    src: url('./fonts/ProximaNova-Semibold.woff2') format('woff2'),
         url('./fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
@font-face {
    font-family:'ProximaNova-Light';
    src: url('./fonts/ProximaNova-Light.woff2') format('woff2'),
         url('./fonts/ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}