@import "gato-template-tsus2017/css/variables";
@import "gato-template-tsus2017/css/contenttypes";
@import "gato-template-tsus2017/css/includes";
@import "gato-template-tsus2017/css/tsus-paragraphs";
//TODO: Go thorugh CSS files and use variables for color names.  Variables should be defined in
// gato-template-tsus2017/css/variables.scss

$sidebar-width: 22%;

.page_content {
    padding-top: $content-top-padding;
    padding-bottom: 7.7rem;
    position: relative;
    min-height: 32rem;
    @media (max-width: $md-breakpoint){
      padding-top: 3rem;
      padding-bottom: 0;
    }
    .gato-section {
        max-width: $max-width-larger;
        @media (max-width: $lg-breakpoint){
          max-width: $max-width-smaller;
        }
        margin: 0 auto;
        padding: 0 6.5rem 0 0.8rem;
        padding-right: $sidebar-width;
        &.full-width {
          padding: 0;
        }
        @media (max-width: $md-breakpoint){
          padding: 0;
        }
        & + .gato-section {
            border-top: 1px dashed #d9d9d9;
            padding-top: 35px;
        }
        .section-title {
          color: $red;
          text-align: center;
          padding: 2rem 1rem;
        }
    }

  .sidebar-container {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    max-width: $max-width-larger;
    @media (max-width: $lg-breakpoint){
      max-width: $max-width-smaller;
    }
    top: $content-top-padding;
    @media (max-width: $md-breakpoint){
      position: relative;
      top: 0;
      padding: 0px;
    }
    .sidebar {
      background-color: $white-smoke;
      margin-top: 2.4rem;
      padding: 2.9rem 2.2rem 2rem;
      width: $sidebar-width;
      float: right;
      @media (max-width: $md-breakpoint){
        width: 100%;
        padding: 4rem 3.5rem;
        margin-top: 0px;
      }
        .side_nav{
            padding-bottom: 2.5rem;
            @media (max-width: $sm-breakpoint){
                padding-bottom: 0.8rem;
            }
            .side_nav_header{
                text-transform: uppercase;
                font-size: 1.6rem;
                line-height: 2.2rem;
                margin-bottom: 2rem;
                @media (max-width: $sm-breakpoint){
                    margin: 0 0 1rem;
                }
            }
            //all sidebar-sections except the first one
            & + .side_nav{
                border-top: 1px dashed #d9d9d9;
                padding-top: 3.5rem;
                @media (max-width: $sm-breakpoint){
                    padding-top: 1.5rem;
                }
            }
            ul.side_nav_list{
                margin: 0;
                padding: 0;
                list-style: none;
                font-size: 0;
                line-height: 0;
                li{
                    padding: 0 0 1rem 1.3rem;
                    position: relative;
                    font-weight: 300;
                    font-size: 1.4rem;
                    line-height: 2.1rem;
                    font-family: 'Roboto', sans-serif;
                    &::before{
                        content: '';
                        position: absolute;
                        width: 3px;
                        height: 3px;
                        border-radius: 50%;
                        background-color: #505050;
                        top: 9px;
                        left: 2px;
                    }
                    a{
                        color: #505050;
                        text-decoration: none;
                        transition: all .3s;
                        &:hover{
                            font-weight: 700;
                        }
                    }
                }
            }

            //Style for the quick links section.  Not currently being used
            ul.quick-links{
                margin: 0;
                padding: 0.5rem 0 1rem;
                list-style: none;
                font-size: 0;
                line-height: 0;
                li{
                    display: inline-block;
                    vertical-align: top;
                    font-weight: 300;
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                    font-family: 'Roboto', sans-serif;
                    margin: 0 0.5rem 0.5rem 0;
                    a{
                        display: inline-block;
                        text-decoration: none;
                        vertical-align: top;
                        color: #161616;
                        border: 1px solid #bdbec0;
                        adding: 0.3rem 1rem 0.4rem;
                        transition: all .3s;
                        &:hover{
                            color: #fff;
                            background-color: #373644;
                            border-color: #373644;
                        }
                    }
                }
            }
        }
    }
  }
}

.container{
    @media (max-width: $lg-breakpoint){
      max-width: $max-width-smaller;
    }
    &.standard-container{
        @media (max-width: $lg-breakpoint){
            padding: 0;
        }
    }
}





/*style code for staff directory*/
//side_nav_list
.side_nav_list_dir{
	margin: 0;
	padding: .5rem 0;
	list-style: none;
	font-size: 0;
	line-height: 0;
}
.side_nav_list_dir li + li {padding-top: 10px;}
.side_nav_list li a {
	display: block;
	overflow: hidden;
  text-decoration: none;
}
.side_nav_list_dir .photo {
	float: left;
	width: 5rem;
	height: 5rem;
	margin: 0 1rem 1rem 0;
	background-color: #e0e0e0;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.side_nav_list_dir .photo img {
  width: 100%;
  height: 100%;
}
.side_nav_list_dir .info {
	overflow: hidden;
	font: 300 1.2rem/1.4rem 'Roboto', sans-serif;
	color: #878787;
	padding-top: .3rem;

}
.side_nav_list_dir .info .name {
	display: block;
	font-size: 1.4rem;
	line-height: 1.6rem;
	min-height: 3.2rem;
	color: black;
  font-weight: 500;
}

.side_nav_list_dir .staffDir {
	text-decoration: none;
}

///////////////////////////////////

///quick-links
  .quick-links{
    display: inline-block;
    vertical-align: top;
    color:  $tsus-lightgray;
    padding: .3rem 1rem .4rem;
  }

/////////////////////////////////////

///search bar
.search-form{
  margin-bottom: 3.5rem;
}
#q{
  padding-left: 4rem;// make it 5 on mobile
}
.tsus-searchform {
  position: relative;
 }

.tsus-searchform input.research {
//styles for search go here
  display: block;
  height: 4.5rem;
  width: 100%;
  border: .1rem solid #bcbdbf;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background: none;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #878787;
  padding: .5rem 1rem;
  -webkit-appearance: none;
 }


#tsus-searchform-searchbutton {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 4%;
  width: 2.5rem;
  border: none;
  //background: url(../images/ico-search.png) no-repeat;
  background-position: 75% 50%;
}
