@import "gato-template-tsus2017/css/variables";
@import "gato-template-tsus2017/css/includes";
@import "gato-template-tsus2017/css/tsus-paragraphs";

.gato-flex-container {
	justify-content: space-between; // To override flex container behaviour for flex item css
}
.tsus-institution-logos{
  border-top: 1px solid $tsus-taupe;
}

.tsus-institution-logos ul li a img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.container {
	max-width: 131rem;
	margin: 0 auto;
	padding: 0 1.5rem;
}
.container:after,
.clearfix:after {
	clear: both;
	content: '';
	display: block;
}

//*Responsiive start images */
@media screen and (max-width: $sm-breakpoint){
	  .tsus-institution-logos img{
			height: 5rem;
			margin-bottom: 1rem !important;
		}
}



/*Responsive ends*/
