header{
  background-color: $tsus-darkblue;
  padding: 1.6rem 0 1.7rem;
  position:relative;
  color: $white;
  @media (max-width: $sm-breakpoint){
    padding: 1.1rem 1rem 1.2rem;
  }
  .flex-header{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    .tsus-homelink {
      margin-right: auto;
      width: 450px;
      height: 66px;
      background: url(../images/logo.png) no-repeat;
      background-size: auto 100%;
      font-size: 0;
      line-height: 0;
      color: $white;
      @media (max-width: $sm-breakpoint){
        width: 175px;
        height: 30px;
        background: url(../images/logo.png) no-repeat;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
      }
    }
    button {
      background: transparent;
      border: 0px;
      font-size: 2rem;
      min-width: 5rem;
      @media (max-width: $sm-breakpoint) {
        font-size: 1.4rem;
      }
      &.search-link {
        margin-right: 1rem;
      }
      &:hover { opacity: 0.7; }
    }

    .main-menu {
      > button {
        font-family: 'ProximaNova-Regular', sans-serif;
        letter-spacing: 0.15rem;
        text-transform: uppercase;
        background: transparent;
        border: 0px;
      }
      .main-menu-panel {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: $tsus-darkblue;
        width: 32rem;
        padding: 2rem 4rem 2rem 2rem;
        display: none;
        z-index: 65536;
        .simplemenu {
          &, ul {
            list-style: none;
            padding: 0;
            margin: 0;
          }
          a {
            display: block;
            color: $white;
            text-decoration: none;
            font-family: 'Lato', sans-serif;
          }
          > li {
            position: relative;
            &.expanded {
              > button {
                background-color: mix($tsus-darkblue, $white, 70);;
                i:before {
                  content: $fa-var-angle-up;
                }
              }
              .simplemenu-subitems {
                /* unnecessary as long as we use velocity 'slideDown' animation */
                /* display: block; */
              }
            }
            > a {
              letter-spacing: 0.2rem;
              font-size: 2.2rem;
              font-weight: 400;
              line-height: 2.5rem;
              padding: 1rem 0 .5rem 0;
              border-bottom: 2px solid mix($tsus-darkblue, $white, 70);
              padding-right: 5rem;
              @media (max-width: $sm-breakpoint) {
                padding-right: 4rem;
              }
            }
            > button {
              position: absolute;
              top: 0;
              right: 0;
              line-height: 3.0rem;
              padding: .5rem 0 .5rem 0;
              font-size: 3.0rem;
              border-left: 2px solid mix($tsus-darkblue, $white, 70);;
            }
          }
          .simplemenu-subitems {
            display: none;
            padding-bottom: 1rem;
            a {
              font-size: 1.8rem;
              letter-spacing: 0.05rem;
              line-height: 1.8rem;
              padding: 1.5rem 0 .5rem 0;
            }
          }
        }
      }
    }
  }
  &.menu-out {
    .main-menu {
      >button i:before {
        content: $fa-var-times;
      }
      .main-menu-panel {
        /* unnecessary as long as we use velocity 'slideDown' animation */
        /* display: block; */
      }
    }
    .texas-state, .social-media, .search-link {
      display: none;
    }
  }
}
