@import "gato-template-tsus2017/css/variables";
@import "gato-template-tsus2017/css/contenttypes";
@import "gato-template-tsus2017/css/includes";
@import "gato-template-tsus2017/css/tsus-paragraphs";

.gato-flex-container {
	display: flex;
	justify-content: center;
	overflow: hidden;
	li{list-style: none;}
  @for $i from 1 through 12 {
    &.flex-columns-#{$i} li {
      width: (100% / $i);
    }
  }
}

.tsus-institution-logos{
	ul {
		margin: 0;
		padding: 1.6rem 0rem;
	}
  li {
    margin-bottom: 1rem;
    float: left;
  }
  img {
    display: block;
    height: 6rem;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
  }
}
