$header-height: 8rem;
$header-height-tablet: 6rem;
$header-height-mobile: 5rem;

.tsuspage-header{
    background-color: $tsus-darkblue;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: unsafe center;
    height: $header-height;
    position: relative;
    color: $white;
    @media (max-width: $md-breakpoint) {
        height: $header-height-tablet;
        margin-bottom: 3rem;
    }
    @media (max-width: $sm-breakpoint) {
        height: $header-height-mobile;
        margin-bottom: 2rem;
    }
    button {
      background: transparent;
      border: 0;
      padding: 0;
      line-height: 4rem;
      text-align: center;
      min-width: 5rem;
      @media (max-width: $md-breakpoint) {
        min-width: 4rem;
      }
    }

    .tsushome-link {
        width: 353px;
        height: 36px;
        margin-right: auto;
        display: block;
        padding: 0 3rem;
        @media (max-width: $md-breakpoint) {
          padding: 0 2rem;
        }
        img {
          height: 3.5rem;
          @media (max-width: $sm-breakpoint) {
            height: 2.5rem;
            -webkit-background-size: 100% auto;
            background-size: 100% auto;
          }
        }
    }
    .tsus-social-media {
      position: relative;
      margin-right: 2rem;
      background-color: $tsus-darkblue !important;
      @media (max-width: $md-breakpoint) {
        margin-right: 1rem;
      }
      @media (max-width: $sm-breakpoint) {
        display: none;
      }
      > button.icon {
        white-space: nowrap;
        background-color: $tsus-darkblue;
        span {
          font-family: 'ProximaNova-Regular', sans-serif;
          font-size: 2rem;
          letter-spacing: .05rem;
          padding-right: 0.5rem;
          @media (max-width: $md-breakpoint) {
            font-size: 1.7rem;
          }
        }
      }
      .social-media-panel {
        display: none;
        position: absolute;
        top: (4rem + $header-height) / 2;
        right: -0.6rem;
        width: 24rem;
        background-color: $tsus-darkgray;
        padding: 2rem;
        text-align: center;
        z-index: 65536;
        @media (max-width: $md-breakpoint) {
          top: (4rem + $header-height-tablet) / 2;
        }
        @media (max-width: $sm-breakpoint) {
          display: none !important;
        }
      }
      &.shown {
        .social-media-panel { display: block; }
      }
    }

    .search-link{
      font-size: 2rem;
      margin-right: 2rem;
      @media (max-width: $md-breakpoint) {
        margin-right: 0.5rem;
      }
    }


    .tsusmain-menu {
        padding-right: 3.5rem;
        @media (max-width: $md-breakpoint) {
          padding-right: 2rem;
        }
        > button {
          font-size: 2rem;
          letter-spacing: 0.15rem;
          text-transform: uppercase;
          span {
            padding-right: 0.6rem;
            @media (max-width: $md-breakpoint) {
              @include sr-only();
            }
          }
        }
        .main-menu-panel {
             position: absolute;
             top: $header-height;
             right: 0;
             background-color: $tsus-darkgray;
             width: 32rem;
             padding: 2rem 4rem 2rem 2rem;
             display: none;
             z-index: 65536;
             @media (max-width: $md-breakpoint) {
               top: $header-height-tablet;
             }
             @media (max-width: $sm-breakpoint) {
               top: $header-height-mobile;
             }
            .menu-tsus-button>img{
                width: 100%;
            }
             .simplemenu {
               &, ul {
                 list-style: none;
                 padding: 0;
                 margin: 0;
               }
               a {
                 display: block;
                 color: $white;
                 text-decoration: none;
               }
               > li {
                 position: relative;
                 &.expanded {
                   > button i:before {
                     content: $fa-var-angle-down;
                   }
                   .simplemenu-subitems {
                     display: block;
                   }
                 }
                 > a {
                   letter-spacing: 0.2rem;
                   font-size: 2.6rem;
                   font-weight: 500;
                   line-height: 3rem;
                   padding: 1rem 0 .5rem 0;
                   border-bottom: 2px solid red;
                   padding-right: 5rem;
                   @media (max-width: $md-breakpoint) {
                     padding-right: 4rem;
                   }
                 }
                 > button {
                   position: absolute;
                   top: 0;
                   right: 0;
                   line-height: 3rem;
                   padding: 1rem 0 .5rem 0;
                   font-size: 3rem;
                 }
               }
               .simplemenu-subitems {
                 display: none;
                 a {
                   font-size: 2rem;
                   letter-spacing: 0.05rem;
                   line-height: 1.8rem;
                   padding: 1.6rem 0 1rem 0;
                 }
               }
             }
           }
           &.menu-out {
               .tsusmain-menu {
                 >button i:before {
                   content: $fa-var-times;
                 }
                 .main-menu-panel {
                   display: block;
                 }
               }
               .texas-state, .social-media, .search-link {
                 display: none;
               }
          }
        }
      }





.social-media-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 0;
  .gato-sociallink {
    text-align: center;
    width: 4rem;
    line-height: 4rem;
    text-decoration: none;
    color: $white;
    &:hover, &:active {
      i { color: $white; }
    }
    span {
      @include sr-only();
    }
    i {
      float: none;
      font-size: 3rem;
      color: $white;
    }
  }
}
