$header-height: 3.5rem;
$header-height-tablet: 1.5rem;
.main-menu{
  display: none;
  background-color: $tsus-darkblue;
  position: relative;
  z-index: 65536;
  top: 100%;
  right: 0;
  .simplemenu {
    &, ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
    }
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    align-items: center;

    > li {
      > a {
        display: block;
        position: relative;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2.7rem;
        text-transform: uppercase;
        margin-bottom: 0.6rem;
      }

      > a:before {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        display: block;
        margin: 0.5rem auto 0 auto;
        width: 0;
        height: 2px;
        background: transparent;
        transform: scale(1);
        -webkit-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        @media (max-width: $sm-breakpoint){
          height: 3px;
        }
      }
      > a:hover, > a:active {
        &:before {
          width: 100%;
          background: $tsus-mediumbluegray;
        }
      }
    }

    li {
      margin-bottom: 0.6rem;
      @media (max-width: $sm-breakpoint){
        margin-bottom: 0.4rem;
      }
      letter-spacing: 0.08rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    a {
      color: $white;
      text-decoration: none;
      padding: 0 1.2rem 0.5rem;
      @media (max-width: $sm-breakpoint){
        padding: 0 1rem 0.4rem;
      }
    }
  }
  .main-menu-panel{
        position: absolute;
        right: -1.5rem;
        background-color: $tsus-darkgray;
        width: 32rem;
        padding: 2rem 4rem 2rem 2rem;
        z-index: 65536;
       .menu-tsus-button>img{
           width: 100%;
       }
       top: $header-height;
       @media (max-width: $sm-breakpoint){
         top: $header-height-tablet;
       }
  }
}
