/* CSS used on both home and standard templates */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  background-color: $white;
  font-family: 'Lato', sans-serif;
  line-height: 1.3;
}

.container, #search-results {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    @media (max-width: $lg-breakpoint){
      max-width: 970px;
    }
}

.gato-section {
  margin: 0 auto;
  max-width: 1280px;
    @at-root {
      .gato-section-full.has-background {
        .gato-section {
          padding-bottom: 2rem;
          margin-bottom: 3.5rem;
        }
      }
    }

  @media (max-width: $lg-breakpoint) {
    //this value might need adjusting
    max-width: 1000px;
  }
  .section-title {
    color: $red;
    font-size: 2.5rem;
    text-transform: uppercase;
    @media (max-width: $sm-breakpoint) {
      font-size: 1.7rem;
    }
  }
}

a, a:link, a:visited {
    color: $content-link-text;
}

.column_paragraph {
  a img {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    /* This kills weird opacity image hover effects in Webkit browsers */
    -webkit-backface-visibility: hidden;
    &:hover{
      opacity: 0.9;
    }
  }

  /* Headers */
  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  h4 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  h5 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }

  h6 {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
}

/*Blockquotes*/
.gato-rich-editor, .gato-html {
  blockquote {
    font-weight: lighter;
    position: relative;
    margin: 2rem 0;
    padding: 0 0 0 5.6rem;
    min-height: 4rem;
    &:before {
      font-family: FontAwesome;
      content: "\f10d";
      color :#8e847a;
      font-size: 3.9rem;
      position: absolute;
      top: -.5rem;
      left: 0;
    }
  }
}

::-moz-selection {background: $text-selection; text-shadow: none;}
::selection {background: $text-selection; text-shadow: none;}
