
$counterBg: #222;
$shadow: 0px 5px 15px rgba(black,.5);
$quick: .2s;

@function remy($value) {
  @return ($value / 16px) *1rem;
}
.grid{}
.masonry-section{
  margin-bottom: 20px;
  *{
    box-sizing : border-box;
  }


 header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

  .gato-card, .grid__sizer {
   width: 25%;
}
.gato-card-lg{width: 100%;   }
.gato-card-md{width: 50%;   }
/* option to let images height be based on
 figure{
  background-image: none !important;
   & img{
  display: block !important;
}
}*/
.gato-card-add{
  width: 25%;

}



  .gato-card {
  height: 350px;
  padding: remy(10px);
  margin-bottom: .9375rem;

  figure {
    display: block;
    box-shadow: $shadow;
    &:hover{
       cursor: pointer;
       z-index: 1000;
       transition: .5s;
       transform: perspective(5000px) translateZ(150px);
    }
  }
}


 .img{
  background-size: cover;
  background-color: green !important;
}
 .img-box{
  height: 100%;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 0;
  padding: 0;
}


@media screen and (max-width: 700px){
   .gato-card,.gato-card-sm,.gato-card-md,.gato-card-lg {
    left: 0 !important; //centers for mobile.
    width:100%;
  }
}

@media screen and (max-width:767px){
   .gato-card figure figcaption {position: absolute;}
}

}
