/* CSS used on both home and standard templates */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  background-color: $white;
  font-family: 'Lato', sans-serif;
  line-height: 1.3;
}

.container, #search-results {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    @media (max-width: $lg-breakpoint){
      max-width: 970px;
    }
}

.gato-section {
  margin: 0 auto;
  max-width: 1280px;
    @at-root {
      .gato-section-full.has-background {
        .gato-section {
          padding-bottom: 2rem;
          margin-bottom: 3.5rem;
        }
      }
    }

  @media (max-width: $lg-breakpoint) {
    //this value might need adjusting
    max-width: 1000px;
  }
  .section-title {
    display: block;
    text-align: center;
    margin: 0;
    color: $red;
    padding: 4rem 0 3rem 0;
    font-size: 2.5rem;
    text-transform: uppercase;
    @media (max-width: $sm-breakpoint) {
      font-size: 1.7rem;
    }

    &.hidden {
      display: none;
    }
  }
  .layout-column, .headline {
    padding: 0px 2rem;
  }
}

a, a:link, a:visited {
    color: $content-link-text;
}

.column_paragraph {
  a img {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    /* This kills weird opacity image hover effects in Webkit browsers */
    -webkit-backface-visibility: hidden;
    &:hover{
      opacity: 0.9;
    }
  }
}

/* Headers */
h1 {
  font-size: 3rem;
  line-height: 3.4rem;
  margin: 0 0 2rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 2.9rem;
  margin: 0 0 1.7rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.4rem;
  margin: 0 0 2rem;
  text-transform: uppercase;
}

h4 {
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin: 0 0 2.2rem;
}

h5 {
  font-size: 1.6rem;
  line-height: 2rem;
  margin: 0 0 2.3rem;
}

h6 {
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin: 0 0 2rem;
}

/*Blockquotes*/
blockquote p:before {
  font-family: FontAwesome;
  content: "\f10d";
  color :#8e847a;
 font-size: 3.9rem;
  position: absolute;
  top: -.5rem;
  left: -.5rem;
}
blockquote p{
  font-weight: lighter;
	display: block;
	position: relative;
	padding: 0 0 1.1rem 4.6rem;

}

::-moz-selection {background: $text-selection; text-shadow: none;}
::selection {background: $text-selection; text-shadow: none;}