@import "gato-template-tsus2017/css/variables";
@import "gato-template-tsus2017/css/includes";
@import "gato-template-tsus2017/css/tsus-paragraphs";

.gato-flex-container {
	justify-content: space-between; // To override flex container behaviour for flex item css
}
.tsus-institution-logos{
  border-top: 1px solid $taupe;
}

.tsus-institution-logos{
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
  }
  &[data-eq~="800px"] {
    img{
        height: 5rem;
        margin-bottom: 1rem !important;
    }
  }
}

.container {
	max-width: 131rem;
	margin: 0 auto;
	padding: 0 1.5rem;
}
.container:after,
.clearfix:after {
	clear: both;
	content: '';
	display: block;
}


