$quick:.5s;
$quicker:.4s;
.default-size{width:100%}//default size for card
.gato-card-streaming{
  position: relative;
  figure{
    figcaption{
      z-index: 1;
      position: absolute;
      bottom:0;
      width: 100%;
    }
  }
  &-wrap{
    .img-box{
      overflow: hidden;
      background: #f2f2f2;
      min-height: 350px;
    }
    .feature-play-button{
      position: absolute;
      width:90%;
      top:50%;
      left: 50%;
      margin:0;
      padding: 0,1rem;
      z-index: 2;//to position button infront of card image
      a{
        color: rgba($red,.9);
        font-size: 10rem;
        cursor: pointer;
        display:block;
        height: 100%;
        .fa-youtube-play{
          transform: translate(-50%, -50%);
        }
       }
      }
      .youtubeThumbnail{
        //scale the youtube image so it fits card
        transform: scale(1.4);
      }
    }

}
