// Slider
@import "gato-template-tsus2017/css/tsus-slideshow";


// Rich Editor Tables
.column_paragraph .rich-editor-table{
  table{
    &.header-color-midnight th{
      background: $midnight;
      color: $white;
      a{
        color: $white;
        &:hover{
          background: transparent;
          text-decoration: none;
        }
      }
    }
    &.header-color-taupe th{
      background: $taupe;
      color: $black;
      a{
        color: $black;
        &:hover{
          background: transparent;
          text-decoration: none;
        }
      }
    }
    &.header-color-red th{
      background: $red;
      color: $white;
      a{
        color: $white;
        &:hover{
          background: transparent;
          text-decoration: none;
        }
      }
    }
    &.header-color-navy th{
      background: $navy;
      color: $white;
      a{
        color: $white;
        &:hover{
          background: transparent;
          text-decoration: none;
        }
      }
    }
    &.header-color-seagreen th{
      background: $seagreen;
      color: $black;
      a{
        color: $black;
        &:hover{
          background: transparent;
          text-decoration: none;
        }
      }
    }
    &.header-color-ocean th{
      background: $ocean;
      color: $black;
      a{
        color: $black;
        &:hover{
          background: transparent;
          text-decoration: none;
        }
      }
    }
    &.header-color-tsusblue th{
      background: $blue;
      color: $white;
      a{
        color: $white;
        &:hover{
          background: transparent;
          text-decoration: none;
        }
      }
    }
  }
}

// Text and Image
.gato-textimage-caption {
  text-align: center;
  padding: 1rem;
}

// Separator
.gato-separator {
  hr {
    margin: 0;
  }
}

// RSS Card
.gato-card-rss-container {
  .gato-rss-feedinformation {
    .gato-rss-title {
      font-family: 'ProximaNova-Bold', sans-serif;
    }
  }
  .gato-rss-item {
    .rss-item-content {
      .gato-rss-itemdescription {
        .gato-rss-more-link {
          display: none;
        }
      }
    }
  }
}

// Video Card
.gato-card-video {
  figcaption {
    h3 {
      text-transform: none;
    }
  }
}

.txst-form {
  button.submit{
    font-weight: 500;
    color: $form-submit-text-color;
    box-shadow: 0 4px $form-submit-box-shadow-color;
    background: $form-submit-background-color;
    padding: 1.8rem 4rem;
    margin-top: 1rem;
    text-transform: uppercase;
    border-radius: 3px;
    @include vendor-prefix(transition, background 0.2s ease-in-out);
    position: relative;
    border: none;
    &:hover{
      background: $form-submit-hover-background-color;
    }
    &:active{
      box-shadow: 0 0 $form-submit-box-shadow-color;
      top: 4px;
    }
  }
}

