$light-grey:rgba($grey,.5);


.gato-card-rss{
  &-container{
    overflow: hidden;
      background: #f2f2f2;
      padding: 1rem;
      box-shadow: $gato-card-shadow;
    .gato-rss-feedinformation{
      a,.gato-rss-title{display: none;}
      font-size: 0;//hides extra text that may show up from rss feeds not enclosed in a tag other than .gato-rss-feedimage
      .gato-rss-feedimage{
        width: 100%;
        display: initial;
        display: inline-block;
        vertical-align: top;
        background-color: inherit;
        padding-right: 3.3rem;
        position: relative;
        z-index: 2;
        img{
          background: white;
          padding:1px;
          max-width: 17rem;
          max-height: 6rem;
          border-radius: 5%;
          border: .3rem solid $light-grey;
        }
        &::after{
          content: '';
          position: absolute;
          z-index: -1;
          height: .3rem;
          right: 0;
          left: 0;
          bottom:1.5rem;
          background-color: $light-grey;
        }

      }

    }
    .gato-accordion{
      box-shadow: none;
      &-expand-collapse{
        display: none;
      }
      &-header{
        line-height: 2.2rem;
        padding: 0rem 1rem 1rem 2rem;
        background:inherit !important;
        box-shadow: none !important;
        border: none;
        display: block;
        margin-bottom: .4rem;
        -webkit-transition: all .3s;
        transition: all .3s;
        a{
          display: block;
          line-height: 2rem;
          font-weight: 400;
          font-size: 1.4rem;
          color: $grey;

          &::after {
            content:'Read More';
            font-size:1.1rem;
            display: block;
            font-weight: 700;
            color: $blue;
            cursor: pointer;
          }
      }
      }
      &-content{
        display: none !important;
      }
  }
  }
}
