/* CSS used on both home and standard templates */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container, #search-results {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    @media (max-width: $lg-breakpoint){
      max-width: 970px;
    }
}

a, a:link, a:visited {
    color: $content-link-text;
}

/*Blockquotes*/
blockquote p:before {
  font-family: FontAwesome;
  content: "\f10d";
  color :#8e847a;
 font-size: 3.9rem;
  position: absolute;
  top: -.5rem;
  left: -.5rem;
}
blockquote p{
  font-weight: lighter;
	display: block;
	position: relative;
	padding: 0 0 1.1rem 4.6rem;

}
