@import "gato-template/css/variables";
@import "gato-template-tsus2017/css/colors";

//media query breakpoints
$sm-breakpoint: 48em; //~767px
$md-breakpoint: 62em;//~991px
$lg-breakpoint: 75em; //~1200px