@import "gato-template/css/variables";
@import "gato-template-tsus2017/css/colors";

$content-background:               $white;
$content-link-text:                $blue;
$content-link-hover:               $platinum;

$max-width-larger:  1250px;
$max-width-smaller: 970px;

// Search page variables

//drop down dialog
$search-dd-overlay-background-color:  $light-midnight;
$search-dd-dropdown-background-color: $midnight;
$search-dd-dialog-font-family:        inherit;
$search-dd-input-line-color:          $white;
$search-dd-input-color:               $white;
$search-dd-input-placeholder-color:   $white;
$search-dd-icon-color:                $white;
$search-dd-suggested-results-border:  $midnight;
$search-dd-suggested-result-title-color: $blue;
$search-dd-suggested-result-link-color: $navy;
$search-dd-suggested-result-hover-color: $platinum;

//search results
$search-result-title:                       $blue;
$search-result-date:                        $light-midnight;
$search-result-url:                         $light-midnight;
$search-pagination-selected-background:     $lightest-taupe;
$search-pagination-hover-background:        $lightest-taupe;
$search-pagination-link-color:              $tsus-mediumgray;

// Site Search variables
$sitesearch-results-page-title-color:       $midnight;
$sitesearch-result-search-input:            $midnight;
$sitesearch-result-search-color:            $midnight;
$sitesearch-font-family:                    inherit;

//media query breakpoints
$sm-breakpoint: 48em; //~767px
$md-breakpoint: 62em;//~991px
$lg-breakpoint: 75em; //~1200px

$content-width-max: 1250px;
$content-width-xl: 1150px;
$content-width-lg: 970px;

//the point at which the sidebar moves below the content column instead of next to it
$sidebar-moves-below-point: $md-breakpoint;

//Font paths
$tsus-google-font-path-roboto:resources/gato-template-tsus2017/css/fonts/Google-fonts/Roboto;
$tsus-google-font-path-lato:resources/gato-template-tsus2017/css/fonts/Google-fonts/Lato;
