// Put TSUS color overrides here
$mc7-name:                  'Hot Pink'; 
$mc7-bg:                    #FF69B4; 
$mc7-border:                #cc5490;
$mc7-comp-bg:               #ffc3e1;
$mc7-grad-top:              #ff96ca;
$mc7-grad-bottom:           #e55ea2;
$mc7-comp-grad-top:         #ffc3e1;
$mc7-shadow:                #fff0f7;
