// Put TSUS color overrides here
$mc1-name:                  'Warm Gray';
$mc1-bg:                    #8F847A;
$mc1-text:                  $white;
$mc1-link:                  $white;
$mc1-header:                $white;
$mc1-border:                #71685F;
$mc1-comp-bg:               #9B9188;
$mc1-comp-text:             $mc1-text;
$mc1-comp-link:             $mc1-link;
$mc1-comp-header:           $mc1-header;
$mc1-comp-border:           $mc1-border;
$mc1-hilite-bg:             $white;
$mc1-hilite-text:           $mc1-bg;
$mc1-grad-top:              #9B9188;
$mc1-grad-bottom:           #80766C;
$mc1-comp-grad-top:         #A69E96;
$mc1-comp-grad-bottom:      $mc1-bg;
$mc1-shadow:                #625A52;

$mc2-name:                  'Midnight';  //What does TSUS call this color?
$mc2-bg:                    #383640;
$mc2-text:                  $white;
$mc2-link:                  $white;
$mc2-header:                $white;
$mc2-border:                #2D2C34;
$mc2-comp-bg:               #4C4957;
$mc2-comp-text:             $white;
$mc2-comp-link:             $mc2-link;
$mc2-comp-header:           $mc2-header;
$mc2-comp-border:           $mc2-border;
$mc2-hilite-bg:             #4C4957;
$mc2-hilite-text:           $white;
$mc2-grad-top:              #4C4957;
$mc2-grad-bottom:           #33313A;
$mc2-comp-grad-top:         #605D6E;
$mc2-comp-grad-bottom:      $mc2-bg;
$mc2-shadow:                #28262E;

$mc3-name:                  'Red';
$mc3-bg:                    #b92c26; 
$mc3-text:                  $white;
$mc3-link:                  $white;
$mc3-header:                $white;
$mc3-border:                #93231E; 
$mc3-comp-bg:               #D3322B;
$mc3-comp-text:             $mc3-text;
$mc3-comp-link:             $mc3-link;
$mc3-comp-header:           $mc3-header;
$mc3-comp-border:           $mc3-border;
$mc3-hilite-bg:             $white;
$mc3-hilite-text:           $mc3-bg;
$mc3-grad-top:              #D3322B;
$mc3-grad-bottom:           #A62822;
$mc3-comp-grad-top:         #D94B45;
$mc3-comp-grad-bottom:      $mc3-bg;
$mc3-shadow:                #811F1A;

$mc4-name:                  'Blue'; 
$mc4-bg:                    #293e6b; 
$mc4-text:                  $white;
$mc4-link:                  $white;
$mc4-header:                $white;
$mc4-border:                #213256;
$mc4-comp-bg:               #344F88;
$mc4-comp-text:             $mc4-text;
$mc4-comp-link:             $mc4-link;
$mc4-comp-header:           $mc4-header;
$mc4-comp-border:           $mc4-border;
$mc4-hilite-bg:             $white;
$mc4-hilite-text:           $mc4-bg;
$mc4-grad-top:              #344F88;
$mc4-grad-bottom:           #253861;
$mc4-comp-grad-top:         #3F5FA4;
$mc4-comp-grad-bottom:      $mc4-bg;
$mc4-shadow:                #1D2C4C;

$mc5-name:                  'Almond';
$mc5-bg:                    #c2b6ac;  //modeled this after sandstone
$mc5-text:                  $very-dark;
$mc5-link:                  $very-dark;
$mc5-header:                $very-dark;
$mc5-border:                #776658; //40% darker
$mc5-comp-bg:               #B1A295; //10% darker
$mc5-comp-text:             $mc5-text;
$mc5-comp-link:             $mc5-link;
$mc5-comp-header:           $mc5-header;
$mc5-comp-border:           $mc5-border;
$mc5-hilite-bg:             $white; 
$mc5-hilite-text:           $very-dark;
$mc5-grad-top:              #E0DAD5; //50% lighter
$mc5-grad-bottom:           #B1A295;
$mc5-comp-grad-top:         $mc5-bg; 
$mc5-comp-grad-bottom:      #B1A295;
$mc5-shadow:                #776658;

$mc6-name:                  'Black';
$mc6-bg:                    $very-dark; 
$mc6-text:                  $white;
$mc6-link:                  $white;
$mc6-header:                $white;
$mc6-border:                $very-dark;
$mc6-comp-bg:               #525252;
$mc6-comp-text:             $mc6-text;
$mc6-comp-link:             $mc6-link;
$mc6-comp-header:           $mc6-header;
$mc6-comp-border:           $mc6-border;
$mc6-hilite-bg:             $white; 
$mc6-hilite-text:           $very-dark;
$mc6-grad-top:              #3A3A3A;
$mc6-grad-bottom:           #1F1F1F;
$mc6-comp-grad-top:         #525252;
$mc6-comp-grad-bottom:      $mc6-bg;
$mc6-shadow:                $very-dark;


//I respect Charles' choice of hot pink.  TSUS has so few colors,
//but there is one more shade of gray we could use: #585556.  Pulled it out of the bottom footer.
$mc7-name:                  'Hot Pink'; 
$mc7-bg:                    #FF69B4; 
$mc7-border:                #cc5490;
$mc7-comp-bg:               #ffc3e1;
$mc7-grad-top:              #ff96ca;
$mc7-grad-bottom:           #e55ea2;
$mc7-comp-grad-top:         #ffc3e1;
$mc7-shadow:                #fff0f7;
