html {
	font-size: 62.5%;
}

body {
	position: relative;
	font-family: arial, sans-serif;
	color: #000000;
	text-align: left;
	background-color: white;
	font-size: 1.3rem;
	min-width: 958px;
}

li {
	list-style: none;
}

a {	text-decoration: none; color: #293e6b; }
a:hover { text-decoration: underline; }
a:visited { color: #293e6b; }
h3 { color: #383640 }

.breadcrumbs {
	width: 958px;
	margin: 0px auto;
	padding: 6px 0px;
	&, a {
		color: #8f847a;
		font-size: 1.0rem;
	}
	a {
		white-space: nowrap;
	}
}

.tsus-columnparent {
	position: relative;
	width: 958px;
	margin: 0px auto;
	padding-top: 51px;
	padding-bottom: 15px;
	overflow: hidden;
}

.gato-navcolumn {
	position: relative;
	float: left;
	width: 170px;
	font-size: 1.3rem;
	color: #2B2B2B;
	text-align: left;
	overflow: visible;
	h3 {
		padding: 5px 0px 4px 0px;
		overflow: hidden;
		text-transform: uppercase;
		font-size: 15px;
		font-weight: bold;
	}
	ul {
		overflow: hidden;
		&.nav-without-title a {
			text-transform: uppercase;
			font-size: 1.5rem;
			font-weight: bold;
		}
	}
	li {
		padding: 5px 0px 5px 8px;
	}
	a {
		display: block;
		color: #293e6b;
		&:hover {
			color: #b92c26;
			text-decoration: none;
		}
	}
	.nav-with-title {
		li {
			padding: 3px 0px 1px 20px;
			background: url(../images/arrow-small.png) no-repeat 5px center;
			border: 0px;
		}
	}
}

.tsus-contentcolumn {
	width: 772px;
	padding-left: 15px;
	position: relative;
	float: left;
}

.tsus-rightcolumn {
	float: left;
	border: 1px solid #d5d5d5;
	padding: 10px;
	padding-bottom: 190px;
	width: 180px;
	border-radius: 3px;
	font-size: 1.2rem;
	background: url(../images/rightbar-logo.png) no-repeat center bottom;
	&.txst-styledcontent {
		line-height: 2.0rem;
		h1, h2, h3, h4, h5, h6 {
			text-transform: uppercase;
			color: #b92c26;
			margin-top: 10px;
			margin-bottom: 10px;
			font-weight: bold;
			font-family: arial, sans-serif;
		}
		h1 { font-size: 2.0rem; }
		h2 { font-size: 1.8rem; }
		h3 { font-size: 1.5rem; }
		h4 { font-size: 1.3rem; }
		h5 { font-size: 1.2rem; }
		h6 { font-size: 1.1rem; }
		ul {
			margin: 0;
			padding: 0;
			padding-left: 15px;
			list-style-position: outside;
		}
	}
}

.tsus-rightcolumn-admin {
	position: absolute;
	top: -12px;
	right: 2px;
	width: 160px;
	text-align: right;
}

/* show right sidebar style changes */
.tsus-rightbar .tsus-contentcolumn {
	width: 555px;
	padding-right: 15px;
}
/* end right sidebar changes */

/* no-sidebar style changes */
.tsus-fullwidth .tsus-contentcolumn {
	float: none;
	width: auto;
}
.tsus-fullwidth.tsus-rightbar .tsus-contentcolumn {
	padding-left: 0px;
	width: 740px;
	float: left;
}
.tsus-fullwidth .tsus-rightcolumn {
	top: 20px;
}
/* end no-sidebar style changes */

.tsus-contentcolumn div#txst-faq-buttons {
	font-size: 1.0rem;
	font-style: italic;
	margin-bottom: 10px;
}

.txst-styledcontent h1.tsus-page-title {
	position: absolute;
	left: 15px;
	top: -54px;
	font-family: georgia, serif;
	font-size: 3.8rem;
	margin: 0px;
	line-height: 44px;
	color: #383640;
}

.tsus-content-footer {
	position: relative;
	clear: both;
	height: 1px;
}
.tsus-link-footer-bg {
	background: url(../images/link-footer-bg.png) repeat-x bottom left;
}
.tsus-link-footer {
	position: relative;
	width: 958px;
	margin: 0px auto;
	clear: both;
	font-size: 1.1rem;
	line-height: 18px;
	color: #CCCCCC;
	background: #585560 url(../images/footer-top.jpg) no-repeat top left;
	padding: 20px 0px 24px 0px;
	height: 119px;
}
.tsus-link-footer a {
	color: #CCCCCC;
	white-space: nowrap;
}
.tsus-link-footer a:visited {
	color: #CCCCCC;
}
.tsus-footer-block {
	float: left;
	padding: 0px 15px 0px 15px;
	margin: 0;
	height: 100%;
	background: url(../images/footer-divider.png) no-repeat top left;
	overflow: hidden;
	body.admin & {
		overflow-y: auto;
		overflow-x: hidden;
	}
	max-width: 280px;
}
.tsus-footer-block.tsus-footer-subpages {
	background: none;
	width: 128px;
	padding-left: 0px;
}
.tsus-footer-block.tsus-footer-menulinks {
	width: 135px;
}

.tsus-footer-bg {
	background: url(../images/footer-bg.png) repeat-x bottom left;
  .tsus-footer {
    position: relative;
    width: 603px;
    margin: 0px auto;
    clear: both;
    font-size: 1.1rem;
    line-height: 20px;
    color: #CCCCCC;
    background: #585560 url(../images/footer-bottom.jpg) no-repeat top left;
    padding: 24px 0px 24px 355px;
    height: 84px;
    a {
      color: #EEEEEE;
      text-decoration: underline;
      &:visited { color: #EEEEEE; }
      &:hover { text-decoration: none; }
    }
  }
}


/* alert notices for editing mode */
.txst-khan-alert {
	position: relative;
	border: 2px solid #AA2B19;
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 1em;
	color: #AA2B19;
}

.txst-khan-notice {
	margin-top: 5px;
	background-color: #fff;
}

.txst-khan-warning {
	background-color: #fff;
}

.txst-admin-notice {
	font-size: 200%;
	text-align: center;
	border: 3px solid black;
	margin-top: 20%;
	width: 50%;
	margin: auto;
	margin-top: 10%;
	padding: 10px;
}

/* override table border colors for TSUS */
.txst-contentarea table.data {
	border-collapse: collapse;
}

.txst-contentarea table.data th {
	background-color: #383640;
	color: #FFFFFF;
	font-size: 1.5rem;
}

.txst-contentarea table.table-linesh td {
	border-top: 1px solid #dfdfe9;
	border-bottom: 1px solid #dfdfe9;
}

.txst-contentarea table.table-linesv td {
	border-left: 1px solid #dfdfe9;
	border-right: 1px solid #dfdfe9;
}
.txst-contentarea table.data td {
	position: relative;
}
.txst-contentarea table.data td .table-hover {
	position: absolute;
	top: -5px;
	left: -5px;
	z-index: 5;
	width: 100%;
	height: 100%;
	padding-left: 10px;
	padding-top: 10px;
	background-color: #383640;
	color: #FFFFFF;
	font-size: 1.5rem;
}
.txst-contentarea table.data td, .txst-contentarea table.data th {
	padding: 5px;
}

.txst-contentarea table.table-alt tr.odd td {
	background-color: #d5d5d5;
	color: #383640;
}
.txst-contentarea table.table-alt tr.even td {
	background-color: #FFFFFF;
	color: #383640;
}

/* override photogallery image border color */
.txst-photogallery-image {
	border: 1px solid #AAAAAA;
}

.txst-form {
	clear: both;
	padding-top: 0px;
}
.txst-form fieldset {
	background-color: transparent;
	padding: 0px;
}

.tsus-rightcolumn .txst-rss-item h3 {
	text-transform: none;
	font-size: 1.3rem;
}

/* admin rules */
.mgnlMainbar {
	position: relative;
}

