.ddmenu-bg {
	background-color: #8f847a;
	font-size: 1.3rem;
}

.ddmenu-menubar {
	width: 958px;
	margin: 0px auto;
}

a.ddmenu-menubaritem {
	color: #FFFFFF;
	padding-left: 15px;
	padding-right: 15px;
	text-transform: uppercase;
	text-decoration: none;
}

a.ddmenu-menubaritem:visited {
	color: #FFFFFF;
}

.ddmenu-visible {
	background-color: #c2b6ac;
}
.ddmenu-visible a.ddmenu-menubaritem {
	color: #383640;
}
.ddmenu-visible a.ddmenu-menubaritem:visited {
	color: #383640;
}

.ddmenu-menu {
	background-color: #c2b6ac;
}
.ddmenu-menu a {
	text-decoration: none;
	color: #383640;
	border-top: 1px solid #998e84;
	width: 225px;
}
.ddmenu-menu a:visited {
	color: #383640;
}
.ddmenu-menu a:hover {
	background-color: #8f847a;
	color: #FFFFFF;
}
