@import "gato-template/css/variables";
@import "gato-template-tsus/css/colors";

$tsus-darkblue: #383640;
$tsus-blue: #293e6b;
$tsus-lightgray: #d5d5d5;
$tsus-lightestgray: #dfdfe9;
$tsus-red: #b92c26;

$column-breakpoint: "500px";
$column-breakpoint-early: "500px";
$column-breakpoint-late: "400px";

$table-header-bg: $tsus-darkblue;
$table-header-text: $white;
$table-header-border: $medium-gray;
$table-border: $tsus-lightestgray;
$table-carded-border: $tsus-darkblue;
$table-link: $tsus-blue;
$table-altrow-bg: $tsus-lightgray;
