.section-grid, .section-masonry {
  margin: 0 0 3rem 0;
}

.gato-card {
  box-shadow: $gato-card-shadow;
  &.gato-card-add {
    box-shadow: none;
  }
}
.gato-card-hidden {
  display: none;
  .admin & {
    display: block;
    -webkit-filter: grayscale(1) brightness(.5);
    filter: grayscale(1) brightness(.5);
    @include ie11() {
      background-color: black;
      * { opacity: 0.6; }
    }
  }
}

/* ridiculous set of rules for changing the placeholder box */
body {
  div.mgnlEditorBar.area {
    &.init, &.childFocus {
      ~, ~ * {
        .gato-card-add div.mgnlPlaceholder div.mgnlEditorBar.component {
          height: 10rem !important;
          margin-bottom: 0 !important;
        }
      }
    }
  }
}
body .gato-card-add div.mgnlPlaceholder div.mgnlEditorBar.component {
  height: 10rem !important;
  margin-bottom: 0 !important;
}
