.gato-card {
  box-shadow: $gato-card-shadow;
}
.gato-card-hidden {
  display: none;
  .admin & {
    display: block;
    -webkit-filter: grayscale(1) brightness(.5);
    filter: grayscale(1) brightness(.5);
  }
}

/* ridiculous set of rules for changing the placeholder box */
body {
  div.mgnlEditorBar.area {
    &.init, &.childFocus {
      ~, ~ * {
        .gato-card-add div.mgnlPlaceholder div.mgnlEditorBar.component {
          height: 10rem !important;
          margin-bottom: 0 !important;
        }
      }
    }
  }
}
body .gato-card-add div.mgnlPlaceholder div.mgnlEditorBar.component {
  height: 10rem !important;
  margin-bottom: 0 !important;
}
