ul.gato-card-filter {
  list-style: none;
  width: 100%;
  margin: 0 0 30px 0;
  padding: 0;
  display: flex;
  align-items: stretch;

  li {
    a {
      position: relative;
      display: block;
      text-decoration: none;
      color: black;
      padding: 2.5rem;
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 2.3rem;
      font-weight: 500;
      word-wrap: break-word;
      [data-eq~="800px"] & {
        font-size: 2rem;
        padding: 2rem;
      }
      [data-eq~="500px"] & {
        font-size: 1.8rem;
        padding: 1.5rem;
      }
    }

    a.grid-filter-selected {
      &:before {
        content: ' ';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        [data-eq~="800px"] & {
          border-left-width: 15px;
          border-right-width: 15px;
          border-top-width: 15px !important;
        }
      }
    }
  }
  [data-eq~="400px"] &.small {
    li a.grid-filter-selected:before { display: none; }
  }
  [data-eq~="600px"] &.medium {
    li a.grid-filter-selected:before { display: none; }
  }
  [data-eq~="800px"] &.large {
    li a.grid-filter-selected:before { display: none; }
  }
  &.color1 {
    border-bottom: 1px solid $mc1-border;
    li a.grid-filter-selected {
      background-color: $mc1-bg;
      color: $mc1-text;
      &:before { border-top: 20px solid $mc1-bg; }
    }
  }
  &.color2 {
    border-bottom: 1px solid $mc2-border;
    li a.grid-filter-selected {
      background-color: $mc2-bg;
      color: $mc2-text;
      &:before { border-top: 20px solid $mc2-bg; }
    }
  }
  &.color3 {
    border-bottom: 1px solid $mc3-border;
    li a.grid-filter-selected {
      background-color: $mc3-bg;
      color: $mc3-text;
      &:before { border-top: 20px solid $mc3-bg; }
    }
  }
  &.color4 {
    border-bottom: 1px solid $mc4-border;
    li a.grid-filter-selected {
      background-color: $mc4-bg;
      color: $mc4-text;
      &:before { border-top: 20px solid $mc4-bg; }
    }
  }
  &.color5 {
    border-bottom: 1px solid $mc5-border;
    li a.grid-filter-selected {
      background-color: $mc5-bg;
      color: $mc5-text;
      &:before { border-top: 20px solid $mc5-bg; }
    }
  }
  &.color6 {
    border-bottom: 1px solid $mc6-border;
    li a.grid-filter-selected {
      background-color: $mc6-bg;
      color: $mc6-text;
      &:before { border-top: 20px solid $mc6-bg; }
    }
  }
  &.color7 {
    border-bottom: 1px solid $mc7-border;
    li a.grid-filter-selected {
      background-color: $mc7-bg;
      color: $mc7-text;
      &:before { border-top: 20px solid $mc7-bg; }
    }
  }
}
