$gato-card-filter-border-match: false !default;
$gato-card-filter-border-color: $light-gray !default;

@mixin gato-card-filter-multicolor($border, $bg, $text, $arrow) {
  @if $gato-card-filter-border-match {
    border-bottom: 1px solid $border;
  }
  li a.grid-filter-selected {
    background-color: $bg;
    color: $text;
    &:before { border-top: 20px solid $arrow; }
  }
}

ul.gato-card-filter {
  list-style: none;
  width: 100%;
  margin: 0 0 30px 0;
  padding: 0;
  display: flex;
  align-items: stretch;
  position: relative;
  @if not($gato-card-filter-border-match) {
    border-bottom: 1px solid $gato-card-filter-border-color;
  }

  li {
    a {
      position: relative;
      display: block;
      text-decoration: none;
      color: black;
      padding: 1.8rem 2.2rem;
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 500;
      word-wrap: break-word;
      [data-eq~="800px"] & {
        font-size: 1.7rem;
        padding: 1.6rem 2rem;
      }
      [data-eq~="500px"] & {
        font-size: 1.6rem;
        padding: 1.2rem 1.5rem;
      }
    }

    a.grid-filter-selected {
      &:before {
        content: ' ';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        [data-eq~="800px"] & {
          border-left-width: 15px;
          border-right-width: 15px;
          border-top-width: 15px !important;
        }
      }
    }
  }
  [data-eq~="800px"] & {
    flex-wrap: wrap;
    li {
      width: 33.3333%;
      a.grid-filter-selected:before { display: none; }
    }
    &.tabcount4.hasall, &.tabcount2.hasall {
      li { width: 50%; }
      li.all { width: 100%; }
    }
  }
  [data-eq~="600px"] & {
    li { width: 50%; }
    &.tabcount3:not(.hasall),&.tabcount5.hasall,&tabcount2.hasall {
     li { width: 33.3333%; }
    }
  }
  &.color1 {
    @include gato-card-filter-multicolor($mc1-border, $mc1-bg, $mc1-text, $mc1-bg);
  }
  &.color2 {
    @include gato-card-filter-multicolor($mc2-border, $mc2-bg, $mc2-text, $mc2-bg);
  }
  &.color3 {
    @include gato-card-filter-multicolor($mc3-border, $mc3-bg, $mc3-text, $mc3-bg);
  }
  &.color4 {
    @include gato-card-filter-multicolor($mc4-border, $mc4-bg, $mc4-text, $mc4-bg);
  }
  &.color5 {
    @include gato-card-filter-multicolor($mc5-border, $mc5-bg, $mc5-text, $mc5-bg);
  }
  &.color6 {
    @include gato-card-filter-multicolor($mc6-border, $mc6-bg, $mc6-text, $mc6-bg);
  }
  &.color7 {
    @include gato-card-filter-multicolor($mc7-border, $mc7-bg, $mc7-text, $mc7-bg);
  }
}
