.masonry-section,.grid-container {
  width: 100%;
  .card-item,.grid-card {
    a{
      text-decoration: none;
    }
    padding: 1rem;
    margin-bottom: 1rem;
    figure {
      box-shadow: $gato-card-shadow;
      img {
        width: 100%;
      }
    }
  }
}
