$quick:.5s;
$quicker:.4s;
.default-size{width:100%}//default size for card
.gato-card-streaming{
  position: relative;
  figure{
    figcaption{
      z-index: 1;
      position: absolute;
      bottom:0;
      width: 100%;
    }
  }
  &-wrap{
    .img-box{
      overflow: hidden;
      background: #f2f2f2;
      min-height: 350px;
    }
    .feature-play-button{
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin:0;
      padding: 0,1rem;
      z-index: 2;//to position button infront of card image
      a{
        transition:$quick;
        display: block;
        position: relative;
        font-size: 3rem;
        border-radius: 100%;
        width:  7rem;
        height: 7rem;
        cursor: pointer;
        box-shadow: $gato-card-shadow;
        i{
          position: absolute;
          top:50%;
          left: 54%;// looks weird when perfectly centerd or are my eyes playing tricks on me?
          transform: translate(-50%, -50%);
        }
        &.color{
          &1{color:rgba($mc1-text,.9); background: rgba($mc1-bg,.9);}
          &2{color:rgba($mc2-text,.9); background: rgba($mc2-bg,.9);}
          &3{color:rgba($mc3-text,.9); background: rgba($mc3-bg,.9);}
          &4{color:rgba($mc4-text,.9); background: rgba($mc4-bg,.9);}
          &5{color:rgba($mc5-text,.9); background: rgba($mc5-bg,.9);}
          &6{color:rgba($mc6-text,.9); background: rgba($mc6-bg,.9);}
          &7{color:rgba($mc7-text,.9); background: rgba($mc7-bg,.9);}
        }
       }
      }
      .youtubeThumbnail{
        //scale the youtube image so it fits card
        transform: scale(1.4);
      }
      //when you hover over the card
      &:hover{
        .feature-play-button a.color{
          &1{ background: rgba($mc1-comp-bg,.9);}
          &2{ background: rgba($mc2-comp-bg,.9);}
          &3{ background: rgba($mc3-comp-bg,.9);}
          &4{ background: rgba($mc4-comp-bg,.9);}
          &5{ background: rgba($mc5-comp-bg,.9);}
          &6{ background: rgba($mc6-comp-bg,.9);}
          &7{ background: rgba($mc7-comp-bg,.9);}
        }
      }
    }

}
