.section-masonry {
  overflow: hidden;
  .masonry-sizer { width: $gato-card-fourths; }
  .masonry-gutter { width: $gato-card-gutter; }

  .gato-card {
    &.small { width: $gato-card-fourths; }
    &.large { width: $gato-card-halves; }

    [data-eq~="800px"] & {
      &.small { width: $gato-card-halves; }
      &.large { width: 100%; }
    }
    [data-eq~="400px"] & {
      &.small { width: 100%; }
      &.large { width: 100%; }
    }
  }
}
