.section-grid {
  position: relative;

  .gato-card { position: absolute; }
  .masonry-gutter { width: $gato-card-gutter; }

  &.forcegrid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    .gato-card {
      position: relative;
      margin-bottom: $gato-card-gutter;
      margin-right: $gato-card-gutter;
      figcaption { margin-top: -1px; }
    }
    &.small {
      .gato-section:not([data-eq~="900px"]) & .fourths-edge,
      [data-eq~="900px"]:not([data-eq~="600px"]) & .thirds-edge,
      [data-eq~="600px"]:not([data-eq~="400px"]) & .halves-edge,
      [data-eq~="400px"] & .gato-card { margin-right: 0; }
    }
    &.medium {
      .gato-section:not([data-eq~="800px"]) & .thirds-edge,
      [data-eq~="800px"]:not([data-eq~="600px"]) & .halves-edge,
      [data-eq~="600px"] & .gato-card { margin-right: 0; }
    }
    &.large {
      .gato-section:not([data-eq~="800px"]) & .halves-edge,
      [data-eq~="800px"] & .gato-card { margin-right: 0; }
    }
  }

  &.small {
    .gato-card, .masonry-sizer {
      width: $gato-card-fourths;
      [data-eq~="900px"] & { width: $gato-card-thirds; }
      [data-eq~="600px"] & { width: $gato-card-halves; }
      [data-eq~="400px"] & { width: 100%; }
    }
  }
  &.medium {
    .gato-card, .masonry-sizer {
      width: $gato-card-thirds;
      [data-eq~="800px"] & { width: $gato-card-halves; }
      [data-eq~="600px"] & { width: 100%; }
    }
  }
  &.large {
    .gato-card, .masonry-sizer {
      width: $gato-card-halves;
      [data-eq~="800px"] & { width: 100%; }
    }
  }

  .mgnlEditorBar { width: 100% !important; }
}

