.section-grid {
  position: relative;
  padding: 0;
  margin: 0 0 3rem 0;
  list-style: none;
/*
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
*/

  .gato-card { position: absolute; }
  .masonry-gutter { width: $gato-card-gutter; }

  &.small {
    .gato-card, .masonry-sizer {
      width: $gato-card-fourths;
      [data-eq~="900px"] & { width: $gato-card-thirds; }
      [data-eq~="600px"] & { width: $gato-card-halves; }
      [data-eq~="400px"] & { width: 100%; }
    }
  }
  &.medium {
    .gato-card, .masonry-sizer {
      width: $gato-card-thirds;
      [data-eq~="800px"] & { width: $gato-card-halves; }
      [data-eq~="600px"] & { width: 100%; }
    }
  }
  &.large {
    .gato-card, .masonry-sizer {
      width: $gato-card-halves;
      [data-eq~="800px"] & { width: 100%; }
    }
  }

  .mgnlEditorBar { width: 100% !important; }
}

