
.grid-container {
  .mgnlEditorBar{
      width: 100% !important;
  }
  .moveEditor{margin-top: 2.0rem;}
  .grid-card-add{height:5.0rem;margin:2.0rem 0rem;}
  .grid-card {
    padding: .5rem;
    width: 25%;
    margin-top: 1.0rem;
    .gato-card{
      width: 100% !important;
      figure{
        width:100%;
        img{
          width: 100%;
        }
      }
    }
  }
  overflow: hidden;
  * { box-sizing : border-box; }
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;

  .grid-card-sm { width: 25%; }
  .grid-card-md { width: 33.33%; }
  .grid-card-lg { width: 50%; }

  [data-eq~="1200px"] & {
    .grid-card-sm { width: 25%; }
    .grid-card-md { width: 33.33%; }
    .grid-card-lg { width: 50%; }
  }
  [data-eq~="800px"] & {
    .grid-card-sm { width: 50%; }
    .grid-card-md { width: 50%; }
    .grid-card-lg { width: 100%; }
  }
  [data-eq~="600px"] & {
    .grid-card-sm { width: 50%; }
    .grid-card-md { width: 100%; }
    .grid-card-lg { width: 100%; }
  }
  [data-eq~="400px"] & {
    .grid-card-sm { width: 100%; }
    .grid-card-md { width: 100%; }
    .grid-card-lg { width: 100%; }
  }
}
