.gato-card-video {
  .feature-play-button {
    display: block;
    @include absolutecenter();
    margin:0;
    font-size: 4rem;
    color: white;
    border-radius: 100%;
    width:  7rem;
    height: 7rem;
    border: 2px solid white;
    opacity: 0.9;
    @at-root .color1#{&} { background-color: $mc1-bg; }
    @at-root .color2#{&} { background-color: $mc2-bg; }
    @at-root .color3#{&} { background-color: $mc3-bg; }
    @at-root .color4#{&} { background-color: $mc4-bg; }
    @at-root .color5#{&} { background-color: $mc5-bg; }
    @at-root .color6#{&} { background-color: $mc6-bg; }
    @at-root .color7#{&} { background-color: $mc7-bg; }
    @at-root [data-eq~="300px"]#{&} {
      width: 5rem;
      height: 5rem;
      font-size: 2.5rem;
    }
    i {
      position: absolute;
      top:50%;
      left: 55%;// looks weird when perfectly centerd or are my eyes playing tricks on me?
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
    }
  }
}
