// Put UA Template color overrides here
$gemini-bg:                 #E2E1D4;
$gemini-text:               #501214;
$gemini-link:               $blue;
$gemini-header:             $gemini-text;
$gemini-border:             #cccab3;
$gemini-comp-bg:            $gemini-bg;
$gemini-comp-text:          #836C31;
$gemini-comp-link:          $gemini-link;
$gemini-comp-header:        $gemini-header;
$gemini-comp-border:        $gemini-border;
$gemini-hilite-bg:          $khaki;
$gemini-hilite-text:        $very-dark;

$lightlighter:              #f5f4f0;
