#accordion_container {
	position: relative;
	overflow: hidden;
	min-height: 30px;
	zoom: 1;
	border: 8px solid white;
	background: #ffffff;
  .accordion_toggle {
    position: relative;
    float: left;
    width: 54px;
    height: 315px;
    margin: 0;
    background: #e4e4d8;
    cursor: pointer;
    &.accordion_active {
      background: url(../images/redstripes-noalpha.png);
      img.acc_active_img { visibility: visible; }
      img.acc_inactive_img { visibility: hidden; }
    }
    img {
      display: block;
      position: absolute;
      left: 15px;
      bottom: 20px;
      visibility: visible;
      &.acc_active_img { visibility: hidden; }
    }
    &:first-child {
      .extraoverlay { display: none; }
    }
  }
  .accordion_content {
    position: relative;
    float: left;
    width: 0px;
    overflow: hidden;
	  background: #ffffff;
  }
  .accordion_realcontent {
    padding: 20px;
    height: 275px;
    border: 0px;
  }
  .accordion_link {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  .extraoverlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2px;
    height: 315px;
    background: url(../images/drop-shadow-right.png) repeat-y;
    z-index: 1;
  }
  .slides-admin {
    position: absolute;
    top: 25px;
    right: 0px;
    width: 300px;
    height: 330px;
    overflow: scroll;
    z-index: 3;
  }
}

