/*
 * Overrides for content/css/styledcontent.css
 */

.txst-styledcontent {
	font-family: "Helvetica Neue", Arial, sans-serif;
	ul, ol {
    list-style-position: inside;
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
	}
  ul { list-style-type: disc; }
  ol { list-style-type: decimal; }
  img {
    border-color: white;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
    font-style: italic;
    font-weight: normal;
    color: #333333;
  }
}
