.gato-question {
  margin-bottom: 20px;
  input {
    width: 300px;
    margin-bottom: 5px;
  }
}
.gato-answerlist {
  margin-left: 30px;
  .gato-answer {
    margin-bottom: 5px;
    input {
      width: 150px;
    }
  }
}
