.academic-calendar-container {
  padding: 0rem 2rem;
  .btn-ac {
    font-size: 1.4rem;
    font-weight: bold;
    background: none;
    border: 0;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    &#btn-toggle-more-filters {
      font-weight: normal;
      @media (ax-width: $sm-breakpoint) {
        display: none;
      }
      i.fa-filter {
        color: $maroon;
      }
      i.arrow:before {
        content: "\f0d7"
      }
      &[aria-expanded="true"] {
        i.arrow:before {
          content: "\f0d8";
        }
      }
    }
    &#btn-more-filters-mobile {
      display: none;
      border: 1.75px solid $maroon;
      background-color: $white;
      i {
        color: $maroon;
      }
      @media (max-width: $sm-breakpoint) {
        display: block;
      }
      @media (max-width: $mn-breakpoint) {
        span {display: none}
      }
    }
    &#btn-reset-filters {
      background-color: $white;
      border: 1.75px solid $maroon;
      &:hover {
        border-width: 2.75px;
      }
      @media (max-width: $sm-breakpoint) {
        display: none;
      }
    }
    &#btn-go {
      background-color: $maroon;
      color: $white;
      &:hover {
        background-color: $darkest-maroon;
      }
      @media (max-width: $sm-breakpoint) {
        display: none;
      }
    }
    &#btn-subscribe {
      background-color: $white;
      border: 1.75px solid $maroon;
      &:hover {
        border-width: 2.75px;
      }
      i {
        color: $maroon;
      }
      @media (max-width: $sm-breakpoint) {
        display: none;
      }
    }
  }
  .ac-filters {
    background-color: $sandstone;
    @media (max-width: $mn-breakpoint) {
      background-color: $white;
    }
    padding: 0.5rem 2rem;
    margin-bottom: 2rem;
    .filter-row {
      display: flex;
      justify-content: space-between;
      .filter-group {
        display: flex;
        flex: 1 0 55%;
        .ac-filter {
          width: calc(100% / 3);
          display: flex;
          flex-direction: column;
          margin-right: 2rem;
          @media (max-width: $sm-breakpoint) {
            width: 50%;
            &.desktop {
              display: none;
            }
          }
          .ac-dropdown {
            background-color: $white;
            position: relative;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.101);
            .input {
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-size: 1.4rem;
              padding: 1rem;
            }
            .menu {
              display: none;
              padding-left: 0;
              margin: 0;
              list-style: none;
              background-color: $white;
              position: absolute;
              width: 100%;
              left: 0;
              z-index: 1;
              font-size: 1.4rem;
              box-shadow: 0px 3px 6px rgba(0,0,0,0.101);
              li {
                padding: 0 1rem 1rem 1rem;
                &:hover {
                  background-color: rgba(0,0,0,0.05);
                }
              }
            }
            &.expanded {
              .menu {
                display: block;
                &:before {
                  content: "";
                  display: block;
                  margin: 0 auto; 
                  width: 90%;
                  border-bottom: 3px solid #B9AB95;
                }
              }
            }
            &.multiple {
              .input {
                .text {
                  &.hidden {
                    display: none;
                  }
                }
                .selected-items {
                  list-style: none;
                  margin: 0;
                  padding-left: 0;
                  display: flex;
                  flex-wrap: wrap;
                  li {
                    .selected-item {
                      background-color: $almost-white;
                      color: $medium-gray;
                      font-size: 1.4rem;
                      line-height: 2.2rem;
                      padding: 0.5rem;
                      border-radius: 4px;
                      margin-right: 0.5rem;
                      margin-bottom: 0.5rem;
                      .remove-filter {
                        background-color: transparent;
                        border: 0;
                        padding: 0;
                        i {
                          color: #a4a4a4;
                        }
                      }
                    }
                  }
                }
                .remove-all-filters {
                  background-color: transparent;
                  border: 0;
                  padding: 0;
                  margin-right: 5px;
                  i {
                    color: #a4a4a4;
                  }
                }
              }
              .menu {
                li {
                  &.selected {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
      .action-group {
        display: flex;
        #select-download-print {
          @media (max-width: $sm-breakpoint) {
            display: none;
          }
          background-color: $white;
          position: relative;
          box-shadow: 0px 3px 6px rgba(0,0,0,0.101);
          font-size: 1.4rem;
          .input {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.4rem;
            padding: 0.5rem;
          }
          .menu {
            display: none;
            position: absolute;
            right: 0;
            background-color: $white;
            list-style: none;
            margin: 0;
            padding-left: 0;
            width: 100%;
            z-index: 1;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.101);
            li {
              padding: 0 1rem 1rem 1rem;
              &.active, &:hover {
                background-color: rgba(0,0,0,0.05);
              }
              a {
                color: $medium-gray;
                text-decoration: none;
                font-size: 1.4rem;
              }
            }
          }
          &.expanded {
            .menu {
              display: block;
              &:before {
                content: "";
                display: block;
                margin: 0 auto; 
                width: 90%;
                border-bottom: 3px solid #B9AB95;
              }
            }
          }
        }
      }
      &.top {
        margin-bottom: 2rem;
      }
      &.bottom {
        justify-content: flex-end;
        .filter-group {
          display: none;
        }
        &.expanded {
          justify-content: space-between;
          .filter-group {
            display: flex;
          }
        }
      }
    }
  }
  .manage-events-container {
    display: flex;
    #select-manage-events {
      display: none;
      margin-bottom: 2rem;
      position: relative;
      border-radius: 4px;
      background-color: $maroon;
      color: $white;
      .input {
        padding: 1rem 1.5rem;
      }
  
      #manage-events-menu {
        display: none;
        position: absolute;
        list-style: none;
        padding-left: 0;
        margin: 0;
        background-color: $white;
        box-shadow: 0px 3px 6px rgba(0,0,0,0.101);
        z-index: 1;
        font-size: 1.4rem;
        li {
          padding: 0 1rem 1rem 1rem;
          &.active, &.hover {
            background-color: rgba(0,0,0,0.05);
          }
        }
      }
      &.expanded {
        #manage-events-menu {
          display: block;
        }
      }
    }
  }
  .event-table {
    width: 100%;
    border: 1px solid lightgray;
    th {
      background-color: $sandstone;
      border: 0;
    }
    tbody {
      tr:nth-child(even) td {background-color: #F7F7F7};
    }
    td {
      border: 1px solid lightgray;
      padding: 1rem 2rem;
      font-size: 1.4rem;
      .date-column {
        display: flex;
        span.event-cbx {
          min-width: 20px;
          width: 20px;
          height: 20px;
          display: inline-block;
          border: 1px solid $maroon;
          border-radius: 2px;
          vertical-align: middle;
          position: relative;
          margin-right: 2rem;
          &.is-checked {
            border-width: 2px;
            background-color: $maroon;
            color: $white;
            &:before {
              font-family: FontAwesome;
              font-size: 1.4rem;
              content: "\f00c";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
            }
          }
        }
        .date {
          display: flex;
          flex-direction: column;
        }
      }
    }
    .event-description {
      font-size: 1.2rem;
      padding: 0.5rem 0;
      color: #727272;
    }
  }
}
