.ac-dropdown {
  background-color: $white;
  position: relative;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.101);
  border-radius: 4px;
  .input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    padding: 1rem;
  }
  .menu {
    display: none;
    padding-left: 0;
    margin: 0;
    list-style: none;
    background-color: $white;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
    font-size: 1.4rem;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.101);
    li {
      padding: 0 1rem 1rem 1rem;
      &:hover {
        background-color: rgba(0,0,0,0.05);
      }
      &.cancel {
        display: none;
        color: #D32626;
        @media (max-width: $mn-breakpoint) {
          display: block;
        }
      }
    }
  }
  &.expanded {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    .menu {
      display: block;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      &:before {
        content: "";
        display: block;
        margin: 0 auto; 
        width: 90%;
        border-bottom: 3px solid #B9AB95;
        @media (max-width: $mn-breakpoint) {
          display: none;
        }
      }
    }
  }
  &.multiple {
    .input {
      .text {
        &.hidden {
          display: none;
        }
      }
      .selected-items {
        list-style: none;
        margin: 0;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        li {
          .selected-item {
            background-color: $almost-white;
            color: $medium-gray;
            font-size: 1.4rem;
            line-height: 1.4rem;
            padding: 0.2rem 0.5rem;
            border-radius: 4px;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
            .remove-filter {
              margin-left: 0.5rem;
              background-color: transparent;
              border: 0;
              padding: 0;
              i {
                color: #a4a4a4;
              }
            }
          }
        }
      }
      .remove-all-filters {
        background-color: transparent;
        border: 0;
        padding: 0;
        margin-right: 5px;
        i {
          color: #a4a4a4;
        }
      }
    }
    .menu {
      li {
        &.selected {
          display: none;
        }
      }
    }
  }
}

.btn-ac {
  font-size: 1.4rem;
  font-weight: bold;
  background: none;
  border: 0;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  max-height: 4rem;
  &#btn-toggle-more-filters {
    font-weight: normal;
    @media (max-width: $sm-breakpoint) {
      display: none;
    }
    i.fa-filter {
      color: $maroon;
    }
    i.arrow:before {
      content: "\f0d7"
    }
    &[aria-expanded="true"] {
      i.arrow:before {
        content: "\f0d8";
      }
    }
  }
  &#btn-more-filters-mobile {
    display: none;
    border: 1.75px solid $maroon;
    background-color: $white;
    i {
      color: $maroon;
    }
    @media (max-width: $sm-breakpoint) {
      display: block;
      white-space: nowrap;
    }
  }
  &#btn-reset-filters {
    background-color: $white;
    border: 1.75px solid $maroon;
    margin: 0 1.1rem 0 0.1rem;
    &:hover {
      border-width: 2.75px;
      margin: 0 1rem 0 0;
    }
    @media (max-width: $sm-breakpoint) {
      display: none;
    }
  }
  &#btn-go {
    background-color: $maroon;
    color: $white;
    &:hover {
      background-color: $darkest-maroon;
    }
    @media (max-width: $sm-breakpoint) {
      display: none;
    }
  }
  &#btn-subscribe {
    background-color: $white;
    border: 1.75px solid $maroon;
    margin: 0 0.6rem 0 0.1rem;
    &:hover {
      border-width: 2.75px;
      margin: 0 0.5rem 0 0;
    }
    i {
      color: $maroon;
    }
    @media (max-width: $sm-breakpoint) {
      display: none;
    }
  }
}

.academic-calendar-container {
  padding: 0rem 2rem;
  position: relative;
  .ac-filters {
    background-color: $sandstone;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    @media (max-width: $sm-breakpoint) {
      padding: 1rem 2rem;
      margin-bottom: 1rem;
    }
    .filter-row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .ac-filter {
        min-width: 20%;
        margin-right: 1rem;
        label {
          font-size: 1.4rem;
        }
        @media (max-width: $sm-breakpoint) {
          display: none !important;
        }
      }
      &.top {
        &[data-eq~="900px"] {
          #btn-toggle-more-filters {
            flex-shrink: 0;
            span {display: none;}
            padding: 1rem;
            white-space: nowrap;
            i {
              margin-right: 5px;
              font-size: 2rem;
            }
          }
          #btn-reset-filters, #btn-go {
            font-size: 1.2rem;
            white-space: nowrap;
          }
        }
        margin-bottom: 2rem;
        @media (max-width: $sm-breakpoint) {
          margin-bottom: 0;
        }
        .ac-filter {
          &.audience {
            flex-shrink: 0;
            @media (max-width: 950px) {
              flex-shrink: 1;
            }
          }
        }
        .filter-actions {
          display: flex;
          margin-top: 2rem;
          @media (max-width: $sm-breakpoint) {
            margin-top: 0;
            justify-content: space-between;
            align-items: center;
            width: 100%;
          }
          .mobile-showing-message {
            display: none;
            font-size: 1.3rem;
            .showing {
              font-weight: bold;
            }
            @media (max-width: $sm-breakpoint) {
              display: block;
            }
          }
          &.smaller {
            #btn-toggle-more-filters  {
              flex-shrink: 0;
              span {display: none;}
              padding: 1rem;
              white-space: nowrap;
              i {
                margin-right: 5px;
                font-size: 2rem;
              }
            }
            #btn-reset-filters, #btn-go {
              font-size: 1.2rem;
              white-space: nowrap;
            }
          }
        }
      }
      &.bottom {
        justify-content: flex-end;
        &.expanded {
          justify-content: space-between;
          .ac-filter {
            display: block;
            &.date {
              display: flex;
            }
          }
        }
        .ac-filter {
          display: none;
          &.category {
            max-width: 35%;
          }
          &.date {
            flex-direction: column;
            #ac-startdate, #ac-enddate {
              height: 38px;
              border: 0;
              box-shadow: 0px 3px 6px rgba(0,0,0,0.101);
              border-radius: 4px;
              font-size: 1.4rem;
            }
          }
        }
        .filter-actions {
          display: flex;
          margin-top: 2rem;
          @media (max-width: $sm-breakpoint) {
            margin-top: 0;
          }
          &.smaller {
            flex-direction: column;
            .subscribe-container {
              #btn-subscribe {
                margin-bottom: 1rem;
              }
              #subscribe-tooltip {
                left: -230%;
                top: 100%;
                &:after {
                  left: 95%;
                }
              }
            }
          }
          .subscribe-container{
            display: flex;
            position: relative;
            #subscribe-help {
              color: $medium-gray;
              font-size: 20px;
              margin-right: 0.5rem;
              @media (max-width: $sm-breakpoint) {
                display: none;
              }
            }
            #subscribe-tooltip {
              top: 130%;
              left: -115%;
              &:after {
                content: "";
                position: absolute;
                bottom: 100%;
                left: 50%;
                margin-left: -8px;
                border-width: 8px;
                border-style: solid;
                border-color: transparent transparent #ddd5c9 transparent;
              }
            }
          }
          #select-download-print {
            @media (max-width: $sm-breakpoint) {
              display: none;
            }
            background-color: $white;
            color: $medium-gray;
            position: relative;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.101);
            font-size: 1.4rem;
            border-radius: 4px;
            .input {
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-size: 1.4rem;
              padding: 1rem;
              .text {
                margin-right: 1rem;
              }
            }
            .menu {
              display: none;
              position: absolute;
              right: 0;
              background-color: $white;
              list-style: none;
              margin: 0;
              padding-left: 0;
              width: 100%;
              z-index: 1;
              box-shadow: 0px 3px 6px rgba(0,0,0,0.101);
              li {
                padding: 0 1rem 1rem 1rem;
                &.active, &:hover {
                  background-color: rgba(0,0,0,0.05);
                }
                a {
                  color: $medium-gray;
                  text-decoration: none;
                  font-size: 1.4rem;
                }
              }
            }
            &.expanded {
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;
              .menu {
                display: block;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                &:before {
                  content: "";
                  display: block;
                  margin: 0 auto; 
                  width: 90%;
                  border-bottom: 3px solid #B9AB95;
                }
              }
            }
          }
        }
      }
    }
  }
  .events-flex-container {
    display: flex;
    flex-direction: column;
    .manage-events-container {
      display: flex;
      position: relative;
      order: 1;
      align-items: flex-start;
      #select-manage-events {
        display: none;
        margin-bottom: 2rem;
        position: relative;
        border-radius: 4px;
        background-color: $maroon;
        color: $white;
        font-size: 1.4rem;
        font-weight: bold;
        .input {
          padding: 1rem 1.5rem;
        }
    
        #manage-events-menu {
          display: none;
          position: absolute;
          list-style: none;
          padding-left: 0;
          margin: 0;
          background-color: $white;
          box-shadow: 0px 3px 6px rgba(0,0,0,0.101);
          z-index: 1;
          font-size: 1.4rem;
          li {
            padding: 0 1rem 1rem 1rem;
            &.active, &.hover {
              background-color: rgba(0,0,0,0.05);
            }
          }
        }
        &.expanded {
          background-color: $white;
          color: $very-dark;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          .input i {
            color: $maroon;
          }
          #manage-events-menu {
            display: block;
            width: 100%;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
          }
        }
      }
      #manage-tooltip {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          right: 100%; /* To the left of the tooltip */
          margin-top: -8px;
          border-width: 8px;
          border-style: solid;
          border-color: transparent #ddd5c9 transparent transparent;
        }
      }
      #manage-help {
        display: none;
        color: $medium-gray;
        font-size: 20px;
        margin-left: 0.5rem;
        margin-right: 1rem;
        @media (max-width: $sm-breakpoint) {
          display: none;
        }
      }
    }
    .event-table {
      width: 100%;
      border: 1px solid lightgray;
      margin-bottom: 7rem;
      order: 2;
      th {
        background-color: $sandstone;
        border: 0;
        text-align: left;
        &.date-header { padding-left: 6rem; }
        &.event-header { padding-left: 2rem; }
        @media (max-width: $mn-breakpoint) {
          &.date-header { padding-left: 3.3rem; }
          &.event-header { padding-left: 0.5rem; }
        }
      }
      tbody {
        tr.has-background td {background-color: #F7F7F7};
        tr.row-hidden {
          display: none;
        }
      }
      td {
        border: 1px solid lightgray;
        padding: 1rem 2rem;
        font-size: 1.4rem;
        line-height: 1.8rem;
        @media (max-width: $mn-breakpoint) {
          font-size: 1.2rem;
          line-height: 1.6rem;
          padding: 1rem 0.5rem;
        }
        .date-column {
          display: flex;
          align-items: center;
          span.event-cbx {
            min-width: 20px;
            width: 20px;
            height: 20px;
            display: inline-block;
            border: 1.5px solid $maroon;
            border-radius: 2px;
            vertical-align: middle;
            position: relative;
            margin-right: 2rem;
            @media (max-width: $mn-breakpoint) {
              margin-right: 0.8rem;
            }
            &.is-checked {
              border-width: 2px;
              background-color: $maroon;
              color: $white;
              &:before {
                font-family: FontAwesome;
                font-size: 1.4rem;
                content: "\f00c";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
              }
            }
          }
          .date {
            display: flex;
            flex-direction: column;
            .eventyear {
              color: #656565;
              font-size: 1.2rem;
            }
            @media (max-width: $mn-breakpoint) {
              span {
                white-space: nowrap;
              }
            }
          }
        }
      }
      .event-link {
        color: $content-link-text;
      }
      .event-description {
        font-size: 1.2rem;
        padding: 0.5rem 0;
        color: #727272;
      }
      &.empty {
        display: none;
      }
    }
  }
  
  .tooltip { 
    display: none;
    background-color: #ddd5c9;
    position: absolute;
    font-size: 1.6rem;
    color: #5c5c5c;
    padding: 0.5rem;
    white-space: nowrap;
    border-radius: 4px;
    z-index: 1;
    &.shown {
      display: block;
    }
  }
  .empty-message {
    display: none;
    background-color: #fcfcfc;
    border: 1px solid #E2E2E3;
    text-align: center;
    padding: 7rem 0;
    margin-bottom: 7rem;
    h2 {
      font-size: 2rem;
      font-family: $univers;
      font-weight: bold;
      line-height: 2.2rem;
      margin-bottom: 4rem;
    }
    p {
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
  }
  #mobile-manage-events {
    display: none;
    background-color: $sandstone;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 1rem 2rem;
    .flex-container {
      display: flex;
      justify-content: flex-end;
      button {
        background-color: $maroon;
        color: $white;
        border: 0;
        i {
          margin-right: 5px;
        }
      }
    }
  }
}
#mobile-calendar-modal {
  &.shown {
    visibility: visible;
  }
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $white;
  .instructions {
    background-color: $sandstone;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
    padding: 1rem 0;
  }
  .content {
    max-width: 400px;
    margin: 0 auto;
    padding: 0 1rem;
    .invisible-focus:focus {
      outline: none;
    }
    .filter-label {
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    .mobile-dates {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      .mobile-date {
        border: 2px solid $maroon;
        height: 4rem;
        width: 15rem;
        background-color: $white;
        -webkit-appearance: none
      }
    }
    .mobile-filter-group {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding-left: 0;
      margin: 0;
      li {
        padding-right: 2rem;
        margin-bottom: 1rem;
        .mobile-filter-cbx {
          border: 2px solid $maroon;
          border-radius: 4px;
          padding: 0.8rem 1.2rem;
          color: $maroon;
          font-size: 1.6rem;
          line-height: 2.1rem;
          @media (max-width: $mn-breakpoint ) {
            padding: 0.5rem 1.2rem;
          }
          &[aria-checked=true] {
            font-weight: bold;
            color: $white;
            background-color: $maroon;
          }
        }
      }
    }
    .divider {
      padding: 1rem 0;
      div {
        height: 3px;
        width: 100%;
        background-color: $sandstone;
      }
    }
    .mobile-semester-partofterm-container {
      display: flex;
      .mobile-semester, .mobile-partofterm {
        width: 50%;
      }
      #mobile-select-semester, #mobile-select-partofterm {
        background-color: $white;
        position: relative;
        border-radius: 4px;
        border: 2px solid $maroon;
      }
      #mobile-select-semester {
        margin-right: 2rem;
      }
    }
    .mobile-subscribe-container {
      padding: 0 1rem;
      margin-bottom: 2rem;
      .toggle-mobile-subscribe {
        background-color: transparent;
        border: 0;
        font-size: 1.8rem;
        font-weight: bold;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i:before {
          font-family: FontAwesome;
          content: "\f0d9";
        }
      }
      #mobile-subscribe-panel {
        display: none;
        text-align: center;
        .subscribe-icons {
          display: flex;
          justify-content: space-around;
          img {
            width: 25%;
            padding: 2rem;
          }
        }
        .subscribe-description {
          text-align: left;
          margin-bottom: 2rem;
        }
        #btn-mobile-subscribe {
          border: 1.75px solid $maroon;
          color: $maroon;
        }
      }
      &.expanded {
        .toggle-mobile-subscribe {
          i:before {
            content: "\f0d7";
          }
        }
        #mobile-subscribe-panel {
          display: block;
        }
      }
    }
    .mobile-filter-buttons {
      text-align: center;
      button {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.4rem;
        background: none;
        border: 0;
        padding: 1rem 1.5rem;
        border-radius: 4px;
        max-height: 4rem;
      }
      #mobile-filter-cancel {
        border: none;
        color: $maroon;
      }
      #mobile-filter-reset {
        border: 1.75px solid $maroon;
        color: $maroon;
      }
      #mobile-filter-go {
        background-color: $maroon;
        color: $white;
        border-color: $maroon;
      }
    }
  }
}

.ac-mobile-menu {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  &.shown {
    visibility: visible;
  }
  #mobile-menu-content {
    background-color: $white;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0px -3px 6px rgba(0,0,0,0.101);
    ul {
      list-style: none;
      margin: 0;
      padding-left: 0;
      li {
        text-align: center;
        position: relative;
        display: block;
        padding-bottom: 1rem;
        &:first-child {
          margin-top: 1rem;
        }
        &.cancel {
          color: #D32626;
        }
        &:not(:last-child) {
          &:after {
            content: "";
            display: block;
            margin: 0 auto; 
            width: 90%;
            border-bottom: 1px solid $medium-gray;
            margin-top: 1rem;
          }
        }
      }
    }
  }
}

.calendar-data-error {
  display: none;
  background-color: #9B7E05;
  text-align: center;
  padding: 1rem;
  .error-title {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-family: $univers;
    font-weight: bold;
    text-transform: uppercase;
    color: $white;
  }
  .error-description {
    color: $white;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}
