.academic-calendar-container {
  padding: 0rem 2rem;
  .btn-ac {
    font-size: 1.4rem;
    font-weight: bold;
    background: none;
    border: 0;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    &#btn-toggle-more-filters {
      font-weight: normal;
      @media (max-width: $sm-breakpoint) {
        display: none;
      }
      i.fa-filter {
        color: $maroon;
      }
      i.arrow:before {
        content: "\f0d7";
      }
      &[aria-expanded="true"] {
        i.arrow:before {
          content: "\f0d8";
        }
      }
    }
    &#btn-more-filters-mobile {
      display: none;
      border: 1.75px solid $maroon;
      background-color: $white;
      i {
        color: $maroon;
      }
      @media (max-width: $sm-breakpoint) {
        display: block;
      }
      @media (max-width: $mn-breakpoint) {
        span {display: none}
      }
    }
    &#btn-reset-filters {
      background-color: $white;
      border: 1.75px solid $maroon;
      &:hover {
        border-width: 2.75px;
      }
      @media (max-width: $sm-breakpoint) {
        display: none;
      }
    }
    &#btn-go {
      background-color: $maroon;
      color: $white;
      &:hover {
        background-color: $darkest-maroon;
      }
      @media (max-width: $sm-breakpoint) {
       display: none;
      }
    }
    &#btn-subscribe {
      background-color: $white;
      border: 1.75px solid $maroon;
      &:hover {
        border-width: 2.75px;
      }
      i {
        color: $maroon;
      }
      @media (max-width: $sm-breakpoint) {
        display: none;
      }
    }
  }
  .ac-filters {
    background-color: $sandstone;
    @media (max-width: $mn-breakpoint) {
      background-color: $white;
    }
    padding:  0.5rem 2rem;
    margin-bottom: 2rem;
    .filter-row {
      display: flex;
      justify-content: space-between;
      .filter-group {
        display: flex;
        flex: 1 0 55%;
        .ac-filter {
          width: calc(100% / 3);
          display: flex;
          flex-direction: column;
          margin-right: 2rem;
          @media (max-width: $sm-breakpoint) {
            width: 50%;
            &.desktop {
              display: none;
            }
          }
          .ac-dropdown {
            background-color: $white;
            padding: 0.5rem;
            position: relative;
            @media (max-width: $mn-breakpoint) {
              position: static;
            }
            box-shadow: 0px 3px 6px rgba(0,0,0,0.101);
            .dropdown-controls {
              display: flex;
              justify-content: space-between;
              .selected-filters {
                list-style: none;
                margin: 0;
                padding-left: 0;
                display: flex;
                flex-wrap: wrap;
                .filter {
                  background-color: $almost-white;
                  border-radius: 3px;
                  padding: 0 0.5rem;
                  font-size: 1.4rem;
                  line-height: 2.2rem;
                  margin: 0 3px 3px 0;
                  .remove-filter {
                    border: 0;
                    background-color: $almost-white;
                  }
                }
              }
              .filter-actions {
                display: flex;
                button {
                  padding: 0 0.5rem;
                  &.remove-all-filters {
                    color: #a4a4a4;
                    background-color: transparent;
                    border: 0;
                  }
                  &.toggle-dropdown {
                    background-color: transparent;
                    border: 0;
                  }
                }
              }
            }
            .menu {
              display: none;
              position: absolute;
              right: 0;
              background-color: $white;
              list-style: none;
              margin: 0;
              padding-left: 0;
              width: 100%;
              z-index: 1;
              box-shadow: 0px 3px 6px rgba(0,0,0,0.101);
              @media (max-width: $mn-breakpoint) {
                position: fixed;
                bottom: 0;
                box-shadow: 0px -3px 6px rgba(0,0,0,0.101);
              }
              li {
                padding: 0 1rem 1rem 1rem;
                &.active, &.hover {
                  background-color: rgba(0,0,0,0.05);
                }
                &.cancel {
                  color: #D32626;
                  display: none;
                  @media (max-width: $mn-breakpoint) {
                    display: block;
                  }
                }
                @media (max-width: $mn-breakpoint) {
                  text-align: center;
                  padding: 1rem 0;
                  position: relative;
                  &:not(:last-child):after {
                    content: '';
                    width: 80%;
                    height: 1px;
                    background:#e9e9e9;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 0;
                  }
                }
              }
            }
            &.expanded {
              .dropdown-controls {
                border-bottom: 3px solid #B9AB95;
                @media (max-width: $mn-breakpoint) {
                  border: 0;
                }
              }
              .menu {
                display: block;
              }
            }
          }
        }
      }
      .action-group {
        display: flex;
        #select-download-print {
          @media (max-width: $sm-breakpoint) {
            display: none;
          }
          background-color: $white;
          padding: 0.5rem;
          position: relative;
          box-shadow: 0px 3px 6px rgba(0,0,0,0.101);
          .dropdown-controls {
            display: flex;
            justify-content: space-between;
            .dp-actions {
              .toggle-dropdown {
                background-color: transparent;
                border: 0;
              }
            }
          }
          .menu {
            display: none;
            position: absolute;
            right: 0;
            background-color: $white;
            list-style: none;
            margin: 0;
            padding-left: 0;
            width: 100%;
            z-index: 1;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.101);
            li {
              padding: 0 1rem 1rem 1rem;
              &.active, &:hover {
                background-color: rgba(0,0,0,0.05);
              }
            }
          }
          &.expanded {
            .dropdown-controls {
              border-bottom: 3px solid #B9AB95;
            }
            .menu {
              display: block;
            }
          }
        }
      }
      &.top {
        margin-bottom: 2rem;
      }
      &.bottom {
        justify-content: flex-end;
        .filter-group {
          display: none;
        }
        &.expanded {
          justify-content: space-between;
          .filter-group {
            display: flex;
          }
        }
      }
    }
  }
  .manage-events-container {
    display: none;
    margin-bottom: 2rem;
    position: relative;
    #btn-manage-events {
      color: $white;
      background-color: $maroon;
      &:hover {
        background-color: $darkest-maroon;
      }
      &[aria-expanded=true] {
        background-color: $white;
        color: $maroon;
      }
    }
    #manage-events-menu {
      display: none;
      position: absolute;
      list-style: none;
      padding-left: 0;
      margin: 0;
      background-color: $white;
      box-shadow: 0px 3px 6px rgba(0,0,0,0.101);
      z-index: 1;
      &.expanded {
        display: block;
      }
      li {
        padding: 0 1rem 1rem 1rem;
        &.active, &:hover {
          background-color: rgba(0,0,0,0.05);
        }
      }
    }
  }
  
  .event-table {
    width: 100%;
    border: 1px solid lightgray;
    th, td.none {
      background-color: $sandstone;
      border: 0;
    }
    tbody {
      tr:nth-child(even) td {background-color: #F7F7F7};
    }
    td {
      border: 1px solid lightgray;
      padding: 1rem 2rem;
      font-size: 1.4rem;
      span.event-cbx {
        min-width: 20px;
        width: 20px;
        height: 20px;
        display: inline-block;
        border: 1px solid $maroon;
        border-radius: 2px;
        vertical-align: middle;
        position: relative;
        margin-right: 2rem;
        &.is-checked {
          border-width: 2px;
          background-color: $maroon;
          color: $white;
          &:before {
            font-family: FontAwesome;
            font-size: 1.4rem;
            content: "\f00c";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
          }
        }
      }
    }
    .event-description {
      font-size: 1.2rem;
      padding: 0.5rem 0;
      color: #727272;
    }
  }
}