.banner-section {
  @media (max-width: $sm-breakpoint) {
    padding-top: 6rem;
  }
  .banner {
    .banner-image {
      position: relative;
      height: 31em;
      @media (max-width: $xl-breakpoint) {
        height: 0;
        padding-bottom: 36.2%;
     }
     @media (max-width: $sm-breakpoint) {
       padding-bottom: 62.5%;
    }
      overflow: hidden;
      @include coverimage();
      //TODO: copied from Wittliff- will need to tweak this if marketing wants the mobile first button to look different
      .feature-play-button {
        display: block;
        @include absolutecenter();
        color: white;
        font-size: 3.5rem;
        border-radius: 100%;
        width:  8rem;
        height: 8rem;
        border: 7px solid white;
        opacity: 0.9;
        @media (max-width: $md-breakpoint) {
          width: 5rem;
          height: 5rem;
          font-size: 2.5rem;
          border: 5px solid white;
        }
        i {
          @include absolutecenter();
          left: 55%;// looks weird when perfectly centerd or are my eyes playing tricks on me?
        }
      }
      //end copied from Wittliff
      .editBanner {
        position: absolute;
        top: 60px;
      }
    }
  }
  .page-title {
    background-color: $maroon;
    display: flex;
    justify-content: center;
    padding: 1.5rem 0rem;
    align-items: center;
    position: relative;
    font-family: $muli;
    @media (max-width: $sm-breakpoint) {
      text-align: center;
    }
    &:after {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height:0;
      width: 0;
      position: absolute;
      border-color: rgba(0,0,0,0);
      border-bottom-color: $maroon;
      border-width: 2.5rem;
      margin-left: -2.5rem;
    }
    a {
      color: $white;
      text-decoration: none;
      font-size: 3rem;
    }
  }
  &.noimage {
    .addBannerImage {
      width: 25%;
      position: absolute;
      top: 60px;
    }
  }
}
