.banner-section {
  @media (max-width: $sm-breakpoint) {
    padding-top: 6rem;
  }
  .banner {
    position: relative;
    .banner-image {
      position: relative;
      height: 31em;
      background-color: $maroon;
      @media (max-width: $xl-breakpoint) {
        height: 0;
        padding-bottom: 36.2%;
     }
     @media (max-width: $sm-breakpoint) {
       padding-bottom: 50%;
     }
     @media (max-width: $xs-breakpoint) {
       padding-bottom: 62.5%;
    }
    &.interior {
      height: 10em;
      @media (max-width: $xl-breakpoint) {
        padding-bottom: 0;
     }
     @media (max-width: $sm-breakpoint) {
       height: 6em;
     }
    }
      overflow: hidden;
      @include coverimage();
      .editBanner {
        position: absolute;
        width: 33%;
        top: 60px;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }
  &.noimage {
    .addBannerImage {
      width: 25%;
      position: absolute;
      left: 50%;
      top: calc(50% + 30px);
      transform: translate(-50%, -50%);
    }
  }
}

body.admin {
  .addBannerImage {
    .mgnlEditorBar.mgnlEditor.component {
      margin-bottom: 0px !important;
    }
  }
}
