$maroon:              #501214; // (106,86,56)
$gold:                #6A5638; // (80, 18, 20)

$charcoal:            #363534; // (54, 53, 52)
$blue:                #005481; // (0, 84, 129)
$river:               #8BAEA1; // (140, 175, 161)
$sandstone:           #E8E3DB; // (232, 227, 219)
$oldgold:             #DEB407; // (222, 180, 7)

/* Neutral Colors */
$white:               #FFFFFF;
$lightgray:           #D7D7D7;
$mediumgray:          #595959;
$darkgray:            #484848;
$verydark:            #222222;
$almostblack:         #111111;
