// Rich Editor Tables
.rich-editor-table{
  table{
    &.header-color-maroon th{
      background: $maroon;
      color: $white;
      a{
        color: $white;
      }
    }
    &.header-color-gold th{
      background: $gold;
      color: $white;
      a{
        color: $white;
      }
    }
    &.header-color-charcoal th{
      background: $charcoal;
      color: $white;
      a{
        color: $white;
      }
    }
    &.header-color-sandstone th{
      background: $sandstone;
      color: $black;
      a{
        color: $black;
      }
    }
  }
}

//patterns
.mobilefirst-pattern {
  .pattern-content.color4 {
    a {
      border-color: $maroon;
      color: $maroon;
    }
  }
  //image next to sandstone content should have dark overlay
  .pattern-image.color4 {
    .overlay-left {
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.47), rgba(255, 255, 255, 0));
      @media (max-width: $sm-breakpoint) {
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, .47));
      }
    }
    .overlay-right {
      background-image: linear-gradient(-90deg, rgba(0, 0, 0, .47),rgba(255, 255, 255, 0));
      @media (max-width: $sm-breakpoint) {
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, .47));
      }
    }
  }
}
