// Rich Editor Tables
.rich-editor-table{
  table{
    &.header-color-maroon th{
      background: $maroon;
      color: $white;
      a{
        color: $white;
      }
    }
    &.header-color-gold th{
      background: $gold;
      color: $white;
      a{
        color: $white;
      }
    }
    &.header-color-charcoal th{
      background: $charcoal;
      color: $white;
      a{
        color: $white;
      }
    }
    &.header-color-sandstone th{
      background: $sandstone;
      color: $black;
      a{
        color: $black;
      }
    }
  }
}

//rich editor
.gato-rich-editor {
  .richtext-h2 {
    font-family: $garamond;
    font-size: 3.2rem;
    line-height: 3.8rem;
    @media (max-width: $sm-breakpoint) {
      font-size: 2.9rem;
    }
  }
  .richtext-h3 {
    font-family: $univers;
    font-size: 2.4rem;
    line-height: 3rem;
  }
  .richtext-h4 {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }
  .richtext-h5 {
    font-size: 2rem;
    line-height: 2.6rem;
  }
  .richtext-h6 {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}

//patterns
.mobilefirst-pattern {
  .pattern-content.color4 {
    a {
      border-color: $maroon;
      color: $maroon;
    }
  }
  //image next to sandstone content should have dark overlay
  .pattern-image.color4 {
    .overlay-left {
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.47), rgba(255, 255, 255, 0));
      @media (max-width: $sm-breakpoint) {
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, .47));
      }
    }
    .overlay-right {
      background-image: linear-gradient(-90deg, rgba(0, 0, 0, .47),rgba(255, 255, 255, 0));
      @media (max-width: $sm-breakpoint) {
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, .47));
      }
    }
  }
}

//Icon and Text
.icontext {
  .icontext-title {
    font-family: $univers;
  }
}

//Events
h2.event-list-title {
  font-family: $univers;
  font-weight: 600;
  font-size: 2.7rem;
  line-height: 3.5rem
}

.has-background {
  .gato-events .gato-accordion.shown {
    background-color: $white;
  }
}

//embed video
.gatoStreamingWrapper {
  h2.streaming-title {
    font-family: $univers;
    font-size: 2.7rem;
    line-height: 3.5rem;
    font-weight: 600;
  }
}

//faq
.gato-faq-hierarchy {
  h2.gato-faq-header a {
    font-family: $univers;
  }
}
.has-background {
  ul.gato-faq-hierarchy {
    & > .gato-faqitem, & > .gato-faq-group {
      background-color: $white;
    }
  }
}

//image card
.gato-card {
  figcaption {
    h2.title {
      font-family: $univers;
      font-weight: 600;
    }
  }
}

//image gallery
.image-gallery-title {
  font-family: $univers;
  font-weight: 600;
  font-size: 2.7rem;
}

//text and image
.gato-textimage {
  .gato-textimage-title {
    font-family: $univers;
    font-weight: 600;
    font-size: 2.7rem;
  }
  .gato-textimage-caption {
    font-size: 1.4rem;
    padding: 1.2rem 1.4rem;
    line-height: 2.2rem;
    text-align: center;
    a:hover{
      text-decoration: none;
    }
  }
}

//form
.txst-form {
  button.submit {
    padding: 1rem 2rem 0.9rem 2rem;
    background-color: $gold;
    color: $white;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2rem;
    border: 1px solid $gold;
    display: inline-block;
    border-radius: 2px;
    transition: all 0.2s ease;
    &:hover {
      transform: translate(0px, -3px);
      box-shadow: inset 0 -2px 0 0 $gold;
    }
  }
}

//separator
.has-background .gato-separator hr {
  background: #ADADAD;
}
