body.admin {
  margin-top: 2.6rem;
  #modalbar {
    position: fixed !important;
    background-color: $white;
    width: 100%;
  }
  //customize edit bars
  %bar {
    background-color: $edit-bar-bg !important;
    border:  2px solid $edit-bar-teal !important;
  }

  .mgnlEditor.mgnlPlaceholder {
    .editorIcon {
      font-size: 21px !important;
    }
  }

  div.mgnlEditorBar.area.childFocus {
    ~ div.mgnlEditorBar.component,
    ~ * div.mgnlEditorBar.component {
      @extend %bar;
      &.focus {
        background-color: $edit-bar-teal !important;
      }
    }

    ~ * div.mgnlPlaceholder div.mgnlEditorBar.component,
    ~  div.mgnlPlaceholder div.mgnlEditorBar.component {
      @extend %bar;
    }

    ~ div.mgnlEditorBar.component.moveTarget,
    ~ * div.mgnlEditorBar.component.moveTarget {
      border-width: 1px !important;
      &.moveOver {
        background-color: $edit-bar-move !important;
        .mgnlEditorBarLabel {
          text-decoration: underline;
        }
      }
    }

    ~ div.mgnlEditorBar.component.moveOver,
    ~ * div.mgnlEditorBar.component.moveOver {
      @extend %bar;
    }
  }

  #mgnlEditorMoveDiv {
    background-color: $edit-bar-teal !important;
    .mgnlEditorBarLabel {
      text-decoration: underline;
    }
  }
  div.mgnlEditorBar.mgnlEditor.component.moveTarget.moveOver {
    background-color: $edit-bar-move !important;
    .mgnlEditorBarLabel {
      text-decoration: underline;
    }
  }

  div.mgnlEditorBar.mgnlEditor.component.moveSource {
    background-color: $edit-bar-teal !important;
  }

  div.mgnlEditorBar.area.init {
    ~ * div.mgnlPlaceholder div.mgnlEditorBar.component,
    ~ div.mgnlPlaceholder div.mgnlEditorBar.component {
      @extend %bar;
    }
  }

  div.mgnlEditorBar.area.focus {
    ~ div.mgnlEditorBar.component,
    ~ * div.mgnlEditorBar.component {
      @extend %bar;
    }

    ~ div.mgnlEditor.mgnlPlaceholder div.mgnlEditorBar.component,
    ~ * div.mgnlEditor.mgnlPlaceholder div.mgnlEditorBar.component {
      @extend %bar;
    }
  }

  div.mgnlEditorBar.component {
    @extend %bar;
    &.focus {
      background-color: $edit-bar-teal !important;
    }
  }

  div.mgnlPlaceholder div.mgnlEditorBar{
    padding: 1rem 0rem !important;
  }

  div#modal_outer {
    z-index: 80000 !important;
  }
}
