footer {
  flex: none;
  font-family: $univers;
  font-size: 1.4rem;
  color: $white;
  .top {
    background-color: $mediumgray;
    display: flex;
    justify-content: space-between;
    @media (max-width: $sm-breakpoint) {
      display: block;
      padding: 2rem 0 2.5rem 0;
    }
    .footer-column {
      width: 33%;
      padding: 4rem 3rem 5rem 3rem;
      @media (max-width: $sm-breakpoint) {
        width: auto;
        padding: 1rem 3rem;
      }
      &.contact {
        border-right: 1px solid $darkgray;
        @media (max-width: $sm-breakpoint) {
          border: none;
        }
        .footer-page-title {
          font-family: $univers;
          font-size: 2.2rem;
          font-weight: 700;
          a {
            color: $white;
            text-decoration: none;
          }
        }
        .contact-info {
          padding-top: 0.5rem;
          padding-bottom: 1rem;
          line-height: 1.8;
          font-weight: 500;
        }
      }
      .footer-column-content {
        .footer-column-title {
          font-family: $univers;
          font-size: 2rem;
          font-weight: 700;
          display: block;
          text-decoration: none;
          color: $white;
          margin-bottom: 1rem;
        }
        .mobile-footer-column-title {
          display: none;
        }
        .footer-column-link-list {
          list-style: none;
          margin: 0;
          padding: 1rem 0rem 0rem 0rem;
          li {
            line-height: 1.8;
            a {
              color: $white;
              text-decoration: none;
              transition: all 0.2s ease;
              display: inline-block;
              font-weight: 500;
              &:hover {
                transform: translate(0px, -3px);
                box-shadow: inset 0 -1px 0 0 $white;
              }
            }
          }
        }
        @media (max-width: $sm-breakpoint) {
          .footer-column-title {
            display: none;
          }
          .mobile-footer-column-title {
            text-decoration: none;
            color: $white;
            display: block;
            background-color: $tornadogray;
            padding: 0.5rem 1rem;
            font-size: 1.8rem;
            position: relative;
            font-weight: 500;
            &:after {
              font-family: "FontAwesome";
              content: "\f107";
              position: absolute;
              right: 1rem;
              top: 0.3rem;
              font-size: 2.4rem;
            }
          }
          .footer-column-link-list {
            display: none;
            background-color: $tornadogray;
            padding: 1rem;
            li {
              padding: 0.5rem 0rem;
              a:hover {
                transform: none;
                box-shadow: unset;
              }
            }
          }
          &.expanded {
            .mobile-footer-column-title {
              border-bottom: 1px solid $lightgray;
              &:after {
                content: "\f106";
              }
            }
            .footer-column-link-list {
              display: block;
            }
          }
        }
      }
    }
  }
  .social-media-container {
    display: block;
    @media (max-width: $sm-breakpoint) {
      display: none;
    }
    &.mobile {
      display: none;
      @media (max-width: $sm-breakpoint) {
        display: block;
        text-align: center;
        padding: 0rem 3rem;
      }
    }
    .social-media-icons {
      margin-top: 1.5rem;
      padding: 0;
      li {
        display: inline-block;
        padding: 0rem 0.5rem 1rem 0.5rem;
        .gato-sociallink {
          i { color: $white;}
          span {
            width: 1px;
            height: 1px;
            overflow: hidden;
            margin: -1px;
            clip: rect(0,0,0,0);
            position: absolute;
            font-size: 1rem;
          }
        }
      }
    }
  }
  .bottom {
    padding: 1rem 2rem 3rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $sm-breakpoint) {
      display: block;
      text-align: center;
    }
    img {
      height: 75px;
    }
    background-color: $maroon;
    .bottom-footer-links {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        line-height: 2;
        &:not(:last-child):after {
          content: "|";
          padding: 0rem 1rem;
        }
      }
      a {
        color: $white;
        text-decoration: none;
      }
    }
  }
}

body.admin {
  footer {
    .bottom-footer-links{
      .listItems_add {
        width: 120px;
        &:after {
          display: none;
        }
      }
    }
  }
}

.social-media-icons {
  .gato-sociallink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 0.8rem;
    text-decoration: none;
    .fa-facebook-square {
      &:before {
        font-family: "FontAwesome";
        content: '\f09a';
      }
    }
    .fa-twitter-square {
      &:before {
        font-family: "FontAwesome";
        content: '\f099';
      }
    }
    .fa-youtube-square {
      &:before {
        font-family: "FontAwesome";
        content: '\f167';
      }
    }
    .fa-vimeo-square {
      &:before {
        font-family: "FontAwesome";
        content: '\f27d';
      }
    }
    .fa-pinterest-square {
      &:before {
        font-family: "FontAwesome";
        content: '\f231';
      }
    }
    .fa-tumblr-square {
      &:before {
        font-family: "FontAwesome";
        content: '\f173';
      }
    }
  	.fa-linkedin-square {
      &:before {
        font-family: "FontAwesome";
        content: '\f0e1';
      }
    }
    .fa-rss-square {
      &:before {
        font-family: "FontAwesome";
        content: '\f09e';
      }
    }
    .fa-snapchat-square {
      &:before {
        font-family: "FontAwesome";
        content: '\f2ac';
      }
    }
    .fa-share-alt-square {
      &:before {
        font-family: "FontAwesome";
        content: '\f1e0';
      }
    }
    .fa-google-plus-square {
      &:before {
        font-family: "FontAwesome";
        content: '\f0d5';
      }
    }
  }
}
