footer {
  flex: none;
  font-family: $muli;
  font-weight: 300;
  font-size: 1.4rem;
  color: $white;
  .top {
    background-color: $mediumgray;
    display: flex;
    justify-content: space-between;
    @media (max-width: $sm-breakpoint) {
      display: block;
    }
    .footer-column {
      width: 33%;
      padding: 3rem;
      @media (max-width: $sm-breakpoint) {
        width: auto;
        padding: 1rem 3rem;
      }
      &.contact {
        border-right: 1px solid $darkgray;
        @media (max-width: $sm-breakpoint) {
          border: none;
        }
        .footer-page-title {
          font-size: 2.4rem;
          font-weight: 400;
          text-transform: uppercase;
          a {
            color: $white;
            text-decoration: none;
          }
        }
        .contact-info {
          padding-top: 2rem;
        }
      }
      .footer-column-content {
        .footer-column-title {
          font-size: 2rem;
          font-weight: 400;
          text-transform: uppercase;
          display: block;
          text-decoration: none;
          color: $white;
        }
        .footer-column-link-list {
          list-style: none;
          margin: 0;
          padding: 1rem 0rem 0rem 0rem;
          li {
            a {
              color: $white;
              text-decoration: none;
            }
          }
        }
        @media (max-width: $sm-breakpoint) {
          .footer-column-title {
            background-color: $darkgray;
            padding: 0.5rem 1rem;
            font-size: 1.8rem;
            position: relative;
            &:after {
              font-family: "FontAwesome";
              content: "\f107";
              position: absolute;
              right: 1rem;
            }
          }
          .footer-column-link-list {
            display: none;
            background-color: $darkgray;
            padding: 1rem;
            li {
              padding: 0.5rem 0rem;
            }
          }
          &.expanded {
            .footer-column-title {
              border-bottom: 1px solid $lightgray;
              &:after {
                content: "\f106";
              }
            }
            .footer-column-link-list {
              display: block;
            }
          }
        }
      }
    }
  }
  .social-media-container {
    display: block;
    @media (max-width: $sm-breakpoint) {
      display: none;
    }
    &.mobile {
      display: none;
      @media (max-width: $sm-breakpoint) {
        display: block;
        text-align: center;
      }
    }
    .social-media-icons {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        .gato-sociallink {
          i { color: $white;}
          span {
            width: 1px;
            height: 1px;
            overflow: hidden;
            margin: -1px;
            clip: rect(0,0,0,0);
            position: absolute;
          }
        }
      }
    }
  }
  .bottom {
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $sm-breakpoint) {
      display: block;
      text-align: center;
    }
    img {
      height: 75px;
    }
    background-color: $maroon;
    .bottom-footer-links {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        &:not(:last-child):after {
          content: "|";
          padding: 0rem 1rem;
        }
      }
      a {
        color: $white;
        text-decoration: none;
      }
    }
  }
}
