@mixin arrow($color, $position) {
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  border-color: transparent;
  border-width: 2.5rem;
  margin: 0;
  @if $position == top {
    bottom: 100%;
    top: auto;
    left: 50%;
    border-bottom-color: $color;
    margin-left: -2.5rem;
  }
  @else if $position == right {
    left: 100%;
    top: 50%;
    border-left-color: $color;
    margin-top: -2.5rem;
  }
  @else if $position == bottom {
    top: 100%;
    left: 50%;
    border-top-color: $color;
    margin-left: -2.5rem;
  }
  @else if $position == left {
    right: 100%;
    top: 50%;
    border-right-color: $color;
    margin-top: -2.5rem;
  }
}

.fullwidth {
  font-family: $muli;
  display: flex;
  justify-content: space-between;
  @media (max-width: $sm-breakpoint) {
    flex-direction: column;
  }
  &.color1 {
    background-color: $mc1-bg;
    color: $mc1-text;
  }
  &.color2 {
    background-color: $mc2-bg;
    color: $mc2-text;
  }
  &.color3 {
    background-color: $mc3-bg;
    color: $mc3-text;
  }
  &.color4 {
    background-color: $mc4-bg;
    color: $mc4-text;
  }
  &.color5 {
    background-color: $mc5-bg;
    color: $mc5-text;
  }
  &.color6 {
    background-color: $mc6-bg;
    color: $mc6-text;
  }
  &.color7 {
    background-color: $mc7-bg;
    color: $mc7-text;
  }
  .fullwidthimage {
    width: 50%;
    order: 2;
    @media (max-width: $sm-breakpoint) {
      width: 100%;
    }
    img {
      max-width: 100%;
      width: 100%;
      display: block;
    }
  }
  &.left {
    .fw-content, .content_add{
      order: 3;
    }
  }
  &.right {
    .fw-content, .content_add{
      order: 1;
    }
  }
  .fw-content, .callout {
    width: 50%;
    @media (max-width: $sm-breakpoint) {
      width: 100%;
      padding: 3rem 2rem;
    }
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
      font-size: 3rem;
    }
    .subtitle {
      font-size: 1.5rem;
    }
  }
  .buttons {
    ul {
      list-style: none;
      display: inline-block;
      padding: 0;
      margin: 0;
      li {
        text-align: center;
        padding: 1rem 0rem;
      }
    }
  }
  .titlelinks {
    .links {
      align-self: center;
      ul {
        text-align: left;
        padding: 0;
        margin: 0;
        li a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
  .quotation {
    font-size: 1.8rem;
    text-align: left;
    padding: 0rem 4rem;
    @media (max-width: $sm-breakpoint) {
      padding: 4rem 4rem;
    }
    .quotation-text {
      padding-bottom: 2rem;
      position: relative;
      //the absolute position of the quotes will change with the padding on .quotation
      &:before {
        font-family: "FontAwesome";
        font-size: 4rem;
        position: absolute;
        @at-root .left#{&} {
          content: "\f10d";
          top: -4.5rem;
          left: -5.8rem;
        }
        @at-root .right#{&} {
          content: "\f10e";
          top: -4.5rem;
          right: -5.8rem;
        }
      }
    }
    @media (max-width: $sm-breakpoint) {
      @at-root .right#{&} {
        order: 3;
        .quotation-text:before {
          content: "\f10d";
          top: -7.5rem;
          left: 0;
          right: unset;
          font-size: 6rem;
        }
      }
      @at-root .left#{&} {
        .quotation-text:before {
          top: -7.5rem;
          left: 0;
          font-size: 6rem;
        }
      }
    }
  }
  .callout {
    .stat {
      font-size: 7rem;
    }
  }
  &.noimage {
    padding: 2rem 0rem;
    .fw-content{
      width: 100%;
      &:after {
        //no arrows if there is no image
        display: none !important;
      }
    }
  }
  .fullwidth-button {
    border: 2px solid #000;
    border-bottom-width: 4px;
    background-color: transparent;
    text-decoration: none;
    font-size:  2rem;
    padding: 1rem 2rem;
    display: inline-block;
    width: 100%;
    @at-root .color1#{&} {
      border-color: $mc1-text;
      color: $mc1-text;
    }
    @at-root .color2#{&} {
      border-color: $mc2-text;
      color: $mc2-text;
    }
    @at-root .color3#{&} {
      border-color: $mc3-text;
      color: $mc3-text;
    }
    @at-root .color4#{&} {
      border-color: $mc4-text;
      color: $mc4-text;
    }
    @at-root .color5#{&} {
      border-color: $mc5-text;
      color: $mc5-text;
    }
    @at-root .color6#{&} {
      border-color: $mc6-text;
      color: $mc6-text;
    }
    @at-root .color7#{&} {
      border-color: $mc7-text;
      color: $mc7-text;
    }
  }
  .arrow:after {
    @at-root .right.color1#{&} {
      @include arrow($mc1-bg, "right");
      @media (max-width: $sm-breakpoint) {
          @include arrow($mc1-bg, "bottom");
      }
    }
    @at-root .left.color1#{&} {
      @include arrow($mc1-bg, "left");
      @media (max-width: $sm-breakpoint) {
          @include arrow($mc1-bg, "top");
      }
    }
    @at-root .right.color2#{&} {
      @include arrow($mc2-bg, "right");
      @media (max-width: $sm-breakpoint) {
          @include arrow($mc2-bg, "bottom");
      }
    }
    @at-root .left.color2#{&} {
      @include arrow($mc2-bg, "left");
      @media (max-width: $sm-breakpoint) {
          @include arrow($mc2-bg, "top");
      }
    }
    @at-root .right.color3#{&} {
      @include arrow($mc3-bg, "right");
      @media (max-width: $sm-breakpoint) {
          @include arrow($mc3-bg, "bottom");
      }
    }
    @at-root .left.color3#{&} {
      @include arrow($mc3-bg, "left");
      @media (max-width: $sm-breakpoint) {
          @include arrow($mc3-bg, "top");
      }
    }
    @at-root .right.color4#{&} {
      @include arrow($mc4-bg, "right");
      @media (max-width: $sm-breakpoint) {
          @include arrow($mc4-bg, "bottom");
      }
    }
    @at-root .left.color4#{&} {
      @include arrow($mc4-bg, "left");
      @media (max-width: $sm-breakpoint) {
          @include arrow($mc4-bg, "top");
      }
    }
    @at-root .right.color5#{&} {
      @include arrow($mc5-bg, "right");
      @media (max-width: $sm-breakpoint) {
          @include arrow($mc5-bg, "bottom");
      }
    }
    @at-root .left.color5#{&} {
      @include arrow($mc5-bg, "left");
      @media (max-width: $sm-breakpoint) {
          @include arrow($mc5-bg, "top");
      }
    }
    @at-root .right.color6#{&} {
      @include arrow($mc6-bg, "right");
      @media (max-width: $sm-breakpoint) {
          @include arrow($mc6-bg, "bottom");
      }
    }
    @at-root .left.color6#{&} {
      @include arrow($mc6-bg, "left");
      @media (max-width: $sm-breakpoint) {
          @include arrow($mc6-bg, "top");
      }
    }
    @at-root .right.color7#{&} {
      @include arrow($mc7-bg, "right");
      @media (max-width: $sm-breakpoint) {
          @include arrow($mc7-bg, "bottom");
      }
    }
    @at-root .left.color7#{&} {
      @include arrow($mc7-bg, "left");
      @media (max-width: $sm-breakpoint) {
          @include arrow($mc7-bg, "top");
      }
    }
  }
  .content_add, .image_add {
    width: 45%;
  }
  &.noimage .content_add {
    width: 100%;
  }
  .image_add {
    order: 2;
  }
}

// /* Combined buttons and links */
.fullwidth {
  .fullwidthlinks {
    .links {
      align-self: center;
      ul {
        text-align: left;
        padding: 0;
        margin: 0;
        li a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
  &.noimage {
    .fullwidthlinks {
      width: 100%;
      &:after {
        //no arrows if there is no image
        display: none !important;
      }
    }
  }
}
