header {
  flex: none;
  position: fixed;
  width: 100%;
  z-index: 5;
  .header-buttons {
    position: absolute;
    top: 0;
    left: 0;
    .header-button {
      display: block;
      position: absolute;
      &.btn-menu {
        top: 0;
        left: 0;
      }
      &.btn-search {
        top: 6rem;
        left: 0;
        @media (max-width: $sm-breakpoint) {
          top: 0 !important;
          left: 6rem !important;
        }
      }
    }
  }
  .logo-block {
    position: absolute;
    top: 0;
    left: 60px;
    height: 120px;
    width: 120px;
    background-color: $sandstone;
    opacity: 0.9;
    display: flex;
    align-items: center;
    text-align: center;
    &:hover {
      opacity: 1;
    }
    img {
      max-width: 85%;
    }
    &.scrolled {
      display: none;
    }
    @media (max-width: $sm-breakpoint) {
      display: none;
    }
  }
  .header-button {
    width:60px;
    height: 60px;
    border: 0px;
    color: $white;
    .label {
      text-transform: uppercase;
      font-size: 1rem;
    }
    &.btn-menu {
      background-color: $gold;
    }
    &.btn-search {
      background-color: $maroon;
    }
  }
  .menubar {
    display: none;
    position: absolute;
    left: 120px;
    right: 0;
    top: -60px;
    &.scrolled {
      display: block;
    }
    .menu {
      background-color: $sandstone;
      height: 6rem;
      flex-grow:1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0rem 2.5rem;
      .logo {
        width: 200px;
        img {
          max-width: 100%;
        }
      }
      .menulinks {
        list-style: none;
        li {
          display: inline-block;
          text-transform: uppercase;
          &:not(:last-child):after {
            content: " | ";
            padding: 0rem 1rem;
          }
          a {
            text-decoration: none;
            color: $charcoal;
          }
        }
      }
    }
    @media (max-width: $sm-breakpoint) {
      display: block;
      top: 0 !important;
      .menu {
        opacity: 0.9;
        .menulinks {
          display: none;
        }
      }
    }
  }
}
