header {
  position: fixed;
  z-index: 2;
  width: 100%;
  max-width: 1400px;
  .header-buttons {
    position: absolute;
    top: 0;
    left: 0;
    .header-button {
      display: block;
      position: absolute;
      font-family: $univers;
      font-weight: 500;
      &.btn-menu {
        top: 0;
        left: 0;
      }
      &.btn-search {
        top: 6.25rem;
        left: 0;
        @media (max-width: $sm-breakpoint) {
          top: 0;
          left: 6rem;
          transform: none !important;
        }
      }
    }
  }
  .logo-block {
    position: absolute;
    top: 0;
    left: 6.4rem;
    height: 12.25rem;
    width: 12.25rem;
    background-color: $sandstone;
    opacity: 0.9;
    display: flex;
    align-items: center;
    text-align: center;
    transition: opacity 0.2s ease;
    &:hover {
      opacity: 1;
    }
    a {
      width: 100%;
    }
    img {
      max-width: 85%;
    }
    @media (max-width: $sm-breakpoint) {
      display: none !important;
    }
  }
  .header-button {
    width:60px;
    height: 60px;
    border: 0px;
    color: $white;
    transition: background-color 0.2s ease;
    .label {
      text-transform: uppercase;
      font-size: 1rem;
    }
    &.btn-menu {
      i {
        @extend .fa-bars;
      }
      &.open i {
        @extend .fa-times;
      }
      background-color: $gold;
      &:hover {
        background-color: $dark-gold;
      }
    }
    &.btn-search {
      background-color: $maroon;
      &:hover {
        background-color: $darkest-maroon;
      }
    }
  }
  .menubar {
    margin-left: 120px;
    max-width: 1280px;
    transform: translateY(-60px);
    transition: transform 300ms;
    .menu {
      background-color: $sandstone;
      height: 6rem;
      flex-grow:1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0rem 1.5rem;
      border-bottom: 1px solid $sandstone;
      box-shadow: -1px 1px 3px 0 rgba(0, 0, 0, .25);
      .logo {
        width: 180px;
        img {
          max-width: 100%;
        }
      }
      .multilinks {
        list-style: none;
        font-family: $univers;
        font-weight: 500;
        li {
          display: inline-block;
          text-transform: uppercase;
          &:not(:last-child):after {
            content: " | ";
            padding: 0rem 1rem;
          }
          a {
            text-decoration: none;
            color: $charcoal;
          }
        }
      }
    }
    @media (max-width: $sm-breakpoint) {
      top: 0;
      display: block !important;
      transform: none !important;
      .menu {
        opacity: 0.9;
        .multilinks {
          display: none;
        }
      }
    }
  }
  &.scrolled {
    .menubar {
      transform: translateY(0px);
    }
    .btn-menu, .btn-search {
      box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .25);
    }
  }
}

@media (max-width: $sm-breakpoint) {
  header {
    display: flex;
    background-color: $sandstone;
    padding-left: 0.3rem;
    padding-top: 0.3rem;
    box-shadow: -1px 1px 3px 0 rgba(0, 0, 0, .25);
    .header-buttons {
      position: relative;
      .header-button {
        width: 57px;
        height: 57px;
      }
    }
    .menubar {
      position: relative;
      .menu {
        box-shadow: none;
      }
    }
  }
}


//css for editing environment
body.admin {
  header {
    z-index: 70000;
    .header-buttons .btn-search {
      top: 0;
      left: 6rem;
      transform: none !important;
    }
    .logo-block {
      display: none !important;
    }
    .menubar {
      display: flex !important;
      top: 0 !important;
      transform: none !important;
      .menu {
        .mgnlEditor.mgnlPlaceholder {
          width: 40% !important;
          .mgnlEditorBar.mgnlEditor.component {
            margin-bottom: 0px !important;
          }
        }
      }
      .multilinks {
        margin: 0;
        padding: 0;
        .listItems_add:after {
          display: none;
        }
      }
    }
  }
}
