nav.main-menu {
  position: absolute;
  left: 0;
  top: 0;
  background-color: $light-sandstone;
  color: $verydark;
  width: 300px;
  z-index: 6;
  height: 100%;
  overflow:hidden;
  padding: 2rem;
  transform: translateX(-100%);
  a { color: $verydark; text-decoration: none; }
}
