nav.main-menu {
  display: none;
  position: fixed;
  width: 300px;
  max-width: calc(100vw - 62px);
  height: 100vh;
  overflow:hidden;
  z-index: 2;
  line-height: 1.4;
  a { color: $verydark; text-decoration: none; }
  .menu-content {
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    overflow-y: auto;
    background-color: $light-sandstone;
    color: $verydark;
    padding: 2rem;
  }
  .navigation-up {
    border-top: 1px solid $dark-sandstone;
    border-bottom: 1px solid $dark-sandstone;
    margin: 0 -2rem 2rem -2rem;
    overflow: hidden;
    a {
      display: block;
      float: left;
      width: 50%;
      padding: 1rem;
      &.top {
        border-left: 1px solid $dark-sandstone;
      }
    }
  }
  .navigation-current {
    font-size: 1.8rem;
    font-weight: bold;
    color: $maroon;
  }
  .navigation-children {
    list-style-type: none;
    padding-left: 2rem;
    font-size: 1.5rem;
  }
}
