nav.main-menu {
  width: 300px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: $light-sandstone;
  color: $very-dark;
  z-index: 6;
  display: none;
  .menu-content {
    overflow:hidden;
    margin: 2rem;
  }
}
