.organization-info {
  background-color: $maroon;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 1.5rem 2rem;
  @media (max-width: $sm-breakpoint) {
    align-items: flex-start;
  }
  a {
    color: $white;
    text-decoration: none;
  }
  .parent-org {
    font-size: 1.5rem;
    padding-bottom: 0.3rem;
    color: $white;
    @media (max-width: $sm-breakpoint) {
      padding-bottom: 0.7rem;
    }
  }
  .department-title {
    margin-bottom: 0;
    font-family: $univers;
    font-size: 3.4rem;
    font-weight: 700;
    @media (max-width: $sm-breakpoint) {
      font-size: 2.6rem;
      line-height: 3.2rem;
    }
  }
  &.no-image {
    height: 122.5px;
    margin-left: 186.5px;
    align-items: flex-start;
    justify-content: center;
    padding-left: 4rem;
    @media (max-width: $sm-breakpoint) {
      margin-left: 0;
      height: 125px;
      padding-left: 1rem;
    }
  }
}

body.admin {
  .organization-info.no-image {
    margin-left: 0;
    width: 100%;
  }
  .addParentOrg {
    width: 25%;
    .mgnlEditorBar.mgnlEditor.component {
      margin-bottom: 0 !important;
    }
  }
}
