*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  background-color: $whitesmoke;
  overflow: auto;
}

main {
  min-height: 500px;
}

body {
  position: relative;
  margin: 0 auto;
  font-family: $univers;
  font-weight: 400;
  max-width: 2000px;
  overflow-x: hidden;
  box-shadow: 1px 1px 5px #cfcfcf;
}

.page-container {
  background-color: $white;
}

.contentcolumn {
  min-height: 32rem;
}

 .contentcolumn .gato-section-full:not(.gato-section-headline) {
  padding: 4rem 0rem;
  @media (max-width: $sm-breakpoint) {
    padding: 2rem 0rem;
  }
}

.contentcolumn .gato-section-full.pattern {
  padding: 0rem;
}

.gato-section-full {
  .gato-section {
    margin-right: 0px;
  }
  &.has-background {
    background-color: $sandstone;
    .gato-section {
      padding-top: 0;
    }
  }
  .section-title {
    margin-top: 2rem;
  }
  .section-title.has-text {
    margin-bottom: 1.5rem;
  }
  .section-text {
    margin-bottom: 2rem;
  }
  .megasection-bar {
    padding: 0;
  }
}

.contentcolumn .headline {
  font-family: $garamond;
  color: $verydark;
  font-weight: 400;
  margin: 3rem 0rem 1.5rem 0rem;
  font-size: 3.6rem;
  text-align: center;
  line-height: 4.2rem;
  @media (max-width: $sm-breakpoint) {
    text-align: left;
  }
}

.contentcolumn.no-intro {
  .headline {
    margin-bottom: 4rem;
  }
}

.gato-section-full .gato-section-centered {
  max-width: 1200px;
}

.gato-section-full.pattern {
  .gato-section-centered {
    max-width: none;
  }
}

.gato-section-full.has-background {
  margin-bottom: 0;
}

.gato-section-full {
  .section-title {
    margin-bottom: 1.5rem;
  }
}
.layout-column {
  padding: 2rem;
  .column_paragraph:last-of-type {
    margin: 0;
  }
}

.column_paragraph {
  ul:last-child, ol:last-child, li:last-child {
    margin-bottom: 0rem;
  }
  h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    &:first-child {
      margin-top: 0;
    }
  }
  a {
    transition: all 200ms ease;
  }
}

.breadcrumbs {
  padding: 1rem 2rem 0rem 2rem;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
  @media (max-width: $sm-breakpoint) {
    display: none !important;
  }
  a {
    text-decoration: none;
    color: $charcoal;
    font-weight: 400;
    &:hover {
      text-decoration: underline;
    }
  }
  .separator i:before{
    content: '/';
  }
}
.contentcolumn .gato-section-full.gato-section-title-separator {
  padding: 0;
  .intro-title-border {
    height: 1px;
    background-color: $almondmilk;
    margin: 0 2rem;
  }
}

.page-intro-text {
  padding: 0 2rem;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 4rem;
  line-height: 2.8rem;
  color: $verydark;
  @media (max-width: $sm-breakpoint) {
    text-align: left;
    max-width: none;
    margin: unset;
  }
  p {
    margin: 0;
    a{
      color: $content-link-text;
    }
  }
}
