@media (max-width: $sm-breakpoint) {
  .searchbreadcrumbs {
    display: none;
  }
}



#search-results {
  padding-top: 2rem;
  min-height: 25rem;
  .layout-column.search-title {
    width: 100%;
    text-align: center;
    @media (max-width: $sm-breakpoint) {
      text-align: left;
    }
    h1 {
      font-size: 3.2rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }
  }
  .line-under-breadcrumbs {
    margin-left: 0;
    margin-right: 0;
  }
  .global-search .all-results-button {
    text-align: right;
    @media (max-width: $sm-breakpoint) {
      text-align: left;
    }
    a.button {
      background-color: $sandstone;
      color: $very-dark;
      border-color: $sandstone;
      padding: 1rem 2rem 0.9rem 2rem;
      border-width: 1px;
      border-style: solid;
      border-radius: 2px;
      transition: all 0.2s ease;
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 2rem;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      box-shadow: none;
      text-transform: none;
      &:hover {
        box-shadow: inset 0 -2px 0 0 $sandstone;
        transform: translate(0px, -3px);
      }
    }
  }
  .pagination {
    .pagination-link[aria-selected="true"] {
      background-color: $maroon;
      color: $white;
    }
    .pagination-link, .pagination-link.next.enabled, .pagination-link.next,
    .pagination-link.previous, .pagination-link.previous.enabled, .pagination-link[aria-selected="true"] {
      &:hover {
        background-color: $maroon;
        color: $white;
      }
    }
  }
}
