@import "gato-template/css/variables";
@import "gato-template-mobilefirst/css/colors";
@import "gato-template-mobilefirst/css/contenttypes";

$univers: 'Univers W01', Helvetica, Calibri, Arial, sans-serif;
$garamond: 'Adobe Garamond W01', Garamond, 'Goudy Old Style', 'Times New Roman', serif;

//Search Drop Down
$search-dd-overlay-background-color:  $gold;
$search-dd-dropdown-background-color: $sandstone;
$search-dd-dialog-font-family:        $univers;
$search-dd-input-line-color:        $gold;
$search-dd-input-color:               $very-dark;
$search-dd-input-placeholder-color:   $gold;
$search-dd-icon-color:                $gold;
$search-dd-radio-label-color:         $darkest-gold;
$search-dd-suggested-results-border:  $gold;
$search-dd-suggested-result-title-color: $gold;
$search-dd-suggested-result-link-color: $blue;
$search-dd-suggested-result-hover-color: $light-sandstone;

// Search Results
$search-result-title:              $dark-gold;
$search-result-date:               $dark-gray;
$search-result-url:                $dark-gray;
$search-pagination-selected-background: $sandstone;
$search-pagination-hover-background:    $sandstone;
$search-pagination-link-color:     $medium-light-gray;

// Site Search variables
$sitesearch-results-page-title-color:  $maroon;
$sitesearch-result-search-input:       $gold;
$sitesearch-result-search-color:       $gold;
$sitesearch-help-text-color:           $gold;
$sitesearch-font-family:               $univers;

$page-indicator-inactive: #ACACAC;

$content-link-hover: $sandstone;
