$admissionsred:       #CA2A2D;

$lightest-admissionsred:       #D55557; //20% lighter than admissionsred
$light-admissionsred:          #CF3F42; //10% lighter than admissionsred
$dark-admissionsred:           #B62629; //10% darker than admissionsred
$darker-admissionsred:         #A22224; //20% darker than admissionsred
$admissionsred-shadow:         #8D1D1F; //30% darker than admissionsred

$template-color-count:      7;

$mc12-name:                  'Red';
$mc12-bg:                    $admissionsred;
$mc12-text:                  $white;
$mc12-link:                  $white;
$mc12-header:                $white;
$mc12-border:                $admissionsred-shadow;
$mc12-comp-bg:               $lightest-admissionsred;
$mc12-comp-text:             $mc12-text;
$mc12-comp-link:             $mc12-link;
$mc12-comp-header:           $mc12-header;
$mc12-comp-border:           $mc12-border;
$mc12-hilite-bg:             $white;
$mc12-hilite-text:           $very-dark;
$mc12-grad-top:              $light-admissionsred;
$mc12-grad-bottom:           $dark-admissionsred;
$mc12-comp-grad-top:         $lightest-admissionsred;
$mc12-comp-grad-bottom:      $admissionsred;
$mc12-shadow:                $admissionsred-shadow;
