//Patterns
.mobilefirst-pattern {
  .pattern-content {
    //color adjustments
    //blue needs white links and buttons
    &.color4 {
      a {
        border-color: $white;
        color: $white;
      }
    }
    //sandstone and old gold need maroon links and buttons
    &.color6, &.color7 {
      a {
        border-color: $maroon;
        color: $maroon;
      }
    }
    //all of the text should be maroon for the old gold patterns
    &.color7 {
      .title, .text, .stat, .quotation-text, .quotation-source {
        color: $maroon;
      }
    }
  }
  //image next to blue content should have light overlay
  .pattern-image.color4 {
    .overlay-left {
      background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
      @media (max-width: $sm-breakpoint) {
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
      }
    }
    .overlay-right {
      background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
      @media (max-width: $sm-breakpoint) {
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
      }
    }
  }
}
