.gato-custom-column {
  width: 800px;
  float: left;
  background-color: #ffffff;
  padding: 20px;
  font-size: 12px;

  .gato-custom-block {
    padding: 10px 0px 10px 0px;
    margin-bottom: 10px;
    overflow: hidden;
  }

  .gato-custom-block p {
    font-size: 14px;
  }
  
  .inherited {
    background-color: blue;
    color: white;
    padding: 2px;
  }
}
