.filterable-search.directory {
  .listitem-alpha {
    display: none;
  }

  .listitem-position {
    margin-bottom: 1rem;
  }
  .listitem-email, .listitem-office, .listitem-phone {
    margin-bottom: 0.5rem;
  }
  &.list-view {
    .filtered-results {
      ul.results {
        & > li {
          .listitem {
            .image-container {
              display: block;
            }
          }
        }
      }
    }
  }
  &.grid-view {
    .filtered-results {
      ul.results {
        .result {
          .info-container {
            .listitem-email, .listitem-office, .listitem-phone, .listitem-description {
              display: none;
            }
          }
        }
      }
    }
  }
}
