$filterable-search-divider-color: lightgray !default;
$filterable-search-results-bg-color: white !default;
$filterable-search-result-title-color: darkgray !default;
$filterable-search-active-filter-bg-color: darkgray !default;
$filterable-search-active-filter-color: white !default;
$filterable-search-toggle-filters-button-color: darkgray !default;
$filterable-search-selected-filter-bg-color: darkgray !default;
$filterable-search-selected-filter-color: white !default;
$filterable-search-header-font: serif !default;

%active-filter {
  background-color: $filterable-search-active-filter-bg-color;
  color: $filterable-search-active-filter-color;
  font-size: 1.4rem;
  padding: 0.5rem 1rem 0.6rem 1rem;
  border-radius: 2px;
  margin-right: 1rem;
  button.remove-filter {
    border: 0px;
    background-color: transparent;
    padding: 0;
    i {
      margin-left: 8px;
    }
  }
}

.fs-button {
  border: 0px;
  background: transparent;
  font-weight: 600;
  i {
    margin-right: 10px;
  }
}

.filterable-search-container {
  padding: 0rem 2rem;
  .search-separator {
    height: 0;
    border-bottom: 1px solid $filterable-search-divider-color;
    padding-top: 2rem;
  }
  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid $filterable-search-divider-color;
    @media (max-width:$sm-breakpoint) {
      display: block;
    }
    .btn-toggle-filters {
      color: $filterable-search-toggle-filters-button-color;
      padding: 1rem 1.5rem;
      font-weight: 600;
      background-color: transparent;
      border: 1px solid $filterable-search-toggle-filters-button-color;
      border-radius: 2px;
      @media (max-width:$sm-breakpoint) {
        width: 100%;
      }
      i {
        @extend .fa-filter;
        margin-right: 5px;
      }
      .label:after {
        content: 'Filter/Search';
        @media (max-width:$sm-breakpoint) {
          content: 'Filter';
        }
      }
      .filter-count {
        display: none;
        @media (max-width: $sm-breakpoint) {
          display: inline;
        }
      }
    }
    .toggle-view {
      @media (max-width: $sm-breakpoint) {
        display: flex;
        justify-content: space-between;
        padding-top: 2rem;
      }
      .btn-list-view, .btn-grid-view {
        &:disabled, &[disabled] {
          color: #757575;
        }
      }
      .btn-list-view {
        margin-right: 1rem;
      }
    }
  }
  .filterable-search {
    display: flex;
    position: relative;
    @media (max-width:$sm-breakpoint) {
      margin-top: 2rem;
    }
    .filter-container {
      display: none;
      width: 30%;
      @media (max-width:$sm-breakpoint) {
        width: 100vw;
      }
      .filter-groups {
        @media (max-width:$sm-breakpoint) {
          padding: 2rem;
        }
        .mobile-close-modal {
           display: none;
           @media (max-width:$sm-breakpoint) {
             display: flex;
           }
           justify-content: flex-end;
        }
        .btn-close-modal {
          color: $filterable-search-toggle-filters-button-color;
          border: 0;
          display: flex;
          flex-direction: column;
          background-color: transparent;
          align-items: center;
          padding: 0;
          i.fa-close {
            font-size: 2rem;
          }
          span {
            font-size: 1.2rem;
            font-weight: 500;
          }
        }
        .reset-and-resultcount {
          display: flex;
          justify-content: space-between;
          #mobile-result-count {
            display: none;
            @media (max-width: $sm-breakpoint) {
              display: block;
            }
          }
        }
      }
      .filter-by {
        font-size: 2.5rem;
        @media (max-width:$sm-breakpoint) {
          display: block;
          padding-bottom: 1.5rem;
          border-bottom: 1px solid $filterable-search-divider-color;
        }
      }
      ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
      }
      .select-filters {
        width: 100%;
        .header {
          padding: 1rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 1px solid #c9c9c9;
          border-radius: 2px;
          background-color: $filterable-search-results-bg-color;
          i {
            font-weight: bold;
          }
        }
        .body {
          display: none;
          padding: 0.5rem;
          border: 1px solid $filterable-search-divider-color;
          border-radius: 2px;
          li {
            display: flex;
            align-items: center;
            border: 1px solid $filterable-search-divider-color;
            padding: 0.6rem 0rem 0.6rem 1rem;
            border-radius: 2px;
            margin-bottom: 0.5rem;
            &:last-child {
              margin-bottom: 0;
            }
            &.selected {
              background-color: $filterable-search-selected-filter-bg-color;
              color: $filterable-search-selected-filter-color;
            }
          }
          span.filter-cbx {
            min-width: 25px;
            width: 25px;
            height: 25px;
            display: inline-block;
            border: 1px solid #cbcbcb;
            border-radius: 2px;
            vertical-align: middle;
            position: relative;
            &.is-checked {
              border-width: 2px;
              border-color: $filterable-search-selected-filter-color;
              &:before {
                font-family: FontAwesome;
                content: "\f00c";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
              }
            }
          }
          div.filter-label {
            display: inline-block;
            vertical-align: middle;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            font-weight: 500;
            font-size: 1.3rem;
          }
        }
        .active-filters {
          display: flex;
          flex-wrap: wrap;
          margin-top: 1.5rem;
          li {
            padding-bottom: 3.5rem;
          }
          .active-filter {
            @extend %active-filter;
          }
        }
        &.open {
          .header i{
            @extend .fa-angle-up;
          }
        }
      }
      .apply-filters-spacer {
        min-height: 8rem;
      }
      .apply-filters {
        display: none;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        box-shadow: -1px 1px 3px 0 rgba(0,0,0,0.75);
        padding: 2rem;
        .btn-apply-filters {
          width: 100%;
          border: 1px solid #501214; //TODO: Use a variable for the color
          padding: 1rem;
          background-color: transparent;
          color: #501214; //TODO: Use a variable for the color
          font-weight: 600;
        }
      }
    }
    .filtered-results {
      width: 100%;
      padding-top: 4rem;
      @media (max-width:$sm-breakpoint) {
        padding-top: 2rem;
      }
      .anchor-link-container {
        position: relative;
        .alphabet-anchors {
          display: flex;
          margin-bottom: 4rem;
          overflow: scroll;
          .anchor-letter {
            font-size: 2.5rem;
            font-weight: 600;
            margin-right: 5px;
            min-width: 4rem;
            min-height: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2px;
            text-decoration: none;
            color: #222;
            &.active {
              color: $white;
              background-color: $maroon;
            }
            &.last {
              margin-right: 0;
            }
          }
          .alpha-arrow {
            display: none;
            background-color: $white;
            color: $maroon;
            border: none;
            font-size: 2rem;
            min-width: 4rem;
            min-height: 4rem;
            &.right {
              position: absolute;
              right: 0;
            }
            &.left {
              position: absolute;
              left: 0;
            }
            &.touch {
              display: none !important;
            }
          }
        }
      }
      

      #result-list {
        margin: 2rem 0rem;
      }
      ul.results {
        list-style: none;
        padding-left: 0;
        margin: 0;
        & > li {
          padding: 3rem 1.5rem;
          border-top: 1px solid $filterable-search-divider-color;
          a {
            text-decoration: underline;
            color: $filterable-search-result-title-color;
            &:active, &:visited {
              color: $filterable-search-result-title-color;
            }
          }
          .listitem-title {
            font-weight: 700;
            margin-bottom: 1rem;
            font-size: 1.8rem;
          }
          .listitem-description {
            a {
              color: $content-link-text;
              &:hover {
                background-color: $content-link-hover;
              }
            }
            p {
              margin-top: 0rem;
              margin-bottom: 3rem;
              &:last-child {
                margin-bottom: 0;
              }
            }
            ul, ol {
              list-style-type: disc;
              margin-top: 1rem;
              margin-bottom: 3rem;
              li {
                margin-top: 0rem;
                margin-bottom: 1rem;
                &:last-child {
                  margin-bottom: 0rem;
                }
              }
            }
          }
          &.listitem-hidden {
            display: none;
          }
          &.has-background {
            background-color: $filterable-search-results-bg-color;
          }
        }
        &:last-child {
          border-bottom: 1px solid $filterable-search-divider-color;
        }
      }
      #no-results-message {
        text-align: center;
        div {
          font-size: 2rem;
          font-weight: 500;
          padding: 1rem 0;
        }
        &.message-hidden {
          display: none;
        }
      }
      .alpha-header {
        font-size: 3.2rem;
        font-family: $filterable-search-header-font;
        padding: 2rem 0rem;
        display: block;
      }
      .listitem {
        display: flex;
      }
    }
    &.list-view {
      .filtered-results {
        ul {
          li {
            .listitem {
              .info-container {
                .listitem-title {
                  margin-top: -0.8rem;
                  @media (max-width:$mn-breakpoint) {
                    margin-top: 2rem;
                  }
                }
                .no-margin {
                  margin: 0;
                }
              }
              .image-container {
                display: none;
                width: 120px;
                height: 120px;
                margin-right: 3rem;
                flex: none;
                img {
                  width: 100%;
                  height: 100%;
                  border-radius: 2px;
                }
                .btnShowMoreContent {
                  display: none;
                }
              }
              @media (max-width:$mn-breakpoint) {
                display: block;
                .image-container {
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
        }
      }
    }
    &.grid-view {
      .filtered-results {
        position:relative;
        .alpha-header {
          border-bottom: 1px solid $filterable-search-divider-color;
          margin-bottom: 3rem;
        }
        ul.results {
          display: flex;
          flex-wrap: wrap;
          margin: 0 -10px;
          .result {
            border: 0;
            padding: 0;
            @media (max-width:$xs-breakpoint) {
              padding: 0rem;
            }
            width: calc((100%/4) - 20px);
            margin: 0 10px 20px 10px;
            @at-root .filters-open#{&} {
              width: calc((100%/3) - 20px);
            }
            @media (max-width:$sm-breakpoint) {
              width: calc((100%/2) - 20px);
            }
            @media (max-width:$xs-breakpoint) {
              width: 100%;
            }
            &.has-background {
              background-color: $white;
            }
            .listitem {
              display: block;
              .image-container {
                flex: none;
                position: relative;
                @media (max-width:$sm-breakpoint) {
                  width: 100%;
                  height: 100%;
                }
                img {
                  width: 100%;
                  height: 100%;
                  display: block;
                  border-radius: 2px;
                }
                .btnShowMoreContent {
                  position: absolute;
                  right: 8px;
                  bottom: 8px;
                  background-color: $white;
                  border: 0px;
                  border-radius: 2px;
                  padding: 0;
                  width: 2.5rem;
                  height: 2.5rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  @media (max-width:$sm-breakpoint) {
                    width: 3.2rem;
                    height: 3.2rem;
                  }
                  i {
                    color: $filterable-search-toggle-filters-button-color;
                  }
                }
                &.arrow {
                  &:after, &:before {
                    bottom: -5px;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                  }
                  &:after {
                    border-color: rgba(255, 255, 255, 0);
                    border-bottom-color: #fff;
                    border-width: 19px;
                    margin-left: -19px;
                    z-index: 1;
                  }
                  &:before {
                    border-color: rgba(0, 0, 0, 0);
                    border-bottom-color: $filterable-search-divider-color;
                    border-width: 20px;
                    margin-left: -20px;
                  }
                }
              }
              .listitem-title {
                padding-top: 2rem;
              }
              .listitem-description {
                display: none;
              }
            }
          }
        }
        &[data-headers=false] {
          ul.results:last-child {
            border-bottom: 0px;
          }
        }
      }
    }
    #more-content-popup {
      background-color: white;
      position: absolute;
      right: 0;
      left: 0;
      display: none;
      border: 1px solid $filterable-search-divider-color;
      border-radius: 2px;
      padding: 3rem;
      @media (max-width:$sm-breakpoint) {
        padding: 1.5rem;
      }

      #btn-close-more-content-popup {
        color: $filterable-search-toggle-filters-button-color;
        border: 0;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        align-items: center;
        padding: 0;
        position: absolute;
        right: 10px;
        top: 10px;
        i.fa-close {
          font-size: 2rem;
        }
        span {
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
      .popup-content {
        .listitem-title {
          font-weight: 700;
          font-size: 1.8rem;
          padding-bottom: 2rem;
        }
        a .listitem-title {
          text-decoration: underline;
          color: $filterable-search-result-title-color;
          &:active, &:visited {
            color: $filterable-search-result-title-color;
          }
        }
        .listitem-description {
          p {
            margin-top: 0rem;
            margin-bottom: 3rem;
            &:last-child {
              margin-bottom: 0;
            }
          }
          ol, ul {
            margin-top: 1rem;
            margin-bottom: 3rem;
            li {
              margin-top: 0rem;
              margin-bottom: 1rem;
              &:last-child {
                margin-bottom: 0rem;
              }
            }
          }
        }
      }
    }
    #backtotop {
      background-color: $white;
      color: $maroon;
      border: 1px solid $maroon;
      font-weight: 600;
      padding: 1rem;
      position: fixed;
      right: 20px;
      bottom: 120px;
      display: none;
      i {
        margin-right: 0.5rem;
      }
      @media (max-width:$sm-breakpoint) {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        width: 60px;
        height: 60px;
        bottom: 90px;
        i {
          margin-right: 0;
        }
      }
    }
  }
  &.filters-open {
    .controls {
      .btn-toggle-filters {
        i {
          @extend .fa-eye-slash;
        }
        .label:after {
          content: 'Hide Filter';
        }
      }
    }
    .filtered-results {
      width: 70%;
      order: 2;
      .results-header {
        justify-content: flex-end;
        .btn-show-filters {
          display: none;
        }
      }
    }
    .filter-container {
      display: block;
      padding-right: 3rem;
      @media (max-width:$sm-breakpoint) {
        display: block;
        position: fixed;
        background-color: white;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10;
        padding-right: 0;
        overflow: scroll;
      }
    }
  }
}

.filterable-search-container, .filter-container {
  .search-container {
    @media (max-width:$sm-breakpoint) {
      display: none;
    }
    position: relative;
    .fs-search {
      border: 1px solid #cbcbcb;
      display: block;
      padding: 1rem;
      margin: 2rem 0rem;
      box-sizing: border-box;
      width: 100%;
      -webkit-appearance: none;
      border-radius: 2px;
      padding-right: 7.5rem;
    }
    #search-field::-ms-clear {
      display: none;
    }
    #search-field:-ms-input-placeholder {
      color: #777;
    }
    button.btn-clear-search-field {
      display: none;
      position: absolute;
      top: 0;
      right: 45px;
      border: 0;
      background-color: transparent;
      height: 100%;
      color: #6d6d6d;
    }
    button.btn-search-list-items {
      background-color: #501214; //TODO: Use variable
      color: #fff; //TODO: Use variable
      position: absolute;
      right: 0;
      top: 0;
      border: 0px;
      height: 100%;
      padding: 1rem 1.5rem;
      border-radius: 0 2px 2px 0;
    }
    &.mobile {
      display: none;
      @media (max-width:$sm-breakpoint) {
        display: block;
        #mobile-search-field {
          margin-top: 0;
        }
      }
    }
  }
}

.filterable-search-intro.has-background.gato-section-full {
  margin-bottom: 5rem;
}

@import "gato-area-filterable-search/css/directory";
