.gato-events {
  div.txst-eventdetail {
    a {
      color: $maroon;
      text-decoration: none;
    }

    .txst-eventdetail-dates{
      font-size: 1.5rem;
      abbr {
        border: none;
        font-style: italic;
      }
    }

    .gato-accordion-header {
      [data-eq~="200px"] & {
        margin: 0;
        padding: 1rem;
      }
      h3 { margin: 0 0 0.5rem; }
    }
    div.gato-accordion-content {
      padding: 3rem;
      letter-spacing: -1rem;
      [data-eq~="200px"] & {
        padding: 1rem;
      }
      & > * { letter-spacing: normal; }
      a {
        text-decoration: underline;
        margin: 0;
        padding: 0;
        &:hover{
          background: transparent;
          text-decoration: none !important;
        }
      }
    }

    .thumb-container {
      @extend .grid-cell;
      width: 100%*1.0/6.0;
      [data-eq~="1200px"] & { width: 25%; }
      [data-eq~="600px"] & { width: 100%; }
      .txst-eventdetail-thumbnail {
        max-height: 24rem;
        overflow: hidden;
        [data-eq~="800px"] & { max-height: 18rem; }
        [data-eq~="600px"] & { max-height: 64rem; }
        [data-eq~="400px"] & { max-height: 32rem; }
        [data-eq~="200px"] & { display: none; }
        img {
          width: 100%;
        }
      }
      .txst-eventdetail-addtocalendar {
        margin: 3rem 3rem 1rem 3rem;
        padding: 0;
        display: table;
        min-height: 5rem;
        margin: 0;
        [data-eq~="400px"] & { margin: 2rem 2rem 0.5rem 2rem; }
        i.fa, span.linktext {
          display: table-cell;
          padding-right: 1rem;
          vertical-align: middle;
        }
        span.linktext{
          text-decoration: underline;
          line-height: 2rem;
        }

        i.fa {
          font-size: 3.2rem;
        }
        &:hover{
          .linktext{
            text-decoration: none;
          }
        }
      }
    }

    .detail-container {
      @extend .grid-cell;
      width: 100%*5.0/6.0;
      padding: 0 0 0 5rem;
      [data-eq~="1200px"] & { width: 75%; }
      [data-eq~="800px"] & { padding: 0 0 0 2rem; }
      [data-eq~="600px"] & { width: 100%; padding: 2rem 0 0 0; }
      [data-eq~="200px"] & { display: none; }
    }
    .txst-eventdetail-detailsbox {
      margin: 0;
      padding: 1rem 1.8rem;
      border-radius: 0;
      background: $dark-sandstone;
      [data-eq~="600px"] & { background: none; padding: 0; }
      dt, dd {
        padding: 0;
        overflow: hidden;
      }
      dt {
        float: left;
        clear: both;
        font-weight: bold;
        margin: 0 1rem 0.5rem 0;
      }
      dd {
        margin: 0rem 0rem 0.5rem 0;
      }
    }

    .txst-eventdetail-description {
      margin-top: 3rem;
      [data-eq~="600px"] & { display: none; }
    }

    .txst-eventdetail-detailsbox a,
    .txst-eventdetail-description a {
      [data-eq~="200px"] & { text-decoration: underline; }
    }

    .txst-eventdetail-morelink {
      display: none;
      margin-top: 2rem;
      text-align: right;
      color: $maroon;
      text-decoration: underline;
      i.fa {
        padding-left: 0.75rem;
        padding-right: 1.5rem;
      }
      [data-eq~="600px"] & { display: block; }
      [data-eq~="200px"] & { display: none; }
    }
  }
}
