.calltoaction-container {
  overflow: hidden;
  margin-bottom: 2rem;
}
.calltoaction-column {
  float: left;
  width: 50%;
  margin-bottom: 1px;
  &.left { padding-right: 1px; }
  [data-eq~="650px"] & {
    width: 100%;
    &.left { padding-right: 0; }
  }
}

.call-to-action {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .overlay {
    background: rgba(#d85329,0.8);
    padding: 6rem 0 0 0;
    text-align: center;
    [data-eq~="600px"] & {
        padding: 5rem  0 0 0;
    }
    [data-eq~="400px"] & {
        padding: 2rem 0 0 0;
    }
    .title {
     color: $white;
     font-family: $helveticaneue;
     font-size: 4rem;
     letter-spacing: 0.2rem;
     text-transform: uppercase;
     line-height: 4.8rem;
     padding: 0 1.5rem;
     [data-eq~="600px"] & {
        font-size: 3.5rem;
        line-height: 4.2rem;
     }
     [data-eq~="400px"] & {
        font-size: 2.5rem;
        line-height: 3rem;
     }
     span {
        font-weight: bold;
     }
    }
    .bottomspace {
      position: relative;
      height: 18rem;
      margin-top: -3px;
      [data-eq~="600px"] & {
        height: 16rem;
      }
      [data-eq~="400px"] & {
        height: 13rem;
      }
    }
    .container {
      @include verticalcenter();
      left: 0;
      width: 100%;
    }
    .linkbutton {
      border: 3px solid $white;
      min-width: 40%;
      max-width: 80%;
      padding: 0;
      line-height: 1.4;
      span {
        display: block;
        text-align: center;
        padding: 1.5rem 2rem;
        font-size: 2rem;
        letter-spacing: 2px;
      }
      i {
        margin-left: 0;
        font-size: 2rem;
        min-width: 5.8rem;
      }
      &:before {
        background-color: #572515;
      }
      [data-eq~="600px"] & {
        span { padding: 1.2rem 1.6rem; }
        i { min-width: 5rem; }
      }
      [data-eq~="400px"] & {
        span { padding: 1rem 1.3rem; font-size: 1.8rem; }
        i { min-width: 4.4rem; font-size: 1.8rem; }
      }
    }
  }
}
