.calltoaction-container {
  overflow: hidden;
}
.calltoaction-column {
  float: left;
  width: 50%;
  margin-bottom: 1rem;
  &.left { padding-right: 1px; }
  [data-eq~="700px"] & {
    width: 100%;
  }
}

.call-to-action {
  background-repeat: no-repeat;
  background-size: cover;
  .overlay {
    background: rgba(#d85329,0.8);
    padding: 6rem 0 0 0;
    text-align: center;
    [data-eq~="600px"] & {
        padding: 5rem 0;
    }
    [data-eq~="400px"] & {
        padding: 2rem 0;
    }
    .title {
     color: $white;
     font-family: $helveticaneue;
     font-size: 4rem;
     letter-spacing: 0.2rem;
     text-transform: uppercase;
     line-height: 4.8rem;
     padding: 0 1.5rem;
     [data-eq~="600px"] & {
        font-size: 3.5rem;
        line-height: 4.2rem;
        margin-bottom: 4rem;
     }
     [data-eq~="400px"] & {
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 2rem;
     }
     span {
        font-weight: bold;
     }
    }
    .bottomspace {
      position: relative;
      height: 18rem;
      margin-top: -3px;
    }
    .container {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }
    .linkbutton {
      border: 3px solid $white;
      min-width: 40%;
      max-width: 85%;
      padding: 0;
      span {
        display: block;
        text-align: center;
        padding: 1.5rem 2rem;
        font-size: 2rem;
        letter-spacing: 2px;
      }
      i {
        font-size: 2rem;
        padding: 0 2rem;
      }
      &:before {
        background-color: #572515;
      }
    }
  }
}
