/* Generic Colors that we can tweak per template */
$white:                #FFFFFF;
$blue:                 #005481; // (0, 84, 129)

/* Holdover colors from the Texas State template */
$charcoal:            #363534; // (54, 53, 52)

/* Wittliff base colors */
$cactus:              #465247; // (70,82,71)
$coffee:              #654D3C; // (101,78,60)

$silver:              #C8BEB7; // (200, 190, 183) Nick calls this $wittliffsand:#C8BEB7;
$tumbleweed:          #C69D77; // (198, 157, 119)
$sienna:              #7D2F19; // (125, 47, 25)
$palebrown:           #764A33; // (118, 74, 51)
$maize:               #F3C9A3; // (243, 201, 163)

/* Wittliff base color variations */
$dark-cactus:          #3f4940; //10% darker than cactus
$darkest-cactus:       #384139; //20% darker than cactus
$light-cactus:         #586659; //10% lighter than cactus
$lightest-cactus:      #919f92; //20% lighter than cactus
$cactus-shadow:        #363F37;  //

$dark-coffee:            #5F4D32; //10% darker than cofee
$darkest-coffee:         #55452D; //20% darker than coffee
$light-coffee:           #85654f; //10% lighter than coffee
$lightest-coffee:        #B59884; //20% lighter than coffee
$barely-coffee:          #F5F1EE; //???
$coffee-shadow:          #503D2F; //

$dark-silver:            #b2a49a; //10% darker than silver
$darker-silver:          #9c8a7d; //20% darker than silver
$lightest-silver:        #f4f2f1; //20% lighter than silver
$light-silver:           #ded8d4; //10% lighter than silver
$silver-shadow:          #a39387; //

$dark-tumbleweed:        #bc8c5f; //10% darker than tumbleweed
$darker-tumbleweed:      #b07b4a; //20% darker than tumbleweed
$darkest-tumbleweed:     #8c623b; //30% darker than tumbleweed
$lightest-tumbleweed:    #dfc8b3; //20% lighter than tumbleweed
$light-tumbleweed:       #d5b79b; //10% lighter than tumbleweed
$tumbleweed-shadow:      #8c623b;

$lightest-sienna:       #a73f21; //10% lighter than sienna
$light-sienna:          #8b341c; //4% lighter than sienna
$dark-sienna:           #612413; //10% darker than sienna
$darker-sienna:         #441a0e; //20% darker than sienna
$sienna-shadow:         #612413; //

$light-maize:           #f7dbc1; //
$khaki:                 #D1C7B7; //
$darkest-maize:         #EFB785; //10% darker than maize
$dark-maize:            #f1c094; //5% darker than maize

$lightest-palebrown:     #a56848; //20% lighter than palebrown
$light-palebrown:        #8e593d; //10% lighter than palebrown
$dark-palebrown:         #6a432e; //10% darker than palebrown
$darker-palebrown:       #523424; //20% darker than palebrown
$palebrown-shadow:       #5E3B29; //30% darker than palebrown

/* Highlights */
$wittliffred:           #862425;
$wittlifforange:        #D85329;
$wittliffpeach:         #CF806A;

/* Browns / Grays */
$wittliffbrown:         #654E3C;
$wittliffbrown-light:   #847163;
$wittliffbrown-dark:    #5f4737;
$wittliffsand-light:    #e9e5e2;
$wittliffstone:         #8A7C72;
$wittliffwood:          #A66947;
$darkgray:              #444444;
$lightgray:             #DDDDDD;
$reddishbrown:          #512515;
$alabaster:             #ede9e7;

$template-color-count: 7;

$mc1-name:                  'Cactus';
$mc1-bg:                    $cactus;
$mc1-text:                  $white;
$mc1-link:                  $white;
$mc1-header:                $white;
$mc1-border:                $darkest-cactus;
$mc1-comp-bg:               $light-cactus;
$mc1-comp-text:             $mc1-text;
$mc1-comp-link:             $mc1-link;
$mc1-comp-header:           $mc1-header;
$mc1-comp-border:           $mc1-border;
$mc1-hilite-bg:             $white;
$mc1-hilite-text:           $cactus;
$mc1-grad-top:              $light-cactus;
$mc1-grad-bottom:           $dark-cactus;
$mc1-comp-grad-top:         $lightest-cactus;
$mc1-comp-grad-bottom:      $cactus;
$mc1-shadow:                $cactus-shadow;

$mc2-name:                  'Coffee';
$mc2-bg:                    $coffee;
$mc2-text:                  $white;
$mc2-link:                  $white;
$mc2-header:                $white;
$mc2-border:                $darkest-coffee;
$mc2-comp-bg:               $light-coffee;
$mc2-comp-text:             $white;
$mc2-comp-link:             $mc2-link;
$mc2-comp-header:           $mc2-header;
$mc2-comp-border:           $mc2-border;
$mc2-hilite-bg:             $light-coffee;
$mc2-hilite-text:           $white;
$mc2-grad-top:              $light-coffee;
$mc2-grad-bottom:           $dark-coffee;
$mc2-comp-grad-top:         $lightest-coffee;
$mc2-comp-grad-bottom:      $mc2-bg;
$mc2-shadow:                $coffee-shadow;


$mc3-name:                  'Tumbleweed';
$mc3-bg:                    $tumbleweed;
$mc3-text:                  $almost-black;
$mc3-link:                  $almost-black;
$mc3-header:                $almost-black;
$mc3-border:                $darker-tumbleweed;
$mc3-comp-bg:               $light-tumbleweed;
$mc3-comp-text:             $mc3-text;
$mc3-comp-link:             $mc3-link;
$mc3-comp-header:           $mc3-header;
$mc3-comp-border:           $mc3-border;
$mc3-hilite-bg:             $white;
$mc3-hilite-text:           $tumbleweed;
$mc3-grad-top:              $light-tumbleweed;
$mc3-grad-bottom:           $dark-tumbleweed;
$mc3-comp-grad-top:         $lightest-tumbleweed;
$mc3-comp-grad-bottom:      $mc3-bg;
$mc3-shadow:                $almost-black;

$mc4-name:                  'Silver';
$mc4-bg:                    $silver;
$mc4-text:                  $almost-black;
$mc4-link:                  $almost-black;
$mc4-header:                $almost-black;
$mc4-border:                $darker-silver;
$mc4-comp-bg:               $light-silver;
$mc4-comp-text:             $mc4-text;
$mc4-comp-link:             $mc4-link;
$mc4-comp-header:           $mc4-header;
$mc4-comp-border:           $mc4-border;
$mc4-hilite-bg:             $white;
$mc4-hilite-text:           $mc4-bg;
$mc4-grad-top:              $light-silver;
$mc4-grad-bottom:           $dark-silver;
$mc4-comp-grad-top:         $lightest-silver;
$mc4-comp-grad-bottom:      $mc4-bg;
$mc4-shadow:                $silver-shadow;

$mc5-name:                  'Sienna';
$mc5-bg:                    $sienna;
$mc5-text:                  $white;
$mc5-link:                  $white;
$mc5-header:                $white;
$mc5-border:                $darker-sienna;
$mc5-comp-bg:               $lightest-sienna;
$mc5-comp-text:             $mc5-text;
$mc5-comp-link:             $mc5-link;
$mc5-comp-header:           $mc5-header;
$mc5-comp-border:           $mc5-border;
$mc5-hilite-bg:             $lightest-sienna;
$mc5-hilite-text:           $almost-black;
$mc5-grad-top:              $light-sienna;
$mc5-grad-bottom:           $dark-sienna;
$mc5-comp-grad-top:         $lightest-sienna;
$mc5-comp-grad-bottom:      $mc5-bg;
$mc5-shadow:                $sienna-shadow;

$mc6-name:                  'Pale Brown';
$mc6-bg:                    $palebrown;
$mc6-text:                  $white;
$mc6-link:                  $white;
$mc6-header:                $white;
$mc6-border:                $darker-palebrown;
$mc6-comp-bg:               $lightest-palebrown;
$mc6-comp-text:             $mc6-text;
$mc6-comp-link:             $mc6-link;
$mc6-comp-header:           $mc6-header;
$mc6-comp-border:           $mc6-border;
$mc6-hilite-bg:             $white;
$mc6-hilite-text:           $very-dark;
$mc6-grad-top:              $light-palebrown;
$mc6-grad-bottom:           $dark-palebrown;
$mc6-comp-grad-top:         $lightest-palebrown;
$mc6-comp-grad-bottom:      $mc6-bg;
$mc6-shadow:                $palebrown-shadow;

$mc7-name:                  'Maize';
$mc7-bg:                    $maize;
$mc7-text:                  $very-dark;
$mc7-link:                  $very-dark;
$mc7-header:                $very-dark;
$mc7-border:                $darkest-maize;
$mc7-comp-bg:               $dark-maize;
$mc7-comp-text:             $mc7-text;
$mc7-comp-link:             $mc7-link;
$mc7-comp-header:           $mc7-header;
$mc7-comp-border:           $mc7-border;
$mc7-hilite-bg:             $white;
$mc7-hilite-text:           $very-dark;
$mc7-grad-top:              $light-maize;
$mc7-grad-bottom:           $dark-maize;
$mc7-comp-grad-top:         $mc7-bg;
$mc7-comp-grad-bottom:      $khaki;
$mc7-shadow:                $darkest-maize;
