/* FAQ Paragraph */
body ul.gato-faq-hierarchy {
  > .gato-faqitem, > .gato-faq-group {
    border-bottom: 2px solid $wittliffstone;
    &:first-child {
      border-top: 2px solid $wittliffstone;
    }
    > .gato-faqitem-question, > .gato-faq-group-title {
      line-height: 2.8rem;
      i {
        display: block;
        float: right;
        font-size: 5rem;
        line-height: 2.8rem;
        &:before {
          content: $fa-var-angle-right;
        }
      }
    }
    &.shown {
      > .gato-faqitem-question, > .gato-faq-group-title {
        i:before {
          content: $fa-var-angle-down;
        }
      }
    }
  }
  .gato-faq-group-children .gato-faqitem-question i {
    display: inline;
  }
}

/* RSS Card */
.gato-card-rss-container {
  .gato-rss-item {
    .gato-rss-item-header {
      margin-top: 1rem;
      a {
        font-weight: bold;
      }
    }
    .rss-item-content {
      .gato-rss-itemdescription {
        line-height: 2rem;
        .gato-rss-more-link {
          margin: 0;
        }
      }
      .gato-rss-published {
        line-height: 2rem;
      }
    }
  }
}

/* Buttons */
/* The Wittliff template has a very different design for "reverse" button */
.column_paragraph .button-wrapper a.button {
  &.reverse {
    border-width: 2px;
    float: left;
    line-height: 1.2;
    text-transform: none;
    border-radius: 0;
    display: flex;
    align-items: stretch;
    &:after {
      @extend .fa;
      display: flex;
      align-items: center;
      content: $fa-var-long-arrow-right;
      margin-left: 1.5rem;
      border-width: 0 0 0 2px;
      border-style: solid;
      border-color: inherit;
      text-align: center;
    }
    &:hover {
      border-color: white;
      &:after { border-color: white; }
    }
    &.block {
      float: none;
      padding: 0;
      font-size: 2.2rem;
      letter-spacing: 0.05rem;
      font-weight: 500;
      &:after {
        margin-left: auto;
        padding: 0 2.5rem;
        font-size: 2rem;
      }
      span {
        padding: 2rem 0;
        flex-grow: 1;
      }
    }
    &.small {
      padding: 0 0 0 2rem;
      font-size: 1.8rem;
      letter-spacing: 0.05rem;
      font-weight: 500;
      &:after {
        margin-left: 2rem;
        padding: 0 1.5rem;
        font-size: 1.6rem;
      }
      span {
        padding: 1.2rem 0;
      }
    }
    &.medium {
      padding: 0 0 0 2.3rem;
      font-size: 2.0rem;
      letter-spacing: 0.05rem;
      font-weight: 500;
      &:after {
        margin-left: 2.3rem;
        padding: 0 2.3rem;
        font-size: 1.8rem;
      }
      span {
        padding: 1.8rem 0;
      }
    }
    &.large {
      padding: 0 0 0 2.9rem;
      font-size: 2.2rem;
      letter-spacing: 0.05rem;
      font-weight: bold;
      &:after {
        margin-left: 2.9rem;
        padding: 0 2.9rem;
        font-size: 2rem;
      }
      span {
        padding: 2.4rem 0;
      }
    }
  }
}
