/* Base Styles */
$content-link-text:                $wittliffred;
$content-link-hover:               $wittliffsand-light;

$section-background-color:         $lightgray;

/* Calendar */
$event-box-shadow-color: $white;
$event-header-background: $silver;
$event-header-color: $black;
$event-header-background-hover: $light-silver;
$event-header-title-color: $black;
$event-header-box-shadow-color: $lightest-silver;
$event-detail-link-color: $wittliffred;
$event-detail-detailsbox-background: $white;
$event-detail-detailsbox-color: $very-dark;

/* RSS */
$rss-box-shadow-color: $white;
$rss-header-background: $silver;
$rss-header-color: $black;
$rss-header-background-hover: $light-silver;
$rss-header-box-shadow-color:  $lightest-silver;

/* Text and Image */
$text-image-caption-background: transparent;
$text-image-caption-color: $very-dark;
$text-image-caption-link-color: $black;
$text-image-horiz: 3rem;
$text-image-top: 2rem;
$text-image-bottom: 1.5rem;

/* FAQ */
$faq-item-background-color: $white;
$faq-item-text-color: $sienna;
$faq-item-background-hover-color: $silver;
$faq-item-text-hover-color: black;
$faq-item-box-shadow-color: transparent;
$faq-group-title-text-color: $sienna;
$faq-group-box-shadow-color: transparent;
$faq-question-box-shadow-color: transparent;

/* Rich Editor Tables */
$table-header-bg: $sienna;
$table-header-text: $white;
$table-header-border: $lightest-coffee;
$table-border: $silver;
$table-carded-border: $lightest-coffee;
$table-link: $sienna;
$table-altrow-bg: $silver;
$table-caption-background: $silver;
$table-caption-color: $black;

/* Article Link */
$articlelink-more-text: $blue;

/* Icon and Text */
$icontext-title-underline-top-color: $silver;
$icontext-title-underline-bottom-color: $silver;
$icontext-text-color: $very-dark;

/* Percent Display */
$progress-inner-circle-color: $wittliffred;
$progress-outer-circle-color: $light-silver;
$progress-outer-circle-fill-color: $sienna;
$progress-title-color: $charcoal;
$progress-percent-color: $charcoal;

/* Documents */
$document-icon-color: $coffee;
$document-details-text-color: $coffee;

/* Gallery */
$gallery-caption-text-color: $white;
$gallery-top-bar-background-color: $cactus;
$gallery-top-bar-border-color: $cactus-shadow;
$gallery-tooltip-link-color: $blue;
$gallery-facebook-border-color: $silver;
$gallery-arrow-color: $white;

/* Feature */
$feature-arrow-text-shadow-color: $charcoal;
$feature-play-button-default-background: $sienna;
$feature-play-button-default-color: $white;
$feature-play-button-hover-background: $light-sienna;

/* Article Link */
$articlelink-more-text: $content-link-text;

/* Forms */
$form-alert-link-color: $wittliffred;
$form-textfield-border-color: $cactus;
$form-textfield-background-color: $light-silver;
$form-submit-text-color: $white;
$form-submit-box-shadow-color: $sienna-shadow;
$form-submit-background-color: $sienna;
$form-submit-hover-background-color: $light-sienna;

/* Department Directory */
$directory-name-color: $wittliffred;
$directory-email-color: $wittliffred;
$directory-icon-color: $charcoal;
$directory-title-color: $charcoal;
$directory-address-color: $charcoal;

/* Video embed */
$streaming-wrapper-link-color: $blue;

/* Separator */
$separator-color: $cactus;

/* Sidebar Quick Links */
$quick-links-color: $almost-black;
$quick-links-border: $light-gray;
$quick-links-bg: transparent;
$quick-links-color-hover: $mc1-text;
$quick-links-border-hover: $mc1-border;
$quick-links-bg-hover: $mc1-bg;

/* Masonry / Mosaic */
$rss-card-readmore-color: $blue;
$rss-card-stripe-color: $reddishbrown;
$rss-card-title-color: $reddishbrown;
$rss-card-entry-title-color: $reddishbrown;
$rss-card-background-color: $alabaster;
$rss-card-summary-color: $black;
$rss-card-date-color: $charcoal;

/* Search Dialog */
$search-dd-overlay-background-color:  $silver;
$search-dd-dropdown-background-color: $cactus;
$search-dd-dialog-font-family:        inherit;
$search-dd-input-line-color:          $white;
$search-dd-input-color:               $white;
$search-dd-input-placeholder-color:   $white;
$search-dd-icon-color:                $white;
$search-dd-suggested-results-border:  $cactus;
$search-dd-suggested-result-title-color: $wittliffred;
$search-dd-suggested-result-link-color: $wittliffred;
$search-dd-suggested-result-hover-color: $lightest-silver;

/* Search Results */
$search-result-title:                       $wittliffred;
$search-result-date:                        $darkgray;
$search-result-url:                         $darkgray;
$search-pagination-selected-background:     $wittliffsand-light;
$search-pagination-hover-background:        $wittliffsand-light;
$search-pagination-link-color:              $wittliffred;

$sitesearch-results-page-title-color:       black;
$sitesearch-result-search-input:            $cactus;
$sitesearch-result-search-color:            black;
$sitesearch-font-family:                    inherit;

/* Filterable Search */
$filterable-search-divider-color: $light-gray;
$filterable-search-results-bg-color: $alabaster;
$filterable-search-result-title-color: $black;
$filterable-search-active-filter-bg-color: $sienna;
$filterable-search-active-filter-color: $white;
$filterable-search-toggle-filters-button-color: $sienna;
$filterable-search-selected-filter-bg-color: $sienna;
$filterable-search-selected-filter-color: $white;
$filterable-search-header-font: $garamond;
