.sidebar-container {
  .sidebar {
    padding-right: 2rem;
    padding-bottom: 1rem;
    @media (max-width: $xxl-breakpoint) {
      padding-left: 4rem;
    }
    @media (max-width: $md-breakpoint) {
      padding-left: 3rem;
    }
    @media (max-width: $sm-breakpoint) {
      padding-left: 2rem;
    }
    @media (max-width: $xs-breakpoint) {
      padding-left: 2rem;
      padding-right: 2rem;
   }
  }
}

.gato-section-full {
  .msection-title {
    margin-top: 0;
  }
  .section-title {
    margin-bottom: 4rem;
    font-weight: 400;
  }
  .section-text {
    margin-bottom: 4rem;
  }
  .headline {
    font-family: $garamond;
    font-size: 5.75rem;
    letter-spacing: normal;
    font-weight: 400;
    color: $wittliffbrown;
    font-kerning: auto;
  }
}
