.sidebar-container {
  .sidebar {
    padding-right: 2rem;
    padding-bottom: 1rem;
    @media (max-width: $lg-breakpoint) {
      padding-left: 4rem;
    }
    @media (max-width: $md-breakpoint) {
      padding-left: 3rem;
    }
    @media (max-width: $sm-breakpoint) {
      padding-left: 2rem;
    }
    @media (max-width: $xs-breakpoint) {
      padding-left: 2rem;
      padding-right: 2rem;
   }
  }
}

.gato-section-full {
  .section-title {
    margin: 0;
    padding: 1rem 0;
    text-align: center;
  }
  .layout-column {
    padding: 0 2rem;
  }
  .headline {
    padding: 0 2rem;
  }
}
