/* FAQ Paragraph */
body ul.gato-faq-hierarchy {
  > li {
    margin-bottom: 0;
    border-bottom: 2px solid $wittliffstone;
    &:first-child {
      border-top: 2px solid $wittliffstone;
    }
    .gato-faq-header {
      font-family: $helveticaneue;
    }
    > .gato-faq-header a {
      position: relative;
      font-size: 3.3rem;
      letter-spacing: normal;
      font-weight: 400;
      padding-right: 5rem;
      i {
        display: block;
        @include verticalcenter();
        right: 1rem;
        font-size: 5rem;
        &:before {
          content: $fa-var-angle-down;
        }
      }
    }
    &.shown > .gato-faq-header {
      //a { background-color: $faq-item-background-hover-color; color: $faq-item-text-hover-color; }
      i {
        padding-bottom: 1rem;
        &:before {
          content: $fa-var-angle-up;
        }
      }
    }
  }
  .gato-faq-group-children .gato-faqitem-question i {
    display: inline;
  }
}
.gato-faq-expand-collapse {
  font-size: 1.8rem;
}

/* RSS Card */
.gato-card-rss-container {
  .gato-rss-item {
    .gato-rss-item-header {
      margin-top: 1rem;
      a {
        font-weight: bold;
      }
    }
    .rss-item-content {
      .gato-rss-itemdescription {
        line-height: 2rem;
        .gato-rss-more-link {
          margin: 0;
        }
      }
      .gato-rss-published {
        line-height: 2rem;
      }
    }
  }
}

/* Buttons */
/* The Wittliff template has a very different design for "reverse" button */
.column_paragraph .button-wrapper a.button {
  text-transform: none;
  &.reverse {
    border-width: 2px;
    line-height: 1.2;
    text-transform: none;
    border-radius: 0;
    display: inline-flex;
    align-items: stretch;
    transform: perspective(1px) translateZ(0);
    &:after {
      @extend .fa;
      display: flex;
      align-items: center;
      content: $fa-var-long-arrow-right;
      margin-left: 1.5rem;
      border-width: 0 0 0 2px;
      border-style: solid;
      border-color: inherit;
      text-align: center;
    }
    &:before {
      content:'';
      position: absolute;
      z-index: -1;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      width: 0px;
      height: 100%;
      background: #000;
      transition: all 0.15s ease-out;
    }
    @at-root #{&}.color1:before { background: $mc1-bg }
    @at-root #{&}.color2:before { background: $mc2-bg }
    @at-root #{&}.color5:before { background: $mc5-bg }
    &:hover {
      //border-color: white;
      background-color: transparent;
      &:after { border-color: white; }
      &:before {
        width: 100%;
      }
    }
    &.block {
      display: flex;
      padding: 0;
      font-size: 2.2rem;
      letter-spacing: 0.05rem;
      font-weight: 500;
      &:after {
        margin-left: auto;
        padding: 0 2.5rem;
        font-size: 2rem;
      }
      span {
        padding: 2rem 0;
        flex-grow: 1;
      }
    }
    &.small {
      padding: 0 0 0 2rem;
      font-size: 1.8rem;
      letter-spacing: 0.05rem;
      font-weight: 500;
      &:after {
        margin-left: 2rem;
        padding: 0 1.5rem;
        font-size: 1.6rem;
      }
      span {
        padding: 1.2rem 0;
      }
    }
    &.medium {
      padding: 0 0 0 2.3rem;
      font-size: 2.0rem;
      letter-spacing: 0.05rem;
      font-weight: 500;
      &:after {
        margin-left: 2.3rem;
        padding: 0 2.3rem;
        font-size: 1.8rem;
      }
      span {
        padding: 1.8rem 0;
      }
    }
    &.large {
      padding: 0 0 0 2.9rem;
      font-size: 2.2rem;
      letter-spacing: 0.05rem;
      font-weight: bold;
      &:after {
        margin-left: 2.9rem;
        padding: 0 2.9rem;
        font-size: 2rem;
      }
      span {
        padding: 2.4rem 0;
      }
    }
  }
}

/* Percent Display */
.circle-progress {
  .svg-container {
    .outer-circle {
      stroke-width: 9;
    }
    .inner-circle {
      stroke-width: 1;
      transform: scale(1.07);
      transform-origin: center;
    }
    path {
      stroke-width: 9;
    }
    .percent {
      font-weight: 500;
    }
  }
  .content {
    .progress-title {
      letter-spacing: 3px;
    }
  }
}

// Rich Editor Tables
.column_paragraph .rich-editor-table{
  table{
    a:hover {
      background: transparent;
      text-decoration: none;
    }
    &.header-color-cactus th{
      background: $cactus;
      color: $white;
      a{
        color: $white;
      }
    }
    &.header-color-coffee th{
      background: $coffee;
      color: $white;
      a{
        color: $white;
      }
    }
    &.header-color-tumbleweed th{
      background: $tumbleweed;
      color: $black;
      a{
        color: $black;
      }
    }
    &.header-color-silver th{
      background: $silver;
      color: $black;
      a{
        color: $black;
      }
    }
    &.header-color-sienna th{
      background: $sienna;
      color: $white;
      a{
        color: $white;
      }
    }
    &.header-color-palebrown th{
      background: $palebrown;
      color: $white;
      a{
        color: $white;
      }
    }
    &.header-color-maize th{
      background: $maize;
      color: $black;
      a{
        color: $black;
      }
    }
  }
}

/* Text and Image */
.gato-textimage-caption {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0.8rem 0.5rem;
  a:hover{
    text-decoration: none;
  }
}

/* Separator */
.gato-separator hr {
  height: 2px;
}

.txst-form {
  button.submit{
    border-color: $mc1-bg;
    border-width: 2px;
    border-radius: 0;
    line-height: 1.2;
    text-transform: none;
    display: inline-flex;
    align-items: stretch;
    padding: 0 0 0 2.3rem;
    font-size: 2.0rem;
    letter-spacing: 0.05rem;
    font-weight: 500;
    transform: perspective(1px) translateZ(0);
    background: white;
    color: $mc1-bg;
    &:after {
      @extend .fa;
      display: flex;
      align-items: center;
      content: $fa-var-long-arrow-right;
      margin-left: 2.3rem;
      padding: 0 2.3rem;
      font-size: 1.8rem;
      border-width: 0 0 0 2px;
      border-style: solid;
      border-color: inherit;
      text-align: center;
    }
    &:before {
      content:'';
      position: absolute;
      z-index: -1;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      width: 0px;
      height: 100%;
      background: $mc1-bg;
      transition: all 0.3s ease-out;
    }
    &:hover {
      background-color: transparent;
      color: $mc1-text;
      &:after { border-color: white; }
      &:before {
        width: 100%;
      }
    }
    span {
      padding: 1.8rem 0;
    }
  }
}
