.wittliff-event-list {
    padding-top: 6rem; //change when filtering is added
    @media (max-width: $xxl-breakpoint) {
      padding-left: 4rem;
      padding-right: 4rem;
    }
    @media (max-width: $md-breakpoint) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
    @media (max-width: $sm-breakpoint) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .event {
        display: flex;
        justify-content: space-between;
        padding: 3rem 0rem;
        border-bottom: 3px solid $coffee;
        &:first-child {
            border-top: 3px solid $coffee;
        }
        .event-datetime {
            flex: 0 0 15%;
            text-align: right;
            padding-right: 5rem;
            font-family: $helveticaneue;
            font-size: 2.2rem;
            color: #212121;
            letter-spacing: 2px;
            @media (max-width: $lg-breakpoint) {
                font-size: 2rem;
            }
            @media (max-width: $md-breakpoint) {
                font-size: 1.8rem;
                padding-right: 2.5rem;
            }
            @media (max-width: $sm-breakpoint) {
                flex: 0 0 25%;
            }
            @media (max-width: $mn-breakpoint) {
                flex: 0 0 33%;
                font-size: 1.6rem;
            }
        }
        .event-content {
            flex: 0 0 60%;
            padding-right: 5rem;
            @media (max-width: $md-breakpoint) {
                padding-right: 2.5rem;
            }
            @media (max-width: $sm-breakpoint) {
                flex: 0 0 75%;
            }
            @media (max-width: $mn-breakpoint) {
                flex: 0 0 67%;
            }
            .event-title {
                color: $cactus;
                font-family: $helveticaneue;
                font-size: 4rem;
                font-weight: 500;
                letter-spacing: 2px;
                margin: 0;
                word-wrap: break-word;
                hyphens: auto;
                @media (max-width: $lg-breakpoint) {
                    font-size: 3.5rem;
                }
                @media (max-width: $md-breakpoint) {
                    font-size: 3rem;
                }
                @media (max-width: $mn-breakpoint) {
                    font-size: 2rem;
                }
            }
            .event-details {
                color: #212121;
                text-decoration: none;
                font-family: $helveticaneue;
                padding-top: 20px;
                display: block;
                font-size: 2.2rem;
                font-weight: 500;
                letter-spacing: 2px;
                @media (max-width: $lg-breakpoint) {
                    font-size: 2rem;
                }
                @media (max-width: $md-breakpoint) {
                    font-size: 1.8rem;
                }
                @media (max-width: $mn-breakpoint) {
                    font-size: 1.6rem;
                }
                i {
                    &:before {
                      content: $fa-var-angle-down;
                    }
                }
            }
            &.shown {
                .event-details i:before {
                    content: $fa-var-angle-up;
                }
            }
            .event-location, .event-contact {
              display: flex;
              .event-label {
                font-weight: 500;
                margin-right: 5px;
              }
              a {
                color: $wittliffred;
              }
            }
            .event-description {
                img {
                    max-width: 100%;
                }
                a {
                  color: $wittliffred;
                }
            }
            .event-icon-links {
                padding-top: 2.5rem;
                a {
                  color: #212121;
                  text-decoration: none;
                  margin-right: 1.5rem;
                  i {
                    vertical-align: middle;
                    color: $sienna;
                    font-size: 2rem;
                  }
                }
            }
        }
        .event-image {
            flex: 0 0 25%;
            display: block;
            img {
                max-width: 100%;
            }
            @media (max-width: $sm-breakpoint) {
                display: none;
            }
        }
    }
  .events-empty {
    display: none;
  }
}


body.wittliff-events #gato-share-panel {
  background-color: $sienna;
  a {
    color: white;
  }
  &:after, &:before {
    border-color: rgba($sienna, 0);
    border-top-color: $sienna;
  }
}

.wittliff-event-filters {
  width: 50%;
  margin: 0 auto;
  div {
    position: relative;
    display: inline-block;
    border-top: 2px solid $wittliffbrown;
    border-bottom: 2px solid $wittliffbrown;
    width: 47.5%;
    &:after {
      @extend .fa;
      content: $fa-var-angle-down;
      @include verticalcenter();
      right: 1rem;
      font-size: 4rem;
      color: $wittliffstone;
      z-index: -1;
    }
    &.month {
      margin-right: 5%;
      select {
        padding-left: 5rem;
      }
      &:before {
        @extend .fa;
        font-size: 3rem;
        color: $sienna;
        content: $fa-var-calendar;
        @include verticalcenter();
        left: 1rem;
        z-index: -1;
      }
    }
  }
  select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &::-ms-expand { display: none; }
    background: none;
    border: none;
    font-size: 2.6rem;
    color: $very-dark;
    white-space: nowrap;
    padding: 1rem;
    option {
      border-bottom: 1px solid $light-cactus;
    }
  }
  @media (max-width: $lg-breakpoint) {
    width: 60%;
  }
  @media (max-width: $md-breakpoint) {
    width: 70%;
    div:after { font-size: 3.5rem; }
    select { font-size: 2.4rem; }
  }
  @media (max-width: $sm-breakpoint) {
    width: 85%;
    select { font-size: 2rem; }
    div.month { select { padding-left: 4.5rem; } &:before { font-size: 2.5rem; } }
  }
  @media (max-width: $xs-breakpoint) {
    width: 95%;
    div:after { font-size: 3rem; }
    select { font-size: 1.6rem; }
    div.month { select { padding-left: 4rem; } &:before { font-size: 2rem; } }
  }
  @media (max-width: $mn-breakpoint) {
    div:after { font-size: 2.5rem; }
    select { font-size: 1.45rem; }
  }
}
