.wittliff-event-list {
    padding-top: 6rem; //change when filtering is added
    @media (max-width: $xxl-breakpoint) {
      padding-left: 4rem;
      padding-right: 4rem;
    }
    @media (max-width: $md-breakpoint) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
    @media (max-width: $sm-breakpoint) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .event {
        display: flex;
        justify-content: space-between;
        padding: 3rem 0rem;
        border-bottom: 3px solid $coffee;
        &:first-child {
            border-top: 3px solid $coffee;
        }
        .event-datetime {
            flex: 0 0 15%;
            text-align: right;
            padding-right: 5rem;
            font-family: $helveticaneue;
            font-size: 2.2rem;
            color: #212121;
            letter-spacing: 2px;
            @media (max-width: $lg-breakpoint) {
                font-size: 2rem;
            }
            @media (max-width: $md-breakpoint) {
                font-size: 1.8rem;
                padding-right: 2.5rem;
            }
            @media (max-width: $sm-breakpoint) {
                flex: 0 0 25%;
            }
            @media (max-width: $mn-breakpoint) {
                flex: 0 0 33%;
                font-size: 1.6rem;
            }
        }
        .event-content {
            flex: 0 0 60%;
            padding-right: 5rem;
            @media (max-width: $md-breakpoint) {
                padding-right: 2.5rem;
            }
            @media (max-width: $sm-breakpoint) {
                flex: 0 0 75%;
            }
            @media (max-width: $mn-breakpoint) {
                flex: 0 0 67%;
            }
            .event-title {
                color: $cactus;
                font-family: $helveticaneue;
                font-size: 4rem;
                font-weight: 500;
                letter-spacing: 2px;
                word-wrap: break-word;
                hyphens: auto;
                @media (max-width: $lg-breakpoint) {
                    font-size: 3.5rem;
                }
                @media (max-width: $md-breakpoint) {
                    font-size: 3rem;
                }
                @media (max-width: $mn-breakpoint) {
                    font-size: 2rem;
                }
            }
            .event-details {
                color: #212121;
                text-decoration: none;
                font-family: $helveticaneue;
                padding-top: 20px;
                display: block;
                font-size: 2.2rem;
                font-weight: 500;
                letter-spacing: 2px;
                @media (max-width: $lg-breakpoint) {
                    font-size: 2rem;
                }
                @media (max-width: $md-breakpoint) {
                    font-size: 1.8rem;
                }
                @media (max-width: $mn-breakpoint) {
                    font-size: 1.6rem;
                }
                i {
                    &:before {
                      content: $fa-var-angle-right;
                    }
                }
            }
            &.shown {
                .event-details i:before {
                    content: $fa-var-angle-down;
                }
            }
            .event-description {
                img {
                    max-width: 100%;
                }
            }
            .event-icon-links {
                padding-top: 2.5rem;
                .addtocalendar {
                    color: #212121;
                    text-decoration: none;
                    i {
                        color: $sienna;
                    }
                }
            }
        }
        .event-image {
            flex: 0 0 25%;
            display: block;
            img {
                max-width: 100%;
            }
            @media (max-width: $sm-breakpoint) {
                display: none;
            }
        }
    }
}
