footer.page-footer {

	background-color: $silver;
	padding: 1rem;
	margin-top: 3rem;
	@media (max-width: $sm-breakpoint) {
		padding-bottom: 3rem;
	}
	overflow: hidden;

  a:not(.linkbutton) {
    color: black;
    text-decoration: none;
    &:hover {
      color: $wittliffred;
    }
  }

	div.footer-column, div.footer-column-links {
		float: left;
		width: 33%;
		@media (max-width: $sm-breakpoint) {
			width: 100%;
		}
		text-align: center;
		padding: 0 3rem;

		h2 {
			font-family: $garamond;
			text-transform: uppercase;
			font-size: 3rem;
			margin: 0 0 1rem 0;
			letter-spacing: .2rem;
			font-weight: 500;
		}
	}

	.footer-column-content {
		word-wrap: break-word;
	}

	a.texas-state img {
		height: 4.5rem;
		margin: 1rem 0 0 0;
		@media (max-width: $sm-breakpoint) {
			margin: 0 0 1rem 0;
		}
	}

	div.footer-column-links ul {
		list-style: none;
		margin: .5rem 0 0 0;
		padding: 0;

		li {
			margin-bottom: 2rem;
		}
	}

	ul.social-media-icons {
		margin: 2rem 0 0 0;

		i.fa {
			color: black;
		}

		a.gato-sociallink:hover i.fa {
			color: $wittliffbrown;
		}
	}

	div.footer-button {
		margin-bottom: 1rem;
	}

  a.linkbutton {
    border: 2px solid $wittliffbrown;
    background-color: $wittliffbrown;
    &:before {
      background: $wittliffbrown-light;
    }
    i {
      border-left: 2px solid $wittliffbrown;
      color: $wittliffbrown;
      background-color: $silver;
    }
  }
}
