ul.gato-card-filter {
  background-color: $wittliffbrown;
  border-top: 7px solid $sienna;
  &:before {
    content: "YOU ARE A...";
    display: block;
    white-space: nowrap;
    color: white;
    padding: 2.5rem 4rem;
    vertical-align: middle;
    font-size: 2.3rem;
    letter-spacing: .3rem;
    font-weight: 200;
    [data-eq~="800px"] & {
      width: 100%;
      text-align: center;
    }
  }

  li {
    a {
      color: white;
      padding: 2.5rem 0;
      width: 100%;
      vertical-align: middle;
      text-align: center;
      font-size: 2.3rem;
      letter-spacing: .3rem;
      font-weight: 200;
    }

    a.grid-filter-selected {
      background-color: $sienna;
      &:before {
        display: none;
      }
    }
  }
}

.section-grid, .section-masonry {
  .gato-card {
    box-shadow: none;
  }
}
