.wittliff-home {
  ul.gato-card-filter {
    margin: 0;
    background-color: $wittliffbrown;
    border-top: 7px solid $sienna;
    border-bottom: 0 !important;
    &:before {
      content: "YOU ARE A...";
      display: block;
      white-space: nowrap;
      color: white;
      padding: 2.5rem 4rem;
      vertical-align: middle;
      font-size: 2.3rem;
      letter-spacing: .3rem;
      font-weight: 200;
    }

    li {
      a {
        color: white;
        padding: 2.5rem 0;
        font-size: 2.3rem;
        letter-spacing: .3rem;
        font-weight: 200;
        &.grid-filter-selected {
          background-color: $sienna !important;
        }
      }
    }
  }
  [data-eq~="800px"] {
    ul.gato-card-filter {
      &:before {
        width: 100%;
        text-align: center;
      }
    }
  }
}
.section-grid, .section-masonry {
  .gato-card {
    box-shadow: none;
  }
}
