$header-height: 8rem;
$header-height-tablet: 6rem;
$header-height-mobile: 5rem;
$menu-border-color: rgba(white, 0.2);

html {
  height: 100%;
  background-color: $light-gray;
  * { box-sizing: border-box; }
}

body {
  min-height: 100%;
  background-color: $white;
  max-width: 144rem;
  margin: 0 auto;
  font-family: $helveticaneue;
  font-weight: 300;
  letter-spacing: .03rem;
}

strong {
	font-weight: 500;
}

.page-header {
  background-color: $cactus;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  height: $header-height;
  color: $white;
  position: relative;
  margin-bottom: 4rem;
  @media (max-width: $md-breakpoint) {
    height: $header-height-tablet;
    margin-bottom: 3rem;
  }
  @media (max-width: $sm-breakpoint) {
    height: $header-height-mobile;
    margin-bottom: 2rem;
  }

  button {
    background: transparent;
    border: 0;
    padding: 0;
    line-height: 4rem;
    text-align: center;
    min-width: 5rem;
    font-size: 2.3rem;
    &.search-link {
      margin-right: 1rem;
    }
    @media (max-width: $md-breakpoint) {
      min-width: 4rem;
    }
  }
  button, .texas-state { &:hover { opacity: 0.7; } }

  .homelink {
    margin-right: auto;
    display: block;
    padding: 0 3rem;
    @media (max-width: $md-breakpoint) {
      padding: 0 2rem;
    }
    img {
      height: 4.9rem;
      @media (max-width: $md-breakpoint) {
        height: 3.5rem;
      }
      @media (max-width: $sm-breakpoint) {
        height: 2.5rem;
      }
    }
  }
  .texas-state {
    display: block;
    padding-right: 3.5rem;
    @media (max-width: $md-breakpoint) {
      padding-right: 2rem;
    }
    @media (max-width: $sm-breakpoint) {
      display: none;
    }
    img {
      height: ($header-height / 2);
      @media (max-width: $md-breakpoint) {
        height: ($header-height-tablet / 2);
      }
    }
  }

  .social-media {
    position: relative;
    margin-right: 2rem;
    @media (max-width: $md-breakpoint) {
      margin-right: 1rem;
    }
    @media (max-width: $sm-breakpoint) {
      display: none;
    }
    > button.icon {
      white-space: nowrap;
      span {
        font-family: $helveticaneue;
        font-size: 2rem;
        letter-spacing: .05rem;
        padding-right: 0.5rem;
        @media (max-width: $md-breakpoint) {
          font-size: 1.7rem;
        }
      }
    }
    .social-media-panel {
      display: none;
      position: absolute;
      top: (4rem + $header-height) / 2;
      right: -0.6rem;
      width: 24rem;
      background-color: $wittliffbrown;
      padding: 2rem;
      text-align: center;
      z-index: 65536;
      @media (max-width: $md-breakpoint) {
        top: (4rem + $header-height-tablet) / 2;
        width: 20rem;
        padding: 1rem;
        .linkbutton {
          font-size: 1.6rem;
        }
      }
      @media (max-width: $sm-breakpoint) {
        display: none !important;
      }
    }
    &.shown {
      .social-media-panel { display: block; }
    }
  }

  .start-search {
    font-size: 2rem;
    margin-right: 2rem;
    @media (max-width: $md-breakpoint) {
      margin-right: 0.5rem;
    }
  }

  .main-menu {
    padding-right: 3.5rem;
    @media (max-width: $md-breakpoint) {
      padding-right: 2rem;
    }
    > button {
      font-size: 2rem;
      letter-spacing: 0.15rem;
      text-transform: uppercase;
      span {
        padding-right: 0.6rem;
        @media (max-width: $md-breakpoint) {
          @include sr-only();
        }
      }
    }
    .main-menu-panel {
      position: absolute;
      top: 100%;
      right: 0;
      background-color: $cactus;
      width: 32rem;
      padding: 2rem 4rem 2rem 2rem;
      display: none;
      z-index: 65536;

      .simplemenu {
        &, ul {
          list-style: none;
          padding: 0;
          margin: 0;
        }
        a {
          display: block;
          color: $white;
          text-decoration: none;
          font-family: $helveticaneue;
        }
        > li {
          position: relative;
          &.expanded {
            > button {
              background-color: $menu-border-color;
              border-left: 0px;
              i:before {
                content: $fa-var-angle-up;
              }
            }
            .simplemenu-subitems {
              /* unnecessary as long as we use velocity 'slideDown' animation */
              /* display: block; */
            }
          }
          > a {
            letter-spacing: 0.2rem;
            font-size: 2.2rem;
            font-weight: 400;
            line-height: 2.5rem;
            padding: 1rem 0 .5rem 0;
            border-bottom: 2px solid $menu-border-color;
            padding-right: 5rem;
            @media (max-width: $md-breakpoint) {
              padding-right: 4rem;
            }
          }
          > button {
            position: absolute;
            top: 0;
            right: 0;
            line-height: 3.0rem;
            padding: .5rem 0 .5rem 0;
            font-size: 3.0rem;
            border-left: 2px solid $menu-border-color;
          }
        }
        .simplemenu-subitems {
          display: none;
          padding-bottom: 1rem;
          a {
            font-size: 1.8rem;
            letter-spacing: 0.05rem;
            line-height: 1.8rem;
            padding: 1.5rem 0 .5rem 0;
          }
        }
      }
    }
  }
  &.menu-out {
    .main-menu {
      >button i:before {
        content: $fa-var-times;
      }
      .main-menu-panel {
        /* unnecessary as long as we use velocity 'slideDown' animation */
        /* display: block; */
      }
    }
    .texas-state, .social-media, .search-link {
      display: none;
    }
  }

  .linkbutton {
    max-width: 20rem;
  }

  .menu-social-media .social-media-icons {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .menu-social-media, .menu-donate-button {
    padding: 2.5rem 0;
    text-align: center;
  }
  .menu-donate-button {
    border: 2px solid $menu-border-color;
    border-width: 2px 0px;
    .linkbutton {
      border: 2px solid $maize;
      i { border-left: 2px solid $maize; }
    }
  }
  .menu-txst-logo {
    display: block;
    margin: 2rem auto 0 auto;
    max-width: 14rem;
  }
}

.social-media-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 0;
  .gato-sociallink {
    text-align: center;
    width: 4rem;
    line-height: 4rem;
    text-decoration: none;
    color: $white;
    &:hover, &:active {
      i { color: $maize; }
    }
    span {
      @include sr-only();
    }
    i {
      float: none;
      font-size: 3rem;
      color: $white;
    }
  }
}

.linkbutton {
  &, i {
    line-height: 3rem;
  }
  display: inline-flex;
  align-items: stretch;
  position: relative;
  text-decoration: none;
  padding-left: 1.5rem;
  border: 2px solid $white;
  font-family: $helveticaneue;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  color: $white;
  margin: 0 auto;
  &:before {
    content:'';
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: $light-cactus;
    transition: all 0.15s ease-out;
  }
  span {
    display: flex;
    align-items: center;
    flex-grow: 1;
    z-index: 1;
  }
  i {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    border-left: 2px solid $white;
    margin-left: 1.5rem;
    padding: 0 1rem;
    text-align: center;
    z-index: 1;
  }
  &:hover, &:active {
    &:before {
      width: 100%;
    }
  }
}
