$header-height: 8rem;
$header-height-tablet: 6rem;
$header-height-mobile: 5rem;

html {
  background-color: $light-gray;
  * { box-sizing: border-box; }
}

body {
  background-color: $white;
  max-width: 140rem;
  margin: 0 auto;
}

.page-header {
  background-color: $wittliffgreen;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: unsafe center;
  height: $header-height;
  color: $white;
  position: relative;
  z-index: 65536;
  @media (max-width: $md-breakpoint) {
    height: $header-height-tablet;
  }
  @media (max-width: $sm-breakpoint) {
    height: $header-height-mobile;
  }

  button {
    background: transparent;
    border: 0;
    padding: 0;
    line-height: 4rem;
    text-align: center;
    min-width: 5rem;
    @media (max-width: $md-breakpoint) {
      min-width: 4rem;
    }
  }

  .homelink {
    margin-right: auto;
    display: block;
    padding: 0 3rem;
    @media (max-width: $md-breakpoint) {
      padding: 0 2rem;
    }
    img {
      height: 5rem;
      @media (max-width: $md-breakpoint) {
        height: 3.5rem;
      }
      @media (max-width: $sm-breakpoint) {
        height: 2.5rem;
      }
    }
  }
  .texas-state {
    display: block;
    padding-right: 3.5rem;
    @media (max-width: $md-breakpoint) {
      padding-right: 2rem;
    }
    @media (max-width: $sm-breakpoint) {
      display: none;
    }
    img {
      height: ($header-height / 2);
      @media (max-width: $md-breakpoint) {
        height: ($header-height-tablet / 2);
      }
    }
  }

  .social-media {
    position: relative;
    margin-right: 2rem;
    @media (max-width: $md-breakpoint) {
      margin-right: 1rem;
    }
    @media (max-width: $sm-breakpoint) {
      display: none;
    }
    > button.icon {
      white-space: nowrap;
      span {
        font-family: HelveticaNeue;
        font-size: 2rem;
        letter-spacing: .05rem;
        padding-right: 0.5rem;
        @media (max-width: $md-breakpoint) {
          font-size: 1.7rem;
        }
      }
    }
    .social-media-panel {
      position: absolute;
      top: (4rem + $header-height) / 2;
      right: 0;
      width: 20rem;
      background-color: $wittliffbrown;
      padding: 2rem;
      @media (max-width: $md-breakpoint) {
        top: (4rem + $header-height-tablet) / 2;
      }
      @media (max-width: $sm-breakpoint) {
        display: none !important;
      }
    }
  }

  .start-search {
    font-size: 2rem;
    margin-right: 2rem;
    @media (max-width: $md-breakpoint) {
      margin-right: 0.5rem;
    }
  }

  .main-menu {
    padding-right: 3.5rem;
    @media (max-width: $md-breakpoint) {
      padding-right: 2rem;
    }
    > button {
      font-size: 2rem;
      letter-spacing: 0.15rem;
      text-transform: uppercase;
      span {
        padding-right: 0.6rem;
        @media (max-width: $md-breakpoint) {
          @include sr-only();
        }
      }
    }
    &.shown {
      >button i:before {
        content: $fa-var-times;
      }
      .main-menu-panel {
        display: block;
      }
    }
    .main-menu-panel {
      position: absolute;
      top: $header-height;
      right: 0;
      background-color: $wittliffgreen;
      width: 32rem;
      padding: 2rem;
      display: none;
      @media (max-width: $md-breakpoint) {
        top: $header-height-tablet;
      }
      @media (max-width: $sm-breakpoint) {
        top: $header-height-mobile;
      }
    }
  }
  .newsletter {
    &, i {
      line-height: 3rem;
    }
    display: block;
    text-decoration: none;
    padding-left: 2rem;
    border: 2px solid $white;
    font-family: HelveticaNeue;
    font-size: 1.8rem;
    letter-spacing: 0.05rem;
    color: $white;
    max-width: 15rem;
    margin: 0 auto;
    i {
      display: block;
      float: right;
      font-size: 1.5rem;
      border-left: 2px solid $white;
      width: 3rem;
      text-align: center;
    }
    &:hover, &:active {
      background-color: $wittliffgreen-faded;
    }
  }
}
