.gato-herobanner {
  margin-bottom: 5rem;
  background-color: $silver;
  .herobanner-image {
    position: relative;
    overflow: hidden;
    height: 40.9em;
    @media (max-width: $xl-breakpoint) {
      height: 0;
      padding-bottom: 45.45%;
    }
    overflow: hidden;
    &.wide img { height: 100%; }
    &.tall img { width: 100%; }
    img {
      display: block;
      @include absolutecenter();
      width: auto;
      height: auto;
    }
  }
  .herobanner-title {
    text-align: center;
    @include absolutecenter();
    h1 {
      margin: 0;
      color: $white;
      text-transform: uppercase;
      font-size: 5.5rem;
      font-family: $garamond;
      letter-spacing: 0.4rem;
      background-color: rgba($cactus, 0.9);
      display: inline-block;
      padding: 0.8rem 2rem;
      @media (max-width: $md-breakpoint) {
        padding: 0.6rem 1.5rem;
        font-size: 4.5rem;
      }
      @media (max-width: $sm-breakpoint) {
        padding: 0.5rem 1rem;
        font-size: 2.7rem;
      }
    }
  }
  .herobanner-text {
    padding: 3rem 2rem;
    font-weight: 400;
    max-width: $content-width-max;
    margin: 0 auto;
    @media (max-width: $sm-breakpoint) {
      padding: 2rem 2rem;
    }
  }
}

.gato-heroslider {
  position: relative;
  height: 40.9em;
  @media (max-width: $xl-breakpoint) {
    height: 0;
    padding-bottom: 45.45%;
  }
  margin-bottom: 1.2rem;
  overflow: hidden;
  .slides-admin {
    top: 30px;
  }
  .slides, .slide, .slider-admin, .slides-admin {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .slide {
    overflow: hidden;
    left: 100%;
    top: 0;
    &.active {
      left: 0;
    }
    @include coverimage();
    .feature-play-button {
      display: block;
      @include absolutecenter();
      color: white;
      font-size: 3.5rem;
      border-radius: 100%;
      width:  8rem;
      height: 8rem;
      border: 7px solid white;
      opacity: 0.9;
      @media (max-width: $md-breakpoint) {
        width: 5rem;
        height: 5rem;
        font-size: 2.5rem;
        border: 5px solid white;
      }
      i {
        @include absolutecenter();
        left: 55%;// looks weird when perfectly centerd or are my eyes playing tricks on me?
      }
    }
  }
  .back, .forward {
    @include verticalcenter();
    color: white;
    font-size: 8rem;
    @media (max-width: $md-breakpoint) {
      font-size: 5rem;
    }
  }
  .back {
    left: 2%;
  }
  .forward {
    right: 2%;
  }
}

.gato-herobanner, .gato-heroslider {
  margin-top: -1 * ($header-height + $header-margin);
  .admin & {
    margin-top: -1 * ($header-margin);
  }
  @media (max-width: $md-breakpoint) {
    margin-top: -1 * ($header-height-tablet + $header-margin-tablet);
    .admin & {
      margin-top: -1 * ($header-margin-tablet);
    }
  }
  @media (max-width: $sm-breakpoint) {
    margin-top: -1 * ($header-height-mobile + $header-margin-mobile);
    .admin & {
      margin-top: -1 * ($header-margin-mobile);
    }
  }
  @media (max-width: $xs-breakpoint) {
    margin-top: -1 * ($header-margin-mobile);
  }
}
