.wittliff-home {
  .gato-section-full {
    .gato-section-centered {
      max-width: none;
    }
    &.card-layout {
      background-color: $wittliffstone;
      .gato-section-centered {
        max-width: 2000px;
        background-color: white;
        .gato-section {
          overflow: visible;
        }
        .gato-card {
          margin-bottom: 0;
        }
      }
    }
  }
}

.eventslider {
  line-height: 1.2;
  margin-bottom: 1.2rem;
  position: relative;
  .arrow {
    position: absolute;
    bottom: 1rem;
    font-size: 5rem;
    color: white;
    width: 5rem;
    line-height: 4rem;
    padding: 0 0 0.2rem 0;
    text-align: center;
    background: $coffee;
    &.left { padding-right: 0.5rem; }
    &.right { padding-left: 0.5rem; }
    @at-root .left#{&}.left { left: 6rem; }
    @at-root .left#{&}.right { left: 11.5rem; }
    @at-root .right#{&}.left { right: 11.5rem; }
    @at-root .right#{&}.right { right: 6rem; }
    @media (max-width: $xxl-breakpoint) {
      @at-root .left#{&}.left { left: 5rem; }
      @at-root .left#{&}.right { left: 10.5rem; }
      @at-root .right#{&}.left { right: 10.5rem; }
      @at-root .right#{&}.right { right: 5rem; }
    }
    @media (max-width: $xl-breakpoint) {
      @at-root .left#{&}.left { left: 3rem; }
      @at-root .left#{&}.right { left: 8.5rem; }
      @at-root .right#{&}.left { right: 8.5rem; }
      @at-root .right#{&}.right { right: 3rem; }
    }
    @media (max-width: $md-breakpoint) {
      font-size: 4rem;
      line-height: 3.5rem;
      width: 4.5rem;
      &.left { padding-right: 0.3rem; }
      &.right { padding-left: 0.3rem; }
      @at-root .left#{&}.left { left: 2.5rem; }
      @at-root .left#{&}.right { left: 7.5rem; }
      @at-root .right#{&}.left { right: 7.5rem; }
      @at-root .right#{&}.right { right: 2.5rem; }
    }
    @media (max-width: $xs-breakpoint) {
      display: none;
    }
  }
  .eventslider-slides {
    position: relative;
    overflow: hidden;
    height: 654px;
    @media (max-width: $xl-breakpoint) {
      height: 0;
      padding-bottom: 45.45%;
    }
  }
  .eventslider-slide {
    @include absolutefill();
    overflow: hidden;
  }
  .eventslider-image {
    @include absolutefill();
    @include coverimage();
  }
  .eventslider-panelcontent {
    overflow: hidden;
  }
  .eventslider-panel {
    background-color: rgba($coffee, 0.8);
    color: white;
    padding: 4.5rem 6rem 7rem 6rem;
    position: absolute;
    width: 35%;
    height: 100%;
    top: 0;
    font-size: 1.3rem;
    @at-root .left#{&} { left: 0; }
    @at-root .right#{&} { right: 0; }
    @media (max-width: $xxl-breakpoint) {
      padding: 3.5rem 5rem 7rem 5rem;
    }
    @media (max-width: $xl-breakpoint) {
      width: 38%;
      padding: 2rem 3rem 7rem 3rem;
    }
    @media (max-width: $lg-breakpoint) {
      width: 40%;
    }
    @media (max-width: $md-breakpoint) {
      font-size: 1rem;
      width: 42%;
      padding: 1rem 2.5rem 6.5rem 2.5rem;
    }
    @media (max-width: $sm-breakpoint) {
      font-size: 0.8rem;
      width: 45%;
    }
    @media (max-width: $xs-breakpoint) {
      font-size: 0.7rem;
      width: 47%;
      padding: 1.5rem 2rem;
    }
    @media (max-width: $mn-breakpoint) {
      width: 50%;
      padding: 1rem 1.5rem;
    }
    @media (max-width: $mc-breakpoint) {
      width: 53%;
    }
    .typeheader {
      text-transform: uppercase;
      font-size: 3em;
      letter-spacing: 0.07em;
    }
    h2 {
      font-size: 1em;
      margin: 2.3em 0;
      @media (max-width: $xl-breakpoint) {
        margin: 2em 0;
      }
      @media (max-width: $lg-breakpoint) {
        margin: 1.7em 0;
      }
      @media (max-width: $mn-breakpoint) {
        margin: 1em 0;
      }
      .title {
        font-family: $garamond;
        font-size: 7.5em;
        letter-spacing: 0.04em;
        font-weight: 500;
        line-height: 1;
        @media (max-width: $mn-breakpoint) {
          font-size: 6em;
        }
        @media (max-width: $mc-breakpoint) {
          font-size: 5.5em;
        }
      }
      .subtitle {
        font-size: 3.75em;
        letter-spacing: 0.05em;
        font-weight: normal;
      }
      a {
        display: block;
        color: inherit;
        text-decoration: none;
      }
    }
    .dates {
      font-size: 3em;
      letter-spacing: 0.05em;
      margin-bottom: .5em;
    }
    a.bottom {
      display: block;
      float: left;
      padding: 0.2em 0;
      white-space: nowrap;
      color: white;
      text-decoration: none;
      font-size: 2em;
      font-weight: 500;
      letter-spacing: 0.05em;
      margin-right: 0.7em;
      @media (max-width: $md-breakpoint) {
        font-size: 2.5em;
      }
      @media (max-width: $sm-breakpoint) {
        &, &.all { display: none; }
      }
      i {
        display: inline;
      }
    }
    a.all {
      clear: both;
      margin-top: 0.3em;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
