.wittliff-home {
  .gato-section-full {
    .gato-section-centered {
      max-width: none;
    }
    &.card-layout {
      background-color: $wittliffstone;
      .gato-section-centered {
        max-width: 2000px;
        background-color: white;
        .gato-section {
          overflow: visible;
        }
        .gato-card {
          margin-bottom: 0;
        }
      }
    }
  }
}

.gato-eventbanner {
  position: relative;
  overflow: hidden;
  line-height: 1.2;
  margin-bottom: 1.2rem;
  .eventbanner-image {
    height: 654px;
    @media (max-width: $xl-breakpoint) {
      height: 0;
      padding-bottom: 45.45%;
    }
    @include coverimage();
  }
  .eventbanner-panel {
    background-color: rgba($coffee, 0.8);
    color: white;
    padding: 4.5em 6em;
    position: absolute;
    width: 35%;
    height: 100%;
    top: 0;
    font-size: 1rem;
    @media (max-width: $xxl-breakpoint) {
      padding: 3.5em 5em;
    }
    @media (max-width: $xl-breakpoint) {
      padding: 2.5em 3em;
      font-size: 0.95rem;
    }
    @media (max-width: $lg-breakpoint) {
      font-size: 0.79rem;
    }
    @media (max-width: $md-breakpoint) {
      font-size: 0.58rem;
    }
    @media (max-width: $sm-breakpoint) {
      width: 40%;
      padding: 2em 2.5em;
      font-size: 0.54rem;
    }
    @media (max-width: $xs-breakpoint) {
      width: 45%;
      padding: 1.5em 2em;
      font-size: 0.45rem;
    }
    @media (max-width: $mn-breakpoint) {
      width: 50%;
      padding: 1em 1.5em;
      font-size: 0.37rem;
    }
    @media (max-width: $mc-breakpoint) {
      width: 52%;
      font-size: 0.35rem;
    }
    &.left { left: 0; }
    &.right { right: 0; }
    .typeheader {
      text-transform: uppercase;
      font-size: 3em;
      letter-spacing: 2px;
    }
    h2 {
      font-size: 1em;
      margin: 2.3em 0;
      @media (max-width: $md-breakpoint) {
        margin: 1.9em 0;
      }
      @media (max-width: $mn-breakpoint) {
        margin: 1em 0;
      }
      .title {
        font-family: $garamond;
        font-size: 8em;
        letter-spacing: 3px;
        font-weight: 500;
        line-height: 1;
        @media (max-width: $mn-breakpoint) {
          font-size: 6em;
        }
        @media (max-width: $mc-breakpoint) {
          font-size: 5.5em;
        }
      }
      .subtitle {
        font-size: 4em;
        letter-spacing: 2px;
        font-weight: normal;
      }
      a {
        display: block;
        color: inherit;
        text-decoration: none;
      }
    }
    .dates {
      font-size: 3em;
      letter-spacing: 2px;
      margin-bottom: .5em;
    }
    a.bottom {
      display: block;
      float: left;
      padding: 0.2em 0;
      white-space: nowrap;
      color: white;
      text-decoration: none;
      font-size: 2em;
      font-weight: 500;
      letter-spacing: 0.5px;
      margin-right: 0.7em;
      @media (max-width: $md-breakpoint) {
        font-size: 2.5em;
      }
      @media (max-width: $sm-breakpoint) {
        &, &.all { display: none; }
      }
      i {
        display: inline;
      }
    }
    a.all {
      clear: both;
      margin-top: 0.3em;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
