.column_paragraph {
  font-size: 1.8rem;
  a {
    font-weight: 500;
  }
  blockquote {
    font-family: $garamond;
    font-size: 2.5rem;
    line-height: 3.3rem;
    font-weight: 400;
    padding: 1rem 2rem;
    border-top: 4px solid $cactus;
    border-bottom: 4px solid $cactus;
    margin: 5rem 0;
  }
  hr {
    height: 2px;
    border: 0px solid #fff;
    background: $light-silver;
  }
}
