.column_paragraph {
  font-size: 1.8rem;
  a {
    font-weight: 500;
  }
  blockquote {
    font-family: $garamond;
    font-size: 2.5rem;
    font-weight: 400;
    border-top: 4px solid $cactus;
    border-bottom: 4px solid $cactus;
    margin: 5rem 0;
    padding: 1rem 2rem;
  }
  hr {
    height: 2px;
    border: 0px solid #fff;
    background: $light-silver;
  }
  h1 {
    font-family: $garamond;
    font-size: 5.5rem;
    letter-spacing: 0.2rem;
  }
  h2{
    font-family: $garamond;
    font-size: 4.5rem;
    letter-spacing: normal;
  }
  h3{
    font-size: 3.3rem;
    letter-spacing: normal;
  }
  h4 {
    font-size: 2.8rem;
    letter-spacing: normal;
  }
  h5 {
    font-size: 2.5rem;
    letter-spacing: normal;
  }
  h6 {
    font-size: 2.2rem;
    letter-spacing: normal;
  }
  h2, h3, h4, h5, h6 {
    font-weight: 400;
    a:hover{
      text-decoration: none;
    }
  }
}
