$helveticaneue : "Neue Helvetica W01", Helvetica, Arial, "Lucide Grande", sans-serif;
$roboto: "Roboto", Helvetica, Arial, "Lucide Grande", sans-serif;
$garamond: 'EB Garamond', Garamond, 'Goudy Old Style', 'Times New Roman', serif;

@import "gato-template/css/variables";
@import "gato-template-wittliff/css/colors";
@import "gato-template-wittliff/css/contenttypes";

$content-width-max: 1440px;
$content-width-xl: 1440px;
$content-width-lg: 1200px;

$sidebar-leftright: 'left';
$sidebar-moves-below-point: $xs-breakpoint;

$gato-card-gutter: 0.2%;

$share-link-bg: white;
$share-link-color: $light-cactus;

$xxl-breakpoint: 95em;

$font-path: unquote($resource-root)/gato-template/css/fonts
