@import "gato-template/css/variables";
@import "gato-template-wittliff/css/colors";
@import "gato-template-wittliff/css/contenttypes";

$helveticaneue : "Neue Helvetica W01", Helvetica, Arial, "Lucide Grande", sans-serif;
$garamond: 'Adobe Garamond W01', Garamond, 'Goudy Old Style', 'Times New Roman', serif;

$content-width-max: 1200px;
$content-width-xl: 1200px;
$content-width-lg: 1200px;

$sidebar-leftright: 'left';
$sidebar-moves-below-point: $xs-breakpoint;
