body {
	font-family: helvetica, arial, sans-serif;
	line-height:14px;
	padding:  0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	letter-spacing:normal;
}

#logo {
  border:0px;
  width:1024px;
  height:14px;
  text-align:center;
  margin-bottom: 19px;
  a {
    font-family:Georgia;
    color: #eeeebb;
    font-size: 11px;
    line-height:14px;
    font-weight:normal;
    letter-spacing: 4px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

#sectiontitle {
	text-align: center;
	padding-top: 14px;
  a {
    color: #ffffff;
    text-decoration: none;
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-family: Georgia, serif;
  }
}

hr {
	background: transparent url(../images/bg-section-sectionhead.png) no-repeat 0px 8px;
	border: 0;
	height: 15px;
}

a img {
	border: 0px;
}

#outercontainer {
	position: relative;
	width: 1024px;
	margin:0px auto 0px auto;
	padding:38px 0px 0px 0px;
	text-align: left;
	border:0px solid red;
}

#header {
  position: relative;
	margin: 0px;
	padding: 0px;
	border: 0px;
  z-index: 5;
}
#mainnav {
	margin: 20px 0px 8px 0px;
	padding: 0px;
  font-family:Helvetica, arial, san-serif;
  font-size:10px;
  letter-spacing:.2em;
  ul, li {
    margin: 0;
    padding: 0;
    list-style-type:none;
  }
  > ul {
    display: flex;
    justify-content: center;
    li.submenu {
      position: relative;
      padding: 15px;
      border-radius: 10px;
      .top { text-transform: uppercase; }
      ul {
        display: none;
        position: absolute;
        top: 38px;
        left: 0px;
        width: 250px;
        border-radius: 10px;
        border-top-left-radius: 0px;
        padding-bottom: 15px;
        li.item {
          padding: 0px 15px;
          a {
            padding: 10px 0px 0px 0px;
            display:block;
          }
        }
      }
      .dropdownbackground{
        position:absolute;
        z-index: -1;
      }
      &.active {
        ul {
          display: block;
        }
      }
    }
  }
  a {
    color:#92704D;
    text-decoration: none;
    &:hover { color: white; }
  }
}

#bodycontent {
  overflow: hidden;
}

#footer {
	height:250px;
	text-align:center;
	font-size:11px;
	font-family:Georgia;
	padding:40px 0px 0px 0px;
	border:0px solid #E6E6E6;
  a, a:visited, a:hover, a:active {
    color:#CCCC99;
    font-weight:normal;
    text-decoration: underline;
  }
  .tricolumnfooter {
    width:900px;
    margin: 0px auto;
    overflow: hidden;
    .lefttricolumnfooter {
      width:175px;
      min-height: 1px;
      float:left;
    }
    .middletricolumnfooter {
      width:550px;
      min-height: 1px;
      float:left;
    }
    .righttricolumnfooter {
      width:175px;
      min-height: 1px;
      float:right;
    }
  }
}

form.gato-search {
  float: right;
}

input.gato-search-query {
	background: transparent;
	width:145px;
	height:12px;
	font-size:10px;
	font-family:helvetica;
	padding:2px 0px 2px 10px;
	float:left;
}

input.gato-search-submit {
	background:#562318;
	width:16px;
	height:16px;
	font-size:10px;
	font-family:helvetica;
	padding:0px;
	float:left;
}

.sitemap {
  clear: both;
  display: block;
  text-align: right;
}
