/* 
Wittliff Collection CSS

Homepage

Layout Styles

*/

body {
	background-color:#4b0d00;
	font-family: helvetica, arial, san-serif;
	color:#222222;
	font-size:10px;
	*font-size:12px;
	
	line-height:14px; 
	padding:  0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	letter-spacing:normal;
	}

	
/*  div ids */


div#outercontainer {
	background: #4C0E01 url(../images/bg-homepage.jpg) repeat-y;
	position: relative;
	width: 1024px;
	margin:0px auto 0px auto;
	padding:38px 0px 0px 0px;
	text-align: left;
	border:0px solid red;
	}
	
div#outercontainerlonesome {
	background: #4C0E01 url(../images/bg-lonesome2.jpg) repeat-y;
	position: relative;
	width: 1024px;
	margin:0px auto 0px auto;
	padding:65px 0px 0px 0px;
	text-align: left;
	border:0px solid red;
	}
	
div#outercontainerphoto {
	background: #4C0E01 url(../images/bg-photo.jpg) repeat-y;
	position: relative;
	width: 1024px;
	margin:0px auto 0px auto;
	padding:65px 0px 0px 0px;
	text-align: left;
	border:0px solid red;
	}
	
div#outercontainerwriters {
	background: #4C0E01 url(../images/bg-writers.jpg) repeat-y;
	position: relative;
	width: 1024px;
	margin:0px auto 0px auto;
	padding:65px 0px 0px 0px;
	text-align: left;
	border:0px solid red;
	
	}

div#mainnav {
	width:960px;
	height:32px;
	text-align:left;
	margin: 20px auto 20px auto;
	padding: 0px 0px 0px 0px;
	border: 0px solid blue;
	}
	
div#logo {
	border:0px solid green;
	width:1024px;
	height:14px;
	text-align:center;
}

div#header {
	width:1024px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 0px solid white;
	position:relative;
	}

div#bodycontent {
	width:1024px;
	text-align:left;
	height:inherit;
	margin: 0px auto 0px auto;
	padding:0px 0px 0px 0px;
	border: 0px solid red;
	}
	
.fullpage div#bodycontent {
	color: #FFFFFF;
}

div#left {
	width:325px;
	float:left;
	height: inherit;
	text-align:left;
	position:relative;
	font-size:11px;
	line-height:13px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border:0px solid blue;
	}

div#right { 
	width:557px;
	float:right;
	position:relative;
	text-align:left;
	height: inherit; 
	margin:0px 0px 0px 0px; 
	padding:0px 0px 0px 0px;
	border: 0px dotted blue;
}

div#footer {
	color:#C2A481;
	width:100%;
	height:250px;
	text-align:center;
	clear:both;
	font-size:11px;
	font-family:Georgia;
	margin:0px auto 0px auto;
	padding:40px 0px 0px 0px;
	border:0px solid #E6E6E6;
	}

/*Special div classes*/

div.tricolumnfooter {
	width:900px;
	height:160px;
	margin: 0px auto 0px auto;
	padding:0px 0px 0px 0px;
	border:0px solid green;
}

div.lefttricolumnfooter {
	width:175px;
	height:160px;
	float:left;
	margin: 0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border:0px solid black;
}

div.middletricolumnfooter {
	width:550px;
	height:160px;
	float:left;
	text-align:center;
	margin: 0px 0px 0px 0px;
	padding:0px auto 0px auto;
	border:0px solid blue;
}

div.righttricolumnfooter {
	width:175px;
	height:160px;
	float:right;
	text-align:right;
	margin: 0px 0px 0px 0px;
	padding:10px 0px 0px 0px;
	border:0px solid orange;
}

.mgnlEditorBar.area, .mgnlEditorPlaceholder.area {
  display: none;
}

.mgnlEditorBar.component, .mgnlEditorPlaceholder.component {
	z-index: 1;
  display: block !important;
}
