/* 
Wittliff Collection CSS

Homepage

Navigation Styles

*/

#footer a, a:visited, a:hover, a:active {
	color:#CCCC99;
	font-weight:normal;
	text-decoration: underline;
}


/*main nav styles*/

#mainnav{
font-family:Helvetica, arial, san-serif;
font-size:10px;
letter-spacing:.2em;
}

#mainnav ul{

margin:0px;
padding:0px;
}

#mainnav li{
display:inline;
z-index:5;
}

.submenu li{
list-style-type:none;
margin:10px 0 0 0;
}


#mainnav .submenu ul{
padding:15px 0 0 15px;
}

#mainnav .submenu{
float:left;
position:absolute;
}

#mainnav .submenu .item{
display:block;
}

#mainnav .submenu div.dropdownbackground{
position:absolute;
z-index: -1;
}

#mainnav .submenu ul:hover div.dropdownbackground{
z-index:6;
}

#mainnav a{
color:#8c6243;
text-decoration:none;
}

#mainnav a:hover{
color:#cccc99;
}

#mainnav .submenu .top{
	text-transform: uppercase;
}

