@import "gato-template-wittliff/css/variables";
@import "gato-template-wittliff/css/includes";

body {
	color:#333333;
	font-size:12px;
}

h2 {
	margin: 0px;
}

#logo {
	border:0px;
	width:1024px;
	height:14px;
	text-align:center;
	margin-bottom: 19px;
  a {
    font-family:Georgia;
    color: #eeeebb;
    font-size: 11px;
    line-height:14px;
    font-weight:normal;
    letter-spacing: 4px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

#left {
	width:750px;
	height: inherit;
	float:left;
	font-size:11px;
	line-height:13px;
	text-align:left;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border:0px solid blue;
  h2 {
    font-family:Georgia;
    color:#660000;
    font-size: 15px;
    line-height:15px;
    font-weight:normal;
    letter-spacing: 2px;
    padding: 10px 0px 0px 0px;
    text-transform: uppercase;
  }
}

#right {
	width:185px;
	color:#CCCC99;
	font-family:Helvetica;
	font-size:11px;
	line-height:19px;
	letter-spacing:.5px;
	float:left;
	text-align:left;
	height: inherit;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 30px;
	position:relative;
	border: 0px solid orange;
  a, a:visited, a:hover, a:active {
    color:#CCCC99;
    font-weight:normal;
    &, &:visited, &:active { text-decoration: none; }
    &:hover { text-decoration: underline; }
  }
  h2 {
  	font-family:Helvetica;
    font-size: 11px;
    font-weight:normal;
    letter-spacing: 1.5px;
    border-bottom:1px solid #CCBE99;
  	padding: 7px 0px 7px 0px;
  }
  img { padding: 0px 0px 5px 0px; }
}
input.gato-search-query {
	border:1px solid #CCCC99;
	color:#CCCC99;
}
input.gato-search-submit {
	border:1px solid #CCCC99;
	color:#CCCC99;
}

#bodycontent {
	background: url(../images/headerbar.png) top no-repeat;
	margin: 8px auto 0px auto;
	padding:30px 0px 0px 0px;
}

div.rightComponent {
	margin:10px 0px 35px 0px;
	padding:0px 0px 10px 0px;
	border-bottom:1px solid #CCCC99;
}

#contenttop {
	float:left;
	width:670px;
	height:89px;
	background: url(../images/bg-section-content-top.png) top no-repeat;
	margin: 0px auto 0px 60px;
	padding: 0px 0px 0px 0px;
	border:0px solid blue;
}

#sectionhead {
	position: absolute;
	width:575px;
	margin: 0px 0px 0px 40px;
	padding: 40px 0px 15px 0px;
	h1 {
    font-family:Georgia;
    color:#666600;
    font-size: 20px;
    line-height:20px;
    font-weight:normal;
    letter-spacing: 2px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
    text-transform: uppercase;
	}
}

#contentmiddle {
	float:left;
	width:590px;
	height:auto;
	background: url(../images/bg-section-content-middle.png) repeat-y;
	color:#333333;
	font-size:13px;
	line-height:19px;
	font-family:Georgia;
	margin: 0px auto 0px 60px;
	padding: 15px 40px 15px 40px;
	border:0px solid black;
  a, a:hover, a:visited, a:active {
    color:#663300;
    font-weight:normal;
    &, &:visited, &:active { text-decoration: none; }
    &:hover { text-decoration: underline; }
	}
}

#contentbottom {
	float:left;
	width:670px;
	height:69px;
	background: url(../images/bg-section-content-bottom.png) top no-repeat;
	margin: 0px auto 0px 60px;
	padding: 0px 0px 0px 0px;
	border:0px solid blue;
}

#footer {
	color:#CCCC99;
	background: url(../images/footerbar.png) top no-repeat;
}
