/*
Wittliff Collection CSS

Homepage

Text Styles
*/

h1 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-weight:normal;
}

h2 {


}

h2 a {
	color: #CCCC99;
}

#left h2, .fullpage h2 {
	font-family:Georgia;
	color:#660000;
	font-size: 15px;
	line-height:15px;
	font-weight:normal;
	letter-spacing: 2px;
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 0px 0px;
	text-transform: uppercase;
}
.fullpage h2 {
	color:#FFFFFF;
	padding-bottom: 10px;
}

h3	{

}

h4	{

}

h5 {

}

h6 {

}

/* The following was added for Gato */


div#logo a {
		font-family:Georgia;
		color: #eeeebb;
		font-size: 11px;
		line-height:20px;
		font-weight:normal;
		letter-spacing: 4px;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 10px 0px;
		text-decoration: none;
		text-transform: uppercase;
}

div#sectiontitle {
	text-align: center;
	padding-top: 14px;
}

div#sectiontitle a {
	color: #eeeeee;
	text-decoration: none;
	font-size: 19px;
	text-transform: uppercase;
	letter-spacing: 6px;
	font-family: Georgia, serif;
}

hr {
	background-image: url(/magnoliaAssets/wittliff/images/bg-section-sectionhead660000.png);
	background-repeat: no-repeat;
	background-position: 0px 9px;
	border: 0;
	height: 15px;
	background-color: transparent;
}

a img {
	border: 0px;
}

.txst-contentarea ul, .txst-contentarea ol {
	list-style-position: inside;
}

div.skip-nav {
  position: absolute;
  z-index: 99;
  left: 10px;
  top: 10px;
}

div.skip-nav a {
  color: white;
  font-size: 16px;
}
