/* 
Wittliff Collection CSS

Section page

Layout Styles

*/

body {
	background: #4a0d00;
	font-family:Helvetica, arial, san-serif;
	color:#333333;
	font-size:12px;
	line-height:14px; 
	padding:  0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	letter-spacing:normal;
	}
	
/*  div ids */

div#outercontainer {
	background: #4a0d00 url(../../images/bg-about.jpg) no-repeat;
	position: relative;
	width: 1024px;
	margin: 0px auto 0px auto;
	padding:38px 0px 0px 0px;
	text-align: left;
	border:0px solid red;
	}

div#mainnav {
	width:960px;
	height:32px;
	text-align:left;
	margin: 20px auto 20px auto;
	padding: 0px 0px 0px 0px;
	border: 0px solid blue;
	}
	
div#logo {
	width:1024px;
	height:14px;
	text-align:center;
	border:0px solid green;
}

div#sectiontitle {
	margin:19px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:1024px;
	height:14px;
	text-align:center;
	border:0px solid green;
}

div#header {
	width:1024px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 0px solid white;
	}

div#bodycontent {
	width:1024px;
	background: url(../../images/headerbar.png) top no-repeat;
	text-align:left;
	height:inherit;
	margin: 8px auto 0px auto;
	padding:30px 0px 0px 0px;
	border: 0px solid red;
	}

div#left {
	width:750px;
	height: inherit;
	float:left;
	font-size:11px;
	line-height:13px;
	text-align:left;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border:0px solid blue;
	}

div#right { 
	width:185px;
	color:#CCCC99;
	font-family:Helvetica;
	font-size:11px;
	line-height:19px;
	letter-spacing:.5px;
	float:left;
	text-align:left;
	height: inherit; 
	margin:0px 0px 0px 0px; 
	padding:0px 0px 0px 30px;
	position:relative;
	border: 0px solid orange;
}

#right img {
	padding: 0px 0px 5px 0px;
}

div.rightComponent {
	margin:10px 0px 35px 0px;
	padding:0px 0px 10px 0px;
	border-bottom:1px solid #CCCC99;
}

div#contenttop {
	float:left;
	width:670px;
	height:89px;
	background: url(../../images/bg-section-content-top.png) top no-repeat;
	margin: 0px auto 0px 60px;
	padding: 0px 0px 0px 0px;
	border:0px solid blue;
}

form.txst-form,
table.mgnlControlBarSmall,
div.txst-contentarea {
	position: relative;
}

div#sectionhead {
	position: absolute;
	width:575px;
	margin: 0px 0px 0px 40px;
	padding: 40px 0px 15px 0px;
}

div#contentmiddle {
	float:left;
	width:590px;
	height:auto;
	background: url(../../images/bg-section-content-middle.png) repeat-y;
	color:#333333;
	font-size:13px;
	line-height:19px;
	font-family:Georgia;
	margin: 0px auto 0px 60px;
	padding: 15px 40px 15px 40px;
	border:0px solid black;
}

div#contentbottom {
	float:left;
	width:670px;
	height:69px;
	background: url(../../images/bg-section-content-bottom.png) top no-repeat;
	margin: 0px auto 0px 60px;
	padding: 0px 0px 0px 0px;
	border:0px solid blue;
}
	
div#footer {
	color:#CCCC99;
	width:100%;
	height:250px;
	background: url(../../images/footerbar.png) top no-repeat;
	margin-top:0px;
	margin-left: auto;
	margin-right: auto;
	padding:40px 0px 0px 0px;
	text-align:center;
	clear:both;
	font-size:11px;
	font-family:Georgia;
	}


/*Special div classes*/

div.tricolumnfooter {
	width:900px;
	height:160px;
	margin:0px auto 0px auto;
	padding:0px 0px 0px 0px;
	border:0px solid green;
}

div.lefttricolumnfooter {
	width:175px;
	height:160px;
	float:left;
	margin: 0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border:0px solid black;
}

div.middletricolumnfooter {
	width:550px;
	height:160px;
	float:left;
	text-align:center;
	margin: 0px 0px 0px 0px;
	padding:0px auto 0px auto;
	border:0px solid blue;
}

div.righttricolumnfooter {
	width:175px;
	height:160px;
	float:right;
	text-align:right;
	margin: 0px 0px 0px 0px;
	padding:10px 0px 0px 0px;
	border:0px solid orange;
}

.txst-contentarea-paragraph {
	clear: both;
}

.mgnlEditorBar.area, .mgnlEditorPlaceholder.area {
  display: none;
}

.mgnlEditorBar.component, .mgnlEditorPlaceholder.component {
  display: block !important;
}
