// forcing icons to this size to prevent pixelation from scaling. 
// If we get better source images, we can remove this restriction.
$gato-twitter-icon-size: 48px;


.gato-twitter-list {

  .tweet {
    position: relative;
    margin-bottom: 3rem;
  
    .tweet-logo-link, .tweet-body {
      display: inline-block;
    }
    
    a.tweet-logo-link {
      position: absolute;
      padding: 0;
      margin: 0;
      font-size: 0;
      &:hover { background-color: inherit; }

      img.tweet-logo {
        width: $gato-twitter-icon-size;
        height: $gato-twitter-icon-size;
      }
    }

    .screen-name {
      font-size: 2.4rem;
      a {
        font-weight: bold;
        text-decoration: none;
      }
    }

    .tweet-body {
      padding-left: 10px + $gato-twitter-icon-size;

      .text {
        margin: 1rem 0 0.6rem;
      }

      a.created_at {
        font-size: 1.2rem;
        display: inline-block;
        color: $medium-gray;
        text-transform: uppercase;
        text-decoration: underline;
        &:hover { 
          color: $medium-gray; 
          background-color: inherit; 
          text-decoration: none;
        }
      }

    }
  }

  &[max-width~="400px"] {
    a.tweet-logo-link { display: none; }
    .tweet-body { padding-left: 0 }
  }

  &[min-width~="800px"]{
    .tweet{
      text-align: center;
      padding-left: 3rem;
      padding-right: 3rem;
    }
    a.tweet-logo-link{
      width: 100%;
      position: relative;
    }
    .tweet-body{
      width: 100%;
      padding: 0px;
    }
  }
}

