$font-path-ebgaramond: fonts/ebgaramond;

/* Regular */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: url("#{$font-path-ebgaramond}/EBGaramond-Regular.ttf")
}

/* Regular Italic */
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 400;
  src: url("#{$font-path-ebgaramond}/EBGaramond-Italic.ttf")
}

/* Medium */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 500;
  src: url("#{$font-path-ebgaramond}/EBGaramond-Medium.ttf")
}

/* Medium Italic */
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 500;
  src: url("#{$font-path-ebgaramond}/EBGaramond-MediumItalic.ttf")
}

/* Semi Bold */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 600;
  src: url("#{$font-path-ebgaramond}/EBGaramond-SemiBold.ttf")
}

/* Semi Bold Italic */
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 600;
  src: url("#{$font-path-ebgaramond}/EBGaramond-SemiBoldItalic.ttf")
}

/* Bold */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 700;
  src: url("#{$font-path-ebgaramond}/EBGaramond-Bold.ttf")
}

/* Bold Italic */
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 700;
  src: url("#{$font-path-ebgaramond}/EBGaramond-BoldItalic.ttf")
}

/* Extra Bold */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 800;
  src: url("#{$font-path-ebgaramond}/EBGaramond-ExtraBold.ttf")
}

/* Extra Bold Italic */
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 800;
  src: url("#{$font-path-ebgaramond}/EBGaramond-ExtraBoldItalic.ttf")
}