@font-face {
  font-family:"Neue Helvetica W01";
  src:url("#{$font-path}/d63f77e2-a23d-496f-bc30-c61c7a689aa6.eot?#iefix");
  src:url("#{$font-path}/d63f77e2-a23d-496f-bc30-c61c7a689aa6.eot?#iefix") format("eot"),url("#{$font-path}/4ff9f3fa-9221-4fc5-97e6-93572b6efa24.woff2") format("woff2"),url("#{$font-path}/ca8d25cd-e264-4404-b271-4afc45c779c4.woff") format("woff"),url("#{$font-path}/e8f8260f-dbee-4daa-81a4-0e415715c569.ttf") format("truetype"),url("#{$font-path}/307413a4-d77e-4111-8ba5-e3b7d1e7c160.svg#307413a4-d77e-4111-8ba5-e3b7d1e7c160") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family:"Neue Helvetica W01";
  src:url("#{$font-path}/55740f7d-3bf3-44a5-bfa0-2f1ef436ce72.eot?#iefix");
  src:url("#{$font-path}/55740f7d-3bf3-44a5-bfa0-2f1ef436ce72.eot?#iefix") format("eot"),url("#{$font-path}/a9445981-191b-46c7-866c-acb67f9cc1db.woff2") format("woff2"),url("#{$font-path}/a0e9ae86-436e-483a-8201-6c694e90e9ee.woff") format("woff"),url("#{$font-path}/d2655153-67dd-48c9-a5b2-cec33c40e333.ttf") format("truetype"),url("#{$font-path}/bb000368-bda5-49e9-95a6-79e39b6e3151.svg#bb000368-bda5-49e9-95a6-79e39b6e3151") format("svg");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family:"Neue Helvetica W01";
  src:url("#{$font-path}/1b950d2a-907a-4888-8056-0d44e8e86338.eot?#iefix");
  src:url("#{$font-path}/1b950d2a-907a-4888-8056-0d44e8e86338.eot?#iefix") format("eot"),url("#{$font-path}/3a46542f-f429-4821-9a88-62e3be54a640.woff2") format("woff2"),url("#{$font-path}/50ac1699-f3d2-47b6-878f-67a368a17c41.woff") format("woff"),url("#{$font-path}/0be5590f-8353-4ef3-ada1-43ac380859f8.ttf") format("truetype"),url("#{$font-path}/82a4e1c2-7ffd-4c58-86fa-4010a6723c8e.svg#82a4e1c2-7ffd-4c58-86fa-4010a6723c8e") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family:"Neue Helvetica W01";
  src:url("#{$font-path}/e36efb7d-12e3-4773-a830-26e5652373ea.eot?#iefix");
  src:url("#{$font-path}/e36efb7d-12e3-4773-a830-26e5652373ea.eot?#iefix") format("eot"),url("#{$font-path}/261b4efb-3d70-4965-977d-38af9422700d.woff2") format("woff2"),url("#{$font-path}/2e00514e-1764-4250-a0c5-aca3e5a8d133.woff") format("woff"),url("#{$font-path}/e2fe2e07-9419-400f-953d-dc23cfa647a2.ttf") format("truetype"),url("#{$font-path}/000472ba-312c-41be-b038-043ad8254e91.svg#000472ba-312c-41be-b038-043ad8254e91") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face{
  font-family:"Neue Helvetica W01";
  src:url("#{$font-path}/bf7ef4ce-de2a-4213-a9d7-826a3ee323cd.eot?#iefix");
  src:url("#{$font-path}/bf7ef4ce-de2a-4213-a9d7-826a3ee323cd.eot?#iefix") format("eot"),url("#{$font-path}/3dac71eb-afa7-4c80-97f0-599202772905.woff2") format("woff2"),url("#{$font-path}/34e0e4c0-c294-49bb-9a8e-1b2cafd54e32.woff") format("woff"),url("#{$font-path}/8a8bfee3-197c-4942-9b11-71508cc9f406.ttf") format("truetype"),url("#{$font-path}/5101995a-e73b-4cf9-84e8-f99eb43277b1.svg#5101995a-e73b-4cf9-84e8-f99eb43277b1") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family:"Neue Helvetica W01";
  src:url("#{$font-path}/5d0e5dca-869d-4e14-ac6b-45fbab3c4047.eot?#iefix");
  src:url("#{$font-path}/5d0e5dca-869d-4e14-ac6b-45fbab3c4047.eot?#iefix") format("eot"),url("#{$font-path}/21c44514-f4d6-4cff-a5de-e4cac5e61aff.woff2") format("woff2"),url("#{$font-path}/e7c4b231-76ad-47c7-a54b-5d84dcd78d0f.woff") format("woff"),url("#{$font-path}/b6db417f-e795-426a-a2af-adc37a3419a6.ttf") format("truetype"),url("#{$font-path}/0c6d116c-89d1-402b-b9f3-2d9890d7a4ee.svg#0c6d116c-89d1-402b-b9f3-2d9890d7a4ee") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face{
  font-family:"Neue Helvetica W01";
  src:url("#{$font-path}/f95f9fc2-ffda-431c-9d6a-2c3668f5b20b.eot?#iefix");
  src:url("#{$font-path}/f95f9fc2-ffda-431c-9d6a-2c3668f5b20b.eot?#iefix") format("eot"),url("#{$font-path}/5b1fbd62-45dc-4433-a7df-a2b24a146411.woff2") format("woff2"),url("#{$font-path}/050b1948-f226-4d20-a65a-15d8ed031222.woff") format("woff"),url("#{$font-path}/beb88be6-2a60-46fe-914f-6892b3ae46ce.ttf") format("truetype"),url("#{$font-path}/e5567978-93ef-4de1-804d-1f0e3654a014.svg#e5567978-93ef-4de1-804d-1f0e3654a014") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family:"Neue Helvetica W01";
  src:url("#{$font-path}/4c68f39a-1d08-4a26-81b3-c424cbe6d712.eot?#iefix");
  src:url("#{$font-path}/4c68f39a-1d08-4a26-81b3-c424cbe6d712.eot?#iefix") format("eot"),url("#{$font-path}/657c2fa4-585b-4761-9e2e-65ab13159323.woff2") format("woff2"),url("#{$font-path}/400869f0-f0d5-49a0-8a11-f4fb4279d125.woff") format("woff"),url("#{$font-path}/14df02b1-01f4-4426-bf7b-ad2f39dc1346.ttf") format("truetype"),url("#{$font-path}/af7715e0-f8ab-4b34-a78f-a9dad7859eff.svg#af7715e0-f8ab-4b34-a78f-a9dad7859eff") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face{
  font-family:"Neue Helvetica W01";
  src:url("#{$font-path}/8a6c3e5a-88a5-430c-91d8-7767ce971d12.eot?#iefix");
  src:url("#{$font-path}/8a6c3e5a-88a5-430c-91d8-7767ce971d12.eot?#iefix") format("eot"),url("#{$font-path}/531c5a28-5575-4f58-96d4-a80f7b702d7b.woff2") format("woff2"),url("#{$font-path}/439c5962-f9fe-4eaf-a1f6-f41d42edba75.woff") format("woff"),url("#{$font-path}/419a308d-b777-4f84-9235-2caf4a98ec23.ttf") format("truetype"),url("#{$font-path}/e4d5b881-6835-45b7-8766-3e5b9e7cab8b.svg#e4d5b881-6835-45b7-8766-3e5b9e7cab8b") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face{
  font-family:"Neue Helvetica W01";
  src:url("#{$font-path}/52b6ae3e-9443-4acc-9bf9-f5154eeab77c.eot?#iefix");
  src:url("#{$font-path}/52b6ae3e-9443-4acc-9bf9-f5154eeab77c.eot?#iefix") format("eot"),url("#{$font-path}/ade4dbae-c607-4c84-a375-f0c4de0cc357.woff2") format("woff2"),url("#{$font-path}/5b864741-6f14-4ed9-a297-27a4d73edf51.woff") format("woff"),url("#{$font-path}/0cdccad5-a023-4a17-8ea9-01a0e6ad7ff4.ttf") format("truetype"),url("#{$font-path}/d4b14776-395f-4a46-9862-3a0bb4e7a379.svg#d4b14776-395f-4a46-9862-3a0bb4e7a379") format("svg");
  font-weight: 700;
  font-style: italic;
}
