$font-path-roboto: fonts/roboto;

/* Regular */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("#{$font-path-roboto}/Roboto-Regular.ttf")
}

/* Regular Italic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url("#{$font-path-roboto}/Roboto-Italic.ttf")
}

/* Medium */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("#{$font-path-roboto}/Roboto-Medium.ttf")
}

/* Medium Italic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url("#{$font-path-roboto}/Roboto-MediumItalic.ttf")
}

/* Bold */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("#{$font-path-roboto}/Roboto-Bold.ttf")
}

/* Bold Italic*/
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url("#{$font-path-roboto}/Roboto-BoldItalic.ttf")
}

/* Black */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("#{$font-path-roboto}/Roboto-Black.ttf")
}

/* Black Italic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url("#{$font-path-roboto}/Roboto-BlackItalic.ttf")
}
