.gato-slider {
  position: relative;
  margin-bottom: 7rem;
  .slide {
    position: relative;
    overflow: hidden;
    a, a:hover{
      background: transparent;
      border-bottom: none;
      &:hover{
        opacity: 1;
      }
    }
    & > a {
      display: block;
      padding: 0;
      margin: 0;
      text-decoration: none;
      @include vendor-prefix(transition, opacity 0.3s ease-out);
      &:hover {
        background: transparent;
        opacity: 0.9;
      }
    }
    div.image {
      overflow: hidden;
      img.bg {
        width: 100%;
        &:hover{
          opacity: 1;
        }
      }
    }
    .caption {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      box-sizing: border-box;
      font-size: 1.3em;
      background-color: transparent;
      padding: 2.2rem;
      h3 {
        color: inherit;
        margin: 0px 0px 1.5rem 0px;
        font-weight: 600;
        text-transform: none;
        letter-spacing: 0.125rem;
        border: none;
        line-height: 3rem;
        display: inline-block;
        padding: .3rem 1.2rem;
        font-size: 1.8rem;
        transition: all 0.3s ease-in-out;
        opacity: 0.9;
      }
      p {
        margin: 0px;
        padding: 0.6rem 1.2rem 0.8rem 1.2rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
        transition: all 0.3s ease-in-out;
        opacity: 0.9;
      }
    }
    &.color1 {
      .caption {
        h3, p{ background-color: $mc1-bg; color: $mc1-text; }
      }
      &>a:hover{
        .caption h3, p{
          background: $mc1-comp-bg;
        }
      }
    }
    &.color2 {
      .caption {
        h3, p{ background-color: $mc2-bg; color: $mc2-text; }
      }
      &>a:hover{
        .caption h3, p{
          background: $mc2-comp-bg;
        }
      }
    }
    &.color3 {
      .caption {
        h3, p{ background-color: $mc3-bg; color: $mc3-text; }
      }
      &>a:hover{
        .caption h3, p{
          background: $mc3-comp-bg;
        }
      }
    }
    &.color4 {
      .caption {
        h3, p{ background-color: $mc4-bg; color: $mc4-text; }
      }
      &>a:hover{
        .caption h3, p{
          background: $mc4-comp-bg;
        }
      }
    }
    &.color5 {
      .caption {
        h3, p{ background-color: $mc5-bg; color: $mc5-text; }
      }
      &>a:hover{
        .caption h3, p{
          background: $light-river;
        }
      }
    }
    &.color6 {
      .caption {
        h3, p{ background-color: $mc6-bg; color: $mc6-text; }
      }
      &>a:hover{
        .caption h3, p{
          background: $light-sandstone;
        }
      }
    }
    &.color7 {
      .caption {
        h3, p{ background-color: $mc7-bg; color: $mc7-text; }
      }
      &>a:hover{
        .caption h3, p{
          background: $light-oldgold;
        }
      }
    }
  }
  .slick-prev, .slick-next {
    text-shadow: 0px 0px 1px $charcoal;
    color: $white;
    transition: all .2s ease-in-out;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 3rem 1rem !important;
    background-color: transparent;
    z-index: 1;
    text-decoration: none;
    font-size: 0px;
    &:before { font-size: 6.4rem !important; }
    cursor: pointer;
    border: none;
    outline: none;
    &:hover, &:focus {
      color: #fff;
      transform: translateY(-50%) scale(1.1);
    }
  }
  .slick-prev {
    left: 0px;
     @include fa(angle-left);
  }
  .slick-next {
    right: 0px;
     @include fa(angle-right);
  }
  .slick-dots {
    position: absolute;
    bottom: -3.5rem;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 0.25rem;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: 1;
                    color: $page-indicator-hover;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: "•";
                width: 20px;
                height: 20px;
                font-size: 24px;
                line-height: 20px;
                text-align: center;
                color: $page-indicator-inactive;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                @include vendor-prefix(transition, all 0.2s ease);
            }
        }
        &.slick-active button:before {
            color: $page-indicator-active;
            font-size: 25px;
            transform: scale(1.25);
        }
    }
  }
  [data-eq~="1200px"] & {
    .slide {
      .caption {
        font-size: 1.1em;
      }
    }
    .slick-prev, .slick-next { &:before { font-size: 36px; } padding: calc(28.125% - 18px) 10px; }
  }
  [data-eq~="800px"] & {
    .slide {
      .caption {
        font-size: 1em;
      }
    }
    .slick-prev, .slick-next { &:before { font-size: 32px; } padding: calc(28.125% - 16px) 10px; }
  }
  [data-eq~="700px"] & {
    .slide {
      .caption {
        position: absolute;
        h3 { margin: 0px 0px 1rem 0px; }
      }
      &.color1, &.color2, &.color3, &.color4, &.color5, &.color6, &.color7{
        .caption{
          background: transparent;
        }
      }
    }
  }

  [data-eq~="500px"] & {
    .slide{
      .caption{
        position: relative;
        padding: 1.2rem;
        h3{
          margin-bottom: 0.6rem;
          padding: 0.1rem 0.8rem;
        }
        p{
          padding: 0.3rem 0.8rem 0.5rem 0.8rem;
        }
      }
      &.color1 .caption { background-color: $mc1-bg; }
      &.color2 .caption { background-color: $mc2-bg; }
      &.color3 .caption { background-color: $mc3-bg; }
      &.color4 .caption { background-color: $mc4-bg; }
      &.color5 .caption { background-color: $mc5-bg; }
      &.color6 .caption { background-color: $mc6-bg; }
      &.color7 .caption { background-color: $mc7-bg; }
    }

    .slick-prev, .slick-next{
      top: 35%;
    }
  }

  [data-eq~="400px"] & {
    .slide {
      .caption {
        font-size: 0.9em;
      }
    }
    .slick-prev, .slick-next { &:before { font-size: 28px; } padding: calc(28.125% - 14px) 10px; }
  }
  [data-eq~="200px"] & {
    .slide {
      .caption {
        font-size: 0.8em;
        h3 { margin: 0px 0px 4px 0px; }
      }
    }
    .slick-prev, .slick-next { &:before { font-size: 24px; } padding: calc(28.125% - 12px) 10px; }
  }
}
