@mixin sliderdropbelow() {
  .gato-slideshow {
    .slide {
      .slide-content {
        position: relative;
        .slide-image {
          position: relative;
          img {
            position: relative;
            transform: none;
            left: auto;
            width: 100%;
            display: block;
          }
        }
        .caption {
          position: relative;
          padding: 1.2rem;
          .title {
            display: block;
            margin-bottom: 0.6rem;
          }
          .title, p {
            padding: 0;
            background-color: transparent !important;
            transition-duration: 0s;
          }
        }
        a:hover, a:focus {
          .caption {
            .title, p {
              background-color: transparent !important;
            }
          }
        }
      }

      &.color1 .caption { background-color: $mc1-bg; }
      &.color2 .caption { background-color: $mc2-bg; }
      &.color3 .caption { background-color: $mc3-bg; }
      &.color4 .caption { background-color: $mc4-bg; }
      &.color5 .caption { background-color: $mc5-bg; }
      &.color6 .caption { background-color: $mc6-bg; }
      &.color7 .caption { background-color: $mc7-bg; }
      &.color1 { a:hover, a:focus { .caption { background-color: $mc1-comp-bg; } } }
      &.color2 { a:hover, a:focus { .caption { background-color: $mc2-comp-bg; } } }
      &.color3 { a:hover, a:focus { .caption { background-color: $mc3-comp-bg; } } }
      &.color4 { a:hover, a:focus { .caption { background-color: $mc4-comp-bg; } } }
      &.color5 { a:hover, a:focus { .caption { background-color: $mc5-comp-bg; } } }
      &.color6 { a:hover, a:focus { .caption { background-color: $mc6-comp-bg; } } }
      &.color7 { a:hover, a:focus { .caption { background-color: $mc7-comp-bg; } } }
      &.video-slide{
        .feature-play-button.centered { display: block; }
        .caption{
          .feature-play-button { display: none; }
        }
      }
    }
    .arrow-container {
      .prev, .next { padding: 2rem 1rem; top: 50%; }
    }
  }
}

.gato-slideshow {
  position: relative;
  .slideshow-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .slides {
    position: relative;
    overflow: hidden;
    height: 100%;
    padding-left: 0;
    order: 1;
    margin-top: 0;
    .slide {
      @include absolutefill();
      overflow: hidden;
      a {
        background: transparent;
        border-bottom: none;
        display: block;
        padding: 0;
        margin: 0;
        text-decoration: none;
        overflow: hidden;
        &:hover {
          opacity: 1;
        }
        &:focus .title {
          outline: 3px solid $ada-focus-color;
        }
      }
      .slide-image {
        @include absolutefill();
        @include coverimage();
      }
      .caption {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        box-sizing: border-box;
        font-size: 1.3em;
        background-color: transparent;
        padding: 2.2rem;

        .title {
          color: inherit;
          margin: 0px 0px 1.5rem 0px;
          font-weight: 600;
          text-transform: none;
          letter-spacing: 0.125rem;
          border: none;
          line-height: 1.2;
          padding: 1.3rem 1.2rem;
          font-size: 1.8rem;
          transition: all 0.3s ease-in-out;
          display: inline-block;
          max-width: 100%;
        }
        p {
          margin: 0px;
          padding: 0.6rem 1.2rem 0.8rem 1.2rem;
          font-size: 1.6rem;
          transition: all 0.3s ease-in-out;
          clear: both;
        }
      }
      &.color1 {
        .caption { .title, p{ background-color: rgba($mc1-bg, 0.9); color: $mc1-text; } }
        a:hover {
          .caption .title, .caption p {
            background: rgba($mc1-comp-bg, 0.9);
          }
        }
      }
      &.color2 {
        .caption { .title, p{ background-color: rgba($mc2-bg, 0.9); color: $mc2-text; } }
        a:hover {
          .caption .title, .caption p {
            background: rgba($mc2-comp-bg, 0.9);
          }
        }
      }
      &.color3 {
        .caption { .title, p{ background-color: rgba($mc3-bg, 0.9); color: $mc3-text; } }
        a:hover {
          .caption .title, .caption p {
            background: rgba($mc3-comp-bg, 0.9);
          }
        }
      }
      &.color4 {
        .caption { .title, p{ background-color: rgba($mc4-bg, 0.9); color: $mc4-text; } }
        a:hover {
          .caption .title, .caption p {
            background: rgba($mc4-comp-bg, 0.9);
          }
        }
      }
      &.color5 {
        .caption { .title, p{ background-color: rgba($mc5-bg, 0.9); color: $mc5-text; } }
        a:hover {
          .caption .title, .caption p {
            background: rgba($mc5-comp-bg, 0.9);
          }
        }
      }
      &.color6 {
        .caption { .title, p{ background-color: rgba($mc6-bg, 0.9); color: $mc6-text; } }
        a:hover {
          .caption .title, .caption p {
            background: rgba($mc6-comp-bg, 0.9);
          }
        }
      }
      &.color7 {
        .caption { .title, p{ background-color: rgba($mc7-bg, 0.9); color: $mc7-text; } }
        a:hover {
          .caption .title, .caption p {
            background: rgba($mc7-comp-bg, 0.9);
          }
        }
      }

      &:focus {
        border: 3px solid $ada-focus-color;
      }

      &.video-slide {
        .caption{
          a:hover{
            background: transparent;
          }
        }
        .feature-play-button {
          position: absolute;
          top: -5.5rem;
          margin: 0;
          &.centered {
            @include absolutecenter();
            display: none;
            &.no-caption {
              display: block;
            }
          }
          a {
            @include vendor-prefix(border-radius, 50%);
            width: 6rem;
            height: 6rem;
            border-radius: 8rem;
            background: $feature-play-button-default-background;
            &:after {
              right: 0;
              margin: 0 auto;
              position: absolute;
              border: solid transparent;
              border-left-color: $feature-play-button-default-color;
              border-width: 1rem 0 1rem 1.6rem;
              content: "";
              height: 0;
              width: 0;
              top: 50%;
              margin-top: -1rem;
              left: .4rem;
            }
            &:hover {
              @include vendor-prefix(transform, scale(1.15));
              background: $feature-play-button-hover-background;
            }
            @include vendor-prefix(transition, all 0.2s cubic-bezier(0, 0.5, 0.25, 1));
          }
        }
        &.color1 {
          .caption {
            a .title:hover { background: rgba($mc1-comp-bg, 0.9); }
          }
          .feature-play-button a {
            background: rgba($mc1-bg, 0.9);
            &:hover{
              background: rgba($mc1-comp-bg, 0.9);
            }
            &:after{
              border-left-color: $mc1-text;
            }
          }
        }
        &.color2 {
          .caption {
            a .title:hover { background: rgba($mc1-comp-bg, 0.9); }
          }
          .feature-play-button a {
            background: rgba($mc2-comp-bg, 0.9);
            &:hover{
              background: rgba($mc2-comp-bg, 0.9);
            }
            &:after{
              border-left-color: $mc2-text;
            }
          }
        }
        &.color3 {
          .caption {
            a .title:hover { background: rgba($mc3-comp-bg, 0.9); }
          }
          .feature-play-button a{
            background: rgba($mc3-bg, 0.9);
            &:hover{
              background: rgba($mc3-comp-bg, 0.9);
            }
            &:after{
              border-left-color: $mc3-text;
            }
          }
        }
        &.color4{
          .caption {
            a .title:hover { background: rgba($mc4-comp-bg, 0.9); }
          }
          .feature-play-button a{
            background: rgba($mc4-bg, 0.9);
            &:hover{
              background: rgba($mc4-comp-bg, 0.9);
            }
            &:after{
              border-left-color: $mc4-text;
            }
          }
        }
        &.color5{
          .caption {
            a .title:hover { background: rgba($mc5-comp-bg, 0.9); }
          }
          .feature-play-button a{
            background: rgba($mc5-bg, 0.9);
            &:hover{
              background: rgba($mc5-comp-bg, 0.9);
            }
            &:after{
              border-left-color: $mc5-text;
            }
          }
        }
        &.color6{
          .caption {
            a .title:hover { background: rgba($mc6-comp-bg, 0.9); }
          }
          .feature-play-button a{
            background: rgba($mc6-bg, 0.9);
            &:hover{
              background: rgba($mc6-comp-bg, 0.9);
            }
            &:after{
              border-left-color: $mc6-text;
            }
          }
        }
        &.color7{
          .caption {
            a .title:hover { background: rgba($mc7-comp-bg, 0.9); }
          }
          .feature-play-button a{
            background: rgba($mc7-bg, 0.9);
            &:hover{
              background: rgba($mc7-comp-bg, 0.9);
            }
            &:after{
              border-left-color: $mc7-text;
            }
          }
        }
      }
      &.moving-image{
        .image-container{
          position: relative;
          .image{
            position: absolute;
            top: 0; left: 0;
            max-width: none;
            transform-origin: 0 0;
          }
        }
        a:hover {
          img {
            opacity: 1;
          }
        }
      }
    }
  }
  @at-root [data-eq~="700px"] {
    @include sliderdropbelow();
  }
  .arrow-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 56.25%;
    .prev, .next {
      @include verticalcenter(-8%);
      text-shadow: 0px 0px 1px $feature-arrow-text-shadow-color;
      color: $white;
      background-color: transparent;
      padding: 2rem 2.2rem;
      z-index: 1;
      text-decoration: none;
      font-size: 0px;
      border: none;
      outline: none;
      transition: transform .2s ease-in-out;
      font-size: 6.4rem;
      &:hover {
        color: #fff;
        transform: translateY(-50%) scale(1.1);
      }
    }
    .prev {
      left: 0;
    }
    .next {
      right: 0;
    }
  }
  .nav-dots {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 0;
    margin: 1.5rem auto;
    order: 2;
    button.dot {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer;
      position: relative;
      margin: 0 0.25rem;
      &:hover {
        outline: none;
        &:before {
          opacity: 1;
          color: $page-indicator-hover;
        }
      }
      &:focus {
        outline: 3px solid $ada-focus-color;
        outline-offset: -2px;
        &:before {
          opacity: 1;
          color: $page-indicator-hover;
        }
      }
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-size: 24px;
        line-height: 20px;
        text-align: center;
        color: $page-indicator-inactive;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        @include vendor-prefix(transition, all 0.2s ease);
      }
      &.active:before {
        color: $page-indicator-active;
        font-size: 25px;
        transform: scale(1.25);
      }
    }
  }
  .btnPauseSlider {
    position: absolute;
    top: 12px;
    right: 4px;
    background-color: transparent;
    border: 0;
    z-index: 2;
    i {
      font-size: 2.4rem;
      text-shadow: 0px 0px 1px #363534;
      color: #fff;
      &:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f04c";
      }
    }
    &.paused {
      i:before {
        content: "\f04b";
      }
    }
  }
  .keyboard-instructions {
    order: 3;
    align-self: center;
    display: none;
  }
}
