@import "gato-template-txstate2009/css/yahoo-ui-reset";
@import "fullcalendar";

body {
	position: relative;
	font-size: 14px;
}
h2 {
	font-size: 24px;
	font-weight: bold;
}
.schedule-entries {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 350px;
	padding: 5px;
}
.schedule-entry {
	position: relative;
	padding: 5px;
	width: 350px;
	margin-bottom: 5px;
	overflow: hidden;
}
.target-sign {
	line-height: 22px;
}
.target-sign a {
	color: black;
}
.schedule-dates, .schedule-days, .schedule-times, .schedule-volume, .schedule-backlight {
	width: 50%;
	line-height: 18px;
}
.schedule-dates {
	float: right;
	text-align: right;
}
.schedule-days {
	float: right;
	text-align: right;
}
.schedule-times {
	float: right;
	text-align: right;
}
.schedule-volume {
	float: left;
}
.schedule-backlight {
	float: left;
}

.schedule-calendar {
	position: absolute;
	top: 50px;
	left: 370px;
}
.fc-event {
	cursor: pointer;
	padding: 2px;
}
.warning {
	background-color: yellow;
	color: red;
}

.schedule-trim-alert {
	background-color: black;
	color: #FFD452;
	font-family: sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	padding: 2px 0px;
}
.schedule-event-trimstart .schedule-trim-alert {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	margin: -3px -2px 0px -2px;
}
.schedule-event-trimend .schedule-trim-alert {
	position: absolute;
	left: 0px;
	bottom: -1px;
	width: 100%;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

.schedule-event0 {
	background-color: #6bc1d2;
	color: black;
}
.schedule-event0:hover {
	color: black;
}
.schedule-event1 {
	background-color: #e5dfcf;
	color: black;
}
.schedule-event1:hover {
	color: black;
}
.schedule-event2 {
	background-color: #dbbddc;
	color: black;
}
.schedule-event2:hover {
	color: black;
}
.schedule-event3 {
	background-color: #97c8b6;
	color: black;
}
.schedule-event3:hover {
	color: black;
}
.schedule-event4 {
	background-color: #fdafa0;
	color: black;
}
.schedule-event4:hover {
	color: black;
}
.schedule-event5 {
	background-color: #ebd476;
	color: black;
}
.schedule-event5:hover {
	color: black;
}
.schedule-event6 {
	background-color: #edb257;
	color: black;
}
.schedule-event6:hover {
	color: black;
}
.schedule-event7 {
	background-color: #bec775;
	color: black;
}
.schedule-event7:hover {
	color: black;
}
.schedule-event8 {
	background-color: #d7efef;
	color: black;
}
.schedule-event8:hover {
	color: black;
}
.schedule-event9 {
	background-color: #ffd452;
	color: black;
}
.schedule-event9:hover {
	color: black;
}
.schedule-event10 {
	background-color: #c1bdb1;
	color: black;
}
.schedule-event10:hover {
	color: black;
}
.schedule-event11 {
	background-color: #bfcec6;
	color: black;
}
.schedule-event11:hover {
	color: black;
}
.schedule-entries .schedule-entry-old {
	background-color: #DDDDDD;
	color: #666666;
}
