@import "gato-template-txstate2009/css/yahoo-ui-reset";
@import "gato-template/css/magnolia-tweaks";

body {
	position: relative;
}

body.admin {
	padding-top: 24px;
}

body.public {
	background-color: #000000;
}

.sign-frame {
	position: relative;
	margin: 0px auto;
	background-color: #000000;
	color: #FFFFFF;
	overflow: hidden;
}

.sign-show {
	position: absolute;
	overflow: hidden;
	z-index: 0;
}

.sign-slide {
	position: absolute;
	display: none;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.slides-admin {
	position: absolute;
	top: 23px;
	right: 0px;
	width: 200px;
	max-height: 90%;
	overflow-y: auto;
	z-index: 5;
}

.slides-admin .contentbars {
	position: relative;
	display: none;
	padding-left: 15px;
}
.slides-admin .contentbars.selected {
	display: block;
}

.sign-slide.selected {
	display: block;
}

.sign-content {
	position: absolute;
	z-index: 0;
	overflow: hidden;
}
.sign-content .mgnlEditorBar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 150px !important;
	z-index: 1;
}

.sign-marquee {
}

.sign-marquee div {
	position: absolute;
	left: 0px;
	top: 0px;
	white-space: nowrap;
}

.sign-text {
	text-align: center;
}
.sign-text div {
	float: left;
}

.sign-iframe iframe {
  border: 0px;
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.topcontent {
	position: absolute;
	top: 24px;
	right: 0px;
	width: 200px;
	z-index: 5;
	background-color: #5E9201;
	text-align: center;
	font-weight: normal;
	font-size: 13px;
}

.topcontent {
	color: white;
}


/* changes for magnolia control bars */
.mgnlEditorMainbarWrapper {
	top: 0px;
}

.mgnlEditorBar.component {
	z-index: 100;
}

/* color changes for magnolia control bars */
.slides-admin .selected .mgnlEditorBar {
	background: green !important;
	border-color: lightgreen black black lightgreen !important;
	color: white !important;
	z-index: 900;
}
.slides-admin .selected .mgnlControlBar_PUSHED,
.slides-admin .selected .mgnlControlButtonSmall_PUSHED,
.slides-admin .selected .mgnlControlBarSmall_PUSHED {
	background-color: lightgreen !important;
	border: 1px solid darkgreen;
	border-color: darkgreen black black darkgreen;
}
.slides-admin .selected .mgnlControlBar td,
.slides-admin .selected .mgnlControlBarSmall td,
.slides-admin .selected .mgnlControlBar_PUSHED td,
.slides-admin .selected .mgnlControlBarSmall_PUSHED td {
	background: none !important;
	border: none !important;
}

.admin .mgnlEditorBar.area {
	display: none;
}
.admin .mgnlEditorPlaceholder.area {
	display: none;
}
.admin .mgnlEditorBar.component, .admin .mgnlEditorPlaceholder.component {
	display: block !important;
}

.admin div.mgnlEditorPlaceholder.component .mgnlEditorPlaceholderElements {
	height: 0px !important;
	border: 0px !important;
}
