@import "../admincentral/styles";

#main-launcher {
  div:first-child:not(.v-sticker) {
    position: absolute;
    top: 7px;
    left: 17px;
    width: 140px;
    height: 40px;
    background-image: url(images/gato-logo1.svg);
    background-size: 140px 40px;
    img { display: none; }
  }
  .btn-shell {
    font-family: FontAwesome !important;
    &#btn-appslauncher:before { content: "\f141"; }
    &#btn-pulse:before { content: "\f0e0"; }
    &#btn-favorites:before { content: "\f005"; }
  }
}

.icon-up:before {
  content: "\e05e";
}

.icon-down:before {
  content: "\e05f";
}
body{
  .icon-pulse{
    font-family: FontAwesome !important;
    &:before{
      content: "\f0e0";
    }
  }

  .icon-favorites{
    display: none;
    font-family: FontAwesome !important;
    &:before {
      content: "\f005";
    }
  }

  //Use a red square for Not Published.
  //This is Magnolia's icon-slider-max icon
  .icon-shape-circle.color-red:before, .icon-status-red:before{
    content: "\e05A" !important;
  }

  //Use a green triangle for Published pages
  //This is Magnolia's icon-shape-triangle icon
  .icon-shape-circle.color-green:before, .icon-status-green:before{
    content: "\e0c6" !important;
  }

  //Use a yellow circle for modified but not Published pages
  //This is Magnolia's icon-shape-circle icon
  .icon-status-orange:before{
    content: "\e0c4" !important;
  }

}
