.gato-rss-feedinformation {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.gato-rss-item.gato-accordion {
  .gato-accordion-header {
    box-shadow: 0px 0px 0px 1px $lightest-gold;
    background: $gold;
    &:hover, &:active, &.selected {
      background: $light-gold;
    }
  }
}

.gato-rss-more-link {
  margin: 1rem 0;
}

.gato-rss-published{
    font-weight: 600; 
    margin-top: .5rem; 
    margin-bottom: 1rem;
}